In [1]:
import os
import requests as rq
import pandas as pd
import numpy as np
import json
import re

In [2]:
# the filepath for each data file
wiki_movie_file = os.path.join('Data', 'wikipedia-movies.json')
ratings_file = os.path.join('Data', 'ratings.csv')
movie_meta_data_file = os.path.join('Data', 'movies_metadata.csv')

In [3]:
# Load the files
with open(wiki_movie_file, 'r') as file1:
    raw_movie_json = json.load(file1)
    file1.close()

# file 2, not cleaning this one yet
# raw_ratings_df = pd.read_csv(ratings_file, sep=',', header=0)

# file 3, not cleaning this one yet
# raw_meta_data_df = pd.read_csv(movie_meta_data_file, sep=',', low_memory=False)

In [4]:
# Explore the data, commenting results
raw_movie_json # Results: list of dicts, each movie is it's own dict
len(raw_movie_json) # Result: 7311 Movies
len(raw_movie_json[10].keys()) # changing the index looking for number of keys; 10 random indexes Results: 17 to 22 keys
raw_movie_df = pd.DataFrame(raw_movie_json) # Results: 7311 rows × 193 columns with lots of Nan fields, not every movie has the same "22" keys
raw_movie_df

,url,year,imdb_link,title,Directed by,Produced by,Screenplay by,Story by,Based on,Starring,...,Predecessor,Founders,Area served,Products,Services,Russian,Hebrew,Revenue,Operating income,Polish
0,https://en.wikipedia.org/wiki/The_Adventures_o...,1990.0,https://www.imdb.com/title/tt0098987/,The Adventures of Ford Fairlane,Renny Harlin,"[Steve Perry, Joel Silver]","[David Arnott, James Cappe, Daniel Waters]","[David Arnott, James Cappe]","[Characters, by Rex Weiner]","[Andrew Dice Clay, Wayne Newton, Priscilla Pre...",...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,"https://en.wikipedia.org/wiki/After_Dark,_My_S...",1990.0,https://www.imdb.com/title/tt0098994/,"After Dark, My Sweet",James Foley,"[Ric Kidney, Robert Redlin]","[James Foley, Robert Redlin]",NaN,"[the novel, After Dark, My Sweet, by, Jim Thom...","[Jason Patric, Rachel Ward, Bruce Dern, George...",...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,https://en.wikipedia.org/wiki/Air_America_(film),1990.0,https://www.imdb.com/title/tt0099005/,Air America,Roger Spottiswoode,Daniel Melnick,"[John Eskow, Richard Rush]",NaN,"[Air America, by, Christopher Robbins]","[Mel Gibson, Robert Downey Jr., Nancy Travis, ...",...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,https://en.wikipedia.org/wiki/Alice_(1990_film),1990.0,https://www.imdb.com/title/tt0099012/,Alice,Woody Allen,Robert Greenhut,NaN,NaN,NaN,"[Alec Baldwin, Blythe Danner, Judy Davis, Mia ...",...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,https://en.wikipedia.org/wiki/Almost_an_Angel,1990.0,https://www.imdb.com/title/tt0099018/,Almost an Angel,John Cornell,John Cornell,NaN,NaN,NaN,"[Paul Hogan, Elias Koteas, Linda Kozlowski]",...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7306,https://en.wikipedia.org/wiki/Holmes_%26_Watson,2018.0,https://www.imdb.com/title/tt1255919/,Holmes & Watson,Etan Cohen,"[Will Ferrell, Adam McKay, Jimmy Miller, Clayt...",Etan Cohen,NaN,"[Sherlock Holmes, and, Dr. Watson, by, Sir Art...","[Will Ferrell, John C. Reilly, Rebecca Hall, R...",...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7307,https://en.wikipedia.org/wiki/Vice_(2018_film),2018.0,https://www.imdb.com/title/tt6266538/,Vice,Adam McKay,"[Brad Pitt, Dede Gardner, Jeremy Kleiner, Kevi...",NaN,NaN,NaN,"[Christian Bale, Amy Adams, Steve Carell, Sam ...",...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7308,https://en.wikipedia.org/wiki/On_the_Basis_of_Sex,2018.0,https://www.imdb.com/title/tt4669788/,On the Basis of Sex,Mimi Leder,Robert W. Cort,NaN,NaN,NaN,"[Felicity Jones, Armie Hammer, Justin Theroux,...",...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7309,https://en.wikipedia.org/wiki/Destroyer_(2018_...,2018.0,https://www.imdb.com/title/tt7137380/,Destroyer,Karyn Kusama,"[Fred Berger, Phil Hay, Matt Manfredi]",NaN,NaN,NaN,"[Nicole Kidman, Sebastian Stan, Toby Kebbell, ...",...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7310,https://en.wikipedia.org/wiki/Black_Mirror:_Ba...,2018.0,https://www.imdb.com/title/tt9495224/,Bandersnatch,David Slade,Russell McLean,NaN,NaN,NaN,"[Fionn Whitehead, Will Poulter, Craig Parkinso...",...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [5]:
# Explore the data, commenting results
raw_movie_df.info() # Result: too much data to display any granular info about the columns
raw_movie_df.isnull().sum() # Result: 10 columns visible, Null values seem to range from 158 to 7310; find the minimum number
min(raw_movie_df.isnull().sum())  # Results: 158 is the minimum, url and year columns are the lowest
raw_movie_df.keys().to_list() # Results: column names suggest more than movies; tv shows, people, and possibly books also.

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7311 entries, 0 to 7310
Columns: 193 entries, url to Polish
dtypes: float64(1), object(192)
memory usage: 10.8+ MB

['url',
 'year',
 'imdb_link',
 'title',
 'Directed by',
 'Produced by',
 'Screenplay by',
 'Story by',
 'Based on',
 'Starring',
 'Narrated by',
 'Music by',
 'Cinematography',
 'Edited by',
 'Productioncompany ',
 'Distributed by',
 'Release date',
 'Running time',
 'Country',
 'Language',
 'Budget',
 'Box office',
 'Written by',
 'Genre',
 'Theme music composer',
 'Country of origin',
 'Original language(s)',
 'Producer(s)',
 'Editor(s)',
 'Production company(s)',
 'Original network',
 'Original release',
 'Productioncompanies ',
 'Executive producer(s)',
 'Production location(s)',
 'Distributor',
 'Picture format',
 'Audio format',
 'Voices of',
 'Followed by',
 'Composer(s)',
 'Created by',
 'Also known as',
 'Opening theme',
 'No. of episodes',
 'Preceded by',
 'Author',
 'Publisher',
 'Publication date',
 'Media type',
 'Pages',
 'ISBN',
 'OCLC',
 'LC Class',
 'Cover artist',
 'Series',
 'Set in',
 'Adaptation by',
 'Suggested by',
 'Biographical data',
 'Born',
 'Died',
 'Resting place',
 'Occupation',
 'Years active',
 'Spouse(s)',
 'Children',
 'Parent(s)',
 'Genres',
 'Instruments',
 'Labels',
 'Website',
 'Traditional',
 'Mandarin',
 'Type',
 'Industry',
 'Fate',
 'Founded',
 'Founder',
 'Headquarters',
 'Parent',
 'Released',
 'Recorded',
 'Venue',
 'Length',
 'Label',
 'Director',
 'Producer',
 'Area',
 'Coordinates',
 'Status',
 'Opening date',
 'Closing date',
 'Replaced',
 'Replaced by',
 'Name',
 'Attraction type',
 'Music',
 'Duration',
 'Simplified Chinese',
 'Traditional Chinese',
 'Hanyu Pinyin',
 'Literal meaning',
 'Transcriptions',
 'Bopomofo',
 'Gwoyeu Romatzyh',
 'Wade–Giles',
 'IPA',
 'Yale Romanization',
 'Jyutping',
 'Hokkien POJ',
 'Animation by',
 'Color process',
 'Engine(s)',
 'Genre(s)',
 'Actor control',
 'Production company',
 'Release(s)',
 'Format(s)',
 'Simplified',
 'Characters',
 'Date premiered',
 'Place premiered',
 'Setting',
 'Original language',
 'Subject',
 'Published',
 'Dewey Decimal',
 'Text',
 'Illustrator',
 'Original title',
 'Published in English',
 'French',
 'Developed by',
 'Ending theme',
 'No. of seasons',
 'Nationality',
 'Portrayed by',
 'Alias',
 'Species',
 'Gender',
 'Family',
 'Alma mater',
 'Camera setup',
 'Novel(s)',
 'Comics',
 'Film(s)',
 'Screen story by',
 'Hangul',
 'Revised Romanization',
 'McCune–Reischauer',
 'Developer(s)',
 'Publisher(s)',
 'Designer(s)',
 'Programmer(s)',
 'Artist(s)',
 'Writer(s)',
 'Engine',
 'Platform(s)',
 'Release',
 'Mode(s)',
 'Original work',
 'Television series',
 'Japanese',
 'Hepburn',
 'Literally',
 'Cantonese',
 'Full name',
 'Height',
 'Seasons',
 'Chinese',
 'Other names',
 'Relatives',
 'Yiddish',
 'Formerly',
 'Key people',
 'Total assets',
 'Owner',
 'Number of employees',
 'Divisions',
 'Subsidiaries',
 'Arabic',
 'Romanized',
 'Predecessor',
 'Founders',
 'Area served',
 'Products',
 'Services',
 'Russian',
 'Hebrew',
 'Revenue',
 'Operating income',
 'Polish']

In [6]:
# select for records with an imdb link, 'Director' or 'Directed by', and not references to tv shows.
cleaning_wiki = [movie for movie in raw_movie_json if (('imdb_link' and ('Directed by' or 'Director')) in movie.keys()) and ('No. of episodes' not in movie.keys())]
cleaning_df = pd.DataFrame(cleaning_wiki)
cleaning_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7099 entries, 0 to 7098
Data columns (total 74 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   url                     7099 non-null   object
 1   year                    7099 non-null   int64
 2   imdb_link               7074 non-null   object
 3   title                   7098 non-null   object
 4   Directed by             7099 non-null   object
 5   Produced by             6737 non-null   object
 6   Screenplay by           2323 non-null   object
 7   Story by                1004 non-null   object
 8   Based on                2196 non-null   object
 9   Starring                6913 non-null   object
 10  Narrated by             283 non-null    object
 11  Music by                6502 non-null   object
 12  Cinematography          6396 non-null   object
 13  Edited by               6398 non-null   object
 14  Productioncompany       4539 non-null   object
 15  Distributed by          6598 non-null   object
 16  Release date            6907 non-null   object
 17  Running time            6956 non-null   object
 18  Country                 6708 non-null   object
 19  Language                6856 non-null   object
 20  Budget                  4774 non-null   object
 21  Box office              5530 non-null   object
 22  Written by              4592 non-null   object
 23  Genre                   108 non-null    object
 24  Theme music composer    67 non-null     object
 25  Country of origin       152 non-null    object
 26  Original language(s)    158 non-null    object
 27  Producer(s)             156 non-null    object
 28  Editor(s)               146 non-null    object
 29  Production company(s)   131 non-null    object
 30  Original network        125 non-null    object
 31  Original release        159 non-null    object
 32  Productioncompanies     729 non-null    object
 33  Executive producer(s)   97 non-null     object
 34  Production location(s)  47 non-null     object
 35  Distributor             138 non-null    object
 36  Picture format          64 non-null     object
 37  Audio format            61 non-null     object
 38  Voices of               2 non-null      object
 39  Followed by             9 non-null      object
 40  Composer(s)             8 non-null      object
 41  Created by              10 non-null     object
 42  Preceded by             10 non-null     object
 43  Adaptation by           2 non-null      object
 44  Suggested by            1 non-null      object
 45  Traditional             5 non-null      object
 46  Mandarin                4 non-null      object
 47  Also known as           1 non-null      object
 48  Animation by            2 non-null      object
 49  Color process           1 non-null      object
 50  Engine(s)               1 non-null      object
 51  Genre(s)                1 non-null      object
 52  Actor control           1 non-null      object
 53  Production company      1 non-null      object
 54  Release(s)              1 non-null      object
 55  Format(s)               1 non-null      object
 56  Simplified              4 non-null      object
 57  French                  1 non-null      object
 58  Screen story by         1 non-null      object
 59  Hangul                  2 non-null      object
 60  Revised Romanization    2 non-null      object
 61  McCune–Reischauer       2 non-null      object
 62  Original title          1 non-null      object
 63  Japanese                4 non-null      object
 64  Hepburn                 4 non-null      object
 65  Literally               3 non-null      object
 66  Cantonese               1 non-null      object
 67  Chinese                 1 non-null      object
 68  Yiddish                 1 non-null      object
 69  Arabic                  2 non-null      object
 70  Romanized               2 non-null      object
 71  Russian                 1 non-null      object
 72  Hebrew                  1 non-null      object
 73  Polish                  1 non-null      object
dtypes: int64(1), object(73)
memory usage: 4.0+ MB

In [7]:
# # lots of the columns are languages:  "Arabic", "Japanese", "Mandarin", "Polish", "Yiddish", "Romanized"
cleaning_df[cleaning_df['Arabic'].notnull()]['Arabic']

6856    قضية رقم ٢٣
7081      کفرناحوم‎
Name: Arabic, dtype: object

In [8]:
# staring to define a function to clean the data. troubleshooting and ajustments were decided in the cell below this one.
def cleaning_movie(movie):
    """wiki_movie_file is a json file containing a list of dictionaries with each index as a different movie 
    with different key:value pairs. This function is specially designed to clean that specific dataset. 
    Wikipedia is managed by many people and they do not all use the same words.
    """
    alternate_titles = dict()
    fixed_movie = dict(movie)
###  Start with alternate titles stored in language keys and merge them into one.
###  Language keys i could find:      
    language_keys = ['Also known as','Arabic','Cantonese','Chinese','French', 'Hangul','Hebrew','Hepburn','Japanese','Literally',
        'Mandarin','McCune–Reischauer','Original title','Polish', 'Revised Romanization','Romanized','Russian',
        'Simplified','Traditional','Yiddish']
    for key in language_keys:
        if key in fixed_movie.keys():
            alternate_titles[key] = fixed_movie[key]
            fixed_movie.pop(key)
        else:
            pass
##  if there were alternate titles, add them to the movie.       
    if len(alternate_titles) > 0:
        fixed_movie['alternate_titles'] = alternate_titles
    else:
        pass
    return fixed_movie

In [9]:
## using this cell to debug the above function and decide on key(s) to keep, merge, and delete. 
## Starting with the alternate titles hidden in the language keys.
language_keys1 = ['Also known as','Arabic','Cantonese','Chinese','French', 'Hangul','Hebrew','Hepburn','Japanese','Literally',
        'Mandarin','McCune–Reischauer','Original title','Polish', 'Revised Romanization','Romanized','Russian',
        'Simplified','Traditional','Yiddish']

cleaning_wiki2 = [cleaning_movie(movie) for movie in cleaning_wiki]

## find a column to remove, add it to the list, check the columns again.
columns = sorted(pd.DataFrame(cleaning_wiki2).columns.to_list())
columns

['Actor control',
 'Adaptation by',
 'Animation by',
 'Audio format',
 'Based on',
 'Box office',
 'Budget',
 'Cinematography',
 'Color process',
 'Composer(s)',
 'Country',
 'Country of origin',
 'Created by',
 'Directed by',
 'Distributed by',
 'Distributor',
 'Edited by',
 'Editor(s)',
 'Engine(s)',
 'Executive producer(s)',
 'Followed by',
 'Format(s)',
 'Genre',
 'Genre(s)',
 'Language',
 'Music by',
 'Narrated by',
 'Original language(s)',
 'Original network',
 'Original release',
 'Picture format',
 'Preceded by',
 'Produced by',
 'Producer(s)',
 'Production company',
 'Production company(s)',
 'Production location(s)',
 'Productioncompanies ',
 'Productioncompany ',
 'Release date',
 'Release(s)',
 'Running time',
 'Screen story by',
 'Screenplay by',
 'Starring',
 'Story by',
 'Suggested by',
 'Theme music composer',
 'Voices of',
 'Written by',
 'alternate_titles',
 'imdb_link',
 'title',
 'url',
 'year']

In [10]:
## Where I am at for this point. 
pd.DataFrame(cleaning_wiki2).info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7099 entries, 0 to 7098
Data columns (total 55 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   url                     7099 non-null   object
 1   year                    7099 non-null   int64
 2   imdb_link               7074 non-null   object
 3   title                   7098 non-null   object
 4   Directed by             7099 non-null   object
 5   Produced by             6737 non-null   object
 6   Screenplay by           2323 non-null   object
 7   Story by                1004 non-null   object
 8   Based on                2196 non-null   object
 9   Starring                6913 non-null   object
 10  Narrated by             283 non-null    object
 11  Music by                6502 non-null   object
 12  Cinematography          6396 non-null   object
 13  Edited by               6398 non-null   object
 14  Productioncompany       4539 non-null   object
 15  Distributed by          6598 non-null   object
 16  Release date            6907 non-null   object
 17  Running time            6956 non-null   object
 18  Country                 6708 non-null   object
 19  Language                6856 non-null   object
 20  Budget                  4774 non-null   object
 21  Box office              5530 non-null   object
 22  Written by              4592 non-null   object
 23  Genre                   108 non-null    object
 24  Theme music composer    67 non-null     object
 25  Country of origin       152 non-null    object
 26  Original language(s)    158 non-null    object
 27  Producer(s)             156 non-null    object
 28  Editor(s)               146 non-null    object
 29  Production company(s)   131 non-null    object
 30  Original network        125 non-null    object
 31  Original release        159 non-null    object
 32  Productioncompanies     729 non-null    object
 33  Executive producer(s)   97 non-null     object
 34  Production location(s)  47 non-null     object
 35  Distributor             138 non-null    object
 36  Picture format          64 non-null     object
 37  Audio format            61 non-null     object
 38  Voices of               2 non-null      object
 39  Followed by             9 non-null      object
 40  Composer(s)             8 non-null      object
 41  Created by              10 non-null     object
 42  Preceded by             10 non-null     object
 43  Adaptation by           2 non-null      object
 44  Suggested by            1 non-null      object
 45  alternate_titles        21 non-null     object
 46  Animation by            2 non-null      object
 47  Color process           1 non-null      object
 48  Engine(s)               1 non-null      object
 49  Genre(s)                1 non-null      object
 50  Actor control           1 non-null      object
 51  Production company      1 non-null      object
 52  Release(s)              1 non-null      object
 53  Format(s)               1 non-null      object
 54  Screen story by         1 non-null      object
dtypes: int64(1), object(54)
memory usage: 3.0+ MB

In [11]:
def cleaning_movie(movie):
    """wiki_movie_file is a json file containing a list of dictionaries with each index as a different movie 
    with different key:value pairs. This function is specially designed to clean that specific dataset. 
    Wikipedia is managed by many people and they do not all use the same words.
    """
    alternate_titles = dict()
    fixed_movie = dict(movie)
###  Start with alternate titles stored in language keys and merge them into one.
###  Language keys i could find:      
    language_keys = ['Also known as','Arabic','Cantonese','Chinese','French', 'Hangul','Hebrew','Hepburn','Japanese','Literally',
        'Mandarin','McCune–Reischauer','Original title','Polish', 'Revised Romanization','Romanized','Russian',
        'Simplified','Traditional','Yiddish']
    for key in language_keys:
        if key in fixed_movie.keys():
            alternate_titles[key] = fixed_movie[key]
            fixed_movie.pop(key)
        else:
            pass
##  if there were alternate titles, add them to the movie.       
    if len(alternate_titles) > 0:
        fixed_movie['alternate_titles'] = alternate_titles
    else:
        pass
        
###  Alternative titles are fixed, now merge columns that are similar.     
    keys_to_merge = {'Director':'Directed by', 'Country': 'Country of origin', 'Distributor(s)':'Distributed by',
                     'Editor(s)':'Edited by',  'Language':'Original language(s)', 'Producer(s)':'Produced by',
                     'Genre(s)': 'Genre', 'Composer(s)': ['Music by', 'Theme music composer'], 
                     'Release date': ['Release(s)', 'Original release'], 'Distributor(s)':['Distributed by','Distributor'],
                     'Writer(s)':['Written by', 'Story by', 'Screenplay by', 'Screen story by', 'Adaptation by'],
                     'Production Comapany': ['Production company', 'Production company(s)', 'Productioncompanies ','Productioncompany ']  }
##  item = key, from the key:value pair and the key I want; values = the movie key(s) I do not want. 
    for item in keys_to_merge: 
        if type(keys_to_merge[item]) == type(list()):
            for n in keys_to_merge[item]:
                if n in fixed_movie.keys():
                    fixed_movie[item] = fixed_movie.pop(n)
                else:
                    pass
        else: 
            if keys_to_merge[item] in fixed_movie.keys():
                fixed_movie[item] = fixed_movie.pop(keys_to_merge[item])
            else:
                pass
    
    return fixed_movie

In [12]:
## using this cell to debug the above function and decide on key(s) to keep, merge, and delete. 
## keys that are the same idea need merged, key = the key I am keeping, Value = similar key(s).
keys_to_merge1 = {'Director':'Directed by', 'Country': 'Country of origin', 'Distributor(s)':'Distributed by',
                 'Editor(s)':'Edited by',  'Language':'Original language(s)', 'Producer(s)':'Produced by',
                 'Genre(s)': 'Genre', 'Composer(s)': ['Music by', 'Theme music composer'], 
                 'Release date': ['Release(s)', 'Original release'], 'Distributor(s)':['Distributed by','Distributor'],
                 'Writer(s)':['Written by', 'Story by', 'Screenplay by', 'Screen story by', 'Adaptation by'],
                 'Production Comapany': ['Production company', 'Production company(s)', 'Productioncompanies ','Productioncompany ']  }


cleaning_wiki3 = [cleaning_movie(movie) for movie in cleaning_wiki]

## find common columns, add them to the dictionary and check the columns again.
columns = sorted(pd.DataFrame(cleaning_wiki3).columns.to_list())
columns

['Actor control',
 'Animation by',
 'Audio format',
 'Based on',
 'Box office',
 'Budget',
 'Cinematography',
 'Color process',
 'Composer(s)',
 'Country',
 'Created by',
 'Director',
 'Distributor(s)',
 'Editor(s)',
 'Engine(s)',
 'Executive producer(s)',
 'Followed by',
 'Format(s)',
 'Genre(s)',
 'Language',
 'Narrated by',
 'Original network',
 'Picture format',
 'Preceded by',
 'Producer(s)',
 'Production Comapany',
 'Production location(s)',
 'Release date',
 'Running time',
 'Starring',
 'Suggested by',
 'Voices of',
 'Writer(s)',
 'alternate_titles',
 'imdb_link',
 'title',
 'url',
 'year']

In [13]:
## Where I am at for this point. 
cleaning_wiki_df3 = pd.DataFrame(cleaning_wiki3)
cleaning_wiki_df3.info()
# Down to 38 columns from 193.

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7099 entries, 0 to 7098
Data columns (total 38 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   url                     7099 non-null   object
 1   year                    7099 non-null   int64
 2   imdb_link               7074 non-null   object
 3   title                   7098 non-null   object
 4   Based on                2196 non-null   object
 5   Starring                6913 non-null   object
 6   Narrated by             283 non-null    object
 7   Cinematography          6396 non-null   object
 8   Release date            7067 non-null   object
 9   Running time            6956 non-null   object
 10  Country                 6860 non-null   object
 11  Language                7014 non-null   object
 12  Budget                  4774 non-null   object
 13  Box office              5530 non-null   object
 14  Director                7099 non-null   object
 15  Distributor(s)          6736 non-null   object
 16  Editor(s)               6544 non-null   object
 17  Producer(s)             6893 non-null   object
 18  Composer(s)             6577 non-null   object
 19  Writer(s)               6899 non-null   object
 20  Production Comapany     5400 non-null   object
 21  Original network        125 non-null    object
 22  Genre(s)                109 non-null    object
 23  Executive producer(s)   97 non-null     object
 24  Production location(s)  47 non-null     object
 25  Picture format          64 non-null     object
 26  Audio format            61 non-null     object
 27  Voices of               2 non-null      object
 28  Followed by             9 non-null      object
 29  Created by              10 non-null     object
 30  Preceded by             10 non-null     object
 31  Suggested by            1 non-null      object
 32  alternate_titles        21 non-null     object
 33  Animation by            2 non-null      object
 34  Color process           1 non-null      object
 35  Engine(s)               1 non-null      object
 36  Actor control           1 non-null      object
 37  Format(s)               1 non-null      object
dtypes: int64(1), object(37)
memory usage: 2.1+ MB

In [14]:
# extract the imdb id from the imdb link to link with other data sets.
cleaning_wiki_df3['imdb_link']   
pattern = r'(tt\d{7})'
cleaning_wiki_df3['imdb_id'] = cleaning_wiki_df3['imdb_link'].str.extract(pattern)

# checking for duplicate data
len(cleaning_wiki_df3['imdb_id'].unique()) # 7074 rows have imdb links, 7032 are unique. There are duplicate movies in the dataset.

7032

In [15]:
## Drop the duplicate rows
cleaning_wiki_df4 = pd.DataFrame(cleaning_wiki_df3.drop_duplicates(subset='imdb_id'))
cleaning_wiki_df4

,url,year,imdb_link,title,Based on,Starring,Narrated by,Cinematography,Release date,Running time,...,Created by,Preceded by,Suggested by,alternate_titles,Animation by,Color process,Engine(s),Actor control,Format(s),imdb_id
0,https://en.wikipedia.org/wiki/The_Adventures_o...,1990,https://www.imdb.com/title/tt0098987/,The Adventures of Ford Fairlane,"[Characters, by Rex Weiner]","[Andrew Dice Clay, Wayne Newton, Priscilla Pre...","Andrew ""Dice"" Clay",Oliver Wood,"[July 11, 1990, (, 1990-07-11, )]",102 minutes,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,tt0098987
1,"https://en.wikipedia.org/wiki/After_Dark,_My_S...",1990,https://www.imdb.com/title/tt0098994/,"After Dark, My Sweet","[the novel, After Dark, My Sweet, by, Jim Thom...","[Jason Patric, Rachel Ward, Bruce Dern, George...",NaN,Mark Plummer,"[May 17, 1990, (, 1990-05-17, ), (Cannes Film ...",114 minutes,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,tt0098994
2,https://en.wikipedia.org/wiki/Air_America_(film),1990,https://www.imdb.com/title/tt0099005/,Air America,"[Air America, by, Christopher Robbins]","[Mel Gibson, Robert Downey Jr., Nancy Travis, ...",NaN,Roger Deakins,"[August 10, 1990, (, 1990-08-10, )]",113 minutes,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,tt0099005
3,https://en.wikipedia.org/wiki/Alice_(1990_film),1990,https://www.imdb.com/title/tt0099012/,Alice,NaN,"[Alec Baldwin, Blythe Danner, Judy Davis, Mia ...",NaN,Carlo Di Palma,"[December 25, 1990, (, 1990-12-25, )]",106 minutes,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,tt0099012
4,https://en.wikipedia.org/wiki/Almost_an_Angel,1990,https://www.imdb.com/title/tt0099018/,Almost an Angel,NaN,"[Paul Hogan, Elias Koteas, Linda Kozlowski]",NaN,Russell Boyd,"December 19, 1990",95 minutes,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,tt0099018
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7094,https://en.wikipedia.org/wiki/Holmes_%26_Watson,2018,https://www.imdb.com/title/tt1255919/,Holmes & Watson,"[Sherlock Holmes, and, Dr. Watson, by, Sir Art...","[Will Ferrell, John C. Reilly, Rebecca Hall, R...",NaN,Oliver Wood,"[December 25, 2018, (, 2018-12-25, ), (United ...",90 minutes,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,tt1255919
7095,https://en.wikipedia.org/wiki/Vice_(2018_film),2018,https://www.imdb.com/title/tt6266538/,Vice,NaN,"[Christian Bale, Amy Adams, Steve Carell, Sam ...",NaN,Greig Fraser,"[December 11, 2018, (, 2018-12-11, ), (, Samue...",132 minutes,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,tt6266538
7096,https://en.wikipedia.org/wiki/On_the_Basis_of_Sex,2018,https://www.imdb.com/title/tt4669788/,On the Basis of Sex,NaN,"[Felicity Jones, Armie Hammer, Justin Theroux,...",NaN,Michael Grady,"[November 8, 2018, (, 2018-11-08, ), (, AFI Fe...",120 minutes,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,tt4669788
7097,https://en.wikipedia.org/wiki/Destroyer_(2018_...,2018,https://www.imdb.com/title/tt7137380/,Destroyer,NaN,"[Nicole Kidman, Sebastian Stan, Toby Kebbell, ...",NaN,Julie Kirkwood,"[August 31, 2018, (, 2018-08-31, ), (, Telluri...",123 minutes,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,tt7137380
7098,https://en.wikipedia.org/wiki/Black_Mirror:_Ba...,2018,https://www.imdb.com/title/tt9495224/,Bandersnatch,NaN,"[Fionn Whitehead, Will Poulter, Craig Parkinso...",NaN,"[Aaron Morton, Jake Polonsky]","[28 December 2018, (, 2018-12-28, )]",Variable; 90 minutes for default path,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,tt9495224

In [16]:
# drop columns that are 90% or more null
columns_to_keep = [column for column in cleaning_wiki_df4 if cleaning_wiki_df4[column].isnull().sum() < (len(cleaning_wiki_df4['url'])*0.9)]
cleaning_wiki_df5 = cleaning_wiki_df4[columns_to_keep]
cleaning_wiki_df5.info() # down to 21 useful columns; from 193 messy, where 80%+ of the cells were null Values.

<class 'pandas.core.frame.DataFrame'>
Int64Index: 7032 entries, 0 to 7098
Data columns (total 21 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   url                  7032 non-null   object
 1   year                 7032 non-null   int64
 2   imdb_link            7031 non-null   object
 3   title                7031 non-null   object
 4   Based on             2181 non-null   object
 5   Starring             6850 non-null   object
 6   Cinematography       6343 non-null   object
 7   Release date         7000 non-null   object
 8   Running time         6893 non-null   object
 9   Country              6798 non-null   object
 10  Language             6948 non-null   object
 11  Budget               4738 non-null   object
 12  Box office           5486 non-null   object
 13  Director             7032 non-null   object
 14  Distributor(s)       6677 non-null   object
 15  Editor(s)            6486 non-null   object
 16  Producer(s)          6830 non-null   object
 17  Composer(s)          6516 non-null   object
 18  Writer(s)            6835 non-null   object
 19  Production Comapany  5355 non-null   object
 20  imdb_id              7031 non-null   object
dtypes: int64(1), object(20)
memory usage: 1.2+ MB

In [17]:
## Data types:  Budget, Box office, and Running time should be numbers not strings/lists/objects, Release Date and year should be a Datetime.  
# cleaning_wiki_df5.groupby(['Box office']).count() # error because mixture of data types
[oddity for oddity in cleaning_wiki_df5['Box office'] if type(oddity)==type(str())]  # sensible, not that dirty
[oddity for oddity in cleaning_wiki_df5['Box office'] if type(oddity)==type(list())]  # lists are a dirty mess. multiple currency types and odd entries
[oddity for oddity in cleaning_wiki_df5['Box office'] if (type(oddity)!=type(list())) and (type(oddity)!=type(str())) ] # lots of nan values
[(index, oddity) for index, oddity in enumerate(cleaning_wiki_df5['Box office']) if type(oddity)==type(list())]  # looking for a specific movie to check the wiki page

[(34, ['US$', '4,212,828']),
 (54, ['$6,698,361 (', 'United States', ')', '[2]']),
 (74, ['$6,488,144', '(US)', '[1]']),
 (126, ['US$1,531,489', '(domestic)']),
 (130, ['US$', '4,803,039']),
 (137, ['$92,706', '(domestic)']),
 (178, ['$3,331', '(USA)']),
 (204, ['$739,104', '(North America)', '[2]']),
 (211, ['$1.2 million', '(US)', '[1]']),
 (255, ['$14.6 million', '(North America)', '[3]']),
 (272, ['$38 million', '(US)', '[2]']),
 (279, ['$57.5 million', '(North America)', '[1]']),
 (339, ['£739,989 (UK)', '[1]', '$4,413,473 (US)', '[1]']),
 (344, ['$4,654,288 (', 'US', ')', '[1]']),
 (376, ['$6.4 million', '(North America)', '[1]']),
 (412, ['$46.7 million', '[4]', '[3]', '(USA)']),
 (488, ['$14.1 million', '[', 'citation needed', ']']),
 (512, ['$10.7 million', '(North America)', '[2]']),
 (532, ['$75.5 million', '(North America)', '[2]']),
 (564, ['$27.2 million', '(North America)', '[3]']),
 (615, ['HK$2,662,446', '(Hong Kong)']),
 (648, ['$13,747,138', '70,542 admissions (France)', '[2]']),
 (651, ['$4.2 million', '(North America)', '[2]']),
 (663, ['$90.8 million', '[2]', '(equivalent to $148.9 million in 2018)']),
 (673, ['$32.3 million', '(US)', '[1]']),
 (679, ['$112,547', '(USA)', '[1]']),
 (691, ['Domestic', '$428,868', '[1]']),
 (728, ['$', '11,146,270']),
 (735, ['$70.9 million', '(North America)', '[2]']),
 (760,
  ['$914.6 million (original)', '$1.030 billion', '[2]', '(3D re-release)']),
 (778, ['$8 million', '(domestic)']),
 (833, ['$42.2 million', '(United States)']),
 (836, ['$1 million', '[1]', '(US)']),
 (887, ['$30.5 million', '(domestic)', '[2]']),
 (893, ['$30,155,037', '(USA)', '[2]']),
 (899, ['$13.4 million', '[', 'not verified in body', ']']),
 (950, ['$678.1', 'million', '[1]']),
 (1035, ['$106.7 million', '(equivalent to $180.36 million in 2018)', '[2]']),
 (1138, ['$', '407,618 (U.S.) (sub-total)', '[1]']),
 (1149, ['$30.3 million (US)', '[3]', '$83.3 million worldwide', '[4]']),
 (1237, ['$532,268', '52,088 admissions (France)', '[1]']),
 (1263, ['$6.6 million', '(USA)', '[2]']),
 (1397, ['$5,772,529', '(domestic)', '[1]']),
 (1469, ['$4 million', '(USA)', '[3]']),
 (1555, ['$295,493', '(US)', '[2]']),
 (1582, ['$21,302,121', '[1]', '(US)']),
 (1617, ['$47,267,001', '[1]', '302,885 admissions (France)', '[2]']),
 (1666, ['$20.3 million', '(North America)', '[3]']),
 (1717, ['$21,508', '(Domestic)', '[2]']),
 (1747, ['$2,821,671', '[', 'citation needed', ']']),
 (1911, ['$13,330', '(domestic)']),
 (1929, ['¥430 million', '[1]', '(', '$5.39 million', ')']),
 (1955, ['$2,581,012 (', 'US and Canada', ')']),
 (1983, ['$125,397', '(United States only)', '[1]']),
 (1985, ['$1.3 million', '(United States)', '[1]']),
 (1996, ['$2.6 million (', 'US', ')', '[2]']),
 (2017, ['$22,415,440', '(USA)']),
 (2110, ['US$', '171.8 million', '[9]']),
 (2117, ['$7 million', '(North America)', '[3]']),
 (2118, ['$9,639,390', '(US and Canada)', '[1]']),
 (2160, ['$5,672,903 (', 'US', ')', '[1]']),
 (2237, ['US$', '3,395,581', '[1]']),
 (2243, ['$ 1,223,034', '(', 'domestic', ')']),
 (2280, ['$22.9 million', '(United States)', '[1]']),
 (2313, ['$369.9', 'million', '[2]']),
 (2430, ['₤2,891,515 (in UK)', '[1]', '$18,542,974 (total)']),
 (2468, ['$507,941', '[1]', '(US and Canada)']),
 (2506, ['$107,099', '(US and Canada)', '[1]']),
 (2515, ['$6.2 million', '(North America)', '[1]']),
 (2617, ['$', '104,883 (US sub-total)']),
 (2675, ['$', '1.7 million (US) (sub-total)']),
 (2756, ['$296.3', 'million', '[2]', '[3]']),
 (2972, ['$295,206', '(United States)', '[2]']),
 (3065, ['$32', '[2]', '–33.1 million', '[1]']),
 (3182, ['$515,678 (', 'US', ')']),
 (3188, ['$15,220,548', '[2]', '64,579 admissions (France)', '[3]']),
 (3254, ['$2,294,823', '(Foreign)', '[1]', '[2]']),
 (3552, ['$208,507 (US)', '[1]', '$1,466,013 (worldwide theatrical)']),
 (3568, ['$180,503', '[1]', '(USA)']),
 (3631, ['$5,044,000', '(', '$837,000', '(United States)']),
 (3755, ['$10,223,896', '(US and Canada)', '[1]']),
 (3948, ['$462.2', 'million', '[1]']),
 (4077, ['$495,303', '(worldwide)', '[1]']),
 (4170, ['$158.9', 'million', '[2]']),
 (4407,
  ['$969,869',
   '(USA only)',
   '$6,674,540',
   '(foreign)',
   '$7,644,409',
   '(total)']),
 (4553,
  ['$40.7 million',
   '[1]',
   '$27.5 million (domestic DVD sales)',
   '[1]',
   '$67.9 million (net gross)',
   '[',
   'citation needed',
   ']']),
 (4605, ['$1.005', 'billion', '[3]']),
 (4615,
  ['US$22,211,426', '(worldwide)', '£1,034,659', '[3]', '(United Kingdom)']),
 (4636, ['USD$', '8.2 million', '[2]']),
 (4654, ['$27,696 (Domestic)', '[2]', '$1,596,232 (World)', '[3]']),
 (4861, ['$467.5', 'million', '[3]']),
 (4903, ['$36.1 million', '[1]', '$8,610,119 (US DVD sales)', '[3]']),
 (4921, ['$3,026,272', '[2]', '(Worldwide)']),
 (5067, ['$173,496 (', 'UAE', ')', '[3]']),
 (5104, ['$7,927 (', 'RSA', ')', '[1]']),
 (5112, ['$24.1', 'million', '[4]']),
 (5150, ['$21,790,414', '(worldwide)', '[1]']),
 (5333, ['$', '142 million', '[3]']),
 (5445,
  ['$5,589,376 (Part 1)',
   '[1]',
   '$4,059,217 (Part 2)',
   '[2]',
   '$9,648,593 (Total)']),
 (5458, ['$12.2 million', '(DVD sales)', '[1]']),
 (5623, ['$542,762', '(domestic)', '[1]']),
 (5727, ['$13.4 million', '[3]', '(foreign)']),
 (5758,
  ['$40,400',
   '[1]',
   '+',
   '$486,114 (Home Market Performance)',
   '[2]',
   '$526,514 (total)']),
 (5768, ['$319.5', 'million', '[2]']),
 (5884, ['$39,881 (domestic)', 'n/a  (international)', '[1]']),
 (6036, ['$11,887,397', '(US domestic video sales)', '[1]']),
 (6139, ['$307.2', 'million', '[3]']),
 (6186, ['$78.9', 'million', '[3]']),
 (6208, ['$257.1', 'million', '[2]']),
 (6315,
  ['$18,687,388 (Theatrical Performance)',
   '[4]',
   '$1,269,632 (Home Market Performance)',
   '[4]',
   '$19 million+ (total)']),
 (6350, ['¥3.85 billion', '(', '$36 million', ')']),
 (6430, ['$1.024', 'billion', '[5]']),
 (6463, ['$1.153', 'billion', '[3]']),
 (6474, ['$320.4', 'million', '[3]']),
 (6477, ['$1.029', 'billion', '[4]']),
 (6543, ['$83.1', 'million', '[2]']),
 (6639, ['$821', 'million', '[5]']),
 (6663, ['$880.2', 'million', '[3]']),
 (6681, ['$306.5', 'million', '[2]']),
 (6714, ['$61.3', 'million', '[5]']),
 (6717, ['$125.5', 'million', '[1]']),
 (6733, ['$580,346', '(North America)', '[2]']),
 (6751, ['$807.1', 'million', '[7]']),
 (6760, ['$1.333', 'billion', '[4]']),
 (6764, ['$435', 'million', '[3]']),
 (6785, ['$', '41 million', '[3]']),
 (6812, ['$9.6', 'million', '[3]']),
 (6828, ['$66.3', 'million', '[4]']),
 (6834, ['$290.5', 'million', '[5]']),
 (6919, ['¥493,052,600', '[1]', '(', '$4,465,085', ')']),
 (6922, ['$262,963', '(USA)', '[5]']),
 (6936, ['$99.6', 'million', '[4]', '[5]']),
 (6950, ['$365.6', 'million', '[1]']),
 (6951, ['$53.8', 'million']),
 (6971, ['$435', 'million', '[7]']),
 (7004, ['$529.3', 'million', '[4]'])]

In [18]:
box_office = cleaning_wiki_df5['Box office'].dropna() # no point in modifying a nan value
len(box_office) # Results: 5486 items
box_office

0          $21.4 million
1           $2.7 million
2            $57,718,089
3             $7,331,647
4       $6,939,946 (USA)
              ...
7093       $19.4 million
7094       $41.9 million
7095       $76.1 million
7096       $38.4 million
7097        $5.5 million
Name: Box office, Length: 5486, dtype: object

In [19]:
len(box_office[box_office.map(lambda x: type(x) != str)]) # 136 items are lists, not strings
box_office[box_office.map(lambda x: type(x) != str)]

34                           [US$, 4,212,828]
54      [$6,698,361 (, United States, ), [2]]
74                    [$6,488,144, (US), [1]]
126                [US$1,531,489, (domestic)]
130                          [US$, 4,803,039]
                        ...
7003               [$99.6, million, [4], [5]]
7017                   [$365.6, million, [1]]
7018                         [$53.8, million]
7038                     [$435, million, [7]]
7071                   [$529.3, million, [4]]
Name: Box office, Length: 136, dtype: object

In [20]:
# make a regular expression pattern for the strings
pattern1 = r'(\$\d+\.?\d*\s*[bm]illi?on)'  # searching for pattern that is similar to: "$45.3 million/billion"

# counting occurances of the first pattern
box_office.str.contains(pattern1, flags=re.IGNORECASE, na=False).sum()  # 3826 items in the list with this pattern
matches_from_one = box_office.str.contains(pattern1, flags=re.IGNORECASE, na=False) # save the filter

box_office.str.extract(pattern1, flags=re.IGNORECASE).dropna()  # View the items matching pattern #1

C:\Users\Nick\AppData\Local\Temp\ipykernel_27560\1255131052.py:5: UserWarning: This pattern has match groups. To actually get the groups, use str.extract.
  box_office.str.contains(pattern1, flags=re.IGNORECASE, na=False).sum()  # 3826 items in the list with this pattern
C:\Users\Nick\AppData\Local\Temp\ipykernel_27560\1255131052.py:6: UserWarning: This pattern has match groups. To actually get the groups, use str.extract.
  matches_from_one = box_office.str.contains(pattern1, flags=re.IGNORECASE, na=False) # save the filter

                   0
0      $21.4 million
1       $2.7 million
10    $195.3 million
11     $53.2 million
12     $15.7 million
...              ...
7093   $19.4 million
7094   $41.9 million
7095   $76.1 million
7096   $38.4 million
7097    $5.5 million

[3828 rows x 1 columns]

In [21]:
pattern2 = r'(\$\d+(?:[,\.]\d{3})+\.?\d*)(?!\s*[bm]illi?on)'   # searching for pattern that is similar to $123,456,789.0
# counting occurances of the second pattern
box_office.str.contains(pattern2, flags=re.IGNORECASE, na=False).sum()  # 1490 items in the list with this pattern
matches_from_two = box_office.str.contains(pattern2, flags=re.IGNORECASE, na=False) # save the filter
box_office.str.extract(pattern2, flags=re.IGNORECASE).dropna()  # view the items matching pattern 2

C:\Users\Nick\AppData\Local\Temp\ipykernel_27560\1131236715.py:3: UserWarning: This pattern has match groups. To actually get the groups, use str.extract.
  box_office.str.contains(pattern2, flags=re.IGNORECASE, na=False).sum()  # 1490 items in the list with this pattern
C:\Users\Nick\AppData\Local\Temp\ipykernel_27560\1131236715.py:4: UserWarning: This pattern has match groups. To actually get the groups, use str.extract.
  matches_from_two = box_office.str.contains(pattern2, flags=re.IGNORECASE, na=False) # save the filter

                0
2     $57,718,089
3      $7,331,647
4      $6,939,946
9        $855,810
15    $12,626,043
...           ...
7045     $401,463
7051     $260,136
7062     $100,116
7067      $19,996
7080     $756,473

[1496 rows x 1 columns]

In [22]:
box_office[~matches_from_one & ~matches_from_two] # this result matches the search I did Earlier for data types.
problem_lists = box_office[~matches_from_one & ~matches_from_two]

# solving for the easy ones, they fit the pattern and just the wrong data type
for i in problem_lists.index:
    if len(re.findall(pattern1, str(problem_lists[i]))) == 1: # fits the pattern
        problem_lists[i] = re.findall(pattern1, str(problem_lists[i]))[0]
    elif len(re.findall(pattern2, str(problem_lists[i]))) == 1: # fits the pattern
        problem_lists[i] = re.findall(pattern2, str(problem_lists[i]))[0]
    elif len(re.findall(pattern1, str(problem_lists[i]))) > 1: # saving for easier parsing later
        problem_lists[i] = re.findall(pattern1, str(problem_lists[i]))[1]
    elif len(re.findall(pattern2, str(problem_lists[i]))) > 1:  # saving for easier parsing later
        problem_lists[i] = re.findall(pattern2, str(problem_lists[i]))[1]
    else:
        pass
    
problem_lists

34                [US$, 4,212,828]
54                      $6,698,361
74                      $6,488,144
110             $4.35-4.37 million
126                     $1,531,489
                   ...
7003    [$99.6, million, [4], [5]]
7017        [$365.6, million, [1]]
7018              [$53.8, million]
7038          [$435, million, [7]]
7071        [$529.3, million, [4]]
Name: Box office, Length: 162, dtype: object

In [31]:
# testing to see if i can make the list parsing easier by removing some of the [\d] wiki references

problem_lists.str.replace("\[\d+\]\s*", "")
problem_lists

C:\Users\Nick\AppData\Local\Temp\ipykernel_27560\4028567867.py:3: FutureWarning: The default value of regex will change from True to False in a future version.
  problem_lists.str.replace("\[\d+\]\s*", "")

34          $4,212,828
110      $4.35 million
130         $4,803,039
602              $5000
734        $11,146,270
             ...
7003     $99.6 million
7017    $365.6 million
7018     $53.8 million
7038      $435 million
7071    $529.3 million
Name: Box office, Length: 67, dtype: object

In [32]:
# save the changes to the box_office
for p in problem_lists.index:
    for b in box_office.index:
        if p == b:
#             if type(problem_lists[p]) == str:
            box_office[b] = problem_lists[p]
#             else:
#                 continue
        else:
            continue

# Rerun the two filters to see what still needs fixed
matches_from_one = box_office.str.contains(pattern1, flags=re.IGNORECASE, na=False)            
matches_from_two = box_office.str.contains(pattern2, flags=re.IGNORECASE, na=False)
box_office[~matches_from_one & ~matches_from_two]

C:\Users\Nick\AppData\Local\Temp\ipykernel_27560\4171852111.py:13: UserWarning: This pattern has match groups. To actually get the groups, use str.extract.
  matches_from_one = box_office.str.contains(pattern1, flags=re.IGNORECASE, na=False)
C:\Users\Nick\AppData\Local\Temp\ipykernel_27560\4171852111.py:14: UserWarning: This pattern has match groups. To actually get the groups, use str.extract.
  matches_from_two = box_office.str.contains(pattern2, flags=re.IGNORECASE, na=False)

602                              $5000
1073                        35,254,617
1483                        £3 million
1870                      ¥1.1 billion
2037                               N/A
2096                              $309
2672       926,423 admissions (France)
3096    [$32, [2], –33.1 million, [1]]
3640                               TBA
3889          CN¥3.650 million (China)
4128                        £7,385,434
4318                            $20-30
4575           $45.2k (only in Turkey)
5465                             £2.56
5802                          413 733$
6034                           Unknown
6391                              $111
6392                              $588
6615                    less than $372
6865                           8 crore
Name: Box office, dtype: object

In [33]:
modified_p1 = r"(\$\d{1,3}\.?\d*',\s*'[bm]illi?on)"  # for when 43.5 Million is broken into '4.35' and 'million'
modified_p2 = r"(\$', '\d{1,3}(?:[,\.]\d{3})+\.?\d*)"
pattern3 = r"(\$\d*\.?\d*)(?:[-—–]\d*\.?\d*)(\s[bm]illi?on)" # modified pattern #1 version 3
pattern4 = r"(\$\s\d{1,3}(?:[,\.]\d{3})+\.?\d*)" # modified pattern #2 version 3
pattern5 = r"(\$',\s*'\d{1,3}\.?\d*\s[bm]illi?on)" # modified pattern #1 version 4
pattern6 = r"^(\$\d{3,})" # new pattern
problem_lists = box_office[~matches_from_one & ~matches_from_two]
for i in problem_lists.index:  
    if len(re.findall(modified_p1, str(problem_lists[i]))) > 0:
        problem_lists[i] = re.findall(modified_p1, str(problem_lists[i]))[0].replace("', '", " ")
#         print(i, problem_lists[i])
    elif len(re.findall(modified_p2, str(problem_lists[i]))) >0:
        problem_lists[i] = re.findall(modified_p2, str(problem_lists[i]))[0].replace("', '", "")
    elif len(re.findall(pattern3, str(problem_lists[i]))) >0:
        fix = re.findall(pattern3, str(problem_lists[i]))
        problem_lists[i] = fix[0][0] + fix[0][1]
    elif len(re.findall(pattern4, str(problem_lists[i])))>0:
        problem_lists[i] = re.findall(pattern4, str(problem_lists[i]))[0].replace(" ", "")
    elif len(re.findall(pattern5, str(problem_lists[i])))>0:
        problem_lists[i] = re.findall(pattern5, str(problem_lists[i]))[0].replace("', '", "")
    elif len(re.findall(pattern6, str(problem_lists[i])))>0:
        problem_lists[i] = re.findall(pattern6, str(problem_lists[i]))[0]
    else:
        pass
    
problem_lists

602                              $5000
1073                        35,254,617
1483                        £3 million
1870                      ¥1.1 billion
2037                               N/A
2096                              $309
2672       926,423 admissions (France)
3096    [$32, [2], –33.1 million, [1]]
3640                               TBA
3889          CN¥3.650 million (China)
4128                        £7,385,434
4318                            $20-30
4575           $45.2k (only in Turkey)
5465                             £2.56
5802                          413 733$
6034                           Unknown
6391                              $111
6392                              $588
6615                    less than $372
6865                           8 crore
Name: Box office, dtype: object

In [34]:
## merge the fixes from problem_lists into box_office
for p in problem_lists.index:
    for b in box_office.index:
        if p == b:
            box_office[b] = problem_lists[p]
            

matches_from_one = box_office.str.contains(pattern1, flags=re.IGNORECASE, na=False)
matches_from_two = box_office.str.contains(pattern2, flags=re.IGNORECASE, na=False)
matches_from_three = box_office.str.contains(pattern6, flags=re.IGNORECASE, na=False)
box_office[~matches_from_one & ~matches_from_two & ~matches_from_three]

C:\Users\Nick\AppData\Local\Temp\ipykernel_27560\2728313611.py:8: UserWarning: This pattern has match groups. To actually get the groups, use str.extract.
  matches_from_one = box_office.str.contains(pattern1, flags=re.IGNORECASE, na=False)
C:\Users\Nick\AppData\Local\Temp\ipykernel_27560\2728313611.py:9: UserWarning: This pattern has match groups. To actually get the groups, use str.extract.
  matches_from_two = box_office.str.contains(pattern2, flags=re.IGNORECASE, na=False)
C:\Users\Nick\AppData\Local\Temp\ipykernel_27560\2728313611.py:10: UserWarning: This pattern has match groups. To actually get the groups, use str.extract.
  matches_from_three = box_office.str.contains(pattern6, flags=re.IGNORECASE, na=False)

1073                        35,254,617
1483                        £3 million
1870                      ¥1.1 billion
2037                               N/A
2672       926,423 admissions (France)
3096    [$32, [2], –33.1 million, [1]]
3640                               TBA
3889          CN¥3.650 million (China)
4128                        £7,385,434
4318                            $20-30
4575           $45.2k (only in Turkey)
5465                             £2.56
5802                          413 733$
6034                           Unknown
6615                    less than $372
6865                           8 crore
Name: Box office, dtype: object

In [35]:
## not going to salvage these rows, change them to np.nan. Lots of unknown meaning and some requires currency conversion.
problem_lists = box_office[~matches_from_one & ~matches_from_two & ~matches_from_three]
for i in problem_lists.index:
    problem_lists[i] = np.nan
    
problem_lists

1073    NaN
1483    NaN
1870    NaN
2037    NaN
2672    NaN
3096    NaN
3640    NaN
3889    NaN
4128    NaN
4318    NaN
4575    NaN
5465    NaN
5802    NaN
6034    NaN
6615    NaN
6865    NaN
Name: Box office, dtype: object

In [36]:
# pur the new np.nan's into box_office
for p in problem_lists.index:
    for b in box_office.index:
        if p == b:
            box_office[b] = problem_lists[p]

matches_from_one = box_office.str.contains(pattern1, flags=re.IGNORECASE, na=False)
matches_from_two = box_office.str.contains(pattern2, flags=re.IGNORECASE, na=False)
matches_from_three = box_office.str.contains(pattern6, flags=re.IGNORECASE, na=False)
box_office[~matches_from_one & ~matches_from_two & ~matches_from_three]

C:\Users\Nick\AppData\Local\Temp\ipykernel_27560\860373392.py:7: UserWarning: This pattern has match groups. To actually get the groups, use str.extract.
  matches_from_one = box_office.str.contains(pattern1, flags=re.IGNORECASE, na=False)
C:\Users\Nick\AppData\Local\Temp\ipykernel_27560\860373392.py:8: UserWarning: This pattern has match groups. To actually get the groups, use str.extract.
  matches_from_two = box_office.str.contains(pattern2, flags=re.IGNORECASE, na=False)
C:\Users\Nick\AppData\Local\Temp\ipykernel_27560\860373392.py:9: UserWarning: This pattern has match groups. To actually get the groups, use str.extract.
  matches_from_three = box_office.str.contains(pattern6, flags=re.IGNORECASE, na=False)

1073    NaN
1483    NaN
1870    NaN
2037    NaN
2672    NaN
3096    NaN
3640    NaN
3889    NaN
4128    NaN
4318    NaN
4575    NaN
5465    NaN
5802    NaN
6034    NaN
6615    NaN
6865    NaN
Name: Box office, dtype: object

In [37]:
## replace the old box office info in the DataFrame with the newly filtered box office info. 
for b in box_office.index:
    for c in cleaning_wiki_df5.index:
        if b == c:
            if box_office[b] != cleaning_wiki_df5['Box office'][c]:
                cleaning_wiki_df5['Box office'][c] = box_office[b]
                break
            else:
#                 print(b, cleaning_wiki_df5['Box office'][c], box_office[b])
##                 found some non number strings missed from the first filtering that should have been caught
                fix1 = re.findall(pattern1, box_office[b])
                fix2 = re.findall(pattern2, box_office[b])
                if (len(fix1) >0) and (fix1[0] != box_office[b]):
                    cleaning_wiki_df5['Box office'][c] = fix1[0]
                    break
                elif len(fix2) >0 and (fix2[0] != box_office[b]):
                    cleaning_wiki_df5['Box office'][c] = fix2[0]
                    break
                else:
                    break
cleaning_wiki_df5['Box office']

C:\Users\Nick\AppData\Local\Temp\ipykernel_27560\3971355207.py:17: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  cleaning_wiki_df5['Box office'][c] = fix2[0]
C:\Users\Nick\AppData\Local\Temp\ipykernel_27560\3971355207.py:14: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  cleaning_wiki_df5['Box office'][c] = fix1[0]
C:\Users\Nick\AppData\Local\Temp\ipykernel_27560\3971355207.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  cleaning_wiki_df5['Box office'][c] = box_office[b]

0       $21.4 million
1        $2.7 million
2         $57,718,089
3          $7,331,647
4          $6,939,946
            ...
7094    $41.9 million
7095    $76.1 million
7096    $38.4 million
7097     $5.5 million
7098              NaN
Name: Box office, Length: 7032, dtype: object

In [38]:
# def parse_dollars(s):   
    # patterns to change into numbers
    
    # if s is string, then change it, otherwise np.nan
        # if input is of the form $###.## Million, pattern #1
            # Remove dollar sign and "million", convert to float and multiply by 1,000,000
            # return value
            
        # elif input is of the form $###.## Billion, formerly pattern #1 also, now pattern #2

            # Remove dollar sign and "billion", convert to float and multiply by 1,000,000,000
            # return value
            
        # elif input is of the form $###,###,###, formerly pattern #2, now pattern #3
        
            # Remove dollar sign and commas, convert to float
            # return value

    # else: return np.nan

In [39]:
test= re.search("(\d+\.?\d*)", cleaning_wiki_df5['Box office'][0])
print(type(test), "  ||  ", test)
print(test[0], type(test[0]), type(float(test[0])), f"  |  test * Million = {float(test[0])*1000000}")

<class 're.Match'>   ||   <re.Match object; span=(1, 5), match='21.4'>
21.4 <class 'str'> <class 'float'>   |  test * Million = 21400000.0

In [40]:
def parse_dollars(s):   
    # patterns to change into numbers
    p1 = "(\$\d+\.?\d*\s*milli?on)" # pulled from pattern #1 above
    p2 = "(\$\d+\.?\d*\s*billi?on)" # pulled from pattern #1 above
    
    # if s is string, then change it, otherwise np.nan
    if type(s) == str:
  
        # if input is of the form $###.## Million, pattern #1
        if re.match(p1, s, flags=re.IGNORECASE):
            # Remove dollar sign and "million", convert to float and multiply by 1,000,000
            num = float(re.search("(\d+\.?\d*)", s)[0])*1000000
            
            # return value
            return num
            
        # elif input is of the form $###.## Billion, formerly pattern #1 also, now pattern #2
        elif re.match(p2, s, flags=re.IGNORECASE):
        # Remove dollar sign and "billion", convert to float and multiply by 1,000,000,000
            num = float(re.search("(\d+\.?\d*)", s)[0])*1000000000
            # return value
            return num

            
        # elif input is of the form $###,###,###, formerly pattern #2, now pattern #3
        
            # Remove dollar sign and commas, convert to float
            # return value

    # else: return np.nan

In [41]:
test = re.findall(r"(?:\$)(\d+(?:[,\.]\d{3})+\.?\d*)", cleaning_wiki_df5["Box office"][2])
print(test, test[0], test[0].replace(",", ""), float(test[0].replace(",", "")))

['57,718,089'] 57,718,089 57718089 57718089.0

In [42]:
def parse_dollars(s):   
    # patterns to change into numbers
    p1 = "(\$\d+\.?\d*\s*milli?on)" # pulled from pattern #1 above
    p2 = "(\$\d+\.?\d*\s*billi?on)" # pulled from pattern #1 above
    p3 = "(\$\d+(?:[,\.]\d{3})+\.?\d*)"  # pulled from pattern #2 above
    
    # if s is string, then change it, otherwise np.nan
    if type(s) == str:
  
        # if input is of the form $###.## Million, pattern #1
        if re.match(p1, s, flags=re.IGNORECASE):
            # Remove dollar sign and "million", convert to float and multiply by 1,000,000
            num = float(re.search("(\d+\.?\d*)", s)[0])*1000000
            
            # return value
            return num
            
        # elif input is of the form $###.## Billion, formerly pattern #1 also, now pattern #2
        elif re.match(p2, s, flags=re.IGNORECASE):
        # Remove dollar sign and "billion", convert to float and multiply by 1,000,000,000
            num = float(re.search("(\d+\.?\d*)", s)[0])*1000000000
            # return value
            return num

            
        # elif input is of the form $###,###,###, formerly pattern #2, now pattern #3
        elif re.match(p3, s, flags=re.IGNORECASE):
            # Remove dollar sign and commas, convert to float
            num = float(re.findall(r"(?:\$)(\d+(?:[,\.]\d{3})+\.?\d*)", s)[0].replace(",", ""))

            # return value
            return num
    # else: return np.nan 
    else: 
        return np.nan

In [43]:
# find the first instance of "billion" to test parse_dollars()

for c in cleaning_wiki_df5.index:
    if type(cleaning_wiki_df5['Box office'][c]) == str:
        if re.findall(pattern1, cleaning_wiki_df5['Box office'][c], flags=re.IGNORECASE):
            if "billion" in cleaning_wiki_df5['Box office'][c].lower():
                print(c, cleaning_wiki_df5['Box office'][c])
                break
cleaning_wiki_df5['Box office'].head()

766 $1.030 billion

0    $21.4 million
1     $2.7 million
2      $57,718,089
3       $7,331,647
4       $6,939,946
Name: Box office, dtype: object

In [44]:
cleaning_wiki_df6 = pd.DataFrame(cleaning_wiki_df5)
# Choose the indexes for the test
print(cleaning_wiki_df6['Box office'][0], cleaning_wiki_df6['Box office'][766], cleaning_wiki_df6['Box office'][2])

# test parse_dollars()
print(parse_dollars(cleaning_wiki_df6['Box office'][0]), parse_dollars(cleaning_wiki_df6['Box office'][766]), parse_dollars(cleaning_wiki_df6['Box office'][2]))

# The function works where I need it to, check for where the if statements miss something.

$21.4 million $1.030 billion $57,718,089
21400000.0 1030000000.0 57718089.0

In [45]:
for c in cleaning_wiki_df6.index:
    test = parse_dollars(cleaning_wiki_df6['Box office'][c])
    if type(test) != float:
        print(c, test, type(test), cleaning_wiki_df6['Box office'][c])

602 None <class 'NoneType'> $5000
2096 None <class 'NoneType'> $309
6391 None <class 'NoneType'> $111
6392 None <class 'NoneType'> $588

In [46]:
def parse_dollars(s):   
    # patterns to change into numbers
    p1 = "(\$\d+\.?\d*\s*milli?on)" # pulled from pattern #1 above
    p2 = "(\$\d+\.?\d*\s*billi?on)" # pulled from pattern #1 above
    p3 = "(\$\d+(?:[,\.]\d{3})+\.?\d*)"  # pulled from pattern #2 above
    
    # if s is string, then change it, otherwise np.nan
    if type(s) == str:
  
        # if input is of the form $###.## Million, pattern #1
        if re.match(p1, s, flags=re.IGNORECASE):
            # Remove dollar sign and "million", convert to float and multiply by 1,000,000
            num = float(re.search("(\d+\.?\d*)", s)[0])*1000000
            
            # return value
            return num
            
        # elif input is of the form $###.## Billion, formerly pattern #1 also, now pattern #2
        elif re.match(p2, s, flags=re.IGNORECASE):
        # Remove dollar sign and "billion", convert to float and multiply by 1,000,000,000
            num = float(re.search("(\d+\.?\d*)", s)[0])*1000000000
            # return value
            return num

            
        # elif input is of the form $###,###,###, formerly pattern #2, now pattern #3
        elif re.match(p3, s, flags=re.IGNORECASE):
            # Remove dollar sign and commas, convert to float
            num = float(re.findall(r"(?:\$)(\d+(?:[,\.]\d{3})+\.?\d*)", s)[0].replace(",", ""))

            # return value
            return num
        else: 
            if len(s) <= 6:
                if re.match("(\$\d{1,6}$)", s, flags=re.IGNORECASE):
                    num = float(s.replace("$", ""))
                    return num

    else: 
        return np.nan

In [47]:
for c in cleaning_wiki_df6.index:
    cleaning_wiki_df6['Box office'][c] = parse_dollars(cleaning_wiki_df6['Box office'][c])
    
cleaning_wiki_df6['Box office']

C:\Users\Nick\AppData\Local\Temp\ipykernel_27560\927658522.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  cleaning_wiki_df6['Box office'][c] = parse_dollars(cleaning_wiki_df6['Box office'][c])

0       21400000.0
1        2700000.0
2       57718089.0
3        7331647.0
4        6939946.0
           ...
7094    41900000.0
7095    76100000.0
7096    38400000.0
7097     5500000.0
7098           NaN
Name: Box office, Length: 7032, dtype: object

In [48]:
# cleaning_wiki_df6.groupby(['Budget']).count()  # error because of lists and strings again.
def find_dollars(s):
    # declared patterns from before
    p1 = "(\$\d+\.?\d*\s*[bm]illi?on)" # pulled from pattern #1 above
    p2 = "(\$\d+(?:[,\.]\d{3})+\.?\d*)"
    mp1 = r"(\$\d{1,3}\.?\d*',\s*'[bm]illi?on)"  # for when 43.5 Million is broken into '4.35' and 'million'
    mp2 = r"(\$', '\d{1,3}(?:[,\.]\d{3})+\.?\d*)"  # modified pattern #2 version 2 
    p3 = r"(\$\d*\.?\d*)(?:[-—–]\d*\.?\d*)(\s[bm]illi?on)" # modified pattern #1 version 3
    p4 = r"(\$\s\d{1,3}(?:[,\.]\d{3})+\.?\d*)" # modified pattern #2 version 3
    p5 = r"(\$',\s*'\d{1,3}\.?\d*\s[bm]illi?on)" # modified pattern #1 version 4
    p6 = r"^(\$\d{3,6})" # new pattern
    if len(re.findall(p1, str(s))) == 1:
        num = re.findall(p1, str(s))[0]
        return num
    elif len(re.findall(p2, str(s))) == 1:
        num = re.findall(p2, str(s))[0]
        return num
    elif len(re.findall(p1, str(s))) > 1: 
        num = re.findall(p1, str(s))[1]
        return num
    elif len(re.findall(p2, str(problem_lists[i]))) > 1:  
        num = re.findall(p2, str(s))[1]
        return num
    elif len(re.findall(mp1, str(s))) > 0:
        num = re.findall(mp1, str(s))[0].replace("', '", " ")
        return num
    elif len(re.findall(mp2, str(s))) >0:
        num = re.findall(mp2, str(s))[0].replace("', '", "")
        return num
    elif len(re.findall(p3, str(s))) >0:
        fix = re.findall(p3, str(s))
        num = fix[0][0] + fix[0][1]
        return num
    elif len(re.findall(p4, str(s)))>0:
        num = re.findall(p4, str(s))[0].replace(" ", "")
        return num
    elif len(re.findall(p5, str(s)))>0:
        num = re.findall(p5, str(s))[0].replace("', '", "")
        return num
    elif len(re.findall(p6, str(s)))>0:
        num = re.findall(p6, str(s))[0]
        return num
    else:
        return np.nan

In [49]:
budget = cleaning_wiki_df6['Budget']
for b in budget.index:
    print(budget[b], find_dollars(budget[b]), parse_dollars(find_dollars(budget[b])))

$20 million $20 million 20000000.0
$6 million $6 million 6000000.0
$35 million $35 million 35000000.0
$12 million $12 million 12000000.0
$25 million $25 million 25000000.0
nan nan nan
nan nan nan
nan nan nan
nan nan nan
nan nan nan
$50 million $50 million 50000000.0
$22 million $22 million 22000000.0
nan nan nan
$29 million $29 million 29000000.0
$40 million $40 million 40000000.0
$7 million $7 million 7000000.0
['$2,500,000', '[', 'citation needed', ']'] $2,500,000 2500000.0
nan nan nan
$20 million $20 million 20000000.0
nan nan nan
nan nan nan
nan nan nan
$47 million $47 million 47000000.0
nan nan nan
nan nan nan
$15 million $15 million 15000000.0
nan nan nan
$10 million $10 million 10000000.0
nan nan nan
$10 million $10 million 10000000.0
nan nan nan
nan nan nan
nan nan nan
$13 million $13 million 13000000.0
nan nan nan
nan nan nan
nan nan nan
$5.2 million $5.2 million 5200000.0
nan nan nan
$17.5 million $17.5 million 17500000.0
nan nan nan
nan nan nan
US$18 million $18 million 18000000.0
$12 million $12 million 12000000.0
$4 million $4 million 4000000.0
$22 million $22 million 22000000.0
nan nan nan
$16 million $16 million 16000000.0
nan nan nan
$60 million $60 million 60000000.0
$6.5 million $6.5 million 6500000.0
nan nan nan
nan nan nan
nan nan nan
$16 million $16 million 16000000.0
nan nan nan
$18 million $18 million 18000000.0
$46 million $46 million 46000000.0
$70 million $70 million 70000000.0
nan nan nan
nan nan nan
$10,000,000 (estimated) $10,000,000 10000000.0
nan nan nan
nan nan nan
$20 million $20 million 20000000.0
nan nan nan
nan nan nan
$19,000,000 $19,000,000 19000000.0
$11 million $11 million 11000000.0
nan nan nan
$500,000 $500,000 500000.0
nan nan nan
$22 million $22 million 22000000.0
$10 million (estimated) $10 million 10000000.0
nan nan nan
$26 million $26 million 26000000.0
nan nan nan
nan nan nan
nan nan nan
$11.5 million $11.5 million 11500000.0
$12 million $12 million 12000000.0
nan nan nan
nan nan nan
nan nan nan
$22 million $22 million 22000000.0
nan nan nan
nan nan nan
nan nan nan
$54 million $54 million 54000000.0
$25 million $25 million 25000000.0
nan nan nan
$12.5 million $12.5 million 12500000.0
$50 million $50 million 50000000.0
nan nan nan
nan nan nan
nan nan nan
nan nan nan
$3 million $3 million 3000000.0
$13,000,000 $13,000,000 13000000.0
$11.5 million $11.5 million 11500000.0
['£960,000', '[2]', '($1.5 million)'] $1.5 million 1500000.0
$40 million $40 million 40000000.0
nan nan nan
nan nan nan
$110,000 $110,000 110000.0
$18 million $18 million 18000000.0
$15 million $15 million 15000000.0
nan nan nan
$2.5 million $2.5 million 2500000.0
$30 million $30 million 30000000.0
$5–7 million $5 million 5000000.0
nan nan nan
nan nan nan
nan nan nan
nan nan nan
nan nan nan
nan nan nan
$12 million $12 million 12000000.0
$25 million $25 million 25000000.0
nan nan nan
$25 million $25 million 25000000.0
nan nan nan
nan nan nan
$26 million $26 million 26000000.0
nan nan nan
nan nan nan
nan nan nan
nan nan nan
$9 million $9 million 9000000.0
$6 million $6 million 6000000.0
nan nan nan
nan nan nan
$15 million $15 million 15000000.0
$9 million $9 million 9000000.0
nan nan nan
['USD$', '9 million'] $9 million 9000000.0
Unknown nan nan
nan nan nan
nan nan nan
$12 million $12 million 12000000.0
nan nan nan
nan nan nan
nan nan nan
['$23 million (estimated)', '[', 'citation needed', ']'] $23 million 23000000.0
$9 million $9 million 9000000.0
$7 million $7 million 7000000.0
nan nan nan
nan nan nan
$20 million $20 million 20000000.0
nan nan nan
$225,000 $225,000 225000.0
$11 million $11 million 11000000.0
['$14 million', '[', 'citation needed', ']'] $14 million 14000000.0
$20 million $20 million 20000000.0
nan nan nan
nan nan nan
$10 million $10 million 10000000.0
nan nan nan
nan nan nan
$15 million $15 million 15000000.0
nan nan nan
$18 million $18 million 18000000.0
$20 million $20 million 20000000.0
nan nan nan
nan nan nan
nan nan nan
$15-20 million $15 million 15000000.0
$21 million $21 million 21000000.0
nan nan nan
nan nan nan
$4.2 million $4.2 million 4200000.0
$11 million $11 million 11000000.0
nan nan nan
nan nan nan
nan nan nan
$13 million $13 million 13000000.0
$18 million $18 million 18000000.0
$500,000 $500,000 500000.0
['$2,000,000', '(estimated)'] $2,000,000 2000000.0
nan nan nan
$22 million $22 million 22000000.0
$35 million $35 million 35000000.0
$20 million $20 million 20000000.0
$14 million $14 million 14000000.0
$10 million $10 million 10000000.0
nan nan nan
nan nan nan
nan nan nan
$6,000,000 $6,000,000 6000000.0
$17 million $17 million 17000000.0
$18 million $18 million 18000000.0
$1.5 million $1.5 million 1500000.0
nan nan nan
nan nan nan
['$20 million', '[', 'citation needed', ']'] $20 million 20000000.0
nan nan nan
$35 million $35 million 35000000.0
['$6.5–10 million', '[1]', '[Note 1]'] $6.5 million 6500000.0
nan nan nan
$42 million $42 million 42000000.0
nan nan nan
nan nan nan
$10 million $10 million 10000000.0
nan nan nan
nan nan nan
['60 million', 'Norwegian Kroner'] nan nan
nan nan nan
nan nan nan
nan nan nan
nan nan nan
$16 million $16 million 16000000.0
['est.', '$350,000'] $350,000 350000.0
nan nan nan
nan nan nan
$43 million $43 million 43000000.0
nan nan nan
$250,000 $250,000 250000.0
$5 million (estimated) $5 million 5000000.0
nan nan nan
nan nan nan
nan nan nan
$23 million $23 million 23000000.0
nan nan nan
$19 million $19 million 19000000.0
nan nan nan
$14 million $14 million 14000000.0
$3.5 million $3.5 million 3500000.0
$13.5 million $13.5 million 13500000.0
nan nan nan
$18 million $18 million 18000000.0
nan nan nan
nan nan nan
A$13 million $13 million 13000000.0
nan nan nan
nan nan nan
nan nan nan
$50–65 million $50 million 50000000.0
nan nan nan
$11 million $11 million 11000000.0
nan nan nan
nan nan nan
nan nan nan
$11 million $11 million 11000000.0
nan nan nan
$19 million $19 million 19000000.0
nan nan nan
nan nan nan
$13 million $13 million 13000000.0
nan nan nan
$15 million $15 million 15000000.0
$24 million $24 million 24000000.0
nan nan nan
nan nan nan
nan nan nan
$7 million $7 million 7000000.0
$10 million $10 million 10000000.0
['$', '80,000'] $80,000 80000.0
nan nan nan
nan nan nan
$10 million $10 million 10000000.0
nan nan nan
nan nan nan
$26 million $26 million 26000000.0
nan nan nan
$30 million $30 million 30000000.0
nan nan nan
nan nan nan
$17 million $17 million 17000000.0
['$36 million', '[', 'citation needed', ']'] $36 million 36000000.0
$40 million $40 million 40000000.0
$9 million $9 million 9000000.0
$25 million $25 million 25000000.0
$20 million $20 million 20000000.0
$48 million $48 million 48000000.0
$10,000,000 $10,000,000 10000000.0
nan nan nan
['$10,000,000', '[', 'citation needed', ']'] $10,000,000 10000000.0
nan nan nan
nan nan nan
$6.5 million $6.5 million 6500000.0
nan nan nan
nan nan nan
nan nan nan
$30 million $30 million 30000000.0
nan nan nan
nan nan nan
$35 million $35 million 35000000.0
nan nan nan
nan nan nan
nan nan nan
nan nan nan
nan nan nan
$3 million $3 million 3000000.0
$26 million $26 million 26000000.0
nan nan nan
$4 million $4 million 4000000.0
nan nan nan
$12–15 million $12 million 12000000.0
$18 million $18 million 18000000.0
$6 million $6 million 6000000.0
$25 million $25 million 25000000.0
nan nan nan
$800,000 $800,000 800000.0
$15 million $15 million 15000000.0
nan nan nan
nan nan nan
nan nan nan
$18 million $18 million 18000000.0
nan nan nan
$17 million $17 million 17000000.0
$12 million $12 million 12000000.0
nan nan nan
$10 million $10 million 10000000.0
$38 million $38 million 38000000.0
['$15,000,000 (U. S.)', '[1]', '[2]', 'or $18 million', '[3]'] $18 million 18000000.0
$6.788 million (est.) $6.788 million 6788000.0
$17 million $17 million 17000000.0
$18 million $18 million 18000000.0
nan nan nan
nan nan nan
$13 million $13 million 13000000.0
nan nan nan
nan nan nan
$20 million $20 million 20000000.0
nan nan nan
$24 million $24 million 24000000.0
nan nan nan
$30 million $30 million 30000000.0
$40 million $40 million 40000000.0
$29 million $29 million 29000000.0
$11 million $11 million 11000000.0
$11 million $11 million 11000000.0
nan nan nan
$16 million $16 million 16000000.0
nan nan nan
nan nan nan
$24 million $24 million 24000000.0
$23 million $23 million 23000000.0
$15 million $15 million 15000000.0
nan nan nan
nan nan nan
nan nan nan
nan nan nan
nan nan nan
nan nan nan
nan nan nan
$70 million $70 million 70000000.0
$26 million $26 million 26000000.0
nan nan nan
$5 million $5 million 5000000.0
['US$', '65 million', '[1]'] $65 million 65000000.0
nan nan nan
$7 million $7 million 7000000.0
nan nan nan
$40 million $40 million 40000000.0
$500,000 $500,000 500000.0
$14 million $14 million 14000000.0
$11 million $11 million 11000000.0
$23 million $23 million 23000000.0
$15 million $15 million 15000000.0
nan nan nan
$75 million $75 million 75000000.0
nan nan nan
$13 million $13 million 13000000.0
nan nan nan
$10 million $10 million 10000000.0
nan nan nan
$4.5 million $4.5 million 4500000.0
nan nan nan
$26 million $26 million 26000000.0
nan nan nan
['US$', '5 million'] $5 million 5000000.0
$8 million $8 million 8000000.0
$23 million $23 million 23000000.0
$7 million $7 million 7000000.0
$17 million $17 million 17000000.0
$2.5 million $2.5 million 2500000.0
nan nan nan
$23 million $23 million 23000000.0
$17–18 million $17 million 17000000.0
nan nan nan
$8 million $8 million 8000000.0
nan nan nan
$22 million $22 million 22000000.0
$40 million $40 million 40000000.0
nan nan nan
$16 million $16 million 16000000.0
nan nan nan
nan nan nan
$35 million $35 million 35000000.0
nan nan nan
$14 million $14 million 14000000.0
nan nan nan
nan nan nan
nan nan nan
$6 million $6 million 6000000.0
nan nan nan
$10,000,000 $10,000,000 10000000.0
['US$', '24 million'] $24 million 24000000.0
$250,000 $250,000 250000.0
$30 million $30 million 30000000.0
$11–15 million $11 million 11000000.0
$780,000 $780,000 780000.0
$800,000 $800,000 800000.0
$17 million $17 million 17000000.0
$8 million $8 million 8000000.0
$7.5 million $7.5 million 7500000.0
$3 million $3 million 3000000.0
$25 million $25 million 25000000.0
$11,000,000 $11,000,000 11000000.0
nan nan nan
$48 million $48 million 48000000.0
$35-40 million $35 million 35000000.0
nan nan nan
$16 million $16 million 16000000.0
$17 million $17 million 17000000.0
$3 million $3 million 3000000.0
nan nan nan
nan nan nan
nan nan nan
nan nan nan
$14 million $14 million 14000000.0
['$22 million', '[', 'citation needed', ']'] $22 million 22000000.0
$11 million $11 million 11000000.0
$8 million $8 million 8000000.0
$19 million $19 million 19000000.0
$23,000 $23,000 23000.0
$19 million $19 million 19000000.0
$25 million $25 million 25000000.0
nan nan nan
$27 million $27 million 27000000.0
nan nan nan
$25 million $25 million 25000000.0
$450,720 $450,720 450720.0
nan nan nan
$11 million $11 million 11000000.0
$22 million $22 million 22000000.0
$14 million $14 million 14000000.0
$19 million $19 million 19000000.0
nan nan nan
nan nan nan
$25 million $25 million 25000000.0
$94–102 million $94 million 94000000.0
$16.5 million $16.5 million 16500000.0
$350,000 $350,000 350000.0
$7,000 $7,000 7000.0
$10 million $10 million 10000000.0
nan nan nan
$20 million $20 million 20000000.0
$15 million $15 million 15000000.0
$9 million $9 million 9000000.0
nan nan nan
$39 million $39 million 39000000.0
$14 million $14 million 14000000.0
nan nan nan
nan nan nan
$15 million $15 million 15000000.0
$47 million $47 million 47000000.0
nan nan nan
$2.5 million $2.5 million 2500000.0
$28 million $28 million 28000000.0
$50–55 million $50 million 50000000.0
$16 million $16 million 16000000.0
$18 million $18 million 18000000.0
$12 million $12 million 12000000.0
$1 million $1 million 1000000.0
$49 million $49 million 49000000.0
$80 million $80 million 80000000.0
nan nan nan
$10 million $10 million 10000000.0
['$18 million', '[', 'citation needed', ']'] $18 million 18000000.0
nan nan nan
nan nan nan
nan nan nan
$25 million $25 million 25000000.0
$42 million $42 million 42000000.0
Unknown nan nan
$40 million $40 million 40000000.0
$7 million $7 million 7000000.0
$8–9 million $8 million 8000000.0
$24 million $24 million 24000000.0
nan nan nan
$31 million $31 million 31000000.0
nan nan nan
$45 million $45 million 45000000.0
nan nan nan
nan nan nan
$18 million $18 million 18000000.0
['$30 million', '[', 'citation needed', ']'] $30 million 30000000.0
nan nan nan
nan nan nan

nan nan nan
nan nan nan
$55 million $55 million 55000000.0
nan nan nan
$17 million $17 million 17000000.0
$50 million $50 million 50000000.0
nan nan nan
$7 million $7 million 7000000.0
nan nan nan
$3 million $3 million 3000000.0
$60 million $60 million 60000000.0
$24 million $24 million 24000000.0
$33–40 million $33 million 33000000.0
nan nan nan
nan nan nan
$15 million $15 million 15000000.0
nan nan nan
$30 million $30 million 30000000.0
nan nan nan
$1.3 million $1.3 million 1300000.0
$20 million $20 million 20000000.0
$12.5 million $12.5 million 12500000.0
nan nan nan
$11.7 million $11.7 million 11700000.0
$42 million $42 million 42000000.0
nan nan nan
$35 million $35 million 35000000.0
$20 million $20 million 20000000.0
$40 million $40 million 40000000.0
$25 million $25 million 25000000.0
$26 million $26 million 26000000.0
$20 million (estimate) $20 million 20000000.0
nan nan nan
$20 million $20 million 20000000.0
nan nan nan
$20 million $20 million 20000000.0
$5 million $5 million 5000000.0
$100,000 $100,000 100000.0
$9 million $9 million 9000000.0
nan nan nan
$20 million $20 million 20000000.0
$40 million $40 million 40000000.0
$10 million $10 million 10000000.0
$40 million $40 million 40000000.0
nan nan nan
nan nan nan
$35 million $35 million 35000000.0
$5,000,000 $5,000,000 5000000.0
$11 million $11 million 11000000.0
['$', '30 million'] $30 million 30000000.0
$6 million $6 million 6000000.0
nan nan nan
nan nan nan
nan nan nan
nan nan nan
$33 million $33 million 33000000.0
$15.5 million $15.5 million 15500000.0
['BEF', '1 million', '(', 'USD$', '33,000)'] $33,000 33000.0
$30 million $30 million 30000000.0
nan nan nan
$40 million $40 million 40000000.0
nan nan nan
$40 million $40 million 40000000.0
nan nan nan
$5 million $5 million 5000000.0
$10 million $10 million 10000000.0
nan nan nan
nan nan nan
$15 million $15 million 15000000.0
$14 million $14 million 14000000.0
nan nan nan
$40 million $40 million 40000000.0
$43 million $43 million 43000000.0
$12 million $12 million 12000000.0
$11 million $11 million 11000000.0
nan nan nan
nan nan nan
$15 million $15 million 15000000.0
$18 million $18 million 18000000.0
nan nan nan
$12 million $12 million 12000000.0
nan nan nan
nan nan nan
nan nan nan
['$14 million', '[', 'citation needed', ']'] $14 million 14000000.0
nan nan nan
nan nan nan
nan nan nan
$15 million $15 million 15000000.0
$5 million $5 million 5000000.0
$45 million $45 million 45000000.0
nan nan nan
nan nan nan
nan nan nan
$8 million $8 million 8000000.0
$3 million $3 million 3000000.0
nan nan nan
$18 million $18 million 18000000.0
nan nan nan
nan nan nan
nan nan nan
nan nan nan
nan nan nan
$15,000,000 $15,000,000 15000000.0
$10,000,000 $10,000,000 10000000.0
nan nan nan
$35 million $35 million 35000000.0
nan nan nan
$12 million $12 million 12000000.0
nan nan nan
$8 million $8 million 8000000.0
$1.2–1.5 million $1.2 million 1200000.0
$5,000,000 est. $5,000,000 5000000.0
$2 million $2 million 2000000.0
$12 million $12 million 12000000.0
nan nan nan
$22 million $22 million 22000000.0
$18 million $18 million 18000000.0
nan nan nan
nan nan nan
nan nan nan
$31 million $31 million 31000000.0
$18 million $18 million 18000000.0
nan nan nan
nan nan nan
$1.4 million $1.4 million 1400000.0
nan nan nan
nan nan nan
$250,000 (estimated) $250,000 250000.0
nan nan nan
nan nan nan
$16 million $16 million 16000000.0
$9 million $9 million 9000000.0
$31 million $31 million 31000000.0
$15 million $15 million 15000000.0
$35 million $35 million 35000000.0
nan nan nan
$4 million $4 million 4000000.0
nan nan nan
nan nan nan
nan nan nan
nan nan nan
nan nan nan
nan nan nan
$18 million $18 million 18000000.0
$250,000 (estimated) $250,000 250000.0
$7,000,000 $7,000,000 7000000.0
nan nan nan
nan nan nan
nan nan nan
nan nan nan
nan nan nan
['$350,000', '[', 'citation needed', ']'] $350,000 350000.0
nan nan nan
$3.5 million $3.5 million 3500000.0
$1,000,000 (est.) $1,000,000 1000000.0
$50 million $50 million 50000000.0
$14 million $14 million 14000000.0
nan nan nan
nan nan nan
$10 million $10 million 10000000.0
$35 million $35 million 35000000.0
$14 million $14 million 14000000.0
$23 million $23 million 23000000.0
$23 million $23 million 23000000.0
$16 million $16 million 16000000.0
nan nan nan
nan nan nan
nan nan nan
$20 million $20 million 20000000.0
$3 million $3 million 3000000.0
$30 million $30 million 30000000.0
['$31 million', '[1]', '(equivalent to $51 million in 2018)'] $51 million 51000000.0
$22 million $22 million 22000000.0
nan nan nan
$29 million $29 million 29000000.0
$18 million $18 million 18000000.0
nan nan nan
nan nan nan
nan nan nan
$47 million $47 million 47000000.0
$6.5 million $6.5 million 6500000.0
$34 million $34 million 34000000.0
nan nan nan
$2.6 million $2.6 million 2600000.0
$32 million $32 million 32000000.0
$17 million $17 million 17000000.0
$30 million $30 million 30000000.0
nan nan nan
$11 million $11 million 11000000.0
$14 million $14 million 14000000.0
nan nan nan
nan nan nan
$6 million $6 million 6000000.0
nan nan nan
$7 million $7 million 7000000.0
$25 million $25 million 25000000.0
$35 million $35 million 35000000.0
nan nan nan
$30 million $30 million 30000000.0
$13 million $13 million 13000000.0
$10 million $10 million 10000000.0
$12 million $12 million 12000000.0
nan nan nan
nan nan nan
$10 million $10 million 10000000.0
$6 million $6 million 6000000.0
['$13 million', '[', 'citation needed', ']'] $13 million 13000000.0
$125,000 $125,000 125000.0
$30 million $30 million 30000000.0
nan nan nan
['$', '70 million', '[1]'] $70 million 70000000.0
nan nan nan
$17 million $17 million 17000000.0
$4 million $4 million 4000000.0
$6 million $6 million 6000000.0
$10 million $10 million 10000000.0
nan nan nan
$15 million $15 million 15000000.0
$28 million $28 million 28000000.0
$6.9 million $6.9 million 6900000.0
$10 million $10 million 10000000.0
$45–77 million $45 million 45000000.0
$35 million $35 million 35000000.0
$14 million $14 million 14000000.0
nan nan nan
nan nan nan
$13,000,000 (Estimated) $13,000,000 13000000.0
$8 million $8 million 8000000.0
$25 million $25 million 25000000.0
nan nan nan
nan nan nan
$20 million $20 million 20000000.0
nan nan nan
$15 million $15 million 15000000.0
$42 million $42 million 42000000.0
nan nan nan
$30 million $30 million 30000000.0
$20 million $20 million 20000000.0
$44 million $44 million 44000000.0
$35 million $35 million 35000000.0
$20 million $20 million 20000000.0
$12 million $12 million 12000000.0
$17 million $17 million 17000000.0
$14.6 million $14.6 million 14600000.0
$35.1 million $35.1 million 35100000.0
$12 million $12 million 12000000.0
nan nan nan
$19.5 million $19.5 million 19500000.0
$25 million $25 million 25000000.0
$33 million $33 million 33000000.0
$700,000 $700,000 700000.0
$28 million $28 million 28000000.0
$12 million $12 million 12000000.0
nan nan nan
$25 million $25 million 25000000.0
nan nan nan
nan nan nan
$40 million $40 million 40000000.0
$40 million $40 million 40000000.0
$13 million $13 million 13000000.0
$38 million $38 million 38000000.0
$9 million $9 million 9000000.0
nan nan nan
$3 million $3 million 3000000.0
$18 million $18 million 18000000.0
nan nan nan
$10.5 million $10.5 million 10500000.0
$21 million $21 million 21000000.0
$63 million $63 million 63000000.0
$8.5 million $8.5 million 8500000.0
$8 million $8 million 8000000.0
$85 million $85 million 85000000.0
$1 million $1 million 1000000.0
nan nan nan
$8.2 million $8.2 million 8199999.999999999
$15 million $15 million 15000000.0
nan nan nan
$19 million $19 million 19000000.0
$22 million $22 million 22000000.0
$20 million $20 million 20000000.0
nan nan nan
$6 million (estimated) $6 million 6000000.0
['$13.5 million (', 'est.', ')'] $13.5 million 13500000.0
$13 million $13 million 13000000.0
nan nan nan
$3.5 million $3.5 million 3500000.0
$30 million $30 million 30000000.0
$11 million $11 million 11000000.0
$25 million $25 million 25000000.0
$10 million $10 million 10000000.0
$13 million $13 million 13000000.0
$25 million $25 million 25000000.0
$11 million $11 million 11000000.0
$15-20 million $15 million 15000000.0
nan nan nan
nan nan nan
$18 million $18 million 18000000.0
$15 million $15 million 15000000.0
$13 million $13 million 13000000.0
$6,000,000 (US) $6,000,000 6000000.0
$45 million $45 million 45000000.0
$30 million $30 million 30000000.0
$26 million $26 million 26000000.0
US$7 million $7 million 7000000.0
$14 million $14 million 14000000.0
nan nan nan
$10 million $10 million 10000000.0
$15-20 million $15 million 15000000.0
US$250,000 $250,000 250000.0
nan nan nan
$24 million $24 million 24000000.0
$2,000,000 (estimated) $2,000,000 2000000.0
$18 million $18 million 18000000.0
$40 million $40 million 40000000.0
$20 million $20 million 20000000.0
$10 million $10 million 10000000.0
$31 million $31 million 31000000.0
nan nan nan
nan nan nan
$0.8 million (estimated) $0.8 million 800000.0
$12 million $12 million 12000000.0
$10 million $10 million 10000000.0
$7 million $7 million 7000000.0
$22 million $22 million 22000000.0
$12 million $12 million 12000000.0
nan nan nan
nan nan nan
$38 million $38 million 38000000.0
$15 million $15 million 15000000.0
nan nan nan
$21 million $21 million 21000000.0
$30–40 million $30 million 30000000.0
nan nan nan
nan nan nan
$30 million (equivalent to $52.03 million in 2018) $52.03 million 52030000.0
$20 million $20 million 20000000.0
$28 million $28 million 28000000.0
$30 million $30 million 30000000.0
$48 million $48 million 48000000.0
$900,000 $900,000 900000.0
$12 million $12 million 12000000.0
$21 million $21 million 21000000.0
$15 million $15 million 15000000.0
nan nan nan
$14 million $14 million 14000000.0
nan nan nan
$30 million $30 million 30000000.0
$11 million $11 million 11000000.0
$25 million $25 million 25000000.0
nan nan nan
$12.5 million $12.5 million 12500000.0
nan nan nan
$25 million $25 million 25000000.0
$6 million $6 million 6000000.0
$23 million $23 million 23000000.0
nan nan nan
$3 million $3 million 3000000.0
nan nan nan
$40 million $40 million 40000000.0
nan nan nan
$1 million $1 million 1000000.0
$7 million $7 million 7000000.0
$11 million $11 million 11000000.0
$15 million $15 million 15000000.0
nan nan nan
nan nan nan
nan nan nan
nan nan nan
$4,500,000 $4,500,000 4500000.0
nan nan nan
nan nan nan
nan nan nan
$20 million $20 million 20000000.0
$7 million $7 million 7000000.0
$6.5 million $6.5 million 6500000.0
nan nan nan
$15 million $15 million 15000000.0
nan nan nan
$17 million $17 million 17000000.0
$11.2 million $11.2 million 11200000.0
nan nan nan
nan nan nan
nan nan nan
$8 million $8 million 8000000.0
$31 million $31 million 31000000.0
$26 million $26 million 26000000.0
nan nan nan
$48 million $48 million 48000000.0
$25-35 million $25 million 25000000.0
$500,000 (estimated) $500,000 500000.0
$3.2 million $3.2 million 3200000.0
nan nan nan
$50 million $50 million 50000000.0
nan nan nan
nan nan nan
$13 million $13 million 13000000.0
nan nan nan
nan nan nan
$11 million $11 million 11000000.0
nan nan nan
nan nan nan
$28 million $28 million 28000000.0
$35 million $35 million 35000000.0
nan nan nan
nan nan nan
nan nan nan
nan nan nan
['$20 million', '[', 'not verified in body', ']'] $20 million 20000000.0
$10 million $10 million 10000000.0
nan nan nan
$10.7 million $10.7 million 10700000.0
nan nan nan
['$15 million', '[', 'citation needed', ']'] $15 million 15000000.0
$15 million $15 million 15000000.0
nan nan nan
$40 million $40 million 40000000.0
nan nan nan
nan nan nan

nan nan nan
$62 million $62 million 62000000.0
['$27,575', '$230,000 (post)'] nan nan
['$45 million', '[', 'citation needed', ']'] $45 million 45000000.0
nan nan nan
nan nan nan
$40 million $40 million 40000000.0
nan nan nan
nan nan nan
nan nan nan
nan nan nan
$22 million $22 million 22000000.0
$35 million $35 million 35000000.0
nan nan nan
$14 million $14 million 14000000.0
['$23 million', '[1]', '[', 'dead link', ']'] $23 million 23000000.0
nan nan nan
nan nan nan
nan nan nan
nan nan nan
$12 million $12 million 12000000.0
$5 million $5 million 5000000.0
$190,000 $190,000 190000.0
$55 million $55 million 55000000.0
nan nan nan
nan nan nan
$7.8 million $7.8 million 7800000.0
nan nan nan
$45 million $45 million 45000000.0
$17 million $17 million 17000000.0
$18 million $18 million 18000000.0
$8 million $8 million 8000000.0
$25-30 million $25 million 25000000.0
nan nan nan
$1 million $1 million 1000000.0
nan nan nan
$12 million $12 million 12000000.0
$1 million (estimated) $1 million 1000000.0
$46 million $46 million 46000000.0
nan nan nan
['$55', 'million', '[1]'] $55 million 55000000.0
nan nan nan
$3,500,000 $3,500,000 3500000.0
nan nan nan
nan nan nan
nan nan nan
$30 million $30 million 30000000.0
$15,000 (estimated) $15,000 15000.0
nan nan nan
$23 million $23 million 23000000.0
$20 million $20 million 20000000.0
nan nan nan
nan nan nan
nan nan nan
$12,000 $12,000 12000.0
nan nan nan
['$26', '[2]', '–34', '[3]', '[4]', 'million'] nan nan
$16 million $16 million 16000000.0
$700,000 $700,000 700000.0
nan nan nan
nan nan nan
$25 million $25 million 25000000.0
nan nan nan
nan nan nan
$45 million $45 million 45000000.0
$40 million $40 million 40000000.0
$25 million $25 million 25000000.0
nan nan nan
nan nan nan
nan nan nan
nan nan nan
$8,000,000 (approximately) $8,000,000 8000000.0
$45 million $45 million 45000000.0
$60 million $60 million 60000000.0
nan nan nan
nan nan nan
$20 million $20 million 20000000.0
nan nan nan
$8 million $8 million 8000000.0
nan nan nan
$7 million $7 million 7000000.0
$30 million $30 million 30000000.0
$60 million $60 million 60000000.0
nan nan nan
nan nan nan
$1.5 million $1.5 million 1500000.0
nan nan nan
nan nan nan
nan nan nan
$2.5 million $2.5 million 2500000.0
$30 million $30 million 30000000.0
nan nan nan
nan nan nan
$45 million $45 million 45000000.0
nan nan nan
$35 million $35 million 35000000.0
$20 million $20 million 20000000.0
nan nan nan
nan nan nan
$15 million $15 million 15000000.0
$60 million $60 million 60000000.0
nan nan nan
nan nan nan
$1,000,000 est. $1,000,000 1000000.0
$25 million $25 million 25000000.0
$45 million $45 million 45000000.0
$23 million $23 million 23000000.0
$75 million $75 million 75000000.0
$6 million $6 million 6000000.0
nan nan nan
nan nan nan
$20 million $20 million 20000000.0
nan nan nan
$630,000 $630,000 630000.0
$20 million $20 million 20000000.0
nan nan nan
nan nan nan
$7,000,000 $7,000,000 7000000.0
['$', '3,000'] $3,000 3000.0
nan nan nan
nan nan nan
$15 million $15 million 15000000.0
$30 million $30 million 30000000.0
nan nan nan
$34 million $34 million 34000000.0
['$24.5 million', '(equivalent to $41.41 million in 2018)', '[1]'] $41.41 million 41410000.0
$12 million $12 million 12000000.0
nan nan nan
nan nan nan
$20 million $20 million 20000000.0
$40 million $40 million 40000000.0
$50 million $50 million 50000000.0
nan nan nan
nan nan nan
nan nan nan
$8 million $8 million 8000000.0
$27 million $27 million 27000000.0
nan nan nan
nan nan nan
$4 million $4 million 4000000.0
nan nan nan
$2,500,000 $2,500,000 2500000.0
$10 million $10 million 10000000.0
nan nan nan
nan nan nan
$8–8.5 million $8 million 8000000.0
nan nan nan
nan nan nan
nan nan nan
$31 million $31 million 31000000.0
nan nan nan
$15 million $15 million 15000000.0
$20 million $20 million 20000000.0
nan nan nan
$11.5 million $11.5 million 11500000.0
$11 million $11 million 11000000.0
['$40,000,000', '(estimated)', '[1]'] $40,000,000 40000000.0
nan nan nan
$40 million $40 million 40000000.0
$45 million $45 million 45000000.0
$25 million $25 million 25000000.0
['$1,000,000', '[', 'citation needed', ']'] $1,000,000 1000000.0
nan nan nan
$30 million $30 million 30000000.0
nan nan nan
$22 million $22 million 22000000.0
nan nan nan
$20 million $20 million 20000000.0
nan nan nan
$5.7 million $5.7 million 5700000.0
$13 million $13 million 13000000.0
$40 million $40 million 40000000.0
nan nan nan
$25 million $25 million 25000000.0
$3 million $3 million 3000000.0
$30 million $30 million 30000000.0
nan nan nan
nan nan nan
nan nan nan
nan nan nan
$200,000 $200,000 200000.0
$45 million $45 million 45000000.0
$30 million $30 million 30000000.0
$30 million $30 million 30000000.0
nan nan nan
$35 million $35 million 35000000.0
$55 million $55 million 55000000.0
$35 million $35 million 35000000.0
nan nan nan
$10 million $10 million 10000000.0
$7.4 million $7.4 million 7400000.0
$21 million $21 million 21000000.0
$700,000 $700,000 700000.0
nan nan nan
$50 million $50 million 50000000.0
$600,000 $600,000 600000.0
nan nan nan
$10 million $10 million 10000000.0
$28 million $28 million 28000000.0
$150,000 (approx) $150,000 150000.0
nan nan nan
$27 million $27 million 27000000.0
nan nan nan
nan nan nan
nan nan nan
nan nan nan
nan nan nan
['$100', '[2]', '[3]', '–120', '[4]', 'million'] nan nan
nan nan nan
nan nan nan
nan nan nan
nan nan nan
$34 million $34 million 34000000.0
$8 million $8 million 8000000.0
nan nan nan
nan nan nan
nan nan nan
nan nan nan
nan nan nan
nan nan nan
nan nan nan
nan nan nan
$70 million $70 million 70000000.0
nan nan nan
$63 million $63 million 63000000.0
$3,883,000 $3,883,000 3883000.0
nan nan nan
$29.5 million $29.5 million 29500000.0
nan nan nan
nan nan nan
$30 million $30 million 30000000.0
nan nan nan
nan nan nan
nan nan nan
$62 million $62 million 62000000.0
nan nan nan
nan nan nan
$1.5 million $1.5 million 1500000.0
$52 million $52 million 52000000.0
$50 million $50 million 50000000.0
nan nan nan
nan nan nan
$30 million $30 million 30000000.0
$6.5 million $6.5 million 6500000.0
$19 million $19 million 19000000.0
nan nan nan
$31 million $31 million 31000000.0
nan nan nan
nan nan nan
$100 million $100 million 100000000.0
$2.5 million $2.5 million 2500000.0
$23 million $23 million 23000000.0
$12,000,000 $12,000,000 12000000.0
$10 million $10 million 10000000.0
nan nan nan
nan nan nan
nan nan nan
$2 million $2 million 2000000.0
nan nan nan
nan nan nan
$21 million $21 million 21000000.0
nan nan nan
$65–70 million $65 million 65000000.0
$22 million $22 million 22000000.0
$28,000 $28,000 28000.0
nan nan nan
nan nan nan
nan nan nan
$11 million $11 million 11000000.0
nan nan nan
nan nan nan
$40–50 million $40 million 40000000.0
$55 million $55 million 55000000.0
nan nan nan
nan nan nan
nan nan nan
nan nan nan
nan nan nan
$25 million $25 million 25000000.0
$12 million $12 million 12000000.0
nan nan nan
nan nan nan
$50 million $50 million 50000000.0
$20 million $20 million 20000000.0
nan nan nan
$53 million $53 million 53000000.0
$9 million $9 million 9000000.0
$4 million $4 million 4000000.0
$3 million $3 million 3000000.0
$98 million $98 million 98000000.0
$23 million $23 million 23000000.0
$9 million $9 million 9000000.0
$11 million $11 million 11000000.0
$10 million $10 million 10000000.0
nan nan nan
$7 million $7 million 7000000.0
$27 million $27 million 27000000.0
$90 million $90 million 90000000.0
$13 million $13 million 13000000.0
$25 million $25 million 25000000.0
$800,000 $800,000 800000.0
$8 million $8 million 8000000.0
$30 million $30 million 30000000.0
nan nan nan
nan nan nan
nan nan nan
nan nan nan
Unknown nan nan
nan nan nan
nan nan nan
$50 million (estimated) $50 million 50000000.0
$4 million $4 million 4000000.0
nan nan nan
$30 million $30 million 30000000.0
$55 million $55 million 55000000.0
nan nan nan
$15 million $15 million 15000000.0
$21 million $21 million 21000000.0
$4 million $4 million 4000000.0
$31 million $31 million 31000000.0
nan nan nan
$3.5 million $3.5 million 3500000.0
nan nan nan
nan nan nan
nan nan nan
nan nan nan
nan nan nan
nan nan nan
nan nan nan
$30 million $30 million 30000000.0
nan nan nan
$9 million $9 million 9000000.0
nan nan nan
nan nan nan
nan nan nan
$25 million $25 million 25000000.0
$2.8 million $2.8 million 2800000.0
$20 million $20 million 20000000.0
$5 million $5 million 5000000.0
nan nan nan
nan nan nan
$60 million $60 million 60000000.0
nan nan nan
nan nan nan
$2,500,000 US (est.) $2,500,000 2500000.0
$15 million (estimated) $15 million 15000000.0
nan nan nan
nan nan nan
['US$8,000,000', '(estimated)'] $8,000,000 8000000.0
$20 million $20 million 20000000.0
$10.5 million $10.5 million 10500000.0
$10 million $10 million 10000000.0
nan nan nan
$25 million $25 million 25000000.0
$2,000,000 $2,000,000 2000000.0
nan nan nan
$8 million $8 million 8000000.0
$250,000 (estimated) $250,000 250000.0
$45 million $45 million 45000000.0
HBO nan nan
nan nan nan
nan nan nan
nan nan nan
nan nan nan
$14 million $14 million 14000000.0
nan nan nan
$8 million $8 million 8000000.0
$26 million $26 million 26000000.0
nan nan nan
nan nan nan
$90 million $90 million 90000000.0
$65 million $65 million 65000000.0
$21 million $21 million 21000000.0
$27 million $27 million 27000000.0
$1.3 million $1.3 million 1300000.0
nan nan nan
nan nan nan
$1.5 million $1.5 million 1500000.0
$40 million $40 million 40000000.0
nan nan nan
nan nan nan
nan nan nan
$4 million $4 million 4000000.0
nan nan nan
nan nan nan
$17 million $17 million 17000000.0
nan nan nan
$500,000 $500,000 500000.0
nan nan nan
$14 million $14 million 14000000.0
$11 million $11 million 11000000.0
$17 million $17 million 17000000.0
nan nan nan
nan nan nan
nan nan nan
nan nan nan
nan nan nan
$6.1 million $6.1 million 6100000.0
$22 million $22 million 22000000.0
nan nan nan
nan nan nan
nan nan nan
nan nan nan
$6 million $6 million 6000000.0
nan nan nan
$15 million $15 million 15000000.0
$15 million $15 million 15000000.0
$68 million $68 million 68000000.0
nan nan nan
nan nan nan
$18 million $18 million 18000000.0
$31 million $31 million 31000000.0
$23 million $23 million 23000000.0
nan nan nan
$3.8 million $3.8 million 3800000.0
nan nan nan
nan nan nan
['$22 million', '[', 'citation needed', ']'] $22 million 22000000.0
$6.4 million $6.4 million 6400000.0
$5 million $5 million 5000000.0
nan nan nan
$6,000,000 $6,000,000 6000000.0
nan nan nan
nan nan nan
$44 million $44 million 44000000.0
nan nan nan
$12 million $12 million 12000000.0
$24 million $24 million 24000000.0
$11 million $11 million 11000000.0
nan nan nan
$50 million $50 million 50000000.0
nan nan nan
nan nan nan
nan nan nan
$150,000 (estimated) $150,000 150000.0
nan nan nan
nan nan nan
$28 million $28 million 28000000.0
$11,000,000 (estimated) $11,000,000 11000000.0
nan nan nan
nan nan nan
nan nan nan
nan nan nan
$55 million $55 million 55000000.0
$9.5 million $9.5 million 9500000.0
nan nan nan
nan nan nan
nan nan nan
$35 million $35 million 35000000.0
nan nan nan
nan nan nan
$19 million $19 million 19000000.0
£6,000,000 nan nan
$28 million $28 million 28000000.0
$22 million $22 million 22000000.0
nan nan nan
$50 million $50 million 50000000.0
nan nan nan
nan nan nan
nan nan nan
$46 million $46 million 46000000.0
$20 million $20 million 20000000.0
$16 million $16 million 16000000.0
$33 million $33 million 33000000.0
$45 million $45 million 45000000.0
nan nan nan
nan nan nan
nan nan nan
nan nan nan
nan nan nan
$7 million $7 million 7000000.0
nan nan nan
$30 million $30 million 30000000.0
$35 million $35 million 35000000.0
nan nan nan
13 million nan nan
nan nan nan
$42 million $42 million 42000000.0
$6.3 million $6.3 million 6300000.0
$35 million $35 million 35000000.0
nan nan nan
$6 million $6 million 6000000.0
$25 million $25 million 25000000.0
$33.5 million $33.5 million 33500000.0
$28 million $28 million 28000000.0
$8 million $8 million 8000000.0
$10 million $10 million 10000000.0
$14 million $14 million 14000000.0
$20 million $20 million 20000000.0
nan nan nan
nan nan nan
nan nan nan
$20 million $20 million 20000000.0
['$6 million', '[', 'citation needed', ']'] $6 million 6000000.0
$30 million $30 million 30000000.0
nan nan nan
$8 million $8 million 8000000.0
nan nan nan
$60 million $60 million 60000000.0
$6.5 million $6.5 million 6500000.0
nan nan nan

$6 million $6 million 6000000.0
nan nan nan
$22 million $22 million 22000000.0
$30 million $30 million 30000000.0
$16 million $16 million 16000000.0
$20 million $20 million 20000000.0
nan nan nan
$172–175 million $172 million 172000000.0
$800,000 $800,000 800000.0
$17 million $17 million 17000000.0
$7 million $7 million 7000000.0
nan nan nan
nan nan nan
$30 million $30 million 30000000.0
nan nan nan
$20 million $20 million 20000000.0
nan nan nan
nan nan nan
$75 million $75 million 75000000.0
nan nan nan
nan nan nan
$25 million $25 million 25000000.0
nan nan nan
$ 24,000,000 $24,000,000 24000000.0
nan nan nan
nan nan nan
nan nan nan
nan nan nan
nan nan nan
$25 million $25 million 25000000.0
nan nan nan
nan nan nan
nan nan nan
$7 million $7 million 7000000.0
$9 million $9 million 9000000.0
$3.3 million $3.3 million 3300000.0
nan nan nan
nan nan nan
nan nan nan
$12 million $12 million 12000000.0
nan nan nan
$35 million $35 million 35000000.0
nan nan nan
$15 million $15 million 15000000.0
$4.1 million $4.1 million 4099999.9999999995
$15 million $15 million 15000000.0
$31 million $31 million 31000000.0
nan nan nan
nan nan nan
$26 million $26 million 26000000.0
nan nan nan
$5 million $5 million 5000000.0
$6 million $6 million 6000000.0
nan nan nan
nan nan nan
nan nan nan
nan nan nan
£2.8 million nan nan
$7.5 million $7.5 million 7500000.0
$50 million $50 million 50000000.0
nan nan nan
nan nan nan
nan nan nan
nan nan nan
$47 million $47 million 47000000.0
nan nan nan
nan nan nan
nan nan nan
$17 million $17 million 17000000.0
nan nan nan
nan nan nan
$50 million $50 million 50000000.0
$50 million $50 million 50000000.0
nan nan nan
nan nan nan
nan nan nan
$3 million (estimated) $3 million 3000000.0
nan nan nan
nan nan nan
nan nan nan
nan nan nan
$46 million $46 million 46000000.0
$15 million $15 million 15000000.0
nan nan nan
nan nan nan
nan nan nan
$2.3 million $2.3 million 2300000.0
nan nan nan
nan nan nan
nan nan nan
$80 million $80 million 80000000.0
nan nan nan
nan nan nan
nan nan nan
nan nan nan
$22 million $22 million 22000000.0
$3,500,000 (estimated) $3,500,000 3500000.0
nan nan nan
nan nan nan
['$2,600,000', '[', 'citation needed', ']'] $2,600,000 2600000.0
$45 million $45 million 45000000.0
$3.8 million $3.8 million 3800000.0
nan nan nan
nan nan nan
$31 million $31 million 31000000.0
$57 million $57 million 57000000.0
nan nan nan
nan nan nan
$16 million $16 million 16000000.0
nan nan nan
$24 million $24 million 24000000.0
nan nan nan
$30 million $30 million 30000000.0
$7 million $7 million 7000000.0
nan nan nan
$27–31 million $27 million 27000000.0
nan nan nan
$100 million $100 million 100000000.0
$50 million $50 million 50000000.0
$20 million $20 million 20000000.0
$20 million $20 million 20000000.0
$55 million (equivalent to $87.86 million in 2018) $87.86 million 87860000.0
$55 million $55 million 55000000.0
$38 million $38 million 38000000.0
$20 million $20 million 20000000.0
nan nan nan
nan nan nan
$13 million $13 million 13000000.0
nan nan nan
$55 million $55 million 55000000.0
$7 million $7 million 7000000.0
$6.5 million $6.5 million 6500000.0
nan nan nan
nan nan nan
nan nan nan
$15 million $15 million 15000000.0
$30 million $30 million 30000000.0
$25 million $25 million 25000000.0
$25 million $25 million 25000000.0
$7 million $7 million 7000000.0
nan nan nan
nan nan nan
nan nan nan
nan nan nan
$3 million (est) $3 million 3000000.0
$26 million $26 million 26000000.0
$19 million $19 million 19000000.0
nan nan nan
$12,500,000 $12,500,000 12500000.0
nan nan nan
$4 million $4 million 4000000.0
$2,400,000 $2,400,000 2400000.0
nan nan nan
$45 million $45 million 45000000.0
$36 million $36 million 36000000.0
$12 million $12 million 12000000.0
nan nan nan
['$45 million', '[', 'citation needed', ']'] $45 million 45000000.0
nan nan nan
nan nan nan
$5 million $5 million 5000000.0
nan nan nan
$350,000 $350,000 350000.0
nan nan nan
$18 million $18 million 18000000.0
$12 million $12 million 12000000.0
$3 million $3 million 3000000.0
$12 million $12 million 12000000.0
$25,000,000 $25,000,000 25000000.0
nan nan nan
$4 million $4 million 4000000.0
nan nan nan
nan nan nan
nan nan nan
$5 million $5 million 5000000.0
$100 million $100 million 100000000.0
$50,000 $50,000 50000.0
nan nan nan
nan nan nan
nan nan nan
nan nan nan
$5 million $5 million 5000000.0
nan nan nan
nan nan nan
nan nan nan
$75 million $75 million 75000000.0
$1.4 million $1.4 million 1400000.0
$40 million $40 million 40000000.0
nan nan nan
$45 million $45 million 45000000.0
$38 million $38 million 38000000.0
nan nan nan
$50 million $50 million 50000000.0
$75 million $75 million 75000000.0
$13 million $13 million 13000000.0
nan nan nan
$44 million $44 million 44000000.0
$3 million $3 million 3000000.0
$19 million $19 million 19000000.0
$20 million $20 million 20000000.0
$25 million $25 million 25000000.0
nan nan nan
nan nan nan
$30 million $30 million 30000000.0
nan nan nan
nan nan nan
$67 million $67 million 67000000.0
nan nan nan
$15 million $15 million 15000000.0
nan nan nan
nan nan nan
nan nan nan
$7 million $7 million 7000000.0
$3 million $3 million 3000000.0
$65 million $65 million 65000000.0
nan nan nan
nan nan nan
nan nan nan
$8 million $8 million 8000000.0
nan nan nan
nan nan nan
nan nan nan
$500,000 $500,000 500000.0
$70 million $70 million 70000000.0
$23 million $23 million 23000000.0
$47 million $47 million 47000000.0
$36 million $36 million 36000000.0
$25 million $25 million 25000000.0
nan nan nan
nan nan nan
nan nan nan
$25 million $25 million 25000000.0
$42 million $42 million 42000000.0
$80 million $80 million 80000000.0
nan nan nan
nan nan nan
$6 million $6 million 6000000.0
nan nan nan
$19 million $19 million 19000000.0
$11,000,000 $11,000,000 11000000.0
$25 million $25 million 25000000.0
$29 million $29 million 29000000.0
$45 million $45 million 45000000.0
$31 million $31 million 31000000.0
$21.5 million $21.5 million 21500000.0
nan nan nan
nan nan nan
nan nan nan
$54 million $54 million 54000000.0
nan nan nan
nan nan nan
nan nan nan
$5 million $5 million 5000000.0
nan nan nan
nan nan nan
$35 million $35 million 35000000.0
$45 million $45 million 45000000.0
nan nan nan
$32 million (est.) $32 million 32000000.0
nan nan nan
nan nan nan
nan nan nan
nan nan nan
nan nan nan
$30 million $30 million 30000000.0
nan nan nan
nan nan nan
$160,000 USD $160,000 160000.0
nan nan nan
nan nan nan
$70 million $70 million 70000000.0
nan nan nan
$3,000,000 (estimated) $3,000,000 3000000.0
nan nan nan
$75 million $75 million 75000000.0
$14.5 million $14.5 million 14500000.0
nan nan nan
nan nan nan
nan nan nan
nan nan nan
$250,000 $250,000 250000.0
$14-15 million $14 million 14000000.0
$9 million $9 million 9000000.0
$39 million $39 million 39000000.0
nan nan nan
$3 million $3 million 3000000.0
nan nan nan
$9,000,000 $9,000,000 9000000.0
nan nan nan
$44 million $44 million 44000000.0
$1 million $1 million 1000000.0
nan nan nan
$19 million $19 million 19000000.0
nan nan nan
$80 million $80 million 80000000.0
$25,000,000 $25,000,000 25000000.0
nan nan nan
$6,000,000 (estimated) $6,000,000 6000000.0
$18 million $18 million 18000000.0
$45 million $45 million 45000000.0
nan nan nan
nan nan nan
nan nan nan
$50 million $50 million 50000000.0
$25 million $25 million 25000000.0
nan nan nan
$31 million $31 million 31000000.0
nan nan nan
$16 million $16 million 16000000.0
CAD2,000,000 nan nan
nan nan nan
$200,000 $200,000 200000.0
nan nan nan
nan nan nan
$26 million $26 million 26000000.0
$8,000,000 $8,000,000 8000000.0
$14 million $14 million 14000000.0
$40 million $40 million 40000000.0
$45 million $45 million 45000000.0
$13,000,000 (estimated) $13,000,000 13000000.0
nan nan nan
nan nan nan
nan nan nan
$375,000 $375,000 375000.0
nan nan nan
nan nan nan
$1.3 million $1.3 million 1300000.0
$4 million $4 million 4000000.0
$8 million $8 million 8000000.0
nan nan nan
$350,000 $350,000 350000.0
nan nan nan
nan nan nan
nan nan nan
$92 million $92 million 92000000.0
$24 million $24 million 24000000.0
['$18 million', '[', 'citation needed', ']'] $18 million 18000000.0
nan nan nan
$4,000,000 (estimated) $4,000,000 4000000.0
$60 million $60 million 60000000.0
$15 million $15 million 15000000.0
$1,000,000 $1,000,000 1000000.0
$3 million $3 million 3000000.0
$300,000 $300,000 300000.0
nan nan nan
nan nan nan
nan nan nan
$38 million $38 million 38000000.0
$1,300,000 $1,300,000 1300000.0
nan nan nan
nan nan nan
nan nan nan
nan nan nan
nan nan nan
nan nan nan
$1.75 million $1.75 million 1750000.0
['$', '15,000,000 (estimated)'] $15,000,000 15000000.0
nan nan nan
nan nan nan
$3 million $3 million 3000000.0
['$4,000,000 (', 'NZD', ')'] $4,000,000 4000000.0
$50 million $50 million 50000000.0
nan nan nan
nan nan nan
nan nan nan
$85 million $85 million 85000000.0
nan nan nan
nan nan nan
$6 million $6 million 6000000.0
$60–75 million $60 million 60000000.0
nan nan nan
nan nan nan
nan nan nan
$10 million $10 million 10000000.0
$25 million $25 million 25000000.0
$36 million $36 million 36000000.0
$45 million $45 million 45000000.0
$50 million $50 million 50000000.0
nan nan nan
nan nan nan
$5 million $5 million 5000000.0
$50 million $50 million 50000000.0
nan nan nan
nan nan nan
$16.5 million $16.5 million 16500000.0
['$10,000,000', '[', 'citation needed', ']'] $10,000,000 10000000.0
nan nan nan
$160 million $160 million 160000000.0
$18 million $18 million 18000000.0
$16 million $16 million 16000000.0
nan nan nan

nan nan nan
nan nan nan
$4 million $4 million 4000000.0
$100,000 $100,000 100000.0
$18 million $18 million 18000000.0
nan nan nan
nan nan nan
nan nan nan
nan nan nan
$1,000,000 $1,000,000 1000000.0
nan nan nan
$15 million $15 million 15000000.0
$7,000,000 $7,000,000 7000000.0
$4.7 million $4.7 million 4700000.0
nan nan nan
$6 million $6 million 6000000.0
$36 million $36 million 36000000.0
nan nan nan
nan nan nan
nan nan nan
$19 million $19 million 19000000.0
nan nan nan
nan nan nan
nan nan nan
nan nan nan
$32 million $32 million 32000000.0
$250,000 $250,000 250000.0
nan nan nan
nan nan nan
nan nan nan
$8 million $8 million 8000000.0
nan nan nan
$5 million $5 million 5000000.0
nan nan nan
$75 million $75 million 75000000.0
$80 million $80 million 80000000.0
$90 million $90 million 90000000.0
$15 million $15 million 15000000.0
nan nan nan
nan nan nan
$8,500,000 $8,500,000 8500000.0
$28 million $28 million 28000000.0
$116 million $116 million 116000000.0
$20,000,000 $20,000,000 20000000.0
$12 million $12 million 12000000.0
nan nan nan
nan nan nan
nan nan nan
$57 million $57 million 57000000.0
nan nan nan
nan nan nan
$35 million $35 million 35000000.0
['$30 million', '[', 'citation needed', ']'] $30 million 30000000.0
nan nan nan
nan nan nan
nan nan nan
nan nan nan
nan nan nan
$5 million $5 million 5000000.0
nan nan nan
$3 million $3 million 3000000.0
$60 million $60 million 60000000.0
nan nan nan
$20 million $20 million 20000000.0
$80 million $80 million 80000000.0
nan nan nan
nan nan nan
nan nan nan
$85 million $85 million 85000000.0
$25 million $25 million 25000000.0
['$90 million', '[4]', '[5]', '[6]', '[7]', '[a]'] $90 million 90000000.0
nan nan nan
nan nan nan
nan nan nan
nan nan nan
nan nan nan
$80 million $80 million 80000000.0
nan nan nan
$20 million $20 million 20000000.0
$35 million $35 million 35000000.0
nan nan nan
nan nan nan
$50 million $50 million 50000000.0
$70 million $70 million 70000000.0
nan nan nan
$36 million $36 million 36000000.0
nan nan nan
$55 million $55 million 55000000.0
nan nan nan
nan nan nan
$15 million $15 million 15000000.0
nan nan nan
$53 million $53 million 53000000.0
$8.5 million $8.5 million 8500000.0
$10 million $10 million 10000000.0
['PHP', '85 million (estimated)'] nan nan
$5 million $5 million 5000000.0
$15 million $15 million 15000000.0
nan nan nan
nan nan nan
$65,000 $65,000 65000.0
nan nan nan
$85 million $85 million 85000000.0
nan nan nan
nan nan nan
$32 million $32 million 32000000.0
$7 million $7 million 7000000.0
$30 million $30 million 30000000.0
$1,500,000 $1,500,000 1500000.0
nan nan nan
nan nan nan
$17 million $17 million 17000000.0
$250,000 $250,000 250000.0
nan nan nan
$18 million $18 million 18000000.0
$35 million $35 million 35000000.0
$250,000 $250,000 250000.0
nan nan nan
nan nan nan
nan nan nan
nan nan nan
nan nan nan
nan nan nan
$60 million $60 million 60000000.0
$12 million $12 million 12000000.0
nan nan nan
$32 million $32 million 32000000.0
nan nan nan
nan nan nan
102,888,900 nan nan
nan nan nan
nan nan nan
nan nan nan
$27 million $27 million 27000000.0
3,500,000 DM nan nan
$20 million $20 million 20000000.0
$28 million $28 million 28000000.0
$35 million $35 million 35000000.0
nan nan nan
nan nan nan
$4,000,000 (estimated) $4,000,000 4000000.0
$8,000,000 (Estimated) $8,000,000 8000000.0
$15 million $15 million 15000000.0
$3 million $3 million 3000000.0
$45 million $45 million 45000000.0
nan nan nan
$12 million $12 million 12000000.0
nan nan nan
nan nan nan
$62 million $62 million 62000000.0
nan nan nan
$73 million $73 million 73000000.0
['$', '10,000,000 (approximately)'] $10,000,000 10000000.0
₤2,300,874 nan nan
$2 million $2 million 2000000.0
nan nan nan
nan nan nan
$50 million $50 million 50000000.0
$20 million $20 million 20000000.0
nan nan nan
nan nan nan
$42 million $42 million 42000000.0
nan nan nan
nan nan nan
nan nan nan
$90 million $90 million 90000000.0
$2.3 million $2.3 million 2300000.0
$55 million $55 million 55000000.0
nan nan nan
$30 million $30 million 30000000.0
nan nan nan
$25 million $25 million 25000000.0
$30 million $30 million 30000000.0
$25 million $25 million 25000000.0
$38 million $38 million 38000000.0
$40-50 million $40 million 40000000.0
$38 million $38 million 38000000.0
$2 million $2 million 2000000.0
nan nan nan
nan nan nan
nan nan nan
nan nan nan
$5,765,562 $5,765,562 5765562.0
nan nan nan
nan nan nan
$25 million $25 million 25000000.0
nan nan nan
nan nan nan
nan nan nan
nan nan nan
nan nan nan
nan nan nan
nan nan nan
$20 million (estimated) $20 million 20000000.0
$23 million $23 million 23000000.0
nan nan nan
A$16 million $16 million 16000000.0
$33 million $33 million 33000000.0
nan nan nan
$19 million $19 million 19000000.0
$50 million $50 million 50000000.0
nan nan nan
US$17,000,000 (estimated) $17,000,000 17000000.0
$19 million $19 million 19000000.0
$12,000,000 $12,000,000 12000000.0
nan nan nan
nan nan nan
$80 million $80 million 80000000.0
nan nan nan
$8 million $8 million 8000000.0
$28 million $28 million 28000000.0
nan nan nan
$4,000,000 (estimated) $4,000,000 4000000.0
nan nan nan
$40 million $40 million 40000000.0
$48 million $48 million 48000000.0
['$60 million', '[1]', 'or $40 million', '[2]'] $40 million 40000000.0
nan nan nan
nan nan nan
$16 million $16 million 16000000.0
nan nan nan
$30 million $30 million 30000000.0
$19 million $19 million 19000000.0
nan nan nan
nan nan nan
$68 million $68 million 68000000.0
nan nan nan
$24 million $24 million 24000000.0
nan nan nan
$20 million $20 million 20000000.0
$70 million $70 million 70000000.0
$45 million $45 million 45000000.0
$18 million $18 million 18000000.0
nan nan nan
$28 million $28 million 28000000.0
nan nan nan
$11 million $11 million 11000000.0
$18 million $18 million 18000000.0
$26 million $26 million 26000000.0
$7.5 million $7.5 million 7500000.0
nan nan nan
$50,000 $50,000 50000.0
$10 million $10 million 10000000.0
$45 million $45 million 45000000.0
['$110 million', '(official)', '$135–160 million', '(estimated)', '[2]'] $110 million 110000000.0
nan nan nan
$12 million $12 million 12000000.0
$105 million $105 million 105000000.0
$16 million $16 million 16000000.0
nan nan nan
$5 million $5 million 5000000.0
nan nan nan
nan nan nan
nan nan nan
nan nan nan
$38 million $38 million 38000000.0
$4 million $4 million 4000000.0
nan nan nan
$35 million $35 million 35000000.0
nan nan nan
nan nan nan
$10 million $10 million 10000000.0
$200 million $200 million 200000000.0
nan nan nan
nan nan nan
nan nan nan
nan nan nan
nan nan nan
nan nan nan
$375,000 (estimated) $375,000 375000.0
$25 million $25 million 25000000.0
$15,000,000 $15,000,000 15000000.0
nan nan nan
nan nan nan
$55 million $55 million 55000000.0
$150,000 (estimated) $150,000 150000.0
$19 million (estimated) $19 million 19000000.0
$2.7 million $2.7 million 2700000.0
nan nan nan
nan nan nan
$25 million $25 million 25000000.0
nan nan nan
$90 million $90 million 90000000.0
nan nan nan
$15 million $15 million 15000000.0
$4 million $4 million 4000000.0
$35 million $35 million 35000000.0
$15 million $15 million 15000000.0
nan nan nan
$9 million $9 million 9000000.0
nan nan nan
$46 million $46 million 46000000.0
nan nan nan
nan nan nan
$5,000,000 $5,000,000 5000000.0
nan nan nan
nan nan nan
nan nan nan
nan nan nan
nan nan nan
$60,000 (est) $60,000 60000.0
$13 million $13 million 13000000.0
nan nan nan
nan nan nan
$30 million $30 million 30000000.0
nan nan nan
$20 million $20 million 20000000.0
$4,500,000 $4,500,000 4500000.0
['US$', '42', '[5]', '[6]', '–105 million', '[7]', '[8]'] nan nan
$14 million $14 million 14000000.0
$140 million $140 million 140000000.0
$12 million (estimate) $12 million 12000000.0
$60 million $60 million 60000000.0
nan nan nan
$90 million $90 million 90000000.0
$23 million $23 million 23000000.0
$3 million $3 million 3000000.0
$80 million $80 million 80000000.0
$13 million $13 million 13000000.0
$15 million $15 million 15000000.0
nan nan nan
nan nan nan
$45 million $45 million 45000000.0
$31 million $31 million 31000000.0
nan nan nan
$25 million $25 million 25000000.0
$600,000 $600,000 600000.0
nan nan nan
$1.5 million $1.5 million 1500000.0
$120 million $120 million 120000000.0
$30 million $30 million 30000000.0
$10 million $10 million 10000000.0
$6.4 million $6.4 million 6400000.0
nan nan nan
$12 million $12 million 12000000.0
$10 million $10 million 10000000.0
$55 million $55 million 55000000.0
$75 million $75 million 75000000.0
$8 million $8 million 8000000.0
nan nan nan
$250,000 $250,000 250000.0
$1,000,000 $1,000,000 1000000.0
nan nan nan
nan nan nan
nan nan nan
['$8 million', '(estimated)'] $8 million 8000000.0
$27 million $27 million 27000000.0
$14 million $14 million 14000000.0
$80 million $80 million 80000000.0
$45 million $45 million 45000000.0
nan nan nan
['$1,800,000', '[', 'citation needed', ']'] $1,800,000 1800000.0
nan nan nan
$50 million $50 million 50000000.0
nan nan nan
$13 million $13 million 13000000.0
US$15 million $15 million 15000000.0
$70.5 million $70.5 million 70500000.0
nan nan nan
$3.5 million $3.5 million 3500000.0
$1.5 million $1.5 million 1500000.0
nan nan nan
$90 million $90 million 90000000.0
$26 million $26 million 26000000.0
$15 million $15 million 15000000.0
$46 million $46 million 46000000.0
nan nan nan
$18.5 million $18.5 million 18500000.0
nan nan nan
$19 million $19 million 19000000.0
$25 million $25 million 25000000.0
$10 million $10 million 10000000.0
$130–150 million $130 million 130000000.0
$20 million $20 million 20000000.0
$25 million $25 million 25000000.0
nan nan nan
$8 million $8 million 8000000.0
$17 million $17 million 17000000.0
$2.2 million $2.2 million 2200000.0
$70 million $70 million 70000000.0
$25 million $25 million 25000000.0
nan nan nan
nan nan nan
nan nan nan
$60 million $60 million 60000000.0
$15 million $15 million 15000000.0
nan nan nan
$30 million $30 million 30000000.0
$60 million $60 million 60000000.0
$20 million $20 million 20000000.0
nan nan nan
$5 million $5 million 5000000.0
nan nan nan
$3.5 million $3.5 million 3500000.0
$24 million $24 million 24000000.0
$30 million $30 million 30000000.0
nan nan nan
nan nan nan
$85 million $85 million 85000000.0
$10 million $10 million 10000000.0
$4.5 million $4.5 million 4500000.0
$250,000 $250,000 250000.0
$19 million $19 million 19000000.0
$35 million $35 million 35000000.0
nan nan nan
nan nan nan
$8 million $8 million 8000000.0
nan nan nan
nan nan nan
nan nan nan
$100–150 million $100 million 100000000.0
nan nan nan
$20 million $20 million 20000000.0
$80 million $80 million 80000000.0
nan nan nan
nan nan nan
$18 million $18 million 18000000.0
$35 million $35 million 35000000.0
$95 million $95 million 95000000.0
$90 million $90 million 90000000.0
$24 million $24 million 24000000.0
nan nan nan
$60 million $60 million 60000000.0
$90 million $90 million 90000000.0
nan nan nan
nan nan nan
$4,000,000 (estimated) $4,000,000 4000000.0
$11 million $11 million 11000000.0
$90 million $90 million 90000000.0
nan nan nan
nan nan nan
nan nan nan
$50 million $50 million 50000000.0
nan nan nan
$27 million $27 million 27000000.0
['US$', '1 million'] $1 million 1000000.0
$17 million $17 million 17000000.0
$5 million $5 million 5000000.0
$15 million $15 million 15000000.0
nan nan nan
nan nan nan
nan nan nan
$30 million $30 million 30000000.0
$5 million $5 million 5000000.0
$48 million $48 million 48000000.0
nan nan nan
$10 million $10 million 10000000.0
nan nan nan
$15 million $15 million 15000000.0
$90 million $90 million 90000000.0
$6 million $6 million 6000000.0
nan nan nan
$60 million $60 million 60000000.0
nan nan nan
$650,000 $650,000 650000.0
nan nan nan
nan nan nan
$60,927 $60,927 60927.0
$5 million $5 million 5000000.0
$14 milion nan nan
$60 million $60 million 60000000.0
nan nan nan
['$75 million', '[', 'citation needed', ']'] $75 million 75000000.0
nan nan nan
$65 million $65 million 65000000.0
$70 million $70 million 70000000.0
$60 million $60 million 60000000.0
$40 million $40 million 40000000.0
nan nan nan
nan nan nan
nan nan nan
$30 million $30 million 30000000.0
nan nan nan
nan nan nan
nan nan nan
nan nan nan
$20 million $20 million 20000000.0
$55 million $55 million 55000000.0
$12 million $12 million 12000000.0
$10 million $10 million 10000000.0
$24 million $24 million 24000000.0
$33-35 million $33 million 33000000.0
$10 million $10 million 10000000.0
$1 million $1 million 1000000.0
$70 million $70 million 70000000.0
['USD$', '10,000,000 (est.)'] $10,000,000 10000000.0
['$15 million', '[', 'citation needed', ']'] $15 million 15000000.0
nan nan nan
$25 million $25 million 25000000.0
$70 million $70 million 70000000.0
$20 million $20 million 20000000.0
$17 million $17 million 17000000.0

nan nan nan
$70 million $70 million 70000000.0
['$2 million', 'USD', '[1]'] $2 million 2000000.0
nan nan nan
nan nan nan
$5 million $5 million 5000000.0
$40 million $40 million 40000000.0
$2,000,000 (est.) $2,000,000 2000000.0
$73 million $73 million 73000000.0
$60 million $60 million 60000000.0
nan nan nan
nan nan nan
$35 million $35 million 35000000.0
$73–80 million $73 million 73000000.0
$25 million $25 million 25000000.0
$70 million $70 million 70000000.0
$50 million $50 million 50000000.0
$1.1 million $1.1 million 1100000.0
$20 million $20 million 20000000.0
['$23', 'million', '[2]'] $23 million 23000000.0
nan nan nan
$52 million $52 million 52000000.0
$60 million $60 million 60000000.0
$20 million $20 million 20000000.0
$45 million $45 million 45000000.0
$14 million $14 million 14000000.0
$20 million $20 million 20000000.0
$30 million $30 million 30000000.0
$23 million $23 million 23000000.0
$18 million $18 million 18000000.0
$85-90 million $85 million 85000000.0
nan nan nan
$6 million $6 million 6000000.0
$20 million $20 million 20000000.0
$25 million $25 million 25000000.0
$13 million $13 million 13000000.0
['$30 million', '[', 'citation needed', ']'] $30 million 30000000.0
$66 million $66 million 66000000.0
$5 million $5 million 5000000.0
$65 million $65 million 65000000.0
$5 million $5 million 5000000.0
US$16 million $16 million 16000000.0
$85–160 million $85 million 85000000.0
$6 million $6 million 6000000.0
nan nan nan
$40 million $40 million 40000000.0
$26 million $26 million 26000000.0
$15 million $15 million 15000000.0
nan nan nan
$11 million $11 million 11000000.0
$30-80 million $30 million 30000000.0
nan nan nan
$23 million $23 million 23000000.0
$92 million $92 million 92000000.0
nan nan nan
$55 million $55 million 55000000.0
$23 million $23 million 23000000.0
$31 million $31 million 31000000.0
$75 million $75 million 75000000.0
$60 million $60 million 60000000.0
nan nan nan
$33 million $33 million 33000000.0
$12 million $12 million 12000000.0
$21 million $21 million 21000000.0
$5.25 million $5.25 million 5250000.0
$13 million $13 million 13000000.0
$1,000,000 $1,000,000 1000000.0
$20 million (estimated) $20 million 20000000.0
$7 million $7 million 7000000.0
$9 million $9 million 9000000.0
$500,000 $500,000 500000.0
$100 million $100 million 100000000.0
$34.2 million $34.2 million 34200000.0
$7 million $7 million 7000000.0
$12 million $12 million 12000000.0
$60,000 $60,000 60000.0
$35 million $35 million 35000000.0
$36 million $36 million 36000000.0
$48 million $48 million 48000000.0
$6 million $6 million 6000000.0
$55 million $55 million 55000000.0
$2 million $2 million 2000000.0
$12 million $12 million 12000000.0
$55 million $55 million 55000000.0
$25 million $25 million 25000000.0
$1 million $1 million 1000000.0
$34 million $34 million 34000000.0
nan nan nan
$24 million $24 million 24000000.0
nan nan nan
$25 million $25 million 25000000.0
$36 million $36 million 36000000.0
$15 million $15 million 15000000.0
nan nan nan
$10.5 million $10.5 million 10500000.0
$82 million $82 million 82000000.0
['$', '38 million', '[1]'] $38 million 38000000.0
$800,000 $800,000 800000.0
$17 million $17 million 17000000.0
$17 million $17 million 17000000.0
$13 million $13 million 13000000.0
$500,000 $500,000 500000.0
$7 million $7 million 7000000.0
$10 million $10 million 10000000.0
$40 million $40 million 40000000.0
$10–15 million $10 million 10000000.0
$70 million $70 million 70000000.0
$80 million $80 million 80000000.0
$25 million $25 million 25000000.0
$100 million $100 million 100000000.0
$66 million $66 million 66000000.0
nan nan nan
['CAD$', '31 million', '(', 'USD$', '15 million', '[2]', ')'] $31 million 31000000.0
$35 million $35 million 35000000.0
$65 million $65 million 65000000.0
$80–$85 million $85 million 85000000.0
$63 million $63 million 63000000.0
$15 million $15 million 15000000.0
nan nan nan
$75 million $75 million 75000000.0
nan nan nan
$45 million $45 million 45000000.0
$95 million $95 million 95000000.0
$2 million $2 million 2000000.0
$40 million $40 million 40000000.0
$30 million $30 million 30000000.0
$20 million $20 million 20000000.0
$60 million $60 million 60000000.0
['US$', '2,600,000'] $2,600,000 2600000.0
$1.75 million $1.75 million 1750000.0
$80 million $80 million 80000000.0
nan nan nan
$8 million $8 million 8000000.0
nan nan nan
$19 million $19 million 19000000.0
$50 million $50 million 50000000.0
₤6,350,000 nan nan
$25 million $25 million 25000000.0
$7 million $7 million 7000000.0
$68 million $68 million 68000000.0
$90 million $90 million 90000000.0
$80 million $80 million 80000000.0
$70–80 million $70 million 70000000.0
$45 million $45 million 45000000.0
$3.5 million $3.5 million 3500000.0
nan nan nan
nan nan nan
$12 million $12 million 12000000.0
nan nan nan
$25 million $25 million 25000000.0
~ US$6,000,000 $6,000,000 6000000.0
nan nan nan
$27–35 million $27 million 27000000.0
$11 million $11 million 11000000.0
$80 million $80 million 80000000.0
$13 million $13 million 13000000.0
$10 million $10 million 10000000.0
$30 million $30 million 30000000.0
$20 million $20 million 20000000.0
$4 million $4 million 4000000.0
nan nan nan
nan nan nan
$37 million $37 million 37000000.0
nan nan nan
$52–82 million $52 million 52000000.0
nan nan nan
nan nan nan
$63 million $63 million 63000000.0
$80 million $80 million 80000000.0
$60 million $60 million 60000000.0
$75 million $75 million 75000000.0
$11 million $11 million 11000000.0
nan nan nan
$50 million $50 million 50000000.0
nan nan nan
$28 million $28 million 28000000.0
$80 million $80 million 80000000.0
$24 million $24 million 24000000.0
$15 million $15 million 15000000.0
$27 million $27 million 27000000.0
$65 million $65 million 65000000.0
nan nan nan
$28 million $28 million 28000000.0
$68 million $68 million 68000000.0
['$', '25 million', '[1]'] $25 million 25000000.0
$38 million $38 million 38000000.0
nan nan nan
$42 million $42 million 42000000.0
$25 million $25 million 25000000.0
$10 million $10 million 10000000.0
$7.2 million $7.2 million 7200000.0
nan nan nan
$35 million $35 million 35000000.0
nan nan nan
nan nan nan
nan nan nan
nan nan nan
$90 million $90 million 90000000.0
$24 million $24 million 24000000.0
$33 million $33 million 33000000.0
$21 million $21 million 21000000.0
$64 million $64 million 64000000.0
$12 million $12 million 12000000.0
nan nan nan
nan nan nan
$70 million $70 million 70000000.0
nan nan nan
$7-10 million $7 million 7000000.0
$10 million $10 million 10000000.0
$6 million $6 million 6000000.0
$40 million $40 million 40000000.0
$70–100 million $70 million 70000000.0
nan nan nan
$35,000,000 $35,000,000 35000000.0
$21 million $21 million 21000000.0
$1,000,000 $1,000,000 1000000.0
$115 million $115 million 115000000.0
$29 million $29 million 29000000.0
$12 million $12 million 12000000.0
$1,500,000 $1,500,000 1500000.0
$50 million $50 million 50000000.0
$10 million $10 million 10000000.0
['$105 million', '[4]', '– $133 million', '[5]'] $133 million 133000000.0
$22 million $22 million 22000000.0
$14 million $14 million 14000000.0
nan nan nan
$40 million $40 million 40000000.0
$130 million $130 million 130000000.0
$13 million $13 million 13000000.0
nan nan nan
nan nan nan
$16 million $16 million 16000000.0
nan nan nan
$48 million $48 million 48000000.0
$48 million $48 million 48000000.0
$20 million $20 million 20000000.0
$25 million $25 million 25000000.0
$90 million $90 million 90000000.0
$55 million $55 million 55000000.0
$312,000 $312,000 312000.0
$500,000 $500,000 500000.0
$40-45 million $40 million 40000000.0
$16 million $16 million 16000000.0
$6.1 million $6.1 million 6100000.0
$75 million $75 million 75000000.0
$8,547 $8,547 8547.0
nan nan nan
$14 million $14 million 14000000.0
$4.5 million $4.5 million 4500000.0
nan nan nan
nan nan nan
$170 million $170 million 170000000.0
$30 million $30 million 30000000.0
nan nan nan
nan nan nan
nan nan nan
$6 million $6 million 6000000.0
$85 million $85 million 85000000.0
$43 million $43 million 43000000.0
$3.4 million $3.4 million 3400000.0
$82 million $82 million 82000000.0
nan nan nan
nan nan nan
$76 million $76 million 76000000.0
$57 million $57 million 57000000.0
$60 million $60 million 60000000.0
$7 million $7 million 7000000.0
nan nan nan
$60 million $60 million 60000000.0
$65 million $65 million 65000000.0
$51 million $51 million 51000000.0
$10 million $10 million 10000000.0
$73 million $73 million 73000000.0
$50 million $50 million 50000000.0
nan nan nan
$14 million $14 million 14000000.0
$15 million $15 million 15000000.0
$48 million $48 million 48000000.0
$20 million $20 million 20000000.0
$10 million $10 million 10000000.0
$30 million $30 million 30000000.0
nan nan nan
$65 million $65 million 65000000.0
$7 million $7 million 7000000.0
$15 million $15 million 15000000.0
$35 million $35 million 35000000.0
['$35 million', '[1]', 'or $30 million', '[2]'] $30 million 30000000.0
$11 million $11 million 11000000.0
$1 million $1 million 1000000.0
nan nan nan
$90 million $90 million 90000000.0
nan nan nan
$33 million $33 million 33000000.0
$29 million $29 million 29000000.0
$93 million $93 million 93000000.0
$14 million $14 million 14000000.0
nan nan nan
$25 million $25 million 25000000.0
nan nan nan
$20 million $20 million 20000000.0
$45 million $45 million 45000000.0
$38 million $38 million 38000000.0
nan nan nan
$5 million $5 million 5000000.0
$127.5 million $127.5 million 127500000.0
$35 million $35 million 35000000.0
$23 million $23 million 23000000.0
$54 million $54 million 54000000.0
$37 million $37 million 37000000.0
$13 million $13 million 13000000.0
$21 million $21 million 21000000.0
$45 million $45 million 45000000.0
$100 million $100 million 100000000.0
$52 million $52 million 52000000.0
$14 million $14 million 14000000.0
nan nan nan
$60 million $60 million 60000000.0
$43 million $43 million 43000000.0
$83 million $83 million 83000000.0
nan nan nan
$31 million $31 million 31000000.0
$63.6 million $63.6 million 63600000.0
$10 million $10 million 10000000.0
nan nan nan
$1 million $1 million 1000000.0
$103 million $103 million 103000000.0
$15 million $15 million 15000000.0
$90 million $90 million 90000000.0
$24 million $24 million 24000000.0
$14 million $14 million 14000000.0
nan nan nan
$40 million $40 million 40000000.0
$15 million $15 million 15000000.0
$30 million $30 million 30000000.0
$25 million $25 million 25000000.0
$95 million $95 million 95000000.0
nan nan nan
$123 million $123 million 123000000.0
$7,300 $7,300 7300.0
$50 million $50 million 50000000.0
nan nan nan
$13 million $13 million 13000000.0
nan nan nan
$44 million $44 million 44000000.0
$136,000 $136,000 136000.0
nan nan nan
nan nan nan
$29 million $29 million 29000000.0
$65 million $65 million 65000000.0
$3.1 million $3.1 million 3100000.0
nan nan nan
nan nan nan
$80 million $80 million 80000000.0
$85 million $85 million 85000000.0
$35 million $35 million 35000000.0
nan nan nan
$20 million $20 million 20000000.0
$50 million $50 million 50000000.0
$20 million $20 million 20000000.0
$63 million $63 million 63000000.0
nan nan nan
$51 million $51 million 51000000.0
$55 million $55 million 55000000.0
$9 million $9 million 9000000.0
$32 million $32 million 32000000.0
$600,000 $600,000 600000.0
$8 million (est.) $8 million 8000000.0
$45 million $45 million 45000000.0
$100 million $100 million 100000000.0
$125 million $125 million 125000000.0
$4.5 million $4.5 million 4500000.0
nan nan nan
$25 million $25 million 25000000.0
$11 million $11 million 11000000.0
nan nan nan
$84 million $84 million 84000000.0
$35 million $35 million 35000000.0
$26 million $26 million 26000000.0
nan nan nan
$13 million $13 million 13000000.0
nan nan nan
['$', '3 million (est.)'] $3 million 3000000.0
$12,000,000 $12,000,000 12000000.0
$110 million $110 million 110000000.0
$40 million $40 million 40000000.0
$120 million $120 million 120000000.0
nan nan nan
$23 million $23 million 23000000.0
nan nan nan
nan nan nan
$18 million $18 million 18000000.0
nan nan nan
$65 million $65 million 65000000.0
$1.5 million $1.5 million 1500000.0
$13.5 million $13.5 million 13500000.0
$24 million $24 million 24000000.0
$80 million $80 million 80000000.0
$42 million $42 million 42000000.0
$30 million $30 million 30000000.0
$50 million $50 million 50000000.0
$4.5 million $4.5 million 4500000.0
$24 million $24 million 24000000.0
$95 million $95 million 95000000.0
$16 million $16 million 16000000.0
$25 million $25 million 25000000.0
$30 million $30 million 30000000.0
$60 million $60 million 60000000.0
nan nan nan
nan nan nan
$19 million $19 million 19000000.0
nan nan nan
$40 million $40 million 40000000.0
$10 million $10 million 10000000.0
nan nan nan
$4.3 million $4.3 million 4300000.0
$8 million $8 million 8000000.0
$46 million $46 million 46000000.0
$55 million $55 million 55000000.0
$5 million $5 million 5000000.0
$15 million $15 million 15000000.0
$25 million $25 million 25000000.0
nan nan nan
$10 million $10 million 10000000.0
$13 million $13 million 13000000.0
$1,800,000 (estimated) $1,800,000 1800000.0
nan nan nan
$60 million $60 million 60000000.0
nan nan nan
nan nan nan
$60–90 million $60 million 60000000.0
nan nan nan
nan nan nan
nan nan nan
$80 million $80 million 80000000.0
$19 million $19 million 19000000.0
$10 million $10 million 10000000.0
['$15 million', '[2]', '[3]', '–$30 million', '[4]'] $30 million 30000000.0
$4 million $4 million 4000000.0
$75–90 million $75 million 75000000.0
$46 million $46 million 46000000.0
nan nan nan
$13 million $13 million 13000000.0
$62 million $62 million 62000000.0
$75 million $75 million 75000000.0
$25 million $25 million 25000000.0

nan nan nan
$14 million $14 million 14000000.0
$75 million $75 million 75000000.0
nan nan nan
$8.5 million $8.5 million 8500000.0
$33 million $33 million 33000000.0
$8.5 million $8.5 million 8500000.0
$100 million $100 million 100000000.0
$60 million $60 million 60000000.0
$70 million $70 million 70000000.0
$32 million $32 million 32000000.0
$15 million $15 million 15000000.0
$28 million $28 million 28000000.0
$3 million $3 million 3000000.0
$41.3 million $41.3 million 41300000.0
$8 million $8 million 8000000.0
$55 million $55 million 55000000.0
['$75', 'million', '[2]'] $75 million 75000000.0
$24 million $24 million 24000000.0
$1.2 million $1.2 million 1200000.0
$42 million $42 million 42000000.0
$62 million $62 million 62000000.0
$100 million $100 million 100000000.0
$30 million $30 million 30000000.0
$107 million $107 million 107000000.0
nan nan nan
$60 million $60 million 60000000.0
$3 million $3 million 3000000.0
$64.4 million $64.4 million 64400000.00000001
nan nan nan
$35 million $35 million 35000000.0
$30 million $30 million 30000000.0
nan nan nan
$500,000 $500,000 500000.0
$53 million $53 million 53000000.0
$47 million $47 million 47000000.0
nan nan nan
nan nan nan
['$90–120 million', '[1]', '[2]', '[3]', '[nb 1]'] $90 million 90000000.0
$16 million $16 million 16000000.0
$75 million $75 million 75000000.0
nan nan nan
$58 million $58 million 58000000.0
$40 million $40 million 40000000.0
$1.5 million $1.5 million 1500000.0
nan nan nan
$92 million $92 million 92000000.0
$50 million $50 million 50000000.0
$53 million $53 million 53000000.0
$16 million $16 million 16000000.0
nan nan nan
$6 million $6 million 6000000.0
$15 million $15 million 15000000.0
$15 million $15 million 15000000.0
$2.1 million $2.1 million 2100000.0
nan nan nan
$57 million $57 million 57000000.0
$7 million $7 million 7000000.0
$60 million $60 million 60000000.0
$13.5 million $13.5 million 13500000.0
nan nan nan
$11 million $11 million 11000000.0
$7 million $7 million 7000000.0
$13 million $13 million 13000000.0
nan nan nan
nan nan nan
$33 million $33 million 33000000.0
$3 million $3 million 3000000.0
nan nan nan
nan nan nan
$400,000 $400,000 400000.0
$75 million $75 million 75000000.0
$50 million $50 million 50000000.0
$4.5 million $4.5 million 4500000.0
$24 million $24 million 24000000.0
$49 million $49 million 49000000.0
$70 million $70 million 70000000.0
$94 million $94 million 94000000.0
nan nan nan
$100,000 $100,000 100000.0
$1.5 million $1.5 million 1500000.0
$68 million $68 million 68000000.0
nan nan nan
$80 million $80 million 80000000.0
$33 million $33 million 33000000.0
$38 million $38 million 38000000.0
nan nan nan
$137 million $137 million 137000000.0
nan nan nan
$563,373 $563,373 563373.0
$15 million $15 million 15000000.0
$11 million $11 million 11000000.0
$14 million $14 million 14000000.0
$35 million $35 million 35000000.0
$2 million $2 million 2000000.0
$22 million $22 million 22000000.0
$7 million $7 million 7000000.0
$28 million $28 million 28000000.0
$30 million $30 million 30000000.0
$22 million $22 million 22000000.0
nan nan nan
$19.8 million $19.8 million 19800000.0
nan nan nan
$87 million $87 million 87000000.0
$32 million $32 million 32000000.0
$125 million $125 million 125000000.0
$5.5 million $5.5 million 5500000.0
$14 million $14 million 14000000.0
$35 million $35 million 35000000.0
$31 million $31 million 31000000.0
$6 million $6 million 6000000.0
$39 million $39 million 39000000.0
nan nan nan
$20 million $20 million 20000000.0
nan nan nan
$8.6 million $8.6 million 8600000.0
$22 million $22 million 22000000.0
$1.7 million $1.7 million 1700000.0
$22 million $22 million 22000000.0
$10 million $10 million 10000000.0
$30 million $30 million 30000000.0
nan nan nan
$17.7 million $17.7 million 17700000.0
$38 million $38 million 38000000.0
$39 million $39 million 39000000.0
$23 million $23 million 23000000.0
$35 million $35 million 35000000.0
$68 million $68 million 68000000.0
['$48 million', '(est)', '[1]'] $48 million 48000000.0
nan nan nan
$7 million $7 million 7000000.0
$25 million $25 million 25000000.0
$1 million $1 million 1000000.0
$65 million $65 million 65000000.0
$15 million $15 million 15000000.0
$700,000 $700,000 700000.0
$115 million $115 million 115000000.0
$72 million $72 million 72000000.0
$18 million $18 million 18000000.0
$27 million $27 million 27000000.0
nan nan nan
$93 million $93 million 93000000.0
$40,000 $40,000 40000.0
$250,000 $250,000 250000.0
$72 million $72 million 72000000.0
nan nan nan
$20 million $20 million 20000000.0
$25 million $25 million 25000000.0
$20 million $20 million 20000000.0
$57 million $57 million 57000000.0
nan nan nan
$75 million $75 million 75000000.0
US$1.2 million $1.2 million 1200000.0
$4 million $4 million 4000000.0
$115 million $115 million 115000000.0
nan nan nan
$52 million $52 million 52000000.0
$15 million $15 million 15000000.0
$98 million $98 million 98000000.0
nan nan nan
$40 million $40 million 40000000.0
nan nan nan
$5 million $5 million 5000000.0
$5.25 million $5.25 million 5250000.0
$15 million $15 million 15000000.0
$6 million $6 million 6000000.0
$5 million $5 million 5000000.0
$85 million $85 million 85000000.0
$16 million $16 million 16000000.0
$49 million $49 million 49000000.0
$18 million $18 million 18000000.0
$42 million $42 million 42000000.0
$70 million $70 million 70000000.0
$17 million $17 million 17000000.0
$24 million $24 million 24000000.0
$140 million $140 million 140000000.0
nan nan nan
nan nan nan
$100 million $100 million 100000000.0
$35 million $35 million 35000000.0
$7 million $7 million 7000000.0
$26 million $26 million 26000000.0
$48 million $48 million 48000000.0
$23 million $23 million 23000000.0
nan nan nan
['$48 million', '[', 'citation needed', ']'] $48 million 48000000.0
$38–57 million $38 million 38000000.0
$21 million $21 million 21000000.0
$90 million $90 million 90000000.0
nan nan nan
$13 million $13 million 13000000.0
$22 million $22 million 22000000.0
$25 million $25 million 25000000.0
$45 million $45 million 45000000.0
$68 million $68 million 68000000.0
nan nan nan
$16 million $16 million 16000000.0
$28 million $28 million 28000000.0
nan nan nan
$40 million $40 million 40000000.0
nan nan nan
$38 million $38 million 38000000.0
$60 million $60 million 60000000.0
nan nan nan
$1 million (estimated) $1 million 1000000.0
$23 million $23 million 23000000.0
$17 million $17 million 17000000.0
nan nan nan
nan nan nan
['$', '115 million', '[2]'] $115 million 115000000.0
$35 million $35 million 35000000.0
nan nan nan
$27 million $27 million 27000000.0
$34 million $34 million 34000000.0
$1.5–3 million $1.5 million 1500000.0
$40 million $40 million 40000000.0
$102 million $102 million 102000000.0
$100,000 $100,000 100000.0
nan nan nan
$42 million $42 million 42000000.0
nan nan nan
$11 million $11 million 11000000.0
nan nan nan
$90 million $90 million 90000000.0
$45 million $45 million 45000000.0
$13 million $13 million 13000000.0
nan nan nan
$29 million $29 million 29000000.0
$68 million $68 million 68000000.0
nan nan nan
$7 million $7 million 7000000.0
$35 million $35 million 35000000.0
nan nan nan
$1.8 million $1.8 million 1800000.0
$60 million $60 million 60000000.0
nan nan nan
$28 million $28 million 28000000.0
nan nan nan
$5 million $5 million 5000000.0
$17 million $17 million 17000000.0
$41 million $41 million 41000000.0
$25 million $25 million 25000000.0
$30 million $30 million 30000000.0
$30 million $30 million 30000000.0
$19 million $19 million 19000000.0
$100 million $100 million 100000000.0
$15 million $15 million 15000000.0
$60 million $60 million 60000000.0
$12.5 million $12.5 million 12500000.0
$63 million $63 million 63000000.0
$7 million $7 million 7000000.0
$17 million $17 million 17000000.0
nan nan nan
$70 million $70 million 70000000.0
$70 million $70 million 70000000.0
$10 million $10 million 10000000.0
$12 million $12 million 12000000.0
$40 million $40 million 40000000.0
$250,000 $250,000 250000.0
$15 million $15 million 15000000.0
$40 million $40 million 40000000.0
nan nan nan
$13 million $13 million 13000000.0
$54 million $54 million 54000000.0
$50 million $50 million 50000000.0
$25 million $25 million 25000000.0
nan nan nan
$60 million $60 million 60000000.0
$4 million $4 million 4000000.0
$8 million $8 million 8000000.0
$1 million $1 million 1000000.0
nan nan nan
nan nan nan
$1.5 million $1.5 million 1500000.0
nan nan nan
$52 million $52 million 52000000.0
$75,000 (estimate) $75,000 75000.0
$45 million $45 million 45000000.0
nan nan nan
$100,000 $100,000 100000.0
$45 million $45 million 45000000.0
nan nan nan
$40 million $40 million 40000000.0
nan nan nan
$500,000 $500,000 500000.0
$26 million $26 million 26000000.0
$450,000 (estimated) $450,000 450000.0
$85 million $85 million 85000000.0
$12 million $12 million 12000000.0
nan nan nan
$30 million $30 million 30000000.0
$35 million $35 million 35000000.0
$35 million $35 million 35000000.0
nan nan nan
$12 million $12 million 12000000.0
$7 million $7 million 7000000.0
nan nan nan
$12 million $12 million 12000000.0
$10.6 million $10.6 million 10600000.0
$50 million $50 million 50000000.0
nan nan nan
$10 million $10 million 10000000.0
$27 million $27 million 27000000.0
$60 million $60 million 60000000.0
$20 million $20 million 20000000.0
$34 million $34 million 34000000.0
$30 million $30 million 30000000.0
$12.5 million $12.5 million 12500000.0
$4 million $4 million 4000000.0
$38 million $38 million 38000000.0
$20 million $20 million 20000000.0
nan nan nan
$13.5 million $13.5 million 13500000.0
$40 million $40 million 40000000.0
$17,000,000 $17,000,000 17000000.0
$12 million $12 million 12000000.0
$10 million $10 million 10000000.0
$35 million $35 million 35000000.0
$100 million $100 million 100000000.0
$20 million $20 million 20000000.0
$8 million $8 million 8000000.0
nan nan nan
$11 million $11 million 11000000.0
$25 million $25 million 25000000.0
$13 million $13 million 13000000.0
$100 million $100 million 100000000.0
$70 million $70 million 70000000.0
$3–4 million $3 million 3000000.0
$42 million $42 million 42000000.0
$14 million $14 million 14000000.0
$16 million $16 million 16000000.0
nan nan nan
$34 million $34 million 34000000.0
$25 million $25 million 25000000.0
nan nan nan
$70 million $70 million 70000000.0
$59 million $59 million 59000000.0
$9 million $9 million 9000000.0
$40 million $40 million 40000000.0
['$7 million', '[', 'citation needed', ']'] $7 million 7000000.0
$46 million $46 million 46000000.0
$5 million $5 million 5000000.0
$11-$14 million $14 million 14000000.0
$36 million $36 million 36000000.0
$14 million $14 million 14000000.0
$15 million $15 million 15000000.0
$90 million $90 million 90000000.0
nan nan nan
nan nan nan
nan nan nan
nan nan nan
$10 million $10 million 10000000.0
nan nan nan
$5 million $5 million 5000000.0
nan nan nan
$40 million $40 million 40000000.0
$30 million $30 million 30000000.0
$80 million $80 million 80000000.0
$94 million $94 million 94000000.0
$55 million $55 million 55000000.0
$16 million $16 million 16000000.0
$140 million $140 million 140000000.0
$102 million $102 million 102000000.0
$21 million $21 million 21000000.0
$32 million $32 million 32000000.0
$50 million $50 million 50000000.0
$50 million $50 million 50000000.0
$6.5 million $6.5 million 6500000.0
$5 million $5 million 5000000.0
nan nan nan
$13 million $13 million 13000000.0
$10 million $10 million 10000000.0
nan nan nan
nan nan nan
$12 million $12 million 12000000.0
$18 million $18 million 18000000.0
nan nan nan
$48 million $48 million 48000000.0
nan nan nan
$125,000 $125,000 125000.0
['€', '40 million'] nan nan
$4,000,000 $4,000,000 4000000.0
$25 million $25 million 25000000.0
$11 million $11 million 11000000.0
nan nan nan
nan nan nan
$25 million $25 million 25000000.0
$35 million $35 million 35000000.0
$30 million $30 million 30000000.0
nan nan nan
nan nan nan
$78 million $78 million 78000000.0
$60 million $60 million 60000000.0
$20 million $20 million 20000000.0
$48 million $48 million 48000000.0
['US$', '30 million'] $30 million 30000000.0
$80 million $80 million 80000000.0
nan nan nan
$70 million $70 million 70000000.0
$22 million $22 million 22000000.0
$4 million $4 million 4000000.0
$10 million $10 million 10000000.0
$18 million $18 million 18000000.0
$65 million $65 million 65000000.0
$84 million $84 million 84000000.0
$60 million $60 million 60000000.0
nan nan nan
$4 million $4 million 4000000.0
$29 million $29 million 29000000.0
$300,000 $300,000 300000.0
$85 million $85 million 85000000.0
$500,000 $500,000 500000.0
$72 million $72 million 72000000.0
$14 million $14 million 14000000.0
$33 million $33 million 33000000.0
$47 million $47 million 47000000.0
$12 million $12 million 12000000.0
nan nan nan
$139 million $139 million 139000000.0
$80 million $80 million 80000000.0
$4.5 million $4.5 million 4500000.0
$38 million $38 million 38000000.0
$115 million $115 million 115000000.0
$60 million $60 million 60000000.0
$600,000 $600,000 600000.0
$25 million $25 million 25000000.0
nan nan nan
$1.8 million $1.8 million 1800000.0
$120 million $120 million 120000000.0
$68 million $68 million 68000000.0
nan nan nan
$43 million $43 million 43000000.0
$30 million $30 million 30000000.0
$10 million $10 million 10000000.0
$10 million $10 million 10000000.0
$150,000 $150,000 150000.0
$17 million $17 million 17000000.0
['US$', '855,000', '[2]'] $855,000 855000.0
$80 million $80 million 80000000.0
nan nan nan
['€20.9 million', '[3]', '($20.5 million)'] $20.5 million 20500000.0
$30 million $30 million 30000000.0
$140 million $140 million 140000000.0
nan nan nan
$60 million $60 million 60000000.0
['$15 million', '[', 'citation needed', ']'] $15 million 15000000.0
$60 million $60 million 60000000.0
$60 million $60 million 60000000.0
$25 million $25 million 25000000.0
$15-$20 million $20 million 20000000.0
$50 million $50 million 50000000.0
nan nan nan
$11.8 million $11.8 million 11800000.0
$75 million $75 million 75000000.0
$8–12 million $8 million 8000000.0
$16 million $16 million 16000000.0
$25 million $25 million 25000000.0
$115 million $115 million 115000000.0
$88.3 million $88.3 million 88300000.0
nan nan nan
$6 million $6 million 6000000.0
nan nan nan
$76 million $76 million 76000000.0
$20 million $20 million 20000000.0
nan nan nan
$1,500 (estimated) $1,500 1500.0
nan nan nan
$28 million $28 million 28000000.0
nan nan nan
$30 million $30 million 30000000.0
nan nan nan
$2.5 million $2.5 million 2500000.0
nan nan nan
$2 million $2 million 2000000.0
$55 million $55 million 55000000.0
$83.5 million $83.5 million 83500000.0
nan nan nan
$18 million $18 million 18000000.0
nan nan nan
$130 million $130 million 130000000.0
$23 million $23 million 23000000.0
$50 million $50 million 50000000.0
$1 million $1 million 1000000.0
$3,500,000 $3,500,000 3500000.0
['$', '400,000'] $400,000 400000.0
$35 million $35 million 35000000.0
$70 million $70 million 70000000.0
$24 million $24 million 24000000.0
nan nan nan
nan nan nan
nan nan nan
$20 million $20 million 20000000.0
$33 million $33 million 33000000.0
$150,000 $150,000 150000.0
$46 million $46 million 46000000.0
nan nan nan
$81 million $81 million 81000000.0
$52 million $52 million 52000000.0
nan nan nan
$15 million $15 million 15000000.0
$800,000 $800,000 800000.0
$109 million $109 million 109000000.0
$120 million $120 million 120000000.0
$9,000,000 USD $9,000,000 9000000.0
$40 million $40 million 40000000.0
nan nan nan
nan nan nan
nan nan nan
$79 million $79 million 79000000.0

$15 million $15 million 15000000.0
$15 million $15 million 15000000.0
$4 million $4 million 4000000.0
$85 million $85 million 85000000.0
nan nan nan
$25 million $25 million 25000000.0
$10,000,000 (estimated) $10,000,000 10000000.0
$60 million $60 million 60000000.0
$78 million $78 million 78000000.0
$15 million $15 million 15000000.0
$11 million $11 million 11000000.0
nan nan nan
$5,000,000 $5,000,000 5000000.0
$17 million $17 million 17000000.0
nan nan nan
$35 million $35 million 35000000.0
$68 million $68 million 68000000.0
$19 million $19 million 19000000.0
$40 million $40 million 40000000.0
$3 million $3 million 3000000.0
$3 million $3 million 3000000.0
$33 million $33 million 33000000.0
['$', '500,000'] $500,000 500000.0
nan nan nan
nan nan nan
$30 million $30 million 30000000.0
$26 million $26 million 26000000.0
$94 million $94 million 94000000.0
$20,000 $20,000 20000.0
nan nan nan
$20 million $20 million 20000000.0
$30 million $30 million 30000000.0
$12 million $12 million 12000000.0
nan nan nan
$75.6 million $75.6 million 75600000.0
$56 million $56 million 56000000.0
$18 million $18 million 18000000.0
$40 million $40 million 40000000.0
nan nan nan
$6 million $6 million 6000000.0
$20 million $20 million 20000000.0
$90 million $90 million 90000000.0
$35 million $35 million 35000000.0
nan nan nan
$20 million $20 million 20000000.0
$75 million $75 million 75000000.0
$18 million $18 million 18000000.0
nan nan nan
$7 million $7 million 7000000.0
$16.5 million $16.5 million 16500000.0
$12 million $12 million 12000000.0
$16,000,000 $16,000,000 16000000.0
$50 million $50 million 50000000.0
$137 million $137 million 137000000.0
$30 million $30 million 30000000.0
$55 million $55 million 55000000.0
$7 million $7 million 7000000.0
$28 million $28 million 28000000.0
nan nan nan
$12 million $12 million 12000000.0
$40 million $40 million 40000000.0
$500,000 $500,000 500000.0
$60 million $60 million 60000000.0
nan nan nan
$60 million $60 million 60000000.0
$17 million $17 million 17000000.0
$20 million $20 million 20000000.0
$18 million $18 million 18000000.0
$60 million $60 million 60000000.0
$30 million $30 million 30000000.0
$95 million $95 million 95000000.0
$140 million $140 million 140000000.0
$78 million $78 million 78000000.0
$45 million $45 million 45000000.0
$38 million $38 million 38000000.0
$17 million $17 million 17000000.0
$80 million $80 million 80000000.0
$94 million $94 million 94000000.0
$4 million $4 million 4000000.0
nan nan nan
$15 million $15 million 15000000.0
$36 million $36 million 36000000.0
nan nan nan
$20 million $20 million 20000000.0
nan nan nan
$150 million $150 million 150000000.0
$62 million $62 million 62000000.0
['$127', '[5]', '–150', '[6]', 'million'] nan nan
$110–150 million $110 million 110000000.0
$1.7 million $1.7 million 1700000.0
$35-$41 million $41 million 41000000.0
$6 million $6 million 6000000.0
nan nan nan
$60 million $60 million 60000000.0
$72.3 million $72.3 million 72300000.0
$8 million $8 million 8000000.0
nan nan nan
$14 million $14 million 14000000.0
nan nan nan
$30 million $30 million 30000000.0
nan nan nan
nan nan nan
nan nan nan
nan nan nan
$24 million $24 million 24000000.0
$29 million $29 million 29000000.0
$22 million $22 million 22000000.0
$120,000-500,000 $120,000 120000.0
$35 million $35 million 35000000.0
$50 million $50 million 50000000.0
$5 million $5 million 5000000.0
nan nan nan
nan nan nan
$61 million $61 million 61000000.0
$130.6 million $130.6 million 130600000.0
$13 million $13 million 13000000.0
$300,000 $300,000 300000.0
$46 million $46 million 46000000.0
$140 million $140 million 140000000.0
nan nan nan
nan nan nan
nan nan nan
$30 million $30 million 30000000.0
$7.5 million $7.5 million 7500000.0
$46 million $46 million 46000000.0
$6 million $6 million 6000000.0
$25 million $25 million 25000000.0
$60 million $60 million 60000000.0
$85 million $85 million 85000000.0
$70 million $70 million 70000000.0
$48 million $48 million 48000000.0
$35 million $35 million 35000000.0
$87 million $87 million 87000000.0
$30 million $30 million 30000000.0
$10 million $10 million 10000000.0
$50 million $50 million 50000000.0
$6 million $6 million 6000000.0
$60 million $60 million 60000000.0
$8 million $8 million 8000000.0
nan nan nan
$80 million $80 million 80000000.0
$38 million $38 million 38000000.0
$500,000 $500,000 500000.0
$55 million $55 million 55000000.0
$218.32 $218 218.0
$100.5 million $100.5 million 100500000.0
$187.3 million ($167.3 million excluding production overhead) $167.3 million 167300000.0
nan nan nan
$9.5 million $9.5 million 9500000.0
$2 million $2 million 2000000.0
nan nan nan
nan nan nan
$80 million $80 million 80000000.0
$300,000 $300,000 300000.0
nan nan nan
$18 million $18 million 18000000.0
$22 million $22 million 22000000.0
$20 million $20 million 20000000.0
nan nan nan
$17 million $17 million 17000000.0
$30 million $30 million 30000000.0
$25 million $25 million 25000000.0
nan nan nan
$20 million $20 million 20000000.0
$5.5 million $5.5 million 5500000.0
$12.6 million $12.6 million 12600000.0
$110–125 million $110 million 110000000.0
nan nan nan
nan nan nan
$20,000 $20,000 20000.0
$37 million $37 million 37000000.0
$75 million $75 million 75000000.0
$59 million $59 million 59000000.0
$39 million $39 million 39000000.0
$26 million $26 million 26000000.0
$107 million $107 million 107000000.0
$155 million $155 million 155000000.0
$60 million $60 million 60000000.0
$60 million $60 million 60000000.0
$42 million $42 million 42000000.0
nan nan nan
$20–25 million $20 million 20000000.0
$26 million $26 million 26000000.0
nan nan nan
$110 million $110 million 110000000.0
$4.6 million $4.6 million 4600000.0
$110 million $110 million 110000000.0
$30 million $30 million 30000000.0
$2.7 million $2.7 million 2700000.0
US$18 million $18 million 18000000.0
nan nan nan
nan nan nan
$25 million $25 million 25000000.0
$50 million $50 million 50000000.0
$20 million $20 million 20000000.0
$65 million $65 million 65000000.0
nan nan nan
nan nan nan
$20 million $20 million 20000000.0
nan nan nan
nan nan nan
$75 million $75 million 75000000.0
$10 million $10 million 10000000.0
$40 million $40 million 40000000.0
nan nan nan
$13 million $13 million 13000000.0
$12 million $12 million 12000000.0
$100 million $100 million 100000000.0
$25 million $25 million 25000000.0
$1 million $1 million 1000000.0
$23 million $23 million 23000000.0
$60 million $60 million 60000000.0
['$105', '[1]', '–120 million', '[2]'] nan nan
$19 million $19 million 19000000.0
nan nan nan
nan nan nan
$27 million $27 million 27000000.0
$8.6 million $8.6 million 8600000.0
$65 million $65 million 65000000.0
$15 million $15 million 15000000.0
$27 million $27 million 27000000.0
~$60,000 $60,000 60000.0
$16 million $16 million 16000000.0
$6.5 million $6.5 million 6500000.0
nan nan nan
$3.5 million $3.5 million 3500000.0
$26 million $26 million 26000000.0
$125 million $125 million 125000000.0
nan nan nan
$15 million $15 million 15000000.0
$500,000 $500,000 500000.0
nan nan nan
nan nan nan
$25 million $25 million 25000000.0
nan nan nan
$20 million $20 million 20000000.0
$7.5 million $7.5 million 7500000.0
nan nan nan
$31 million $31 million 31000000.0
$40 million $40 million 40000000.0
$20 million $20 million 20000000.0
$50 million $50 million 50000000.0
$25 million $25 million 25000000.0
nan nan nan
$6 million $6 million 6000000.0
$45 million $45 million 45000000.0
$25 million $25 million 25000000.0
nan nan nan
['$30 million', '[', 'citation needed', ']'] $30 million 30000000.0
$45 million $45 million 45000000.0
$42 million $42 million 42000000.0
$30 million $30 million 30000000.0
nan nan nan
$2.5 million $2.5 million 2500000.0
$50 million $50 million 50000000.0
$20-21 million $20 million 20000000.0
$25 million $25 million 25000000.0
$19.5 million $19.5 million 19500000.0
nan nan nan
$10 million $10 million 10000000.0
nan nan nan
$9 million $9 million 9000000.0
$130 million $130 million 130000000.0
nan nan nan
$66 million $66 million 66000000.0
$100 million $100 million 100000000.0
nan nan nan
$6.5 million $6.5 million 6500000.0
$110 million $110 million 110000000.0
$17.5 million $17.5 million 17500000.0
$20 million $20 million 20000000.0
$120 million $120 million 120000000.0
nan nan nan
$92 million $92 million 92000000.0
$26 million $26 million 26000000.0
nan nan nan
nan nan nan
$35 million $35 million 35000000.0
$12 million $12 million 12000000.0
$850,000 $850,000 850000.0
$30 million $30 million 30000000.0
$120 million $120 million 120000000.0
$11 million $11 million 11000000.0
$60 million $60 million 60000000.0
$35 million $35 million 35000000.0
nan nan nan
$8 million $8 million 8000000.0
$140-142 million $140 million 140000000.0
nan nan nan
$50 million $50 million 50000000.0
$35 million $35 million 35000000.0
nan nan nan
$70 million $70 million 70000000.0
$80 million $80 million 80000000.0
$3 million $3 million 3000000.0
$500,000 $500,000 500000.0
$17 million $17 million 17000000.0
$80 million $80 million 80000000.0
$30 million $30 million 30000000.0
nan nan nan
$30 million $30 million 30000000.0
nan nan nan
$27 million $27 million 27000000.0
$28 million $28 million 28000000.0
nan nan nan
nan nan nan
nan nan nan
nan nan nan
$30 million $30 million 30000000.0
$12 million $12 million 12000000.0
nan nan nan
$400,000 $400,000 400000.0
$100 million $100 million 100000000.0
nan nan nan
$30 million $30 million 30000000.0
nan nan nan
$29 million $29 million 29000000.0
['$150,000', '[1]', '$250,000', '[2]', '$1.5 million', '[3]'] $1.5 million 1500000.0
$110 million $110 million 110000000.0
nan nan nan
nan nan nan
nan nan nan
$20 million $20 million 20000000.0
$30 million $30 million 30000000.0
nan nan nan
$70 million $70 million 70000000.0
$165 million $165 million 165000000.0
$7,000 $7,000 7000.0
$22 million $22 million 22000000.0
$40 million $40 million 40000000.0
nan nan nan
$33 million $33 million 33000000.0
$15 million $15 million 15000000.0
$50 million $50 million 50000000.0
$40 million $40 million 40000000.0
nan nan nan
nan nan nan

nan nan nan
$5 million $5 million 5000000.0
nan nan nan
$1.2 million $1.2 million 1200000.0
$25 million $25 million 25000000.0
$40 million $40 million 40000000.0
$12 million $12 million 12000000.0
$50 million $50 million 50000000.0
$75 million $75 million 75000000.0
$8 million $8 million 8000000.0
$150 million $150 million 150000000.0
$16 million $16 million 16000000.0
nan nan nan
nan nan nan
$70 million $70 million 70000000.0
$10 million $10 million 10000000.0
nan nan nan
$16 million $16 million 16000000.0
$80 million $80 million 80000000.0
$23 million $23 million 23000000.0
$1 million $1 million 1000000.0
$200 million $200 million 200000000.0
$30 million $30 million 30000000.0
nan nan nan
$60 million $60 million 60000000.0
nan nan nan
$90 million $90 million 90000000.0
$1.5 million $1.5 million 1500000.0
$65,000 $65,000 65000.0
$20 million $20 million 20000000.0
$45 million $45 million 45000000.0
$27 million $27 million 27000000.0
$45 million $45 million 45000000.0
$25 million $25 million 25000000.0
$10 million $10 million 10000000.0
$32 million $32 million 32000000.0
$60 million $60 million 60000000.0
$40 million $40 million 40000000.0
$185 million $185 million 185000000.0
$50 million $50 million 50000000.0
nan nan nan
nan nan nan
$160 million $160 million 160000000.0
$23 million $23 million 23000000.0
$51.2 million $51.2 million 51200000.0
$60 million $60 million 60000000.0
nan nan nan
nan nan nan
$46,000,000 $46,000,000 46000000.0
$14,000,000 $14,000,000 14000000.0
nan nan nan
$3,000,000 $3,000,000 3000000.0
$30 million $30 million 30000000.0
nan nan nan
$37 million $37 million 37000000.0
$40 million $40 million 40000000.0
$30 million $30 million 30000000.0
$22 million $22 million 22000000.0
nan nan nan
$19 million $19 million 19000000.0
$3 million $3 million 3000000.0
['$2.5 million', '[', 'citation needed', ']'] $2.5 million 2500000.0
$7.5 million $7.5 million 7500000.0
nan nan nan
$8 million $8 million 8000000.0
$26 million $26 million 26000000.0
nan nan nan
$50 million $50 million 50000000.0
$65 million $65 million 65000000.0
nan nan nan
$20 million $20 million 20000000.0
$19 million $19 million 19000000.0
$32 million $32 million 32000000.0
nan nan nan
$30 million $30 million 30000000.0
$35 million $35 million 35000000.0
$1.5 million $1.5 million 1500000.0
$150 million $150 million 150000000.0
nan nan nan
$53 million $53 million 53000000.0
$25 million $25 million 25000000.0
$14 million $14 million 14000000.0
$14 million $14 million 14000000.0
$85 million $85 million 85000000.0
$750,000 $750,000 750000.0
$20 million $20 million 20000000.0
nan nan nan
$450,000 $450,000 450000.0
$14 million $14 million 14000000.0
$10 million $10 million 10000000.0
$80-88 million $80 million 80000000.0
$7 million $7 million 7000000.0
nan nan nan
$30 million $30 million 30000000.0
$150 million $150 million 150000000.0
$60 million $60 million 60000000.0
$150 million $150 million 150000000.0
$180 million $180 million 180000000.0
$10 million $10 million 10000000.0
$60 million $60 million 60000000.0
$30 million $30 million 30000000.0
$100 million $100 million 100000000.0
$40 million $40 million 40000000.0
nan nan nan
['$2,000,000', '[', 'citation needed', ']'] $2,000,000 2000000.0
$1 million $1 million 1000000.0
$38 million $38 million 38000000.0
$3,000,000 $3,000,000 3000000.0
$30 million $30 million 30000000.0
nan nan nan
$22 million $22 million 22000000.0
nan nan nan
$22 million $22 million 22000000.0
$7 million $7 million 7000000.0
$5.5 million $5.5 million 5500000.0
nan nan nan
$30 million $30 million 30000000.0
$50 million $50 million 50000000.0
~ US$11,000,000 $11,000,000 11000000.0
$60 million $60 million 60000000.0
$32 million $32 million 32000000.0
$300,000 $300,000 300000.0
$50 million $50 million 50000000.0
$12 million $12 million 12000000.0
nan nan nan
$43-65 million $43 million 43000000.0
$45 million $45 million 45000000.0
$700,000 $700,000 700000.0
['$7,000,000', '[', 'citation needed', ']'] $7,000,000 7000000.0
$19.3 million $19.3 million 19300000.0
$18 million $18 million 18000000.0
$100 million $100 million 100000000.0
nan nan nan
$30 million $30 million 30000000.0
nan nan nan
nan nan nan
$18 million $18 million 18000000.0
nan nan nan
$30 million $30 million 30000000.0
nan nan nan
$100 million $100 million 100000000.0
$13,000,000 $13,000,000 13000000.0
$40 million $40 million 40000000.0
nan nan nan
$33 million $33 million 33000000.0
$4 million $4 million 4000000.0
$7 million $7 million 7000000.0
$80 million $80 million 80000000.0
$25 million $25 million 25000000.0
nan nan nan
nan nan nan
$35 million $35 million 35000000.0
nan nan nan
$150 million $150 million 150000000.0
nan nan nan
$50 million $50 million 50000000.0
$25 million $25 million 25000000.0
$32 million $32 million 32000000.0
$55-70 million $55 million 55000000.0
$45–50 million $45 million 45000000.0
$25 million $25 million 25000000.0
< $8 million $8 million 8000000.0
$75 million $75 million 75000000.0
$4.8 million $4.8 million 4800000.0
$6,000,000 $6,000,000 6000000.0
$40 million $40 million 40000000.0
$2.8 million $2.8 million 2800000.0
nan nan nan
$25 million $25 million 25000000.0
$35 million $35 million 35000000.0
nan nan nan
$2 million $2 million 2000000.0
$1,000,000 $1,000,000 1000000.0
$80 million $80 million 80000000.0
$50 million $50 million 50000000.0
$126 million $126 million 126000000.0
$29 million $29 million 29000000.0
$72 million $72 million 72000000.0
$1 million $1 million 1000000.0
nan nan nan
$58 million $58 million 58000000.0
$45 million $45 million 45000000.0
$750,000 $750,000 750000.0
$207 million $207 million 207000000.0
$15 million $15 million 15000000.0
$130 million $130 million 130000000.0
$15 million $15 million 15000000.0
nan nan nan
$15–19 million $15 million 15000000.0
nan nan nan
nan nan nan
£4.2 million nan nan
$75 million $75 million 75000000.0
$500,000 $500,000 500000.0
$82 million $82 million 82000000.0
$50 million $50 million 50000000.0
$25 million $25 million 25000000.0
$9.6 million $9.6 million 9600000.0
$30 million $30 million 30000000.0
$500,000 $500,000 500000.0
$75 million $75 million 75000000.0
$20 million $20 million 20000000.0
$40 million $40 million 40000000.0
$2.5 million $2.5 million 2500000.0
$12.5 million $12.5 million 12500000.0
$15 million $15 million 15000000.0
nan nan nan
$85 million $85 million 85000000.0
$4 million $4 million 4000000.0
$60 million $60 million 60000000.0
$43 million $43 million 43000000.0
nan nan nan
$110 million $110 million 110000000.0
$750,000 $750,000 750000.0
$70 million $70 million 70000000.0
nan nan nan
$30 million $30 million 30000000.0
$25 million $25 million 25000000.0
$25,000 $25,000 25000.0
$30 million $30 million 30000000.0
nan nan nan
nan nan nan
$500,000 $500,000 500000.0
nan nan nan
$35 million $35 million 35000000.0
$2.4 million (estimated) $2.4 million 2400000.0
$56 million $56 million 56000000.0
$10 million $10 million 10000000.0
nan nan nan
$2.5 million $2.5 million 2500000.0
$22 million $22 million 22000000.0
$12 million $12 million 12000000.0
$45 million $45 million 45000000.0
$20 million $20 million 20000000.0
$900,000 $900,000 900000.0
$30 million $30 million 30000000.0
$33.1 million $33.1 million 33100000.0
$26 million $26 million 26000000.0
$40 million $40 million 40000000.0
$50 million $50 million 50000000.0
$20 million $20 million 20000000.0
nan nan nan
$75 million $75 million 75000000.0
$10 million $10 million 10000000.0
$70 million $70 million 70000000.0
$160 million $160 million 160000000.0
nan nan nan
$4 million $4 million 4000000.0
$39 million $39 million 39000000.0
nan nan nan
nan nan nan
$40 million $40 million 40000000.0
$25 million $25 million 25000000.0
nan nan nan
$43 million $43 million 43000000.0
$20 million $20 million 20000000.0
nan nan nan
$84–100 million $84 million 84000000.0
$80 million $80 million 80000000.0
$1.5 million $1.5 million 1500000.0
$113 million $113 million 113000000.0
$50 million $50 million 50000000.0
$135 million $135 million 135000000.0
nan nan nan
$30 million $30 million 30000000.0
$50 million $50 million 50000000.0
nan nan nan
$15 million $15 million 15000000.0
['CN¥156 million (', 'US$', '20 million)'] $20 million 20000000.0
$3 million $3 million 3000000.0
nan nan nan
$1 million $1 million 1000000.0
['€24.6 million', '[3]', '[4]', '($32 million)'] $32 million 32000000.0
$35 million $35 million 35000000.0
$25 million $25 million 25000000.0
$9 million $9 million 9000000.0
$30 million $30 million 30000000.0
$12 million $12 million 12000000.0
nan nan nan
$3 million $3 million 3000000.0
$28 million $28 million 28000000.0
$132 million $132 million 132000000.0
nan nan nan
$22 million $22 million 22000000.0
$40 million $40 million 40000000.0
$15 million $15 million 15000000.0
$25 million $25 million 25000000.0
$10 million $10 million 10000000.0
nan nan nan
['$25 million', '[', 'citation needed', ']'] $25 million 25000000.0
$60-87 million $60 million 60000000.0
$45 million $45 million 45000000.0
$65 million $65 million 65000000.0
$5,000,000 $5,000,000 5000000.0
nan nan nan
N/A nan nan
$55 million $55 million 55000000.0
nan nan nan
nan nan nan
nan nan nan
$23 million $23 million 23000000.0
nan nan nan
nan nan nan
$6–8 million $6 million 6000000.0
nan nan nan
nan nan nan
$55 million $55 million 55000000.0
nan nan nan
US$29,000,000 $29,000,000 29000000.0
nan nan nan
nan nan nan
$17 million $17 million 17000000.0
nan nan nan
nan nan nan
nan nan nan
$26 million $26 million 26000000.0
$500,000 $500,000 500000.0
$50 million $50 million 50000000.0
$40 million $40 million 40000000.0
$12 million $12 million 12000000.0
$10 million $10 million 10000000.0
$5 million $5 million 5000000.0
['$', '2,800,000 (Estimate)'] $2,800,000 2800000.0
nan nan nan
nan nan nan
nan nan nan
$13 million $13 million 13000000.0
$7 million $7 million 7000000.0
$30,000 $30,000 30000.0
nan nan nan
nan nan nan
$20 million $20 million 20000000.0
nan nan nan
$51 million $51 million 51000000.0
nan nan nan
nan nan nan
$17.5 million $17.5 million 17500000.0
nan nan nan
$3.3 million $3.3 million 3300000.0
$33 million $33 million 33000000.0
nan nan nan
$1 million $1 million 1000000.0
nan nan nan
nan nan nan
nan nan nan
$40 million $40 million 40000000.0
$9 million $9 million 9000000.0
$50 million $50 million 50000000.0
760,000 USD nan nan
nan nan nan
$100 million $100 million 100000000.0
nan nan nan
$70,000 (estimated) $70,000 70000.0
$14 million $14 million 14000000.0
$18 million $18 million 18000000.0
$21 million $21 million 21000000.0
$40,000 $40,000 40000.0
nan nan nan
$52 million $52 million 52000000.0
nan nan nan
$25,000 $25,000 25000.0
$11 million $11 million 11000000.0
nan nan nan
['$120', 'million', '[1]'] $120 million 120000000.0
$150 million $150 million 150000000.0
$14 million $14 million 14000000.0
nan nan nan
nan nan nan
$85 million $85 million 85000000.0
$1,000,000 (estimated) $1,000,000 1000000.0
$76 million $76 million 76000000.0
['US$', '3,000,000'] $3,000,000 3000000.0
$1,000,000 $1,000,000 1000000.0
nan nan nan
nan nan nan
$5 million $5 million 5000000.0
$82.5 million $82.5 million 82500000.0
nan nan nan
nan nan nan
nan nan nan
nan nan nan
nan nan nan
nan nan nan
$20 million $20 million 20000000.0
$12 million $12 million 12000000.0
$5.8 million $5.8 million 5800000.0
nan nan nan
$50 million $50 million 50000000.0
['€', '1 million (approx.', 'USD$', '1.3 million)'] $1.3 million 1300000.0
$125 million $125 million 125000000.0
nan nan nan
$3,500 (estimated) $3,500 3500.0
nan nan nan
nan nan nan
nan nan nan
nan nan nan
nan nan nan
$20 million $20 million 20000000.0
$3 million $3 million 3000000.0
nan nan nan
nan nan nan
nan nan nan
nan nan nan
$75 million $75 million 75000000.0
$51 million $51 million 51000000.0
nan nan nan
$90 million $90 million 90000000.0
nan nan nan
$35 million $35 million 35000000.0
$28 million $28 million 28000000.0
nan nan nan
$21 million $21 million 21000000.0
$80 million $80 million 80000000.0
nan nan nan
nan nan nan
$1 million $1 million 1000000.0
nan nan nan
$12 million $12 million 12000000.0
nan nan nan
$9.6 million $9.6 million 9600000.0
$40 million $40 million 40000000.0
$100 million $100 million 100000000.0
nan nan nan
nan nan nan
nan nan nan
$100,000 $100,000 100000.0
$7 million $7 million 7000000.0
$50 million $50 million 50000000.0
nan nan nan
$85 million $85 million 85000000.0
nan nan nan
nan nan nan
nan nan nan
$250,000 $250,000 250000.0
$25 million $25 million 25000000.0
$13 million $13 million 13000000.0
$50 million $50 million 50000000.0
nan nan nan
$90 million $90 million 90000000.0
$15 million $15 million 15000000.0
nan nan nan
nan nan nan
$149 million $149 million 149000000.0
$60 million $60 million 60000000.0
$12 million $12 million 12000000.0
nan nan nan
$35 million $35 million 35000000.0
$30 million $30 million 30000000.0
nan nan nan
$6.5 million $6.5 million 6500000.0
nan nan nan
$16.8 million $16.8 million 16800000.0
nan nan nan
$60 million $60 million 60000000.0
nan nan nan
$2 million $2 million 2000000.0
nan nan nan
$30 million $30 million 30000000.0
nan nan nan
$32 million $32 million 32000000.0
$110 million $110 million 110000000.0
$35 million $35 million 35000000.0
nan nan nan
$5 million $5 million 5000000.0
nan nan nan
$30 million $30 million 30000000.0
$3 million $3 million 3000000.0
$20 million $20 million 20000000.0
$70 million $70 million 70000000.0
nan nan nan
nan nan nan
$700,000 $700,000 700000.0
nan nan nan
$100 million $100 million 100000000.0
nan nan nan
$2 million $2 million 2000000.0
nan nan nan
$349,999 $349,999 349999.0
$11,300 $11,300 11300.0
$15 million $15 million 15000000.0
nan nan nan
$85 million $85 million 85000000.0
$28 million $28 million 28000000.0
nan nan nan
$12 million $12 million 12000000.0
$5 million $5 million 5000000.0
$15 million $15 million 15000000.0
nan nan nan
nan nan nan
nan nan nan
$1.5 million $1.5 million 1500000.0
$80 million $80 million 80000000.0
$2–4 million $2 million 2000000.0
$10 million $10 million 10000000.0
$16.5 million $16.5 million 16500000.0
$1.5 million $1.5 million 1500000.0
$13 million $13 million 13000000.0
nan nan nan
$45 million $45 million 45000000.0
nan nan nan
$30 million $30 million 30000000.0
$12,500 $12,500 12500.0
nan nan nan
nan nan nan
nan nan nan
nan nan nan
$11.5 million $11.5 million 11500000.0
nan nan nan
nan nan nan
$1 million $1 million 1000000.0
$18 million $18 million 18000000.0
$28 million $28 million 28000000.0
nan nan nan
$5 million $5 million 5000000.0
$5 million $5 million 5000000.0
nan nan nan
nan nan nan
$70 million $70 million 70000000.0
$40 million $40 million 40000000.0
$18 million (est) $18 million 18000000.0
$17 million $17 million 17000000.0
$20 million $20 million 20000000.0
$45 million $45 million 45000000.0
$7 million $7 million 7000000.0
$4 million $4 million 4000000.0
$19 million $19 million 19000000.0
$6 million $6 million 6000000.0
$26 million $26 million 26000000.0
$64 million $64 million 64000000.0
$8 million $8 million 8000000.0
nan nan nan
nan nan nan

nan nan nan
nan nan nan
nan nan nan
$4,000,000 $4,000,000 4000000.0
nan nan nan
$900,000 (estimated) $900,000 900000.0
$27 million $27 million 27000000.0
nan nan nan
$6 million $6 million 6000000.0
nan nan nan
$20 million $20 million 20000000.0
$40 million $40 million 40000000.0
$15 million $15 million 15000000.0
nan nan nan
$15 million $15 million 15000000.0
nan nan nan
$135 million $135 million 135000000.0
nan nan nan
$7,000,000 (US) $7,000,000 7000000.0
$30 million $30 million 30000000.0
$75 million $75 million 75000000.0
nan nan nan
nan nan nan
$150 million $150 million 150000000.0
$30 million $30 million 30000000.0
$35 million $35 million 35000000.0
nan nan nan
$35 million $35 million 35000000.0
nan nan nan
nan nan nan
$3 million $3 million 3000000.0
$750,000 $750,000 750000.0
['USD', '$4,000,000'] $4,000,000 4000000.0
nan nan nan
$450,000 (estimated) $450,000 450000.0
nan nan nan
nan nan nan
$5,000,000 (estimate) $5,000,000 5000000.0
$30,000 $30,000 30000.0
$25 million $25 million 25000000.0
nan nan nan
$20 million $20 million 20000000.0
nan nan nan
$85 million $85 million 85000000.0
$80 million $80 million 80000000.0
$19.4 million $19.4 million 19400000.0
$19 million $19 million 19000000.0
nan nan nan
$10 million $10 million 10000000.0
$15 million $15 million 15000000.0
$60 million $60 million 60000000.0
$3 million $3 million 3000000.0
$1 million $1 million 1000000.0
['$80', 'million', '[2]'] $80 million 80000000.0
$225 million $225 million 225000000.0
$160 million $160 million 160000000.0
$500,000 $500,000 500000.0
nan nan nan
nan nan nan
nan nan nan
$10 million $10 million 10000000.0
$40 million $40 million 40000000.0
nan nan nan
$20.5 million $20.5 million 20500000.0
$55 million $55 million 55000000.0
['$', '105,000'] $105,000 105000.0
nan nan nan
$400,000 $400,000 400000.0
nan nan nan
$15 million $15 million 15000000.0
nan nan nan
nan nan nan
$24 million $24 million 24000000.0
$250,000 (estimated) $250,000 250000.0
$2,000,000 $2,000,000 2000000.0
$1 million $1 million 1000000.0
$15 million $15 million 15000000.0
nan nan nan
$50 million $50 million 50000000.0
nan nan nan
nan nan nan
$12 million $12 million 12000000.0
nan nan nan
nan nan nan
$10 million $10 million 10000000.0
$8.7 million $8.7 million 8700000.0
$40 million $40 million 40000000.0
$35 million $35 million 35000000.0
US$4 million $4 million 4000000.0
nan nan nan
['$1,200,000', '[', 'citation needed', ']'] $1,200,000 1200000.0
nan nan nan
$8 million $8 million 8000000.0
$60 million $60 million 60000000.0
$50 million $50 million 50000000.0
$10 million $10 million 10000000.0
$20 million $20 million 20000000.0
$2 million $2 million 2000000.0
$2 million $2 million 2000000.0
nan nan nan
$50 million $50 million 50000000.0
nan nan nan
nan nan nan
$15 million $15 million 15000000.0
nan nan nan
$33 million $33 million 33000000.0
nan nan nan
nan nan nan
nan nan nan
nan nan nan
nan nan nan
nan nan nan
nan nan nan
$20 million $20 million 20000000.0
$12 million $12 million 12000000.0
nan nan nan
$20 million $20 million 20000000.0
$30 million $30 million 30000000.0
$40 million $40 million 40000000.0
nan nan nan
nan nan nan
nan nan nan
['$223 million', '(gross)', '$204 million', '(net)'] $204 million 204000000.0
nan nan nan
$30 million $30 million 30000000.0
$72.5 million $72.5 million 72500000.0
$19-20 million $19 million 19000000.0
$16 million $16 million 16000000.0
$10 million $10 million 10000000.0
nan nan nan
nan nan nan
nan nan nan
nan nan nan
$10 million $10 million 10000000.0
$2.4 million $2.4 million 2400000.0
nan nan nan
$30 million $30 million 30000000.0
$26 million $26 million 26000000.0
$45 million $45 million 45000000.0
nan nan nan
$15 million $15 million 15000000.0
nan nan nan
$54 million $54 million 54000000.0
nan nan nan
nan nan nan
nan nan nan
nan nan nan
$65 million $65 million 65000000.0
$15 million $15 million 15000000.0
nan nan nan
nan nan nan
nan nan nan
$40 million $40 million 40000000.0
$80 million $80 million 80000000.0
nan nan nan
$100,000 $100,000 100000.0
$65 million $65 million 65000000.0
$1 million $1 million 1000000.0
$210 million $210 million 210000000.0
nan nan nan
nan nan nan
$54 million $54 million 54000000.0
$75.6 million $75.6 million 75600000.0
$1.2 million $1.2 million 1200000.0
US $54,000 $54,000 54000.0
nan nan nan
$25 million $25 million 25000000.0
$55 million $55 million 55000000.0
$30 million $30 million 30000000.0
$65 million $65 million 65000000.0
$70.8 million $70.8 million 70800000.0
nan nan nan
nan nan nan
nan nan nan
$2,500,000 $2,500,000 2500000.0
nan nan nan
$40 million $40 million 40000000.0
nan nan nan
$60 million $60 million 60000000.0
nan nan nan
$100 million $100 million 100000000.0
nan nan nan
nan nan nan
nan nan nan
$750,000 $750,000 750000.0
nan nan nan
nan nan nan
$30 million $30 million 30000000.0
$25 million $25 million 25000000.0
nan nan nan
$8.6 million $8.6 million 8600000.0
nan nan nan
$39 million $39 million 39000000.0
$150 million $150 million 150000000.0
$18 million $18 million 18000000.0
nan nan nan
$150 million $150 million 150000000.0
nan nan nan
$7.5 million $7.5 million 7500000.0
$61 million $61 million 61000000.0
$19,000,000 $19,000,000 19000000.0
$500,000 $500,000 500000.0
nan nan nan
$110 million $110 million 110000000.0
$20 million $20 million 20000000.0
$40 million $40 million 40000000.0
$23 million $23 million 23000000.0
$20–25 million $20 million 20000000.0
nan nan nan
$8 million $8 million 8000000.0
$10 million $10 million 10000000.0
$45 million $45 million 45000000.0
nan nan nan
$17 million $17 million 17000000.0
nan nan nan
$15 million $15 million 15000000.0
nan nan nan
nan nan nan
$75 million $75 million 75000000.0
nan nan nan
$20 million $20 million 20000000.0
$20 million $20 million 20000000.0
$3 million $3 million 3000000.0
$6.4 million $6.4 million 6400000.0
nan nan nan
nan nan nan
$6 million $6 million 6000000.0
nan nan nan
nan nan nan
$25 million $25 million 25000000.0
nan nan nan
nan nan nan
nan nan nan
$20 million $20 million 20000000.0
$20 million $20 million 20000000.0
nan nan nan
nan nan nan
$20 million $20 million 20000000.0
$12.8 million $12.8 million 12800000.0
$50 million $50 million 50000000.0
nan nan nan
nan nan nan
$85 million $85 million 85000000.0
$20 million $20 million 20000000.0
$175 million $175 million 175000000.0
$30 million $30 million 30000000.0
nan nan nan
$1.2 million $1.2 million 1200000.0
$130 million $130 million 130000000.0
nan nan nan
nan nan nan
nan nan nan
US$35 million $35 million 35000000.0
nan nan nan
nan nan nan
nan nan nan
$100 million $100 million 100000000.0
$21 million $21 million 21000000.0
nan nan nan
$22 million $22 million 22000000.0
nan nan nan
$20 million $20 million 20000000.0
$110 million $110 million 110000000.0
nan nan nan
nan nan nan
nan nan nan
nan nan nan
$180 million $180 million 180000000.0
$19 million $19 million 19000000.0
$25 million $25 million 25000000.0
$15 million $15 million 15000000.0
$3 million $3 million 3000000.0
$9 million $9 million 9000000.0
nan nan nan
$53–67 million $53 million 53000000.0
$75 million $75 million 75000000.0
$15 million $15 million 15000000.0
nan nan nan
$47 million $47 million 47000000.0
$150 million $150 million 150000000.0
nan nan nan
$60 million $60 million 60000000.0
$13 million $13 million 13000000.0
$15 million $15 million 15000000.0
nan nan nan
$24 million $24 million 24000000.0
$25 million $25 million 25000000.0
nan nan nan
$10.2 million $10.2 million 10200000.0
$25.3 million $25.3 million 25300000.0
nan nan nan
$150 million $150 million 150000000.0
$24 million $24 million 24000000.0
$12 million $12 million 12000000.0
$85 million $85 million 85000000.0
$11 million $11 million 11000000.0
$20 million $20 million 20000000.0
$10 million $10 million 10000000.0
$23 million $23 million 23000000.0
$20 million $20 million 20000000.0
$65–80 million $65 million 65000000.0
nan nan nan
nan nan nan
nan nan nan
['$6.5', '[2]', '–$7.5 million', '[3]'] $7.5 million 7500000.0
$25.7 million $25.7 million 25700000.0
nan nan nan
nan nan nan
$72.5 million $72.5 million 72500000.0
$20 million $20 million 20000000.0
$30 million $30 million 30000000.0
$500,000 $500,000 500000.0
nan nan nan
$12 million $12 million 12000000.0
nan nan nan
$2.2 million $2.2 million 2200000.0
$35 million $35 million 35000000.0
$13 million $13 million 13000000.0
$35 million $35 million 35000000.0
nan nan nan
$110 million $110 million 110000000.0
$16 million $16 million 16000000.0
$50 million $50 million 50000000.0
$55 million $55 million 55000000.0
$15 million $15 million 15000000.0
nan nan nan
['US$', '10 million'] $10 million 10000000.0
19 crore nan nan
$12 million $12 million 12000000.0
$27 million $27 million 27000000.0
$150 million (estimated) $150 million 150000000.0
$16 million $16 million 16000000.0
$21.5 million $21.5 million 21500000.0
$16 million $16 million 16000000.0
$18 million $18 million 18000000.0
$8.2 million $8.2 million 8199999.999999999
nan nan nan
nan nan nan
nan nan nan
$20 million $20 million 20000000.0
$65 million $65 million 65000000.0
nan nan nan
$22 million $22 million 22000000.0
nan nan nan
$40 million $40 million 40000000.0
nan nan nan
nan nan nan
$20 million $20 million 20000000.0
nan nan nan
$20 million $20 million 20000000.0
$130 million $130 million 130000000.0
nan nan nan
$70 million $70 million 70000000.0
nan nan nan
$25 million $25 million 25000000.0
nan nan nan
$28 million $28 million 28000000.0
$4 million $4 million 4000000.0
$60 million $60 million 60000000.0
nan nan nan
nan nan nan
$30 million $30 million 30000000.0
$85 million $85 million 85000000.0
nan nan nan
nan nan nan
$30 million $30 million 30000000.0
$3.5 million $3.5 million 3500000.0
nan nan nan
$3 million $3 million 3000000.0
nan nan nan
$45 million $45 million 45000000.0
$20 million $20 million 20000000.0
$60 million $60 million 60000000.0
['$7.3 million', '[', 'citation needed', ']'] $7.3 million 7300000.0
$300 million $300 million 300000000.0
nan nan nan
$20 million $20 million 20000000.0
nan nan nan
nan nan nan
nan nan nan
$150 million $150 million 150000000.0
$40 million $40 million 40000000.0
$26 million $26 million 26000000.0
$20 million $20 million 20000000.0
nan nan nan
$27.5 million $27.5 million 27500000.0
$10 million $10 million 10000000.0
nan nan nan
$45 million $45 million 45000000.0
$13 million $13 million 13000000.0
$4.5 million $4.5 million 4500000.0
nan nan nan
$140 million $140 million 140000000.0
nan nan nan
$9 million $9 million 9000000.0
$10 million $10 million 10000000.0
nan nan nan
nan nan nan
$61 million $61 million 61000000.0
nan nan nan
$160 million $160 million 160000000.0
$9 million $9 million 9000000.0
$75 million $75 million 75000000.0
nan nan nan
$30,000 $30,000 30000.0
nan nan nan
nan nan nan
nan nan nan
$17 million $17 million 17000000.0
nan nan nan
nan nan nan
$70-88.5 million $70 million 70000000.0
nan nan nan
nan nan nan
nan nan nan
$13 million $13 million 13000000.0
nan nan nan
nan nan nan
nan nan nan
nan nan nan
$40 million $40 million 40000000.0
$20 million $20 million 20000000.0
$100 million $100 million 100000000.0
$50 million $50 million 50000000.0
$16.5 million $16.5 million 16500000.0
nan nan nan
nan nan nan
nan nan nan
$25 million $25 million 25000000.0
$16 million $16 million 16000000.0
$34 million $34 million 34000000.0
$150 million $150 million 150000000.0
$25 million $25 million 25000000.0
$19 million $19 million 19000000.0
$1.5 million $1.5 million 1500000.0
$35 million $35 million 35000000.0
$25 million $25 million 25000000.0
nan nan nan
$40 million $40 million 40000000.0
nan nan nan
nan nan nan
$21 million $21 million 21000000.0
nan nan nan
$12 million $12 million 12000000.0
$10 million $10 million 10000000.0
$7 million $7 million 7000000.0
nan nan nan
$60 million $60 million 60000000.0
nan nan nan
nan nan nan
nan nan nan
$4 million $4 million 4000000.0
nan nan nan
$65 million $65 million 65000000.0
$105 million $105 million 105000000.0
$35 million $35 million 35000000.0
$30 million $30 million 30000000.0
$30 million $30 million 30000000.0
nan nan nan
$20 million $20 million 20000000.0
$5 million $5 million 5000000.0
$20 million $20 million 20000000.0
$3.4 million $3.4 million 3400000.0
$30 million $30 million 30000000.0

$70 million $70 million 70000000.0
nan nan nan
$45 million $45 million 45000000.0
$20 million $20 million 20000000.0
$80 million $80 million 80000000.0
$10 million $10 million 10000000.0
nan nan nan
$20 million $20 million 20000000.0
$67.5–70 million $67.5 million 67500000.0
$150 million $150 million 150000000.0
$12.5 million $12.5 million 12500000.0
$20 million $20 million 20000000.0
$37 million $37 million 37000000.0
$12 million $12 million 12000000.0
$55 million $55 million 55000000.0
nan nan nan
US$58 million $58 million 58000000.0
$3.4 million $3.4 million 3400000.0
$225 million $225 million 225000000.0
$55 million $55 million 55000000.0
$25 million $25 million 25000000.0
$7 million $7 million 7000000.0
$25 million $25 million 25000000.0
$167 million $167 million 167000000.0
['$185', 'million', '[3]'] $185 million 185000000.0
$80 million $80 million 80000000.0
nan nan nan
nan nan nan
$45 million $45 million 45000000.0
$25 million $25 million 25000000.0
$32 million $32 million 32000000.0
$7 million $7 million 7000000.0
$40 million $40 million 40000000.0
$20 million $20 million 20000000.0
£17 million nan nan
$20 million $20 million 20000000.0
$40 million $40 million 40000000.0
$80 million $80 million 80000000.0
$13 million $13 million 13000000.0
$3.5 million $3.5 million 3500000.0
$40 million $40 million 40000000.0
$12 million $12 million 12000000.0
nan nan nan
$2,900,000 (estimated) $2,900,000 2900000.0
$8 million $8 million 8000000.0
$500,000 $500,000 500000.0
nan nan nan
$20 million $20 million 20000000.0
$70 million $70 million 70000000.0
$55 million $55 million 55000000.0
nan nan nan
$30 million $30 million 30000000.0
$80 million $80 million 80000000.0
$25 million $25 million 25000000.0
$1 million $1 million 1000000.0
nan nan nan
nan nan nan
nan nan nan
$80 million $80 million 80000000.0
$20 million $20 million 20000000.0
$25–33 million $25 million 25000000.0
$9 million $9 million 9000000.0
$150 million $150 million 150000000.0
$7 million $7 million 7000000.0
$48 million $48 million 48000000.0
$3.5 million $3.5 million 3500000.0
$12 million $12 million 12000000.0
$5 million $5 million 5000000.0
$85 million $85 million 85000000.0
nan nan nan
['$7 million', '[', 'citation needed', ']'] $7 million 7000000.0
$11 million $11 million 11000000.0
$85 million $85 million 85000000.0
$9 million $9 million 9000000.0
$25 million $25 million 25000000.0
$25 million $25 million 25000000.0
$15 million $15 million 15000000.0
$150 million $150 million 150000000.0
$185 million $185 million 185000000.0
$60 million $60 million 60000000.0
$140 million $140 million 140000000.0
$60 million $60 million 60000000.0
$85 million $85 million 85000000.0
$10 million $10 million 10000000.0
$130 million $130 million 130000000.0
$20 million $20 million 20000000.0
$5 million $5 million 5000000.0
$58 million $58 million 58000000.0
$62 million $62 million 62000000.0
$23 million $23 million 23000000.0
$14 million $14 million 14000000.0
$22 million $22 million 22000000.0
$150 million $150 million 150000000.0
$40 million $40 million 40000000.0
$52 million $52 million 52000000.0
£1.1 million (approx. $1.9 million) $1.9 million 1900000.0
$60 million $60 million 60000000.0
$35 million $35 million 35000000.0
$60 million $60 million 60000000.0
$20 million $20 million 20000000.0
$30 million $30 million 30000000.0
nan nan nan
$20 million $20 million 20000000.0
$45 million $45 million 45000000.0
$35 million $35 million 35000000.0
$145 million $145 million 145000000.0
$20 million $20 million 20000000.0
nan nan nan
$20 million $20 million 20000000.0
['$10', 'million'] $10 million 10000000.0
nan nan nan
$37 million $37 million 37000000.0
$11.5 million $11.5 million 11500000.0
nan nan nan
$20 million $20 million 20000000.0
$35 million $35 million 35000000.0
$10 million $10 million 10000000.0
$25 million $25 million 25000000.0
nan nan nan
nan nan nan
$26 million $26 million 26000000.0
$15 million $15 million 15000000.0
nan nan nan
$30 million $30 million 30000000.0
$20 million $20 million 20000000.0
nan nan nan
nan nan nan
$35 million $35 million 35000000.0
$200 million $200 million 200000000.0
$12 million $12 million 12000000.0
$12 million $12 million 12000000.0
$50 million $50 million 50000000.0
$32 million $32 million 32000000.0
$7 million $7 million 7000000.0
$2.5 million $2.5 million 2500000.0
nan nan nan
$8.5 million $8.5 million 8500000.0
$35 million $35 million 35000000.0
$60 million $60 million 60000000.0
$15 million $15 million 15000000.0
$28 million $28 million 28000000.0
$8 million $8 million 8000000.0
$10.8 million $10.8 million 10800000.0
$11 million $11 million 11000000.0
$55 million $55 million 55000000.0
US$54 million $54 million 54000000.0
$65 million $65 million 65000000.0
$19 million $19 million 19000000.0
$8 million $8 million 8000000.0
$27 million $27 million 27000000.0
nan nan nan
nan nan nan
$40 million $40 million 40000000.0
$37 million $37 million 37000000.0
$120 million $120 million 120000000.0
$90 million $90 million 90000000.0
nan nan nan
$60 million $60 million 60000000.0
$3 million $3 million 3000000.0
$8.5 million $8.5 million 8500000.0
$65 million $65 million 65000000.0
$17.5 million $17.5 million 17500000.0
$25 million $25 million 25000000.0
$20 million $20 million 20000000.0
$9 million $9 million 9000000.0
$20 million $20 million 20000000.0
$5 million $5 million 5000000.0
$35 million $35 million 35000000.0
$21 million $21 million 21000000.0
$60 million $60 million 60000000.0
$22 million $22 million 22000000.0
$92 million $92 million 92000000.0
nan nan nan
$37 million $37 million 37000000.0
$15 million $15 million 15000000.0
$35 million $35 million 35000000.0
$75-90 million $75 million 75000000.0
$40 million $40 million 40000000.0
$15 million $15 million 15000000.0
nan nan nan
$25.1 million $25.1 million 25100000.0
nan nan nan
$180 million $180 million 180000000.0
$2 million $2 million 2000000.0
$75 million $75 million 75000000.0
$10 million $10 million 10000000.0
$35 million $35 million 35000000.0
nan nan nan
$35 million $35 million 35000000.0
$25 million $25 million 25000000.0
$7,500,000 $7,500,000 7500000.0
$16 million $16 million 16000000.0
$6 million $6 million 6000000.0
$30 million $30 million 30000000.0
$70 million $70 million 70000000.0
$90 million $90 million 90000000.0
$24 million $24 million 24000000.0
$7.5 million $7.5 million 7500000.0
nan nan nan
$200 million $200 million 200000000.0
$30 million $30 million 30000000.0
$3,200,000 $3,200,000 3200000.0
$9.8 million $9.8 million 9800000.0
nan nan nan
nan nan nan
$45 million $45 million 45000000.0
$15 million $15 million 15000000.0
$70 million $70 million 70000000.0
$40 million $40 million 40000000.0
nan nan nan
$150 million $150 million 150000000.0
nan nan nan
nan nan nan
$20 million $20 million 20000000.0
$11,500,000 $11,500,000 11500000.0
$65 million $65 million 65000000.0
['$237 million', '[3]', '$9 million+ (re-release)', '[4]'] $9 million 9000000.0
$17 million $17 million 17000000.0
$25 million $25 million 25000000.0
$20 million $20 million 20000000.0
$4 million $4 million 4000000.0
nan nan nan
$25 million $25 million 25000000.0
$5 million $5 million 5000000.0
$29 million $29 million 29000000.0
$8 million $8 million 8000000.0
$30 million $30 million 30000000.0
$30 million $30 million 30000000.0
$26 million $26 million 26000000.0
nan nan nan
$42 million $42 million 42000000.0
$500,000 $500,000 500000.0
$20 million $20 million 20000000.0
nan nan nan
$26 million $26 million 26000000.0
$7,000,000 $7,000,000 7000000.0
$175-200 million $175 million 175000000.0
$40 million $40 million 40000000.0
$100 million $100 million 100000000.0
nan nan nan
$3 million $3 million 3000000.0
$55 million $55 million 55000000.0
$60 million $60 million 60000000.0
$60 million $60 million 60000000.0
nan nan nan
$12 million $12 million 12000000.0
$7 million $7 million 7000000.0
nan nan nan
nan nan nan
$25 million $25 million 25000000.0
$58 million $58 million 58000000.0
US$30 million $30 million 30000000.0
$30 million $30 million 30000000.0
$60 million $60 million 60000000.0
nan nan nan
nan nan nan
$21 million $21 million 21000000.0
$8 million $8 million 8000000.0
$18 million $18 million 18000000.0
$40 million $40 million 40000000.0
$85 million $85 million 85000000.0
$25 million $25 million 25000000.0
$40 million $40 million 40000000.0
$20 million $20 million 20000000.0
$1 million $1 million 1000000.0
nan nan nan
$19 million $19 million 19000000.0
$75 million $75 million 75000000.0
$150 million $150 million 150000000.0
$175 million $175 million 175000000.0
$17,000,000 $17,000,000 17000000.0
$50 million $50 million 50000000.0
$10 million $10 million 10000000.0
$37.5 million $37.5 million 37500000.0
nan nan nan
$1.7 million $1.7 million 1700000.0
$10 million $10 million 10000000.0
nan nan nan
$5 million $5 million 5000000.0
$15 million $15 million 15000000.0
['$35', 'million', '[2]'] $35 million 35000000.0
$30 million $30 million 30000000.0
$250 million $250 million 250000000.0
$10 million $10 million 10000000.0
$40 million $40 million 40000000.0
$12 million $12 million 12000000.0
$1.5 million $1.5 million 1500000.0
nan nan nan
nan nan nan
nan nan nan
$19 million $19 million 19000000.0
$3,000,000 (est.) $3,000,000 3000000.0
$7,000,000 $7,000,000 7000000.0
$15 million $15 million 15000000.0
$18 million $18 million 18000000.0
$40 million $40 million 40000000.0
$90 million $90 million 90000000.0
$55 million $55 million 55000000.0
$30 million $30 million 30000000.0
$22 million $22 million 22000000.0
$18 million $18 million 18000000.0
$70 million $70 million 70000000.0
$250,000 $250,000 250000.0
$50 million $50 million 50000000.0
$50–60 million $50 million 50000000.0
nan nan nan
US$18.5 million $18.5 million 18500000.0
nan nan nan
$85 million $85 million 85000000.0
$10 million $10 million 10000000.0
$16 million $16 million 16000000.0
nan nan nan
$40 million $40 million 40000000.0
$50 million $50 million 50000000.0
nan nan nan
nan nan nan
$100 million $100 million 100000000.0
$15 million $15 million 15000000.0
$53 million $53 million 53000000.0
$4.5 million $4.5 million 4500000.0
nan nan nan
nan nan nan
$18 million $18 million 18000000.0
nan nan nan
$65 million $65 million 65000000.0
nan nan nan
$17.5 million $17.5 million 17500000.0
nan nan nan
nan nan nan
$25 million $25 million 25000000.0
$24 million $24 million 24000000.0
nan nan nan
$6.5 million $6.5 million 6500000.0
$60 million $60 million 60000000.0
$6 million $6 million 6000000.0
$175 million $175 million 175000000.0
$10 million $10 million 10000000.0
$14 million $14 million 14000000.0
$17 million $17 million 17000000.0
$30 million $30 million 30000000.0
nan nan nan
$8 million $8 million 8000000.0
$50 million $50 million 50000000.0
nan nan nan
$3 million $3 million 3000000.0
$150 million $150 million 150000000.0
$80 million $80 million 80000000.0
$40 million $40 million 40000000.0
$5 million $5 million 5000000.0
nan nan nan
$20 million $20 million 20000000.0
$18 million $18 million 18000000.0
$20 million $20 million 20000000.0
$35 million $35 million 35000000.0
US$100,000 $100,000 100000.0
$20 million $20 million 20000000.0
$33 million $33 million 33000000.0
nan nan nan
$26 million $26 million 26000000.0
$14 million $14 million 14000000.0
nan nan nan
$70 million $70 million 70000000.0
['€', '49 million', '[4]', '(', '$', '70 million)', '[5]'] $70 million 70000000.0
['$15 million', '[', 'citation needed', ']'] $15 million 15000000.0
nan nan nan
$10 million $10 million 10000000.0
$105 million $105 million 105000000.0
nan nan nan
$40 million $40 million 40000000.0
$100 million $100 million 100000000.0
$38 million $38 million 38000000.0
nan nan nan
$50 million $50 million 50000000.0
$25 million $25 million 25000000.0
$11 million $11 million 11000000.0
$7 million $7 million 7000000.0
$90 million $90 million 90000000.0
nan nan nan
$20 million $20 million 20000000.0
$7 million $7 million 7000000.0
nan nan nan
$60 million $60 million 60000000.0
$12.5 million $12.5 million 12500000.0
['$4,789,700', '[', 'citation needed', ']'] $4,789,700 4789700.0
$150 million $150 million 150000000.0
$60 million $60 million 60000000.0
$20 million $20 million 20000000.0
$18 million $18 million 18000000.0
$80 million $80 million 80000000.0
$100 million $100 million 100000000.0
$30 million $30 million 30000000.0
$30 million $30 million 30000000.0
nan nan nan
$200 million $200 million 200000000.0
nan nan nan
$39 million $39 million 39000000.0
$200 million $200 million 200000000.0
$12 million $12 million 12000000.0
nan nan nan
nan nan nan
$38 million $38 million 38000000.0
$16 million $16 million 16000000.0
$35 million $35 million 35000000.0
nan nan nan
$175 million $175 million 175000000.0
$25 million $25 million 25000000.0
nan nan nan
$130-138 million $130 million 130000000.0
nan nan nan
nan nan nan
$15 million $15 million 15000000.0
$100 million $100 million 100000000.0
$35 million $35 million 35000000.0
$15 million $15 million 15000000.0
$10 million $10 million 10000000.0
nan nan nan
$150 million $150 million 150000000.0
$60 million $60 million 60000000.0
$35 million $35 million 35000000.0
$23.6 million $23.6 million 23600000.0
$18 million $18 million 18000000.0
$2.5 million $2.5 million 2500000.0
$5 million $5 million 5000000.0
$110 million $110 million 110000000.0
nan nan nan
$2,500,000 (est.) $2,500,000 2500000.0
['$150', '[2]', '[3]', '–$200', '[4]', 'million'] nan nan
$20 million $20 million 20000000.0
$20 million $20 million 20000000.0
$20 million $20 million 20000000.0
$35 million $35 million 35000000.0
nan nan nan
nan nan nan
$1.5 million $1.5 million 1500000.0
$13 million $13 million 13000000.0
$1 million $1 million 1000000.0
$80 million $80 million 80000000.0
nan nan nan
$40–$45 million $45 million 45000000.0
$17 million $17 million 17000000.0
$2 million $2 million 2000000.0
$55 million $55 million 55000000.0
$12.5 million $12.5 million 12500000.0
nan nan nan
$85 million $85 million 85000000.0
$44 million $44 million 44000000.0
['$140', '[1]', '–155', '[2]', '[3]', 'million'] nan nan
$6 million $6 million 6000000.0
$125 million $125 million 125000000.0
nan nan nan
$15 million $15 million 15000000.0
$12.5 million $12.5 million 12500000.0
$30 million $30 million 30000000.0
nan nan nan
$15 million $15 million 15000000.0
$20 million $20 million 20000000.0
nan nan nan
$7 million $7 million 7000000.0
$55 million $55 million 55000000.0
nan nan nan
$20 million $20 million 20000000.0
$3.5 million $3.5 million 3500000.0
$25 million $25 million 25000000.0
$21 million $21 million 21000000.0
$69 million $69 million 69000000.0
$10 million $10 million 10000000.0
$15 million $15 million 15000000.0
$69 million $69 million 69000000.0
$4 million $4 million 4000000.0
$65 million $65 million 65000000.0
$8 million $8 million 8000000.0
$60 million $60 million 60000000.0
$68 million $68 million 68000000.0
$80 million $80 million 80000000.0
$80 million $80 million 80000000.0
$7 million $7 million 7000000.0
$31 million $31 million 31000000.0
$22 million $22 million 22000000.0

$24 million $24 million 24000000.0
$25 million $25 million 25000000.0
$14 million $14 million 14000000.0
$21 million $21 million 21000000.0
$2.9 million $2.9 million 2900000.0
$52 million $52 million 52000000.0
nan nan nan
$35 million $35 million 35000000.0
['$13 million', '[', 'citation needed', ']'] $13 million 13000000.0
$40 million $40 million 40000000.0
$7 million $7 million 7000000.0
$32 million $32 million 32000000.0
$3,200,000 $3,200,000 3200000.0
$6 million $6 million 6000000.0
$100 million $100 million 100000000.0
$25 million $25 million 25000000.0
$80 million $80 million 80000000.0
$112 million $112 million 112000000.0
nan nan nan
$16 million $16 million 16000000.0
['$250 million', '(Shared with', 'Part 2', ')', '[2]', '[3]'] $250 million 250000000.0
$50 million $50 million 50000000.0
$36 million $36 million 36000000.0
['$120 million', '(gross)', '$100 million', '(net)', '[2]'] $100 million 100000000.0
$165 million $165 million 165000000.0
nan nan nan
$15 million $15 million 15000000.0
nan nan nan
$13 million $13 million 13000000.0
nan nan nan
$160 million $160 million 160000000.0
$170–200 million $170 million 170000000.0
$8 million $8 million 8000000.0
$5 million $5 million 5000000.0
$20 million $20 million 20000000.0
$47 million $47 million 47000000.0
$10 million $10 million 10000000.0
$12 million $12 million 12000000.0
nan nan nan
$40 million $40 million 40000000.0
$28-30 million $28 million 28000000.0
$4 million $4 million 4000000.0
$13 million $13 million 13000000.0
$75 million $75 million 75000000.0
$117 million $117 million 117000000.0
nan nan nan
$150 million $150 million 150000000.0
$1.8 million $1.8 million 1800000.0
$20 million $20 million 20000000.0
$19 million $19 million 19000000.0
$80 million $80 million 80000000.0
$5 million $5 million 5000000.0
$26 million $26 million 26000000.0
['$20', 'million', '[4]', '[5]'] $20 million 20000000.0
$4 million $4 million 4000000.0
$30 million $30 million 30000000.0
$38 million $38 million 38000000.0
nan nan nan
$100 million $100 million 100000000.0
$25 million $25 million 25000000.0
$17 million $17 million 17000000.0
$25 million $25 million 25000000.0
$30 million $30 million 30000000.0
$10 million $10 million 10000000.0
$10.5 million $10.5 million 10500000.0
$50 million $50 million 50000000.0
$38,000 $38,000 38000.0
$130 million $130 million 130000000.0
$20 million $20 million 20000000.0
nan nan nan
$40 million $40 million 40000000.0
$7 million $7 million 7000000.0
$25 million $25 million 25000000.0
$35 million $35 million 35000000.0
$30 million $30 million 30000000.0
nan nan nan
$35 million $35 million 35000000.0
$100 million $100 million 100000000.0
nan nan nan
nan nan nan
$3 million $3 million 3000000.0
$15 million $15 million 15000000.0
$95 million $95 million 95000000.0
nan nan nan
$24 million $24 million 24000000.0
$3 million $3 million 3000000.0
$3 million $3 million 3000000.0
$40 million $40 million 40000000.0
$150–200 million $150 million 150000000.0
$3 million $3 million 3000000.0
$15 million $15 million 15000000.0
nan nan nan
$58 million $58 million 58000000.0
$16 million $16 million 16000000.0
$32 million $32 million 32000000.0
$60 million $60 million 60000000.0
$200 million $200 million 200000000.0
$4,500,000 $4,500,000 4500000.0
$10 million $10 million 10000000.0
$2 million $2 million 2000000.0
$110 million $110 million 110000000.0
$20 million $20 million 20000000.0
['$85–90 million (gross)', '[2]', '[3]', '[4]', '$60 million (net)', '[5]'] $60 million 60000000.0
$35 million $35 million 35000000.0
$95 million $95 million 95000000.0
$20 million $20 million 20000000.0
$135–165 million $135 million 135000000.0
$80 million $80 million 80000000.0
$10–20 million $10 million 10000000.0
nan nan nan
$40 million $40 million 40000000.0
$15 million $15 million 15000000.0
$7 million $7 million 7000000.0
$150 million $150 million 150000000.0
$30 million $30 million 30000000.0
$28 million $28 million 28000000.0
$30 million $30 million 30000000.0
$22 million $22 million 22000000.0
nan nan nan
$19 million $19 million 19000000.0
$32 million $32 million 32000000.0
$260 million $260 million 260000000.0
$20 million $20 million 20000000.0
$48 million $48 million 48000000.0
$37 million $37 million 37000000.0
$100 million $100 million 100000000.0
$200 million $200 million 200000000.0
$170 million $170 million 170000000.0
$38 million $38 million 38000000.0
$5 million $5 million 5000000.0
$85–100 million $85 million 85000000.0
$52 million $52 million 52000000.0
$20 million $20 million 20000000.0
nan nan nan
$70 million $70 million 70000000.0
$10 million $10 million 10000000.0
nan nan nan
nan nan nan
$28 million $28 million 28000000.0
$20 million $20 million 20000000.0
nan nan nan
$2 million $2 million 2000000.0
$150 million $150 million 150000000.0
nan nan nan
$80 million $80 million 80000000.0
$20 million $20 million 20000000.0
$22 million $22 million 22000000.0
$18 million $18 million 18000000.0
nan nan nan
$28 million $28 million 28000000.0
nan nan nan
$8 million $8 million 8000000.0
$35 million $35 million 35000000.0
$50.2 million $50.2 million 50200000.0
$135 million $135 million 135000000.0
$5 million $5 million 5000000.0
$80 million $80 million 80000000.0
$100,000 $100,000 100000.0
$5 million $5 million 5000000.0
$4 million $4 million 4000000.0
$40 million $40 million 40000000.0
$100 million $100 million 100000000.0
$20 million $20 million 20000000.0
$20 million $20 million 20000000.0
$100 million $100 million 100000000.0
$17 million $17 million 17000000.0
nan nan nan
$21 million $21 million 21000000.0
$3.2 million $3.2 million 3200000.0
$10 million $10 million 10000000.0
$32 million $32 million 32000000.0
$41 million $41 million 41000000.0
nan nan nan
$110 million $110 million 110000000.0
$32.5 million $32.5 million 32500000.0
nan nan nan
$9 million $9 million 9000000.0
$140–216.7 million $140 million 140000000.0
$25 million $25 million 25000000.0
$200 million $200 million 200000000.0
nan nan nan
$52 million $52 million 52000000.0
nan nan nan
$40 million $40 million 40000000.0
$90 million $90 million 90000000.0
$25 million $25 million 25000000.0
$60 million $60 million 60000000.0
$2 million $2 million 2000000.0
$163 million $163 million 163000000.0
$50 million $50 million 50000000.0
$34.8 million $34.8 million 34800000.0
$20 million $20 million 20000000.0
$20 million $20 million 20000000.0
$19.1 million $19.1 million 19100000.0
$21 million $21 million 21000000.0
$70 million $70 million 70000000.0
$37 million $37 million 37000000.0
$25 million $25 million 25000000.0
$17,000,000 $17,000,000 17000000.0
$50 million $50 million 50000000.0
$15 million $15 million 15000000.0
$50 million $50 million 50000000.0
$20 million $20 million 20000000.0
$25 million $25 million 25000000.0
$5 million $5 million 5000000.0
$40 million $40 million 40000000.0
$125 million $125 million 125000000.0
nan nan nan
nan nan nan
$40 million $40 million 40000000.0
$24 million $24 million 24000000.0
$35 million $35 million 35000000.0
$30 million $30 million 30000000.0
nan nan nan
$1 million $1 million 1000000.0
$90 million $90 million 90000000.0
$9 million $9 million 9000000.0
$36 million $36 million 36000000.0
$5 million $5 million 5000000.0
['$6 million', '[', 'citation needed', ']'] $6 million 6000000.0
$1.5 million $1.5 million 1500000.0
$120 million $120 million 120000000.0
$200 million $200 million 200000000.0
$36 million $36 million 36000000.0
$80 million $80 million 80000000.0
$30 million $30 million 30000000.0
$135 million $135 million 135000000.0
nan nan nan
['$250 million', '(Shared with', 'Part 1', ')', '[2]', '[3]'] $250 million 250000000.0
$3 million $3 million 3000000.0
$25 million $25 million 25000000.0
$7 million $7 million 7000000.0
$1.8 million $1.8 million 1800000.0
$30 million $30 million 30000000.0
$63 million $63 million 63000000.0
$35–37 million $35 million 35000000.0
$150-170 million $150 million 150000000.0
$50 million $50 million 50000000.0
$24 million $24 million 24000000.0
nan nan nan
$12.5 million $12.5 million 12500000.0
$75 million $75 million 75000000.0
$40 million $40 million 40000000.0
nan nan nan
$1.5 million $1.5 million 1500000.0
$35 million $35 million 35000000.0
$79 million $79 million 79000000.0
nan nan nan
$20 million $20 million 20000000.0
$6.6 million $6.6 million 6600000.0
$48 million $48 million 48000000.0
$13 million $13 million 13000000.0
$12 million $12 million 12000000.0
$70 million $70 million 70000000.0
$150 million $150 million 150000000.0
$30 million $30 million 30000000.0
nan nan nan
$250,000 $250,000 250000.0
$27 million $27 million 27000000.0
$40 million $40 million 40000000.0
nan nan nan
$30 million $30 million 30000000.0
$25 million $25 million 25000000.0
$14 million $14 million 14000000.0
$3.5 million $3.5 million 3500000.0
$150 million $150 million 150000000.0
$600,000 $600,000 600000.0
$40 million $40 million 40000000.0
$17 million $17 million 17000000.0
$145 million $145 million 145000000.0
$50 million $50 million 50000000.0
$20 million $20 million 20000000.0
$55 million $55 million 55000000.0
nan nan nan
['$', '56 million', '[2]'] $56 million 56000000.0
$9,000 $9,000 9000.0
$25 million $25 million 25000000.0
$15 million $15 million 15000000.0
$5 million $5 million 5000000.0
nan nan nan
$5 million $5 million 5000000.0
$40 million $40 million 40000000.0
nan nan nan
nan nan nan
$500,000 $500,000 500000.0
['$410.6 million', '(gross)', '$378.5 million', '(net)', '[2]'] $378.5 million 378500000.0
$60 million $60 million 60000000.0
$8 million $8 million 8000000.0
nan nan nan
$130 million $130 million 130000000.0
$135 million $135 million 135000000.0
$110 million $110 million 110000000.0
$42 million $42 million 42000000.0
$4 million $4 million 4000000.0
$8 million $8 million 8000000.0
nan nan nan
$90 million $90 million 90000000.0
$93 million $93 million 93000000.0
$37 million $37 million 37000000.0
$16 million $16 million 16000000.0
$45 million $45 million 45000000.0
$30 million $30 million 30000000.0
$40 million $40 million 40000000.0
$40 million $40 million 40000000.0
$7.5 million $7.5 million 7500000.0
$25 million $25 million 25000000.0
$125 million $125 million 125000000.0
$25 million $25 million 25000000.0
nan nan nan
$110 million $110 million 110000000.0
$6 million $6 million 6000000.0
$35 million $35 million 35000000.0
$15 million $15 million 15000000.0
$18 million $18 million 18000000.0
$31.9 million $31.9 million 31900000.0
$27 million $27 million 27000000.0
$25 million $25 million 25000000.0
$82 million $82 million 82000000.0
$2.5 million $2.5 million 2500000.0
$50 million $50 million 50000000.0
$19 million $19 million 19000000.0
$4.75 million $4.75 million 4750000.0
nan nan nan
nan nan nan
$38 million $38 million 38000000.0
$150 million $150 million 150000000.0
$75 million $75 million 75000000.0
$75–85 million $75 million 75000000.0
$195 million $195 million 195000000.0
$32 million $32 million 32000000.0
$35 million $35 million 35000000.0
['$30', '[3]', '–40', '[4]', 'million'] nan nan
$19 million $19 million 19000000.0
$5 million $5 million 5000000.0
$25 million $25 million 25000000.0
$38 million $38 million 38000000.0
N/A nan nan
$50 million $50 million 50000000.0
$20 million $20 million 20000000.0
$5 million $5 million 5000000.0
$30 million $30 million 30000000.0
nan nan nan
$140–160 million $140 million 140000000.0
$12 million $12 million 12000000.0
$50 million $50 million 50000000.0
$80 million $80 million 80000000.0
nan nan nan
$1 million $1 million 1000000.0
$54.7 million $54.7 million 54700000.0
nan nan nan
$480,000 $480,000 480000.0
nan nan nan
nan nan nan
nan nan nan
$150,000 $150,000 150000.0
$99.5 million $99.5 million 99500000.0
$12 million $12 million 12000000.0
nan nan nan
nan nan nan
£4 million nan nan
$35 million $35 million 35000000.0
nan nan nan
nan nan nan
nan nan nan
nan nan nan
['$200–230 million', '[a]'] $200 million 200000000.0
$50 million $50 million 50000000.0
nan nan nan
$750,000 $750,000 750000.0
$17 million $17 million 17000000.0
$12 million $12 million 12000000.0
nan nan nan
$44.5 million $44.5 million 44500000.0
nan nan nan
$10 million $10 million 10000000.0
$3 million $3 million 3000000.0
nan nan nan
$220 million $220 million 220000000.0
nan nan nan
$3 million $3 million 3000000.0
nan nan nan
nan nan nan
nan nan nan
nan nan nan
nan nan nan
nan nan nan
nan nan nan
$6,000 $6,000 6000.0
nan nan nan
$220 million $220 million 220000000.0
$2 million $2 million 2000000.0
nan nan nan
$1.8 million $1.8 million 1800000.0
nan nan nan
nan nan nan
nan nan nan
nan nan nan
$6 million $6 million 6000000.0
$1.5 million $1.5 million 1500000.0
nan nan nan
nan nan nan
$40 million $40 million 40000000.0
nan nan nan
nan nan nan
$20,000 $20,000 20000.0
nan nan nan
nan nan nan
nan nan nan
$125 million $125 million 125000000.0
nan nan nan
nan nan nan
$185 million $185 million 185000000.0
nan nan nan
nan nan nan
$1,100,000 $1,100,000 1100000.0
nan nan nan
$30 million $30 million 30000000.0
nan nan nan
nan nan nan
nan nan nan
nan nan nan
$95 million $95 million 95000000.0
nan nan nan
['$', '6 million'] $6 million 6000000.0
$840,000 $840,000 840000.0
nan nan nan
nan nan nan
nan nan nan
$20 million $20 million 20000000.0
$1 million $1 million 1000000.0
$5 million $5 million 5000000.0
nan nan nan
nan nan nan
$12 million $12 million 12000000.0
nan nan nan
nan nan nan
['$146.7 million (gross)', '$128.5 million (net)', '[4]'] $128.5 million 128500000.0
$20 million $20 million 20000000.0
$10 million $10 million 10000000.0
nan nan nan
nan nan nan
nan nan nan
$25 million $25 million 25000000.0
nan nan nan
nan nan nan
$10 million $10 million 10000000.0
$13,000,000 $13,000,000 13000000.0
$3 million $3 million 3000000.0
['$250–300 million (gross)', '[3]', '$230 million (net)', '[3]'] $230 million 230000000.0
$150 million $150 million 150000000.0
$25,000,000 $25,000,000 25000000.0
nan nan nan
$12 million $12 million 12000000.0
$3.4 million (estimated) $3.4 million 3400000.0
nan nan nan
nan nan nan
$12 million $12 million 12000000.0
nan nan nan
nan nan nan
nan nan nan
nan nan nan
nan nan nan
$1 million $1 million 1000000.0
$22 million $22 million 22000000.0
$65 million $65 million 65000000.0
nan nan nan
$100 million $100 million 100000000.0
nan nan nan
nan nan nan
nan nan nan
nan nan nan
nan nan nan
nan nan nan
nan nan nan
nan nan nan
nan nan nan
nan nan nan
$7–15 million $7 million 7000000.0

$12,000 $12,000 12000.0
nan nan nan
nan nan nan
nan nan nan
$100 million $100 million 100000000.0
$100,000 $100,000 100000.0
$1.3–2 million $1.3 million 1300000.0
nan nan nan
nan nan nan
nan nan nan
$30 million $30 million 30000000.0
nan nan nan
$31 million $31 million 31000000.0
$1.3 million $1.3 million 1300000.0
nan nan nan
nan nan nan
nan nan nan
nan nan nan
$325,000 $325,000 325000.0
$39 million $39 million 39000000.0
Less than $10 million $10 million 10000000.0
$14 million $14 million 14000000.0
nan nan nan
nan nan nan
$57-75 million $57 million 57000000.0
nan nan nan
nan nan nan
nan nan nan
$14 million $14 million 14000000.0
$25 million $25 million 25000000.0
$40 million $40 million 40000000.0
$23 million $23 million 23000000.0
nan nan nan
$42 million $42 million 42000000.0
$7 million $7 million 7000000.0
$10 million $10 million 10000000.0
$2 million $2 million 2000000.0
$30 million $30 million 30000000.0
$85 million $85 million 85000000.0
$6.9 million $6.9 million 6900000.0
$78 million $78 million 78000000.0
nan nan nan
$95 million $95 million 95000000.0
$60 million $60 million 60000000.0
nan nan nan
$7.5 million $7.5 million 7500000.0
['$306.6 million (gross)', '[2]', '$263.7 million (net)', '[2]'] $263.7 million 263700000.0
$79 million $79 million 79000000.0
$25 million $25 million 25000000.0
$13 million $13 million 13000000.0
nan nan nan
$10 million $10 million 10000000.0
nan nan nan
$26 million $26 million 26000000.0
nan nan nan
$120 million $120 million 120000000.0
$65 million $65 million 65000000.0
$12.5 million $12.5 million 12500000.0
$20 million $20 million 20000000.0
nan nan nan
nan nan nan
$30 million $30 million 30000000.0
$70 million $70 million 70000000.0
$25 million $25 million 25000000.0
$145 million $145 million 145000000.0
$20 million $20 million 20000000.0
$7 million $7 million 7000000.0
$5,000,000 $5,000,000 5000000.0
$1.5 million $1.5 million 1500000.0
$42 million $42 million 42000000.0
$15 million $15 million 15000000.0
nan nan nan
['US$', '32 million', '[1]'] $32 million 32000000.0
$215–225 million $215 million 215000000.0
$85 million $85 million 85000000.0
$16 million $16 million 16000000.0
nan nan nan
$25 million $25 million 25000000.0
$40 million $40 million 40000000.0
nan nan nan
$20 million $20 million 20000000.0
$7 million $7 million 7000000.0
$12.5 million $12.5 million 12500000.0
$5 million $5 million 5000000.0
$60 million $60 million 60000000.0
$25 million $25 million 25000000.0
nan nan nan
$16 million $16 million 16000000.0
$13 million $13 million 13000000.0
$5 million $5 million 5000000.0
$17 million $17 million 17000000.0
$14 million $14 million 14000000.0
$35 million $35 million 35000000.0
nan nan nan
$12 million $12 million 12000000.0
$120–130 million $120 million 120000000.0
nan nan nan
nan nan nan
$12,000,000 (estimated) $12,000,000 12000000.0
$26 million $26 million 26000000.0
$65 million $65 million 65000000.0
nan nan nan
€14 million nan nan
$58 million $58 million 58000000.0
$15 million $15 million 15000000.0
$65 million $65 million 65000000.0
$145 million $145 million 145000000.0
$2.5 million $2.5 million 2500000.0
$75 million $75 million 75000000.0
nan nan nan
$30 million $30 million 30000000.0
$85 million $85 million 85000000.0
$750,000 $750,000 750000.0
$4 million $4 million 4000000.0
$45 million $45 million 45000000.0
$10 million $10 million 10000000.0
$1 million $1 million 1000000.0
$20 million $20 million 20000000.0
$2 million [unconfirmed - dead link] $2 million 2000000.0
$21 million $21 million 21000000.0
$3 million $3 million 3000000.0
nan nan nan
$500,000 $500,000 500000.0
$170 million $170 million 170000000.0
$135,000 $135,000 135000.0
$14 million $14 million 14000000.0
$33 million $33 million 33000000.0
$15 million $15 million 15000000.0
nan nan nan
['$18.2 million', '[', 'citation needed', ']'] $18.2 million 18200000.0
$50 million $50 million 50000000.0
$70 million $70 million 70000000.0
$12 million $12 million 12000000.0
$35 million $35 million 35000000.0
$65 million $65 million 65000000.0
$40 million $40 million 40000000.0
$30 million $30 million 30000000.0
$7 million $7 million 7000000.0
nan nan nan
$125 million $125 million 125000000.0
nan nan nan
$60 million $60 million 60000000.0
$136.2 million $136.2 million 136200000.0
$70 million $70 million 70000000.0
nan nan nan
nan nan nan
$30 million $30 million 30000000.0
$35 million $35 million 35000000.0
$68 million $68 million 68000000.0
$40 million $40 million 40000000.0
$19 million $19 million 19000000.0
$6 million $6 million 6000000.0
$150 million $150 million 150000000.0
$165 million $165 million 165000000.0
$16,203 $16,203 16203.0
$40 million $40 million 40000000.0
$61 million $61 million 61000000.0
nan nan nan
$20–22 million $20 million 20000000.0
$1 million $1 million 1000000.0
$10–13 million $10 million 10000000.0
nan nan nan
$3,000,000 $3,000,000 3000000.0
$40 million $40 million 40000000.0
$175 million $175 million 175000000.0
nan nan nan
nan nan nan
nan nan nan
$13 million $13 million 13000000.0
$130–150 million $130 million 130000000.0
$2 million $2 million 2000000.0
$4 million $4 million 4000000.0
$8.5 million $8.5 million 8500000.0
$7 million $7 million 7000000.0
$40 million $40 million 40000000.0
$50 million $50 million 50000000.0
nan nan nan
$5 million $5 million 5000000.0
nan nan nan
nan nan nan
nan nan nan
nan nan nan
nan nan nan
nan nan nan
$37 million $37 million 37000000.0
$8.5 million $8.5 million 8500000.0
$20 million $20 million 20000000.0
nan nan nan
$50–60 million $50 million 50000000.0
$3 million $3 million 3000000.0
$23 million $23 million 23000000.0
$1 million $1 million 1000000.0
$207,061 $207,061 207061.0
nan nan nan
$17 million $17 million 17000000.0
nan nan nan
nan nan nan
nan nan nan
$35 million $35 million 35000000.0
$17.5 million $17.5 million 17500000.0
$1.5 million $1.5 million 1500000.0
nan nan nan
$8 million $8 million 8000000.0
nan nan nan
$18 million $18 million 18000000.0
$420,000 $420,000 420000.0
nan nan nan
$19 million $19 million 19000000.0
nan nan nan
nan nan nan
nan nan nan
$385,000 $385,000 385000.0
$35 million $35 million 35000000.0
$40–55 million $40 million 40000000.0
$30 million $30 million 30000000.0
nan nan nan
$13 million $13 million 13000000.0
$8 million $8 million 8000000.0
$250,000 $250,000 250000.0
$55 million $55 million 55000000.0
$30 million $30 million 30000000.0
$5 million $5 million 5000000.0
nan nan nan
nan nan nan
nan nan nan
nan nan nan
$78 million $78 million 78000000.0
nan nan nan
$2 million (est.) $2 million 2000000.0
nan nan nan
nan nan nan
['$20', 'million', '[2]'] $20 million 20000000.0
nan nan nan
nan nan nan
nan nan nan
nan nan nan
$25 million $25 million 25000000.0
$135–175 million $135 million 135000000.0
nan nan nan
$5 million $5 million 5000000.0
$3.5 million $3.5 million 3500000.0
$30 million $30 million 30000000.0
$76 million $76 million 76000000.0
nan nan nan
nan nan nan
$3–5.5 million $3 million 3000000.0
nan nan nan
nan nan nan
$1 million $1 million 1000000.0
$115 million $115 million 115000000.0
$11 million $11 million 11000000.0
nan nan nan
$8 million $8 million 8000000.0
$93 million $93 million 93000000.0
nan nan nan
$40 million $40 million 40000000.0
$54 million $54 million 54000000.0
Less than $10 million $10 million 10000000.0
$17 million $17 million 17000000.0
$4,000,000 $4,000,000 4000000.0
nan nan nan
$160–260 million $160 million 160000000.0
$28 million $28 million 28000000.0
nan nan nan
$45–65 million $45 million 45000000.0
$3 million $3 million 3000000.0
nan nan nan
$55 million $55 million 55000000.0
nan nan nan
$150 million $150 million 150000000.0
$19.2 million $19.2 million 19200000.0
$900,000 $900,000 900000.0
$3.2 million $3.2 million 3200000.0
$130-155 million $130 million 130000000.0
$60–75 million $60 million 60000000.0
nan nan nan
nan nan nan
$18 million $18 million 18000000.0
nan nan nan
nan nan nan
nan nan nan
nan nan nan
$92 million $92 million 92000000.0
$1.7 million $1.7 million 1700000.0
$100–130 million $100 million 100000000.0
$105 million $105 million 105000000.0
$5 million $5 million 5000000.0
nan nan nan
nan nan nan
$80 million $80 million 80000000.0
$40 million $40 million 40000000.0
$103 million $103 million 103000000.0
nan nan nan
$4.5 million $4.5 million 4500000.0
$50 million $50 million 50000000.0
nan nan nan
nan nan nan
$2.5 million $2.5 million 2500000.0
$1.5 million $1.5 million 1500000.0
nan nan nan
$43 million $43 million 43000000.0
$2.5 million $2.5 million 2500000.0
$23 million $23 million 23000000.0
nan nan nan
$217–260 million $217 million 217000000.0
nan nan nan
$22 million $22 million 22000000.0
['US$', '10,000', '[1]'] $10,000 10000.0
$40 million $40 million 40000000.0
nan nan nan
['$4 million', '[', 'citation needed', ']'] $4 million 4000000.0
nan nan nan
nan nan nan
nan nan nan
$130–140 million $130 million 130000000.0
nan nan nan
$3 million $3 million 3000000.0
nan nan nan
nan nan nan
$42,394 $42,394 42394.0
$10 million $10 million 10000000.0
$35 million $35 million 35000000.0
Less than $1 million $1 million 1000000.0
nan nan nan
$34 million $34 million 34000000.0
nan nan nan
$3,000,000 $3,000,000 3000000.0
$11 million $11 million 11000000.0
$5 million $5 million 5000000.0
$58 million $58 million 58000000.0
$200 million $200 million 200000000.0
nan nan nan
nan nan nan
nan nan nan
$195-220 million $195 million 195000000.0
$15 million $15 million 15000000.0
$15 million $15 million 15000000.0
$69,000 $69,000 69000.0
$12 million $12 million 12000000.0
Less than $1 million $1 million 1000000.0
$4 million $4 million 4000000.0
nan nan nan
nan nan nan
$5 million $5 million 5000000.0
$2.5 million $2.5 million 2500000.0
$28 million $28 million 28000000.0
$5,678,370 $5,678,370 5678370.0
nan nan nan
$1.5 million $1.5 million 1500000.0
nan nan nan
nan nan nan
nan nan nan
nan nan nan
$70,000 (estimated) $70,000 70000.0
nan nan nan
$5 million $5 million 5000000.0
nan nan nan
$45 million $45 million 45000000.0
$28 million $28 million 28000000.0
nan nan nan
nan nan nan
nan nan nan
nan nan nan
$12 million $12 million 12000000.0
nan nan nan
nan nan nan
nan nan nan
$225–250 million $225 million 225000000.0
$1.5 million $1.5 million 1500000.0
$2.5 million $2.5 million 2500000.0
$12 million $12 million 12000000.0
$40 million $40 million 40000000.0
nan nan nan
nan nan nan
$20 million $20 million 20000000.0
$25 million $25 million 25000000.0
nan nan nan
nan nan nan
$225–258 million $225 million 225000000.0
nan nan nan
$1.5 million $1.5 million 1500000.0
nan nan nan
nan nan nan
nan nan nan
$32 million $32 million 32000000.0
$200 million $200 million 200000000.0
$60 million $60 million 60000000.0
$6 million $6 million 6000000.0
nan nan nan
$10 million $10 million 10000000.0
$13.5 million $13.5 million 13500000.0
nan nan nan
$2.9 million $2.9 million 2900000.0
$75 million $75 million 75000000.0
$160 million $160 million 160000000.0
$27 million $27 million 27000000.0
nan nan nan
$30 million $30 million 30000000.0
$70 million $70 million 70000000.0
$10 million $10 million 10000000.0
$22 million $22 million 22000000.0
$200–215 million $200 million 200000000.0
$200 million $200 million 200000000.0
nan nan nan
$26-$35 million $35 million 35000000.0
$3.5 million $3.5 million 3500000.0
nan nan nan
$35 million $35 million 35000000.0
nan nan nan
$31–35 million $31 million 31000000.0
$10 million $10 million 10000000.0
nan nan nan
nan nan nan
nan nan nan
$90 million $90 million 90000000.0
nan nan nan
$12 million $12 million 12000000.0

nan nan nan
$15 million $15 million 15000000.0
$50 million $50 million 50000000.0
$2 million $2 million 2000000.0
nan nan nan
nan nan nan
nan nan nan
$725,000 $725,000 725000.0
$46 million $46 million 46000000.0
nan nan nan
nan nan nan
nan nan nan
nan nan nan
$84 million $84 million 84000000.0
$5 million $5 million 5000000.0
$38 million $38 million 38000000.0
['$130-154 million', '[4]', '[', 'dead link', ']', '[5]'] $130 million 130000000.0
nan nan nan
$15 million $15 million 15000000.0
nan nan nan
$30 million $30 million 30000000.0
$28 million $28 million 28000000.0
nan nan nan
nan nan nan
nan nan nan
nan nan nan
$35 million $35 million 35000000.0
nan nan nan
$20 million $20 million 20000000.0
nan nan nan
nan nan nan
$90 million $90 million 90000000.0
nan nan nan
nan nan nan
nan nan nan
under $1 million $1 million 1000000.0
nan nan nan
$30 million $30 million 30000000.0
nan nan nan
nan nan nan
$105 million $105 million 105000000.0
nan nan nan
$25 million $25 million 25000000.0
nan nan nan
nan nan nan
$2.5 million $2.5 million 2500000.0
$7 million $7 million 7000000.0
$5 million $5 million 5000000.0
nan nan nan
$15 million $15 million 15000000.0
$185–190 million $185 million 185000000.0
$4.63 million $4.63 million 4630000.0
$12 million $12 million 12000000.0
$2,000,000 $2,000,000 2000000.0
$1,300,000 $1,300,000 1300000.0
nan nan nan
nan nan nan
nan nan nan
$7 million $7 million 7000000.0
nan nan nan
$37 million $37 million 37000000.0
nan nan nan
$20 million $20 million 20000000.0
$1.5 million $1.5 million 1500000.0
$32 million $32 million 32000000.0
$170–272 million $170 million 170000000.0
$127 million $127 million 127000000.0
$15 million $15 million 15000000.0
nan nan nan
nan nan nan
nan nan nan
$50,000 $50,000 50000.0
nan nan nan
nan nan nan
$8 million $8 million 8000000.0
nan nan nan
$80 million $80 million 80000000.0
$35 million $35 million 35000000.0
$5 million $5 million 5000000.0
nan nan nan
nan nan nan
$37 million $37 million 37000000.0
['$3.5 million', '[', 'citation needed', ']'] $3.5 million 3500000.0
$150 million $150 million 150000000.0
nan nan nan
$1.2 million $1.2 million 1200000.0
$100 million $100 million 100000000.0
$100–132 million $100 million 100000000.0
$190-269 million $190 million 190000000.0
nan nan nan
nan nan nan
$1 million $1 million 1000000.0
nan nan nan
nan nan nan
nan nan nan
$5–9.2 million $5 million 5000000.0
nan nan nan
nan nan nan
nan nan nan
$70 million $70 million 70000000.0
nan nan nan
nan nan nan
$7 million $7 million 7000000.0
$60 million $60 million 60000000.0
$4 million $4 million 4000000.0
$43 million $43 million 43000000.0
$25 million $25 million 25000000.0
nan nan nan
$65 million $65 million 65000000.0
nan nan nan
$18 million $18 million 18000000.0
$8 million $8 million 8000000.0
nan nan nan
nan nan nan
$70–91 million $70 million 70000000.0
nan nan nan
nan nan nan
nan nan nan
$10,000,000 $10,000,000 10000000.0
$30 million $30 million 30000000.0
$12.5 million $12.5 million 12500000.0
nan nan nan
nan nan nan
$6 million $6 million 6000000.0
$20 million $20 million 20000000.0
$100 million $100 million 100000000.0
nan nan nan
nan nan nan
$28 million $28 million 28000000.0
nan nan nan
nan nan nan
nan nan nan
nan nan nan
$50 million $50 million 50000000.0
nan nan nan
$22 million $22 million 22000000.0
$110 million $110 million 110000000.0
$145 million $145 million 145000000.0
nan nan nan
$66 million $66 million 66000000.0
$8 million $8 million 8000000.0
$6 million $6 million 6000000.0
$100,000 $100,000 100000.0
$85 million $85 million 85000000.0
$2 million $2 million 2000000.0
$51 million $51 million 51000000.0
$10 million $10 million 10000000.0
$125 million $125 million 125000000.0
$35 million $35 million 35000000.0
nan nan nan
nan nan nan
$170–177 million $170 million 170000000.0
$10,000,000 $10,000,000 10000000.0
nan nan nan
['$25 million (gross)', '[2]', '$20.7 million (net)', '[2]'] $20.7 million 20700000.0
$5 million $5 million 5000000.0
$103 million $103 million 103000000.0
nan nan nan
$12 million $12 million 12000000.0
nan nan nan
$4 million $4 million 4000000.0
nan nan nan
$100–150 million $100 million 100000000.0
nan nan nan
$28 million $28 million 28000000.0
$40 million $40 million 40000000.0
nan nan nan
$200–293 million $200 million 200000000.0
nan nan nan
nan nan nan
$15 million $15 million 15000000.0
nan nan nan
nan nan nan
$5 million $5 million 5000000.0
$18 million $18 million 18000000.0
nan nan nan
$160 million $160 million 160000000.0
$25 million $25 million 25000000.0
nan nan nan
$40 million $40 million 40000000.0
nan nan nan
$200–220 million $200 million 200000000.0
$180–263 million $180 million 180000000.0
$40 million $40 million 40000000.0
$178 million $178 million 178000000.0
['$12', 'million (gross)', '[2]', '$8.5', 'million (net)', '[2]'] $12 million 12000000.0
$1.5 million $1.5 million 1500000.0
$50–84.5 million $50 million 50000000.0
nan nan nan
$145 million $145 million 145000000.0
nan nan nan
$1.5 Million nan nan
$1 million $1 million 1000000.0
$4 million $4 million 4000000.0
$40–58.6 million $40 million 40000000.0
$24 million $24 million 24000000.0
$5 million $5 million 5000000.0
$3 million $3 million 3000000.0
$210 million $210 million 210000000.0
$30 million $30 million 30000000.0
$13 million $13 million 13000000.0
nan nan nan
['$20 million (gross)', '[2]', '$16.4 million (net)', '[2]'] $16.4 million 16399999.999999998
$4 million $4 million 4000000.0
['$235 million (gross)', '[5]', '$209 million (', 'net', ')', '[5]'] $209 million 209000000.0
$25 million $25 million 25000000.0
$600,000 $600,000 600000.0
$1 million $1 million 1000000.0
nan nan nan
$50 million $50 million 50000000.0
$9–11 million $9 million 9000000.0
$40 million $40 million 40000000.0
nan nan nan
$6 million $6 million 6000000.0
$18 million $18 million 18000000.0
$70,000 $70,000 70000.0
$100 million $100 million 100000000.0
$16.8 million $16.8 million 16800000.0
nan nan nan
$30 million $30 million 30000000.0
['$232.3 million (gross)', '[2]', '$195.9 million (net)', '[2]'] $195.9 million 195900000.0
nan nan nan
nan nan nan
$22 million $22 million 22000000.0
$50 million $50 million 50000000.0
['$45 million', '[', 'citation needed', ']'] $45 million 45000000.0
$125–150 million $125 million 125000000.0
$17 million $17 million 17000000.0
$90-100 million $90 million 90000000.0
$25 million $25 million 25000000.0
$2.4 million $2.4 million 2400000.0
nan nan nan
['$11', 'million', '[3]'] $11 million 11000000.0
nan nan nan
nan nan nan
$18 million $18 million 18000000.0
$65 million $65 million 65000000.0
$5 million $5 million 5000000.0
$7–10 million $7 million 7000000.0
$5 million $5 million 5000000.0
['$36 million (gross)', '[3]', '$30.5 million (net)', '[3]'] $30.5 million 30500000.0
$1,000,000 $1,000,000 1000000.0
$13.2 million $13.2 million 13200000.0
$5 million $5 million 5000000.0
$23–28 million $23 million 23000000.0
$34 million $34 million 34000000.0
nan nan nan
$1 million $1 million 1000000.0
$19.8 million $19.8 million 19800000.0
$3 million $3 million 3000000.0
$60 million $60 million 60000000.0
$55–73 million $55 million 55000000.0
nan nan nan
nan nan nan
['$6.5', 'million', '[2]'] $6.5 million 6500000.0
$61 million $61 million 61000000.0
nan nan nan
$16 million $16 million 16000000.0
nan nan nan
$5 million $5 million 5000000.0
$28 million $28 million 28000000.0
$70 million $70 million 70000000.0
$45–50 million $45 million 45000000.0
$3.3 million $3.3 million 3300000.0
nan nan nan
$18 million $18 million 18000000.0
$50 million $50 million 50000000.0
$1 million $1 million 1000000.0
nan nan nan
$1 million $1 million 1000000.0
$68–80 million $68 million 68000000.0
nan nan nan
$8.5 million $8.5 million 8500000.0
nan nan nan
nan nan nan
nan nan nan
$5–8 million $5 million 5000000.0
$165 million $165 million 165000000.0
nan nan nan
nan nan nan
$165 million $165 million 165000000.0
nan nan nan
['$4 million (gross)', '[1]', '$2.9 million (net)', '[1]'] $2.9 million 2900000.0
$7 million $7 million 7000000.0
$50 million $50 million 50000000.0
['$24 million', '[a]'] $24 million 24000000.0
$16 million $16 million 16000000.0
$500,000 $500,000 500000.0
$125–140 million $125 million 125000000.0
$42–57 million $42 million 42000000.0
$132 million $132 million 132000000.0
nan nan nan
$15 million $15 million 15000000.0
$140–200 million $140 million 140000000.0
$20 million $20 million 20000000.0
nan nan nan
$12 million $12 million 12000000.0
nan nan nan
$65–78 million $65 million 65000000.0
$127 million $127 million 127000000.0
$10 million $10 million 10000000.0
$44 million $44 million 44000000.0
$50 million $50 million 50000000.0
$65 million $65 million 65000000.0
$15 million $15 million 15000000.0
$48 million $48 million 48000000.0
$5 million $5 million 5000000.0
nan nan nan
$70 million $70 million 70000000.0
nan nan nan
['€38.5 million', '$65 million', '(gross)', '[5]', '$54.7 million', '(net)', '[5]'] $54.7 million 54700000.0
$4 million $4 million 4000000.0
$23 million $23 million 23000000.0
nan nan nan
nan nan nan
$4 million $4 million 4000000.0
$2 million $2 million 2000000.0
$60 million $60 million 60000000.0
$6 million $6 million 6000000.0
$70–100 million $70 million 70000000.0
nan nan nan
$9 million $9 million 9000000.0
$14 million $14 million 14000000.0
$12 million $12 million 12000000.0
$30 million $30 million 30000000.0
nan nan nan
nan nan nan
$176–200 million $176 million 176000000.0
nan nan nan
$95 million $95 million 95000000.0
$74 million $74 million 74000000.0
$11 million $11 million 11000000.0
$26 million $26 million 26000000.0
$1.4 million $1.4 million 1400000.0
$40 million $40 million 40000000.0
$81–94 million $81 million 81000000.0
$2 million $2 million 2000000.0
$8.5 million $8.5 million 8500000.0
$18 million $18 million 18000000.0
$25 million $25 million 25000000.0
nan nan nan
$50.1 million $50.1 million 50100000.0
$3.3 million $3.3 million 3300000.0
$13 million $13 million 13000000.0
US$10 million $10 million 10000000.0
nan nan nan
$49 million $49 million 49000000.0
nan nan nan
$10 million $10 million 10000000.0
$35 million $35 million 35000000.0
$95–100 million $95 million 95000000.0
$10 million $10 million 10000000.0
$3.2 million $3.2 million 3200000.0
nan nan nan
$2 million $2 million 2000000.0
$250,000 $250,000 250000.0
$50–61.6 million $50 million 50000000.0
$10 million $10 million 10000000.0
$110 million $110 million 110000000.0
$2.3 million $2.3 million 2300000.0
$40 million $40 million 40000000.0
$11 million $11 million 11000000.0
nan nan nan
['$44 million (gross)', '[3]', '$31.7 million (net)', '[3]'] $31.7 million 31700000.0
$135 million $135 million 135000000.0
$25–30 million $25 million 25000000.0
$10 million $10 million 10000000.0
$190–250 million $190 million 190000000.0

$11 million $11 million 11000000.0
$15 million $15 million 15000000.0
$34 million $34 million 34000000.0
nan nan nan
nan nan nan
nan nan nan
nan nan nan
$50 million $50 million 50000000.0
$5–10 million $5 million 5000000.0
$30–40 million $30 million 30000000.0
nan nan nan
nan nan nan
$1 million $1 million 1000000.0
$2 million $2 million 2000000.0
nan nan nan
$1.9 million $1.9 million 1900000.0
nan nan nan
$20 million $20 million 20000000.0
$25 million $25 million 25000000.0
['$444–495.2 million (gross)', '[2]', '[3]', '$365.5 million (net)', '[2]'] $365.5 million 365500000.0
['£', '12 million', '[3]'] nan nan
$3 million $3 million 3000000.0
$35 million $35 million 35000000.0
$1.4 million $1.4 million 1400000.0
$150 million $150 million 150000000.0
$29–31 million $29 million 29000000.0
$35 million $35 million 35000000.0
$180–190 million $180 million 180000000.0
['¥1.15 billion', '(', '$10.5 million', ')'] $10.5 million 10500000.0
$37–52 million $37 million 37000000.0
$110 million $110 million 110000000.0
$65 million $65 million 65000000.0
$27–39 million $27 million 27000000.0
$11 million $11 million 11000000.0
$10 million $10 million 10000000.0
$150 million $150 million 150000000.0
$8 million $8 million 8000000.0
$7 million $7 million 7000000.0
$175 million $175 million 175000000.0
$20 million $20 million 20000000.0
$68 million $68 million 68000000.0
$155–158 million $155 million 155000000.0
$74 million $74 million 74000000.0
$130–169.3 million $130 million 130000000.0
$35 million $35 million 35000000.0
$88–129 million $88 million 88000000.0
$30 million $30 million 30000000.0
$13 million $13 million 13000000.0
$150 million $150 million 150000000.0
$5 million $5 million 5000000.0
$28–50 million $28 million 28000000.0
$75–84 million $75 million 75000000.0
$10 million $10 million 10000000.0
$5 million $5 million 5000000.0
$35 million $35 million 35000000.0
$5 million $5 million 5000000.0
$53 million $53 million 53000000.0
$55 million $55 million 55000000.0
$30 million $30 million 30000000.0
nan nan nan
$108 million $108 million 108000000.0
$30 million $30 million 30000000.0
$40 million $40 million 40000000.0
$13 million $13 million 13000000.0
$55 million $55 million 55000000.0
$20 million $20 million 20000000.0
$99 million $99 million 99000000.0
$11.8 million $11.8 million 11800000.0
$160 million $160 million 160000000.0
$35–40 million $35 million 35000000.0
$175 million $175 million 175000000.0
$40 million $40 million 40000000.0
$100 million $100 million 100000000.0
$50 million $50 million 50000000.0
['$306 million (gross)', '[2]', '[3]', '[4]', '$258.6 million (net)', '[3]'] $258.6 million 258600000.00000003
$35–57 million $35 million 35000000.0
$69 million $69 million 69000000.0
$60 million $60 million 60000000.0
['US$', '105 million', '[6]', '[7]'] $105 million 105000000.0
$44–54 million $44 million 44000000.0
$165 million $165 million 165000000.0
$10 million $10 million 10000000.0
nan nan nan
nan nan nan
$40 million $40 million 40000000.0
$50 million $50 million 50000000.0
$18 million $18 million 18000000.0
nan nan nan
$25 million $25 million 25000000.0
$38–54 million $38 million 38000000.0
$10 million $10 million 10000000.0
['US$', '36 million', '[3]'] $36 million 36000000.0
nan nan nan
$145 million $145 million 145000000.0
$70–80 million $70 million 70000000.0
$5 million $5 million 5000000.0
$25 million $25 million 25000000.0
$22 million $22 million 22000000.0
$28 million $28 million 28000000.0
$10 million $10 million 10000000.0
$58 million $58 million 58000000.0
$55 million $55 million 55000000.0
$38 million $38 million 38000000.0
$20 million $20 million 20000000.0
$4 million $4 million 4000000.0
$5 million $5 million 5000000.0
$140 million $140 million 140000000.0
$20 million $20 million 20000000.0
['$150', 'million', '[4]'] $150 million 150000000.0
$60 million $60 million 60000000.0
$35 million $35 million 35000000.0
$5 million $5 million 5000000.0
$13–15 million $13 million 13000000.0
$18.5 million $18.5 million 18500000.0
$5 million $5 million 5000000.0
$1 million $1 million 1000000.0
$13 million $13 million 13000000.0
$110-142 million $110 million 110000000.0
$3.5 million $3.5 million 3500000.0
$18 million $18 million 18000000.0
$250–300 million $250 million 250000000.0
$18 million $18 million 18000000.0
$13 million $13 million 13000000.0
$10 million $10 million 10000000.0
$5 million $5 million 5000000.0
$900,000 $900,000 900000.0
nan nan nan
$29 million $29 million 29000000.0
$2 million $2 million 2000000.0
$10 million $10 million 10000000.0
$1 million $1 million 1000000.0
$177 million $177 million 177000000.0
$20 million $20 million 20000000.0
$31.5 million $31.5 million 31500000.0
$5 million $5 million 5000000.0
$115 million $115 million 115000000.0
$35 million $35 million 35000000.0
$4 million $4 million 4000000.0
$15 million $15 million 15000000.0
$25 million $25 million 25000000.0
$20 million $20 million 20000000.0
['$250', 'million', '[3]', '[4]'] $250 million 250000000.0
$27.4 million $27.4 million 27400000.0
$4 million $4 million 4000000.0
$3 million $3 million 3000000.0
$73 million $73 million 73000000.0
$35 million $35 million 35000000.0
$50 million $50 million 50000000.0
$178 million $178 million 178000000.0
$135 million $135 million 135000000.0
$20 million $20 million 20000000.0
$20 million $20 million 20000000.0
['$40', 'million', '[2]'] $40 million 40000000.0
$160 million $160 million 160000000.0
['$90 million (gross)', '[2]', '$71.4 million (net)', '[2]'] $71.4 million 71400000.0
['$175–200', 'million', '[3]'] nan nan
$50 million $50 million 50000000.0
$165 million $165 million 165000000.0
$17–25 million $17 million 17000000.0
$50 million $50 million 50000000.0
$7 million $7 million 7000000.0
$180 million $180 million 180000000.0
$140 million $140 million 140000000.0
$10 million $10 million 10000000.0
$75 million $75 million 75000000.0
$35 million $35 million 35000000.0
nan nan nan
$28–47.5 million $28 million 28000000.0
$144 million $144 million 144000000.0
$185 million $185 million 185000000.0
$105 million $105 million 105000000.0
$4.9 million $4.9 million 4900000.0
$120 million $120 million 120000000.0
$22 million $22 million 22000000.0
$19 million $19 million 19000000.0
$175 million $175 million 175000000.0
$30 million $30 million 30000000.0
$65 million $65 million 65000000.0
$19 million $19 million 19000000.0
$29 million $29 million 29000000.0
$87-100 million $87 million 87000000.0
$60 million $60 million 60000000.0
$50 million $50 million 50000000.0
$40 million $40 million 40000000.0
$9.9 million $9.9 million 9900000.0
$20 million $20 million 20000000.0
$20 million $20 million 20000000.0
$8 million $8 million 8000000.0
$60 million $60 million 60000000.0
$11 million $11 million 11000000.0
$13 million $13 million 13000000.0
$15 million $15 million 15000000.0
$35 million $35 million 35000000.0
$40 million $40 million 40000000.0
$5 million $5 million 5000000.0
$10 million $10 million 10000000.0
$90 million $90 million 90000000.0
$70 million $70 million 70000000.0
nan nan nan
$110 million $110 million 110000000.0
['$156 million (gross)', '[2]', '$110–120 million (net)', '[2]'] $156 million 156000000.0
$25 million $25 million 25000000.0
$45–50 million $45 million 45000000.0
$8.5 million $8.5 million 8500000.0
$8.5 million $8.5 million 8500000.0
$44 million $44 million 44000000.0
$9.9 million $9.9 million 9900000.0
$5-10 million $5 million 5000000.0
$60-96 million $60 million 60000000.0
$40 million $40 million 40000000.0
$9-12 million $9 million 9000000.0
$20 million $20 million 20000000.0
$1.5 million $1.5 million 1500000.0
$10 million $10 million 10000000.0
$75 million $75 million 75000000.0
$9.9 million $9.9 million 9900000.0
$150–175 million $150 million 150000000.0
['$265 million (gross)', '[2]', '$219.5 million (net)', '[2]'] $219.5 million 219500000.0
$7-25 million $7 million 7000000.0
$75 million $75 million 75000000.0
$43 million $43 million 43000000.0
['$25', 'million', '[2]'] $25 million 25000000.0
$35 million $35 million 35000000.0
nan nan nan
nan nan nan
$125 million $125 million 125000000.0
$6.2–7.4 million $6.2 million 6200000.0
$30 million $30 million 30000000.0
£3 million nan nan
nan nan nan
$9 million $9 million 9000000.0
$85 million $85 million 85000000.0
$2 million $2 million 2000000.0
nan nan nan
nan nan nan
$22 million $22 million 22000000.0
$40 million $40 million 40000000.0
nan nan nan
$2.5 million $2.5 million 2500000.0
nan nan nan
$30 million $30 million 30000000.0
nan nan nan
$1 million $1 million 1000000.0
$2 million $2 million 2000000.0
$80 million $80 million 80000000.0
$55 million $55 million 55000000.0
$40 million $40 million 40000000.0
$150 million $150 million 150000000.0
$40 million $40 million 40000000.0
$22–25 million $22 million 22000000.0
nan nan nan
$2 million $2 million 2000000.0
nan nan nan
$4.5 million $4.5 million 4500000.0
$60 million $60 million 60000000.0
$21.5 million $21.5 million 21500000.0
nan nan nan
nan nan nan
$97–127 million $97 million 97000000.0
$20 million $20 million 20000000.0
$5 million $5 million 5000000.0
$5 million $5 million 5000000.0
nan nan nan
nan nan nan
nan nan nan
$185 million $185 million 185000000.0
nan nan nan
$160–255 million $160 million 160000000.0
$5 million $5 million 5000000.0
nan nan nan
nan nan nan
nan nan nan
nan nan nan
$105 million $105 million 105000000.0
$58–62 million $58 million 58000000.0
$25 million $25 million 25000000.0
$5 million $5 million 5000000.0
nan nan nan
$110 million $110 million 110000000.0
$125 million $125 million 125000000.0
$20 million $20 million 20000000.0
nan nan nan
nan nan nan
nan nan nan
$3 million $3 million 3000000.0
$60 million $60 million 60000000.0
$25 million $25 million 25000000.0
$15 million $15 million 15000000.0
$7 million $7 million 7000000.0
$10.5 million $10.5 million 10500000.0
$250–270 million $250 million 250000000.0
nan nan nan
$30 million $30 million 30000000.0
nan nan nan
nan nan nan
$5–10 million $5 million 5000000.0
$12 million $12 million 12000000.0
$90 million $90 million 90000000.0
$18 million $18 million 18000000.0
$13 million $13 million 13000000.0
$250,000 $250,000 250000.0
$200 million $200 million 200000000.0
nan nan nan
nan nan nan
$175 million $175 million 175000000.0
$42 million $42 million 42000000.0
$5,000,000 $5,000,000 5000000.0
$3 million $3 million 3000000.0
$5 million $5 million 5000000.0
$97–111 million $97 million 97000000.0
$22 million $22 million 22000000.0
$10 million $10 million 10000000.0
nan nan nan
$65–69 million $65 million 65000000.0
$230–320 million $230 million 230000000.0
nan nan nan
$60 million $60 million 60000000.0
$120–150 million $120 million 120000000.0
$38 million $38 million 38000000.0
$125-195 million $125 million 125000000.0
$2.4–5 million $2.4 million 2400000.0
nan nan nan
$890,000 $890,000 890000.0
nan nan nan
$175 million $175 million 175000000.0
$20–26 million $20 million 20000000.0
$40–45 million $40 million 40000000.0
$5.3 million $5.3 million 5300000.0
$10 million $10 million 10000000.0
$217–260 million $217 million 217000000.0
$10 million $10 million 10000000.0
$5 million $5 million 5000000.0
$6 million $6 million 6000000.0
$34 million $34 million 34000000.0
$50 million $50 million 50000000.0
$80 million $80 million 80000000.0
$40 million $40 million 40000000.0
nan nan nan
$12.8 million $12.8 million 12800000.0
nan nan nan
$100,000 $100,000 100000.0
['$175', 'million', '[3]'] $175 million 175000000.0
$150 million $150 million 150000000.0
$12 million $12 million 12000000.0
['$100–150 million', '[nb 2]'] $100 million 100000000.0
['€197 million', '(gross)', '[5]', '(~$209 million)', '[6]', '$177–205 million', '(net)', '[6]', '[7]', '[8]'] $209 million 209000000.0
$20 million $20 million 20000000.0
nan nan nan
$30 million $30 million 30000000.0
$50 million $50 million 50000000.0
$1 million $1 million 1000000.0
$34–40 million $34 million 34000000.0
nan nan nan
nan nan nan
$66 million $66 million 66000000.0
$21 million $21 million 21000000.0
nan nan nan
$11 million $11 million 11000000.0
nan nan nan
['$15', 'million', '[2]'] $15 million 15000000.0
$9.8 million $9.8 million 9800000.0
$40 million $40 million 40000000.0
nan nan nan
nan nan nan
nan nan nan
$30–69 million $30 million 30000000.0
$29 million $29 million 29000000.0
$1 million $1 million 1000000.0
$2 million $2 million 2000000.0
nan nan nan
$25 million $25 million 25000000.0
nan nan nan
$35 million $35 million 35000000.0
$15 million $15 million 15000000.0
nan nan nan
nan nan nan
nan nan nan
$33–63 million $33 million 33000000.0
$30 million $30 million 30000000.0
nan nan nan
$104 million $104 million 104000000.0
$70 million $70 million 70000000.0
$30 million $30 million 30000000.0
$25 million $25 million 25000000.0
$5 million $5 million 5000000.0
$21 million $21 million 21000000.0
nan nan nan
$50–60 million $50 million 50000000.0
$19 million $19 million 19000000.0
nan nan nan
$150–185 million $150 million 150000000.0
$35 million $35 million 35000000.0
$6.5 million $6.5 million 6500000.0
$2 million $2 million 2000000.0
nan nan nan
['$4.8', 'million', '[1]'] $4.8 million 4800000.0
$12 million $12 million 12000000.0
$15 million $15 million 15000000.0
nan nan nan
nan nan nan
nan nan nan
$120 million $120 million 120000000.0
$38 million $38 million 38000000.0
$25 million $25 million 25000000.0
$6.5 million $6.5 million 6500000.0
nan nan nan
$7 million $7 million 7000000.0
nan nan nan
$20 million $20 million 20000000.0
$25 million $25 million 25000000.0
$10 million $10 million 10000000.0
nan nan nan
$30 million $30 million 30000000.0
nan nan nan
$180 million $180 million 180000000.0
$28 million $28 million 28000000.0
nan nan nan
$10 million $10 million 10000000.0
$55 million $55 million 55000000.0
$70 million $70 million 70000000.0
$20 million $20 million 20000000.0
$12–15 million $12 million 12000000.0
['$2.5 million', '[1]', '[', 'time needed', ']'] $2.5 million 2500000.0
$300 million $300 million 300000000.0
$20 million $20 million 20000000.0
$20 million $20 million 20000000.0
nan nan nan
nan nan nan
$22 million $22 million 22000000.0
['$175', 'million', '[6]'] $175 million 175000000.0
$30 million $30 million 30000000.0
nan nan nan
$3.5 million $3.5 million 3500000.0
$10 million $10 million 10000000.0
$20 million $20 million 20000000.0
$25 million $25 million 25000000.0
$11 million $11 million 11000000.0
$22 million $22 million 22000000.0
$200–317 million $200 million 200000000.0
$111 million $111 million 111000000.0
$20 million $20 million 20000000.0
$90–150 million $90 million 90000000.0
['$84', 'million', '[2]'] $84 million 84000000.0
$45 million $45 million 45000000.0
$68–76 million $68 million 68000000.0
$25 million $25 million 25000000.0
$50 million $50 million 50000000.0
$90–106.2 million $90 million 90000000.0
$10 million $10 million 10000000.0
$39 million $39 million 39000000.0
$50 million $50 million 50000000.0
$30 million $30 million 30000000.0
$35 million $35 million 35000000.0
$10 million $10 million 10000000.0
nan nan nan
£12.9 million nan nan
nan nan nan
$40 million $40 million 40000000.0
$14–30 million $14 million 14000000.0
nan nan nan
$2 million $2 million 2000000.0
nan nan nan
nan nan nan
nan nan nan
$35 million $35 million 35000000.0
$30 million $30 million 30000000.0
$3.5  million $3.5  million 3500000.0
$62 million $62 million 62000000.0
nan nan nan
nan nan nan
$3.5 million $3.5 million 3500000.0
nan nan nan
nan nan nan
$45 million $45 million 45000000.0
$50 million $50 million 50000000.0
$55 million $55 million 55000000.0
$30 million $30 million 30000000.0
3.5 crore nan nan
nan nan nan
nan nan nan
nan nan nan
$200 million $200 million 200000000.0
$50 million $50 million 50000000.0
nan nan nan
nan nan nan
nan nan nan
nan nan nan
nan nan nan
$37 million $37 million 37000000.0
$40–55 million $40 million 40000000.0
['$4.9', 'million', '[2]'] $4.9 million 4900000.0
nan nan nan
nan nan nan
$69 million $69 million 69000000.0
$30 million $30 million 30000000.0
nan nan nan
nan nan nan
$350,000 $350,000 350000.0
$100–130 million $100 million 100000000.0
nan nan nan
$5.1 million $5.1 million 5100000.0
nan nan nan
nan nan nan
$5 million $5 million 5000000.0
$35–40 million $35 million 35000000.0
$90–106 million $90 million 90000000.0
['$10–17', 'million', '[2]', '[3]'] nan nan
$7 million $7 million 7000000.0
nan nan nan
nan nan nan
nan nan nan
$500,000 $500,000 500000.0
$150 million $150 million 150000000.0
nan nan nan
['$65', 'million', '[2]'] $65 million 65000000.0
$1.5 million $1.5 million 1500000.0
$5 million $5 million 5000000.0
nan nan nan
$2.8 million $2.8 million 2800000.0
$155–175 million $155 million 155000000.0
$20 million $20 million 20000000.0
nan nan nan
nan nan nan
nan nan nan
$17–21 million $17 million 17000000.0
$21 million $21 million 21000000.0
nan nan nan
$34 million $34 million 34000000.0
$8 million $8 million 8000000.0
919,000 nan nan
nan nan nan
$120–140 million $120 million 120000000.0

$3.5 million $3.5 million 3500000.0
nan nan nan
$25 million $25 million 25000000.0
$32 million $32 million 32000000.0
$13.5 million $13.5 million 13500000.0
$4 million $4 million 4000000.0
$8.6 millon $8.6 millon 8600000.0
nan nan nan
$316–400 million $316 million 316000000.0
$6 million $6 million 6000000.0
$8 million US $8 million 8000000.0
nan nan nan
$12 million $12 million 12000000.0
nan nan nan
nan nan nan
nan nan nan
$10.5 million $10.5 million 10500000.0
$30 million $30 million 30000000.0
$6 million $6 million 6000000.0
nan nan nan
nan nan nan
$2.9 million $2.9 million 2900000.0
$110 million $110 million 110000000.0
$10 million $10 million 10000000.0
$3.5 million $3.5 million 3500000.0
$5.5 million $5.5 million 5500000.0
$275–300 million $275 million 275000000.0
nan nan nan
nan nan nan
nan nan nan
nan nan nan
$19 million $19 million 19000000.0
$35 million $35 million 35000000.0
$3 million $3 million 3000000.0
nan nan nan
nan nan nan
$70 million $70 million 70000000.0
nan nan nan
$10 million $10 million 10000000.0
$15 million $15 million 15000000.0
$16–29 million $16 million 16000000.0
$200 million $200 million 200000000.0
$28 million $28 million 28000000.0
$10 million $10 million 10000000.0
$170–187 million $170 million 170000000.0
nan nan nan
nan nan nan
nan nan nan
$35–45 million $35 million 35000000.0
nan nan nan
$18 million $18 million 18000000.0
$5 million $5 million 5000000.0
$13 million $13 million 13000000.0
$162–195 million $162 million 162000000.0
$3.2 million $3.2 million 3200000.0
nan nan nan
$80 million $80 million 80000000.0
$125 million $125 million 125000000.0
$2 million $2 million 2000000.0
$7.5 million $7.5 million 7500000.0
nan nan nan
$75 million $75 million 75000000.0
$62–79 million $62 million 62000000.0
nan nan nan
$1 million $1 million 1000000.0
nan nan nan
$178 million $178 million 178000000.0
$10 million $10 million 10000000.0
nan nan nan
nan nan nan
nan nan nan
$75  million $75  million 75000000.0
$34 million $34 million 34000000.0
$40 million $40 million 40000000.0
$900,000 $900,000 900000.0
nan nan nan
$10 million $10 million 10000000.0
$130–178 million $130 million 130000000.0
$15 million $15 million 15000000.0
$10–28 million $10 million 10000000.0
nan nan nan
$30 million $30 million 30000000.0
['$51', 'million', '[4]'] $51 million 51000000.0
$35–60 million $35 million 35000000.0
nan nan nan
$15 million $15 million 15000000.0
nan nan nan
nan nan nan
$40–47 million $40 million 40000000.0
$1 million $1 million 1000000.0
nan nan nan
$10 million $10 million 10000000.0
$20–24 million $20 million 20000000.0
$30 million $30 million 30000000.0
nan nan nan
$5 million $5 million 5000000.0
['$22', 'million', '[1]'] $22 million 22000000.0
['$22.8', 'million'] $22.8 million 22800000.0
$88 million $88 million 88000000.0
$29 million $29 million 29000000.0
$20 million $20 million 20000000.0
nan nan nan
nan nan nan
$6 million $6 million 6000000.0
$42 million $42 million 42000000.0
$10 million $10 million 10000000.0
$38 million $38 million 38000000.0
$7 million $7 million 7000000.0
nan nan nan
$4–5 million $4 million 4000000.0
nan nan nan
nan nan nan
$80 million $80 million 80000000.0
$29 million $29 million 29000000.0
nan nan nan
$5.5 million $5.5 million 5500000.0
$100–116 million $100 million 100000000.0
['$36', 'million', '[6]'] $36 million 36000000.0
$23 million $23 million 23000000.0
nan nan nan
['$70 million (gross)', '[3]', '[4]', '$59 million (net)', '[4]', '[5]'] $59 million 59000000.0
$32 million $32 million 32000000.0
$35 million $35 million 35000000.0
$25 million $25 million 25000000.0
nan nan nan
$4 million $4 million 4000000.0
$10 million $10 million 10000000.0
$10 million $10 million 10000000.0
nan nan nan
nan nan nan
nan nan nan
$40 million $40 million 40000000.0
$25 million $25 million 25000000.0
$20 million $20 million 20000000.0
$2.7 million $2.7 million 2700000.0
nan nan nan
$50–55 million $50 million 50000000.0
$120–133 million $120 million 120000000.0
$19 million $19 million 19000000.0
$11 million $11 million 11000000.0
nan nan nan
$15 million $15 million 15000000.0
nan nan nan
$75 million $75 million 75000000.0
$43 million $43 million 43000000.0
$38 million $38 million 38000000.0
nan nan nan
$200 million $200 million 200000000.0
$42 million $42 million 42000000.0
$48 million $48 million 48000000.0
['$175', 'million', '[4]'] $175 million 175000000.0
$50 million $50 million 50000000.0
$100 million $100 million 100000000.0
$23 million $23 million 23000000.0
$15 million $15 million 15000000.0
$15 million $15 million 15000000.0
nan nan nan
nan nan nan
$6–7.7 million $6 million 6000000.0
nan nan nan
$4 million $4 million 4000000.0
$25 million $25 million 25000000.0
$13 million $13 million 13000000.0
$90 million $90 million 90000000.0
$100–150 million $100 million 100000000.0
$50 million $50 million 50000000.0
$12 million $12 million 12000000.0
$130 million $130 million 130000000.0
$160–200 million $160 million 160000000.0
$102–135 million $102 million 102000000.0
$39–50 million $39 million 39000000.0
$16 million $16 million 16000000.0
€4.3 million nan nan
$42 million $42 million 42000000.0
$60 million $60 million 60000000.0
$20 million $20 million 20000000.0
$9 million $9 million 9000000.0
nan nan nan

In [50]:
for b in cleaning_wiki_df6.index:
    cleaning_wiki_df6['Budget'][b] = parse_dollars(find_dollars(cleaning_wiki_df6['Budget'][b]))

cleaning_wiki_df6['Budget']

C:\Users\Nick\AppData\Local\Temp\ipykernel_27560\1532109166.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  cleaning_wiki_df6['Budget'][b] = parse_dollars(find_dollars(cleaning_wiki_df6['Budget'][b]))

0       20000000.0
1        6000000.0
2       35000000.0
3       12000000.0
4       25000000.0
           ...
7094    42000000.0
7095    60000000.0
7096    20000000.0
7097     9000000.0
7098           NaN
Name: Budget, Length: 7032, dtype: object

In [57]:
# clean the release date column find 
release_date = cleaning_wiki_df6['Release date']
count_s = 0
count_l = 0
count_o =0
for r in release_date.index:
    if type(release_date[r]) == str:
        count_s += 1
    elif type(release_date[r]) == list:
        count_l += 1
    elif release_date[r] == np.nan:
        count+=1
    else:
        count_o += 1

print(f"String count: {count_s} \n List count: {count_l} \n Nan count: {count_o} ")

String count: 474
 List count: 6526
 Nan count: 32

In [70]:
release_date

0                       [July 11, 1990, (, 1990-07-11, )]
1       [May 17, 1990, (, 1990-05-17, ), (Cannes Film ...
2                     [August 10, 1990, (, 1990-08-10, )]
3                   [December 25, 1990, (, 1990-12-25, )]
4                                       December 19, 1990
                              ...
7094    [December 25, 2018, (, 2018-12-25, ), (United ...
7095    [December 11, 2018, (, 2018-12-11, ), (, Samue...
7096    [November 8, 2018, (, 2018-11-08, ), (, AFI Fe...
7097    [August 31, 2018, (, 2018-08-31, ), (, Telluri...
7098                 [28 December 2018, (, 2018-12-28, )]
Name: Release date, Length: 7032, dtype: object

In [78]:
# used this cell to find the patterns
for r in release_date.index:
    if re.findall(date_p1, str(release_date[r]), flags=re.IGNORECASE):  # Month DD, YYYY
        spam = re.findall(date_p1, str(release_date[r]), flags=re.IGNORECASE)[0]
    elif re.findall(date_p2, str(release_date[r]), flags=re.IGNORECASE): # DD Month YYYY
        spam = re.findall(date_p2, str(release_date[r]), flags=re.IGNORECASE)[0]
    elif re.findall(date_p3, str(release_date[r]), flags=re.IGNORECASE): # Month YYYY
        spam = re.findall(date_p3, str(release_date[r]), flags=re.IGNORECASE)[0]
    elif re.findall(date_p4, str(release_date[r]), flags=re.IGNORECASE): # YYYY
        spam = re.findall(date_p4, str(release_date[r]), flags=re.IGNORECASE)[0]

    else:
        print(r, release_date[r])

214 nan
1047 nan
1176 nan
1237 nan
1306 nan
1350 nan
1640 nan
1649 nan
1782 nan
1841 nan
1927 nan
1973 nan
2107 nan
2114 nan
2250 nan
2771 nan
3001 nan
3050 nan
3198 nan
3248 nan
3618 nan
3957 nan
4008 nan
4015 nan
4154 nan
4221 nan
4264 nan
5526 nan
5575 nan
5601 nan
5899 nan
6819 nan

In [77]:
# date patterns to parse
# Month DD, YYYY
date_p1 = r"(?:January|February|March|April|May|June|July|August|September|October|November|December)\s*[123]?\d,\s*\d{4}"

# DD Month YYYY
date_p2 = r"[123]?\d\s*(?:January|February|March|April|May|June|July|August|September|October|November|December)\s*\d{4}"

# Month YYYY
date_p3 = r"(?:January|February|March|April|May|June|July|August|September|October|November|December),?\s*\d{4}"

# YYYY
date_p4 = r"\d{4}"

In [87]:
# used this cell to find the patterns
def find_dates(s):
    # declared patterns
    p1 = r"(?:January|February|March|April|May|June|July|August|September|October|November|December)\s*[123]?\d,\s*\d{4}"
    p2 = r"[123]?\d\s*(?:January|February|March|April|May|June|July|August|September|October|November|December)\s*\d{4}"
    p3 = r"(?:January|February|March|April|May|June|July|August|September|October|November|December),?\s*\d{4}"
    p4 = r"\d{4}"
    if re.findall(p1, str(s), flags=re.IGNORECASE):  # Month DD, YYYY
        spam = re.findall(p1, str(s), flags=re.IGNORECASE)[0]
        return spam
    elif re.findall(p2, str(s), flags=re.IGNORECASE): # DD Month YYYY
        spam = re.findall(p2, str(s), flags=re.IGNORECASE)[0]
        return spam
    elif re.findall(p3, str(s), flags=re.IGNORECASE): # Month YYYY
        spam = re.findall(p3, str(s), flags=re.IGNORECASE)[0]
        return spam
    elif re.findall(p4, str(s), flags=re.IGNORECASE): # YYYY
        spam = re.findall(p4, str(s), flags=re.IGNORECASE)[0]
        return spam
    else:
        return np.nan

In [91]:
for r in release_date.index:
    release_date[r] = find_dates(release_date[r])

release_date

C:\Users\Nick\AppData\Local\Temp\ipykernel_27560\1435499013.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  release_date[r] = find_dates(release_date[r])

0 July 11, 1990
1 May 17, 1990
2 August 10, 1990
3 December 25, 1990
4 December 19, 1990
5 March 22, 1990
6 October 6, 1990
7 March 8, 1991
8 March 7, 1990
9 February 23, 1990
10 June 8, 1990
11 July 18, 1990
12 October 5, 1990
13 December 20, 1990
14 May 25, 1990
15 March 9, 1990
16 March 2, 1990
17 June 22, 1990
18 May 18, 1990
19 February 11, 1990
20 October 12, 1990
21 March 16, 1990
22 December 21, 1990
23 September 8, 1990
24 January 18, 1990
25 May 18, 1990
26 September 23, 1990
27 December 14, 1990
28 April 21, 1990
29 April 3, 1990
30 February 25, 1990
31 1990
32 May 1, 1990
33 November 9, 1990
34 November 2, 1990
35 January 31, 1990
36 1988
37 May 11, 1990
38 September 28, 1990
39 December 23, 1990
40 March 9, 1990
41 September 1990
42 April 13, 1990
43 March 14, 1990
44 May 4, 1990
45 October 19, 1990
46 1990
47 August 24, 1990
48 January 26, 1990
49 June 27, 1990
50 February 4, 1994
51 June 10, 1990
52 December 2, 1990
53 May 11, 1990
54 August 24, 1990
55 January 1990
56 October 5, 1990
57 June 14, 1990
58 July 4, 1990
59 April 10, 1970
60 1990
61 January 12, 1990
62 November 13, 1991
63 August 3, 1990
64 December 6, 1990
65 December 6, 1990
66 April 6, 1990
67 January 19, 1990
68 August 17, 1990
69 1990
70 May 11, 1990
71 1990
72 May 25, 1990
73 April 6, 1990
74 February 2, 1990
75 August 10, 1990
76 March 16, 1990
77 March 23, 1990
78 April 1990
79 November 2, 1990
80 July 20, 1990
81 September 7, 1990
82 September 21, 1990
83 1990
84 July 13, 1990
85 June 29, 1990
86 October 17, 1989
87 April 24, 1989
88 December 20, 1990
89 September 9, 1990
90 November 2, 1990
91 25 December 1990
92 June 15, 1990
93 December 5, 1990
94 September 24, 1990
95 April 27, 1990
96 November 9, 1990
97 March 18, 1991
98 February 15, 1990
99 February 9, 1990
100 14 September 1990
101 December 14, 1990
102 February 2, 1990
103 October 5, 1990
104 September 24, 1986
105 November 16, 1990
106 July 6, 1988
107 September 8, 1990
108 March 9, 1990
109 March 2, 1990
110 September 28, 1990
111 April 6, 1990
112 August 8, 1990
113 1990
114 November 21, 1990
115 January 12, 1990
116 January 1990
117 November 20, 1990
118 November 2, 1990
119 July 6, 1990
120 March 9, 1990
121 October 19, 1990
122 November 14, 1990
123 December 21, 1990
124 September 22, 1990
125 November 20, 1989
126 March 9, 1990
127 January 12, 1990
128 August 31, 1990
129 January 11, 1991
130 December 21, 1990
131 December 14, 1990
132 February 9, 1990
133 March 16, 1990
134 March 9, 1990
135 17 November 1989
136 February 16, 1990
137 February 2, 1990
138 1990
139 October 5, 1990
140 20 April 1990
141 September 7, 1990
142 1990
143 4 September 1990
144 August 24, 1990
145 February 2, 1990
146 January 18, 1991
147 April 13, 1990
148 December 14, 1990
149 November 5, 1990
150 August 3, 1990
151 April 20, 1990
152 September 21, 1990
153 November 30, 1990
154 1990
155 March 22, 1991
156 August 3, 1990
157 November 24, 1989
158 December 17, 1990
159 February 15, 1990
160 May 19, 1990
161 February 23, 1990
162 October 12, 1990
163 November 23, 1990
164 February 5, 1990
165 August 17, 1990
166 September 21, 1990
167 July 20, 1990
168 October 25, 1990
169 1990
170 October 19, 1990
171 February 16, 1990
172 December 12, 1989
173 January 25, 1990
174 November 21, 1990
175 March 30, 1990
176 September 28, 1990
177 September 13, 1990
178 June 27, 1991
179 September 7, 1990
180 September 14, 1990
181 November 21, 1990
182 July 25, 1990
183 March 23, 1990
184 July 27, 1990
185 June 1, 1990
186 November 10, 1990
187 August 22, 1990
188 April 27, 1990
189 July 13, 1990
190 17 October 1990
191 9 September 1990
192 September 14, 1990
193 November 16, 1990
194 February 16, 1990
195 September 12, 1990
196 June 22, 1990
197 November 21, 1990
198 1991
199 November 16, 1990
200 June 23, 1989
201 1990
202 December 7, 1990
203 1990
204 5 September 1990
205 3 October 1990
206 March 23, 1990
207 May 4, 1990
208 May 11, 1990
209 August 31, 1990
210 October 26, 1990
212 September 7, 1990
213 1990
214 nan
215 1990
216 September 9, 1990
217 October 26, 1990
218 April 27, 1990
219 October 12, 1990
220 February 23, 1990
221 March 5, 1990
222 February 9, 1990
223 September 14, 1990
224 February 2, 1990
225 26 January 1990
226 August 17, 1990
227 May 4, 1990
228 March 30, 1990
229 1990
230 September 28, 1990
231 1989
232 November 21, 1990
233 1990
234 7 September 2001
235 January 25, 1991
236 October 12, 1990
237 June 1, 1990
238 January 22, 1990
239 January 19, 1990
240 12 October 1990
241 29 December 1993
242 July 26, 1991
243 October 26, 1990
244 1989
245 August 10, 1990
246 2 November 1990
247 1991
248 October 12, 1990
249 October 7, 1990
250 February 23, 1990
251 September 14, 1990
252 October 19, 1990
253 2 October 1990
254 April 20, 1990
255 December 22, 1989
256 May 25, 1990
257 1990
258 25 May 1990
259 May 4, 1990
260 August 1, 1990
261 April 14, 1990
262 1990
263 November 1, 1991
264 1991
265 November 22, 1991
266 November 8, 1991
267 November 22, 1991
268 July 26, 1991
269 December 6, 1991
270 May 24, 1991
271 May 18, 1991
272 September 29, 1991
273 July 19, 1991
274 November 1, 1991
275 August 9, 1991
276 January 9, 1991
277 August 2, 1991
278 1991
279 1991
280 July 2, 1991
281 January 16, 1991
283 August 21, 1992
284 February 1, 1991
285 December 13, 1991
286 October 25, 1991
287 October 7, 1992
288 November 13, 1991
290 March 29, 1991
291 February 10, 1991
292 1991
293 August 30, 1991
294 1989
295 October 11, 1991
296 June 7, 1991
297 March 15, 1991
298 March 6, 1991
299 13 September 1991
300 6 August 1991
301 September 6, 1991
302 October 18, 1991
303 October 25, 1991
304 July 26, 1991
305 September 10, 1991
306 August 23, 1991
307 September 27, 1991
308 March 22, 1991
309 August 23, 1991
310 August 9, 1991
311 June 28, 1991
312 August 2, 1991
313 July 24, 1991
314 September 13, 1991
315 June 7, 1991
316 March 1, 1991
317 August 9, 1991
318 May 24, 1991
319 July 19, 1991
320 June 21, 1991
321 February 1991
322 October 11, 1991
323 January 18, 1991
324 September 25, 1991
325 May 10, 1991
326 December 20, 1991
327 July 24, 1991
328 September 20, 1991
329 March 29, 1991
330 January 18, 1991
331 November 22, 1991
332 October 11, 1991
333 September 13, 1991
334 December 27, 1991
335 December 25, 1991
336 March 15, 1991
337 April 5, 1991
338 September 14, 1991
339 March 8, 1991
340 August 23, 1991
341 February 22, 1991
342 27 December 1991
343 November 27, 1991
344 October 6, 1991
345 12 April 1991
346 September 7, 1991
347 October 25, 1991
348 October 9, 1991
349 December 11, 1991
350 July 31, 1991
351 September 7, 1991
352 October 23, 1991
353 May 24, 1991
354 March 15, 1991
355 September 20, 1991
356 December 25, 1991
357 December 20, 1991
358 August 1991
359 June 7, 1991
360 November 15, 1991
361 February 15, 1991
362 26 April 1991
363 February 8, 1991
364 December 13, 1991
365 September 13, 1991
366 July 26, 1991
367 May 1, 1991
368 October 18, 1991
369 November 8, 1990
370 May 10, 1991
371 October 4, 1991
372 April 5, 1991
373 September 20, 1991
374 June 6, 1990
376 September 18, 1991
377 July 26, 1991
378 April 19, 1991
379 November 27, 1991
380 September 4, 1991
381 August 16, 1991
382 June 28, 1991
383 27 December 1991
384 September 27, 1991
385 January 17, 1991
386 December 12, 1991
387 January 11, 1991
388 February 15, 1991
389 April 12, 1991
390 January 18, 1991
391 May 3, 1991
392 May 24, 1991
393 April 26, 1991
394 October 18, 1991
395 April 12, 1991
396 October 4, 1991
397 April 20, 1991
398 November 8, 1990
399 November 1, 1991
400 March 31, 1991
401 March 15, 1991
402 July 10, 1991
403 January 11, 1991
404 December 25, 1991
405 July 3, 1991
406 November 17, 1990
407 October 17, 1991
408 August 9, 1991
409 May 3, 1991
410 September 20, 1991
411 September 6, 1991
412 July 12, 1991
413 August 2, 1991
414 October 4, 1991
415 June 14, 1991
416 June 21, 1991
417 August 2, 1991
418 February 1, 1991
419 December 22, 1991
420 February 22, 1991
421 March 22, 1991
422 March 1991
423 September 27, 1991
424 1990
425 December 5, 1991
426 October 11, 1991
427 October 4, 1991
428 August 23, 1991
429 January 30, 1991
430 July 5, 1991
431 February 8, 1991
432 May 31, 1991
433 1991
434 December 6, 1991
435 October 11, 1991
436 May 17, 1991
437 June 13, 1991
438 November 8, 1991
439 October 4, 1991
440 October 4, 1991
441 May 10, 1991
442 October 11, 1991
443 April 26, 1991
444 August 16, 1991
445 March 22, 1991
446 July 1, 1991
447 May 20, 1991
448 1991
449 September 13, 1991
450 April 26, 1991
451 1991
452 March 15, 1991
453 August 23, 1991
454 25 January 1990
455 May 5, 1991
456 May 17, 1991
457 January 18, 1991
458 21 June 1991
459 May 24, 1991
460 November 1, 1991
461 October 8, 1992
462 24 December 1992
463 August 7, 1992
464 November 25, 1992
465 May 22, 1992
466 March 13, 1992
467 March 13, 1992
468 April 17, 1992
469 November 20, 1992
470 March 18, 1992
471 June 16, 1992
472 May 4, 1992
473 July 31, 1992
474 April 3, 1992
475 6 March 1992
476 August 14, 1993
477 September 4, 1992
478 November 25, 1992
479 July 1, 1992
480 April 17, 1992
481 November 13, 1992
482 July 31, 1992
483 September 11, 1992
484 September 18, 1992
485 June 25, 1993
486 December 18, 1992
487 October 21, 1992
488 21 August 1992
489 1992
490 June 5, 1992
491 October 16, 1992
492 July 10, 1992
493 May 8, 1992
494 September 11, 1992
495 May 17, 1992
496 March 27, 1992
497 July 31, 1992
498 April 17, 1992
499 August 14, 1992
500 December 4, 1992
501 October 23, 1992
502 May 22, 1992
503 September 18, 1992
504 February 21, 1992
505 May 22, 1992
506 April 10, 1992
507 December 9, 1992
508 February 26, 1993
509 February 7, 1992
510 May 1, 1992
511 December 11, 1992
512 January 17, 1992
513 October 23, 1992
514 July 10, 1992
515 March 6, 1992
516 October 2, 1992
517 August 21, 1992
518 January 10, 1992
519 October 2, 1992
520 March 13, 1992
521 December 25, 1992
522 November 20, 1992
523 July 17, 1992
524 August 28, 1992
525 June 12, 1992
526 September 14, 1992
527 October 23, 1992
528 September 25, 1992
529 January 31, 1992
530 November 6, 1992
531 January 17, 1992
532 September 17, 1992
533 January 22, 1992
534 January 10, 1992
535 March 27, 1992
536 August 26, 1992
537 March 6, 1992
538 July 1, 1992
539 December 18, 1992
540 April 29, 1992
541 May 15, 1992
542 August 21, 1992
543 May 1, 1992
544 December 30, 1992
545 January 24, 1992
546 December 11, 1992
547 November 13, 1992
548 February 19, 1993
549 May 1992
550 November 18, 1992
551 February 7, 1992
552 12 September 1992
553 July 17, 1992
554 March 6, 1992
555 February 7, 1992
556 December 1, 1991
557 February 28, 1992
558 June 1, 1992
559 April 24, 1992
560 October 2, 1992
561 September 30, 1992
562 July 24, 1992
563 July 24, 1992
564 July 24, 1992
565 1992
566 October 2, 1992
567 September 23, 1992
568 December 11, 1992
569 March 13, 1992
570 26 October 1992
571 December 26, 1992
572 April 10, 1992
573 October 16, 1992
574 September 12, 1992
575 March 20, 1992
576 February 2, 1992
577 October 2, 1992
578 1992
579 March 6, 1992
580 May 8, 1992
581 1992
582 April 24, 1992
583 November 6, 1992
584 December 11, 1992
585 June 5, 1992
586 August 28, 1992
587 1992
588 22 April 1992
589 April 3, 1992
590 May 8, 1992
591 November 9, 1992
592 27 March 1992
593 12 September 1992
594 July 10, 1992
595 2 August 1992
596 June 20, 1992
597 February 14, 1992
598 September 15, 1992
599 October 23, 1992
600 March 4, 1992
601 February 21, 1992
602 February 5, 1993
603 August 7, 1992
604 August 21, 1992
605 June 16, 1993
606 January 21, 1992
607 October 1, 1991
608 July 13, 1992
609 October 9, 1992
610 March 27, 1992
611 April 18, 1993
612 2 August 1991
613 March 27, 1992
614 September 10, 1991
615 1992
616 December 23, 1992
617 September 18, 1992
618 May, 1992
619 15 September 1992
620 August 28, 1991
621 January 31, 1992
623 December 17, 1992
624 November 7, 1991
625 September 15, 1992
626 May 18, 1992
627 August 14, 1992
628 September 18, 1992
629 May 29, 1992
630 April 10, 1992
631 September 11, 1992
632 June 11, 1992
633 September 18, 1992
634 January 20, 1992
635 August 14, 1992
636 February 21, 1992
637 May 4, 1992
638 August 26, 1992
639 April 3, 1992
640 July 17, 1992

641 September 11, 1992
642 December 17, 1992
643 October 30, 1992
644 February 21, 1992
645 June 1, 1992
646 June 8, 1992
647 April 3, 1992
648 March 11, 1992
649 December 6, 1992
650 October 1, 1992
651 April 17, 1992
652 December 18, 1992
653 December 25, 1992
654 September 4, 1992
655 May 2, 1992
656 July 3, 1992
657 October 9, 1992
658 August 3, 1992
659 July 10, 1992
660 June 26, 1992
661 December 16, 1992
662 1992
663 May 13, 1992
664 June 16, 1992
665 February 14, 1992
666 September 11, 1992
667 August 7, 1992
668 March 27, 1992
669 April 24, 1992
670 1994
671 September 11, 1992
672 April 24, 1992
673 October 23, 1992
674 July 15, 1992
675 June 3, 1993
676 November 19, 1993
677 April 2, 1993
678 September 17, 1993
679 February 4, 1994
680 September 17, 1993
681 January 15, 1993
682 March 5, 1993
683 July 23, 1993
684 January 6, 1993
685 October 9, 1992
686 January 22, 1993
687 August 20, 1993
688 December 3, 1993
689 December 25, 1993
691 April 23, 1993
692 March 5, 1993
693 October 15, 1993
694 April 16, 1993
695 April 9, 1993
696 January 7, 1993
697 May 15, 1993
698 April 16, 1993
699 September 17, 1993
700 March 26, 1993
701 September 3, 1993
702 September 14, 1993
703 March 12, 1993
704 September 3, 1993
705 October 31, 1993
706 November 12, 1993
707 February 3, 1993
708 May 28, 1993
709 July 23, 1993
710 October 1, 1993
711 April 2, 1993
712 April 2, 1993
713 September 10, 1993
714 December 3, 1993
715 April 23, 1993
716 May 7, 1993
717 September 24, 1993
718 October 8, 1993
719 October 8, 1993
720 June 25, 1993
721 May 7, 1993
722 November 12, 1993
723 March 5, 1993
724 May 14, 1993
725 June 26, 1993
726 February 26, 1993
727 March 12, 1993
728 October 29, 1993
729 October 15, 1993
730 October 1993
731 March 12, 1993
732 June 30, 1993
733 November 5, 1993
734 October 1, 1993
735 July 16, 1993
736 August 6, 1993
737 December 10, 1993
738 October 8, 1993
739 December 29, 1993
740 September 24, 1993
741 February 12, 1993
742 December 25, 1993
743 June 4, 1993
744 June 20, 1990
745 August 20, 1993
746 August 13, 1993
747 December 25, 1993
748 January 22, 1993
749 July 16, 1993
750 November 5, 1993
751 February 3, 1993
752 May 21, 1993
753 June 25, 1993
754 1993
755 October 17, 1993
756 July 9, 1993
757 27 December 1993
758 April 7, 1993
759 April 23, 1993
760 April 2, 1993
761 August 13, 1993
762 November 24, 1993
763 March 27, 1993
764 September 8, 1993
765 October 15, 1993
766 June 9, 1993
767 August 27, 1993
768 August 20, 1993
769 June 13, 1993
770 January 8, 1993
771 June 4, 1993
772 February 5, 1993
773 May 14, 1993
774 October 1, 1993
775 March 5, 1993
776 May 28, 1993
777 October 1, 1993
778 August 25, 1993
779 November 19, 1993
780 August 18, 1993
781 January 29, 1993
782 October 22, 1993
783 May 26, 1993
784 August 6, 1993
785 October 9, 1993
786 October 8, 1993
787 April 2, 1993
788 October 15, 1993
789 November 24, 1993
790 May 7, 1993
792 November 12, 1993
793 April 13, 1994
794 August 27, 1993
795 October 29, 1993
796 January 15, 1993
797 June 18, 1993
798 August 27, 1993
799 December 17, 1993
800 November 24, 1993
801 December 22, 1993
802 15 May 1993
803 July 23, 1993
804 March 19, 1993
805 May 14, 1993
806 September 24, 1993
807 January 1993
808 November 24, 1993
809 September 10, 1993
811 October 29, 1993
812 October 29, 1992
813 July 30, 1993
814 July 28, 1993
816 4 February 1994
817 July 9, 1993
818 September 14, 1993
819 December 12, 1992
820 January 1993
821 October 15, 1993
822 November 17, 1993
823 April 7, 1993
824 November 30, 1993
825 August 11, 1993
826 October 29, 1993
827 October 3, 1993
828 December 10, 1993
829 December 8, 1993
830 December 2, 1993
831 June 25, 1993
832 May 19, 1993
833 January 29, 1993
834 July 30, 1993
835 February 5, 1993
836 July 2, 1993
837 August 27, 1993
838 September 17, 1993
839 May 28, 1993
840 September 14, 1993
841 March 5, 1993
842 March 19, 1993
843 February 12, 1993
844 August 29, 1993
845 August 27, 1993
846 April 9, 1993
847 November 12, 1993
848 April 30, 1993
850 December 25, 1993
851 August 19, 1994
852 September 10, 1993
853 October 22, 1993
854 September 10, 1993
855 February 12, 1993
856 February 5, 1993
857 December 5, 1993
858 September 24, 1993
859 March 26, 1993
860 December 10, 1993
861 November 24, 1993
862 4 August 1993
863 July 9, 1993
864 December 17, 1993
865 June 6, 1993
866 February 3, 1993
867 April 23, 1993
868 August 20, 1993
869 January 26, 1994
870 December 17, 1993
871 September 5, 1993
872 1993
873 August 16, 1994
874 May 6, 1994
875 February 25, 1994
876 March 23, 1994
877 April 3, 1994
878 February 4, 1994
879 April 1, 1994
880 January 7, 1994
881 August 5, 1994
882 May 20, 1994
883 October 25, 1994
884 1994
885 August 19, 1994
886 July 15, 1994
887 March 4, 1994
888 February 6, 1994
889 July 1, 1994
890 April 22, 1994
891 September 15, 1994
892 July 29, 1994
893 January 26, 1994
894 May 25, 1994
895 March 14, 1994
896 July 29, 1994
897 February 11, 1994
898 August 19, 1994
899 June 25, 1994
900 January 26, 1994
901 1994
902 1991
903 July 1, 1994
904 February 18, 1994
905 September 16, 1994
906 April 22, 1994
907 December 1, 1994
908 1996
909 September 4, 1994
910 January 7, 1994
911 August 26, 1994
912 January 28, 1994
913 March 4, 1994
914 April 22, 1994
915 March 4, 1994
916 1994
917 June 10, 1994
918 October 20, 1994
919 April 21, 1995
920 May 6, 1994
921 August 3, 1994
922 October 19, 1994
923 July 20, 1994
924 April 1, 1994
925 December 2, 1994
926 August 19, 1994
927 July 29, 1994
928 April 5, 1994
929 September 16, 1994
930 April 15, 1994
931 August 12, 1994
932 June 3, 1994
933 1994
934 May 13, 1994
935 May 13, 1994
936 April 28, 1995
937 December 19, 1995
938 March 25, 1994
939 October 10, 1994
940 December 23, 1994
941 January 14, 1994
942 1994
943 December 9, 1994
944 December 18, 1994
945 July 23, 1994
946 November 4, 1994
947 May 6, 1994
948 December 9, 1994
949 December 16, 1994
950 September 23, 1994
951 September 13, 1993
952 October 14, 1994
953 1994
954 May 31, 1994
955 December 21, 1994
956 April 29, 1994
957 January 24, 1993
958 May 27, 1994
959 1994
960 June 23, 1994
961 October 28, 1994
962 August 24, 1994
963 1994
964 October 26, 1994
965 February 11, 1994
966 June 17, 1994
967 June 10, 1994
968 January 28, 1994
969 March 4, 1994
970 March 11, 1994
971 May 7, 1994
972 February 4, 1994
973 May 11, 1994
974 1993
975 September 6, 1993
976 November 30, 1994
977 April 8, 1994
978 October 14, 1994
979 January 12, 1994
980 November 19, 1994
981 March 11, 1994
982 1994
983 October 14, 1994
984 June 29, 1994
985 February 4, 1994
986 December 25, 1994
987 October 14, 1994
988 December 16, 1994
989 November 6, 1994
990 August 12, 1994
991 April 22, 1994
992 January 21, 1994
993 November 11, 1994
994 January 14, 1994
995 October 9, 1994
996 July 29, 1994
997 1994
998 August 26, 1994
999 December 4, 1994
1000 September 28, 1994
1001 April 1, 1994
1002 November 23, 1994
1003 March 3, 1994
1004 1995
1005 August 19, 1994
1006 February 13, 1994
1007 December 13, 1994
1008 July 22, 1994
1009 October 26, 1994
1010 December 23, 1994
1011 April 8, 1994
1012 1994
1013 June 15, 1994
1014 June 29, 1994
1015 1 December 1993
1016 October 21, 1994
1017 May 19, 1995
1018 August 5, 1994
1019 December 21, 1994
1020 October 21, 1994
1021 November 23, 1994
1022 November 23, 1994
1023 1994
1024 March 30, 1994
1025 November 4, 1994
1026 July 29, 1994
1027 May 20, 1994
1028 September 3, 1994
1029 June 11, 1994
1030 March 20, 1994
1031 August 31, 1994
1032 May 15, 1994
1033 June 4, 1947
1034 December 21, 1994
1035 March 18, 1994
1036 22 October 1994
1037 September 7, 1994
1038 1995
1039 February 4, 1994
1040 February 11, 1994
1041 September 23, 1994
1042 March 18, 1994
1043 April 29, 1994
1044 August 26, 1994
1045 December 16, 1994
1046 September 9, 1994
1047 nan
1048 April 29, 1994
1049 December 23, 1994
1050 July 22, 1994
1051 February 18, 1994
1052 1995
1053 October 7, 1994
1054 January 16, 1994
1055 April 29, 1994
1056 November 23, 1994
1057 March 18, 1994
1058 August 30, 1995
1059 July 8, 1994
1060 December 23, 1994
1061 May 6, 1994
1062 August 26, 1994
1063 November 4, 1994
1064 September 16, 1994
1065 May 21, 1994
1066 October 19, 1994
1067 September 21, 1994

1068 October 21, 1994
1069 September 16, 1994
1070 1994
1071 October 21, 1994
1072 September 9, 1994
1073 August 24, 1994
1074 February 18, 1994
1075 March 11, 1994
1076 June 3, 1994
1077 May 9, 1994
1078 December 21, 1994
1079 September 30, 1994
1080 October 28, 1994
1081 July 22, 1994
1083 July 31, 1994
1084 December 25, 1994
1085 September 15, 1994
1086 November 11, 1994
1087 September 3, 1994
1088 September 30, 1994
1089 June 21, 1996
1091 September 12, 1994
1092 April 13, 1994
1093 July 1, 1994
1094 1994
1095 September 10, 1994
1096 March 11, 1994
1097 October 28, 1994
1098 February 1, 1994
1099 September 2, 1994
1100 1994
1101 September 23, 1994
1102 July 15, 1994
1103 October 7, 1994
1104 December 16, 1994
1105 June 10, 1994
1106 October 28, 1994
1107 November 18, 1994
1108 October 28, 1994
1109 December 23, 1994
1110 December 1994
1111 February 25, 1994
1112 April 15, 1994
1113 November 18, 1994
1114 September 10, 1994
1115 March 15, 1994
1116 September 23, 1994
1117 March 12, 1995
1118 July 6, 1994
1119 April 8, 1994
1120 April 1, 1994
1121 March 17, 1994
1122 April 18, 1994
1123 September 16, 1994
1124 December 2, 1994
1125 December 2, 1994
1126 September 9, 1994
1127 October 7, 1994
1128 25 November 1994
1129 July 15, 1994
1130 1994
1131 September 13, 1994
1132 October 1, 1994
1133 August 26, 1994
1134 November 4, 1994
1135 October 14, 1994
1136 26 January 1994
1137 April 29, 1994
1138 April 15, 1994
1139 January 28, 1994
1140 13 May 1994
1141 April 29, 1994
1142 October 30, 1994
1143 February 13, 1994
1144 June 17, 1994
1145 1994
1146 June 24, 1994
1147 December 18, 1946
1148 April 27, 1994
1149 December 29, 1995
1150 March 10, 1995
1151 May 21, 1995
1152 November 10, 1995
1153 October 4, 1995
1154 August 20, 1995
1155 August 25, 1995
1156 November 17, 1995
1157 January 1995
1158 5 November 1995
1159 September 15, 1995
1160 June 30, 1995
1161 October 6, 1995
1162 June 2, 1995
1163 1995
1164 August 4, 1995
1165 August 18, 1995
1166 April 7, 1995
1167 January 20, 1995
1168 December 22, 1995
1169 September 9, 1995
1170 January 27, 1995
1171 June 9, 1995
1172 January 19, 1995
1173 30 June 1995
1174 September 29, 1995
1175 February 10, 1995
1176 nan
1177 January 31, 1995
1178 1995
1179 October 13, 1995
1180 March 31, 1995
1181 1995
1182 February 3, 1995
1183 February 17, 1995
1184 May 18, 1995
1185 June 2, 1995
1186 August 11, 1995
1187 September 12, 1995
1188 August 4, 1995
1189 March 17, 1995
1190 September 22, 1995
1191 March 17, 1995
1192 February 1995
1193 November 22, 1995
1194 May 26, 1995
1195 14 November 1995
1196 1995
1197 February 15, 1996
1198 September 12, 1995
1199 February 25, 1995
1200 September 13, 1995
1201 July 19, 1995
1202 September 15, 1995
1203 February 18, 1995
1204 June 9, 1995
1205 October 27, 1995
1206 1995
1207 May 12, 1995
1208 November 16, 1995
1209 15 December 1995
1210 April 21, 1995
1211 December 22, 1995
1212 August 11, 1995
1213 May 26, 1995
1214 December 29, 1995
1215 October 6, 1995
1216 January 13, 1995
1217 August 25, 1995
1218 September 16, 1995
1219 May 19, 1995
1220 March 24, 1995
1221 April 7, 1995
1222 January 26, 1995
1223 August 25, 1995
1224 December 22, 1995
1225 February 21, 1995
1226 1995
1227 September 22, 1995
1228 April 29, 1995
1229 1995
1230 1995
1231 1995
1232 November 3, 1995
1233 January, 1995
1234 January 13, 1995
1235 December 8, 1995
1236 July 7, 1995
1237 nan
1238 June 2, 1995
1239 May 19, 1995
1240 December 25, 1995
1241 July 19, 1995
1242 May 5, 1995
1243 April 26, 1995
1244 1995
1245 1995
1246 1995
1247 June 3, 1995
1248 November 5, 1995
1249 31 March 1995
1250 May 19, 1995
1251 October 20, 1995
1252 September 16, 1994
1254 November 3, 1995
1255 April 7, 1995
1256 May 12, 1995
1257 September 23, 1995
1258 December 22, 1995
1259 October 4, 1995
1260 September 15, 1995
1261 September 29, 1995
1262 August 13, 1995
1263 1995
1264 December 15, 1995
1265 January 20, 1995
1266 February 17, 1995
1267 October 31, 1995
1268 March 3, 1995
1269 8 August 1995
1270 January 11, 1995
1271 October 8, 1995
1272 November 3, 1995
1273 January 6, 1995
1274 October 6, 1995
1275 October 24, 1995
1276 February 24, 1995
1277 May 9, 1995
1278 September 6, 1995
1279 December 10, 1994
1280 June 16, 1995
1281 July 14, 1995
1282 May 20, 1995
1283 June 24, 1995
1284 November 17, 1995
1285 1995
1286 October 13, 1995
1287 March 31, 1995
1288 August 18, 1995
1289 February 3, 1995
1290 May 26, 1995
1291 April 16, 1995
1292 1995
1293 June 30, 1995
1294 December 15, 1995
1295 April 14, 1995
1296 February 17, 1995
1297 October 4, 1995
1298 August 11, 1995
1299 November 5, 1995
1300 May 17, 1995
1301 April 21, 1995
1302 December 12, 1995
1303 September 8, 1995
1304 September 8, 1995
1305 October 27, 1995
1306 nan
1307 May 17, 1995
1308 May 10, 1995
1309 December 8, 1995
1310 July 21, 1995
1311 1995
1312 1995
1313 August 25, 1995
1314 March 17, 1995
1315 May 26, 1995
1316 1995
1317 August 30, 1995
1318 December 19, 1995
1319 March 24, 1995
1320 October 20, 1995
1321 March 3, 1995
1322 September 15, 1995
1323 3 March 1995
1324 13 September 1995
1325 February 21, 1997
1326 January 27, 1995
1327 10 September 1995
1328 October 27, 1995
1329 June 30, 1995
1330 November 22, 1995
1331 November 14, 1995
1332 September 29, 1995
1333 August 18, 1995
1335 December 29, 1995
1337 January 20, 1995
1338 March 29, 1995
1339 May 3, 1995
1340 September 8, 1995
1341 October 24, 1995
1342 July 28, 1995
1343 October 20, 1995
1344 April 19, 1995
1345 November 22, 1995
1346 October 13, 1995
1347 5 July 1995
1348 July 14, 1995
1349 December 22, 1995
1350 nan
1351 October 20, 1995
1352 July 28, 1995
1353 December 15, 1995
1354 March 26, 1995
1355 March 10, 1995
1356 September 7, 1995
1357 May 3, 1995
1358 November 7, 1996
1359 June 9, 1995
1360 19 May 1995
1361 January 10, 1995
1362 April 12, 1995
1363 May 12, 1995
1364 21 May 1995
1365 16 April 1995
1366 May 5, 1995
1367 October 1, 1995
1368 June 23, 1995
1369 October 27, 1995
1370 May 13, 1995
1371 1993
1372 September 1, 1995
1373 February 10, 1995
1374 November 15, 1995
1375 1995
1376 December 29, 1995
1377 December 29, 1995
1378 April 5, 1995
1379 March 3, 1995
1380 August 11, 1995
1381 December 15, 1995
1382 January 25, 1995
1383 April 25, 1995
1384 December 23, 1995
1385 October 13, 1995
1386 September 8, 1995
1387 December 13, 1995
1388 September 15, 1995
1389 September 22, 1995
1390 October 1995
1391 June 20, 1995
1392 December 10, 1995
1393 1995
1394 December 19, 1995
1395 June 9, 1995
1396 October 18, 1995
1397 August 4, 1995
1398 July 7, 1995
1399 1995
1400 September 15, 1995
1401 September 2, 1995
1402 October 6, 1995
1403 April 12, 1995
1404 December 22, 1995
1405 October 22, 1995
1406 May 24, 1995
1407 March 31, 1995
1408 July 2, 1996
1409 15 May 1992
1410 December 1, 1995
1411 October 27, 1995
1412 September 8, 1995
1413 May 20, 1995
1414 September 8, 1995
1415 1995
1416 December 22, 1995
1417 March 31, 1995
1418 April 28, 1995
1419 November 19, 1995
1420 September 29, 1995
1421 September 9, 1995
1422 November 22, 1995
1423 July 14, 1995
1424 April 28, 1995
1425 August 11, 1995
1426 January 25, 1995
1427 October 27, 1995
1428 April 28, 1995
1429 August 4, 1995
1430 December 22, 1995
1431 May 27, 1995
1432 February 24, 1995
1433 July 28, 1995
1434 September 10, 1995
1435 April 21, 1995
1436 December 1, 1995
1437 August 16, 1995
1438 June 9, 1995
1439 December 1, 1995
1440 1995
1441 April 21, 1995
1442 September 12, 2000
1443 November 7, 1995
1444 November 27, 1996
1445 September 27, 1996
1446 November 29, 1996
1447 July 26, 1996
1448 August 13, 1996
1449 August 14, 1996
1450 January 2, 1996
1451 November 12, 1996
1452 March 29, 1996
1453 October 2, 1996
1454 March 3, 1996
1455 May 31, 1996
1456 October 25, 1996
1457 9 August 1996
1458 August 29, 1996
1459 November 1, 1996
1460 May 3, 1996
1461 August 9, 1996
1462 December 15, 1996
1463 April 28, 1996
1464 February 9, 1996
1465 December 20, 1996
1466 February 1, 1996
1467 February 23, 1996
1468 May 17, 1995
1469 January 26, 1996
1470 January 24, 1996
1471 January 12, 1996
1472 March 8, 1996
1473 February 2, 1996
1474 March 3, 1996
1475 February 21, 1997
1476 1 March 1996
1477 February 21, 1996
1478 August 31, 1996
1479 August 30, 1996
1480 May 10, 1996
1481 February 4, 1996
1482 April 12, 1996
1483 1 November 1996
1484 18 May 1996
1485 February 9, 1996
1486 October 1, 1996
1487 September 6, 1996
1488 1997
1489 November 14, 1996
1490 June 14, 1996
1491 April 18, 1997
1492 1996
1494 December 17, 1996
1495 August 23, 1996
1496 March 29, 1996
1497 April 19, 1996
1498 August 2, 1996
1499 October 11, 1996
1500 December 14, 1996
1501 October 8, 1996
1502 December 1, 1996
1503 January 24, 1996
1504 February 16, 1996
1505 1996
1506 March 23, 1996
1507 1996
1508 July 12, 1996
1509 May 3, 1996
1510 February 14, 1996
1512 August 30, 1996
1513 November 27, 1996
1514 September 27, 1996

1515 October 4, 1996
1516 December 23, 1996
1517 November 15, 1996
1518 December 6, 1996
1519 March 5, 1997
1520 March 5, 1996
1521 September 17, 1996
1522 December 13, 1996
1523 November 1, 1996
1524 August 5, 1992
1525 February 1996
1526 March 29, 1996
1527 October 18, 1996
1528 March 22, 1996
1530 January 12, 1996
1531 July 13, 1996
1532 December 1, 1996
1533 March 1, 1996
1534 May 31, 1996
1535 1996
1536 June 19, 1998
1537 January 12, 1996
1538 November 1996
1539 March 15, 1996
1540 1996
1541 May 31, 1996
1542 August 2, 1996
1543 November 1996
1544 November 15, 1996
1545 September 27, 1996
1546 June 21, 1996
1547 August 9, 1996
1548 December 25, 1996
1549 December 8, 1996
1550 December 14, 1996
1551 March 15, 1996
1552 September 27, 1996
1553 January 12, 1996
1554 March 11, 1996
1555 1996
1556 April 19, 1996
1557 March 29, 1996
1558 August 16, 1996
1559 March 8, 1996
1560 April 12, 1996
1561 September 13, 1996
1562 1996
1563 1996
1564 August 30, 1996
1565 September 20, 1996
1566 July 19, 1996
1567 May 10, 1996
1568 March 22, 1996
1569 September 13, 1996
1570 1996
1571 November 17, 1996
1572 August 23, 1996
1573 June 8, 1996
1574 July 19, 1996
1575 January 17, 1996
1576 1996
1577 August 28, 1996
1578 1996
1579 February 20, 1996
1580 October 16, 1996
1581 April 12, 1996
1582 October 11, 1996
1583 December 20, 1996
1584 March 22, 1996
1585 1996
1586 October 4, 1996
1587 February 25, 1996
1588 August 17, 1996
1589 September 13, 1996
1590 January 1996
1591 September 11, 1996
1592 May 3, 1996
1593 25 December 1996
1594 February 16, 1996
1595 January 20, 1996
1596 July 10, 1996
1597 May 17, 1996
1598 December 27, 1995
1599 March 8, 1996
1600 October 25, 1996
1601 July 1996
1602 March 8, 1996
1603 August 14, 1996
1604 June 21, 1996
1605 1996
1606 November 8, 1996
1607 28 April 1996
1608 May 1, 1996
1609 December 24, 1996
1610 March 8, 1996
1611 October 13, 1996
1612 November 24, 1996
1613 December 18, 1996
1614 June 25, 1996
1615 November 13, 1996
1616 August 23, 1996
1617 March 22, 1996
1618 August 9, 1996
1619 April 12, 1996
1620 April 12, 1996
1621 December 13, 1996
1622 November 16, 1996
1623 July 26, 1996
1624 January 31, 1997
1625 February 2, 1996
1626 28 February 1997
1627 August 16, 1996
1628 July 17, 1996
1630 July 26, 1996
1631 1995
1632 December 10, 1996
1633 November 1, 1996
1634 May 3, 1996
1635 October 24, 1996
1636 September 20, 1996
1637 February 24, 1996
1638 January 12, 1996
1639 October 4, 1997
1640 nan
1641 December 23, 1996
1642 9 February 1996
1643 May 10, 1996
1644 October 11, 1996
1645 October 11, 1996
1646 May 10, 1996
1647 1995
1648 November 8, 1996
1649 nan
1650 November 7, 1995
1651 November 10, 1996
1652 July 26, 1996
1653 December 13, 1996
1654 December 18, 1996
1655 February 23, 1996
1656 August 2, 1996
1657 September 13, 1996
1658 1995
1659 August 27, 1996
1660 December 25, 1996
1661 28 August 1996
1662 November 15, 1996
1663 May 22, 1996
1664 1996
1665 December 25, 1996
1666 August 14, 1996
1667 March 13, 1996
1668 February 16, 1996
1669 December 8, 1996
1670 April 19, 1996
1671 April 26, 1996
1672 July 17, 1996
1673 February 16, 1996
1674 December 20, 1996
1675 April 19, 1996
1676 1996
1677 May 18, 1996
1678 June 28, 1996
1679 December 20, 1996
1680 18 February 1996
1681 May 8, 1996
1682 May 3, 1996
1683 November 10, 1996
1684 June 10, 1996
1685 October 13, 1996
1686 June 7, 1996
1687 August 2, 1996
1688 July 5, 1996
1689 February 9, 1996
1690 October 7, 1996
1691 January 16, 1996
1692 July 26, 1996
1693 December 13, 1996
1694 April 3, 1996
1695 9 October 1996
1696 November 1996
1697 1996
1698 April 26, 1996
1699 March 22, 1996
1700 November 8, 1996
1701 March 23, 1996
1702 June 7, 1996
1703 September 13, 1996
1704 June 7, 1996
1705 October 27, 1996
1706 April 7, 1996
1707 December 8, 1996
1708 October 22, 1996
1709 November 8, 1996
1710 May 18, 1996
1711 December 18, 1996
1712 November 6, 1996
1713 March 29, 1996
1714 September 23, 1996
1715 August 23, 1996
1716 June 24, 1997
1717 1996
1718 June 22, 1996
1719 October 18, 1996
1720 November 27, 1996
1721 October 28, 1997
1722 August 23, 1996
1723 September 3, 1996
1724 November 15, 1996
1725 1996
1726 1996
1727 January 24, 1996
1728 May 24, 1996
1729 November 22, 1996
1730 29 March 1996
1731 January 7, 1996
1732 2007
1733 June 28, 1996
1734 August 30, 1996
1735 April 19, 1996
1736 May 29, 1996
1737 April 26, 1996
1738 20 September 1996
1739 1996
1740 March 6, 1996
1741 October 18, 1996
1742 October 20, 1996
1743 1996
1744 October 4, 1996
1745 April 3, 1996
1746 October 25, 1996
1747 July 24, 1996
1748 August 16, 1996
1749 November 17, 1996
1750 November 3, 1996
1751 October 18, 1996
1752 April 7, 1997
1753 1996
1754 March 14, 1997
1755 May 7, 1996
1756 May 11, 1996
1757 April 9, 1996
1758 May 16, 1996
1759 October 30, 1996
1760 February 28, 1997
1761 March 12, 1996
1762 April 26, 1996
1763 May 13, 1996
1764 May 10, 1996
1765 December 1, 1995
1766 February 23, 1996
1767 November 1, 1996
1768 December 17, 1996
1769 March 1, 1996
1770 August 23, 1996
1771 July 17, 1996
1772 November 20, 1996
1773 March 5, 1997
1774 October 18, 1996
1775 1996
1776 October 25, 1996
1777 February 2, 1996
1778 September 8, 1996
1779 1997
1780 July 25, 1997
1781 October 12, 1996
1782 nan
1783 April 1996
1784 February 16, 1997
1785 August 17, 1997
1786 March 23, 1997
1787 1997
1788 July 9, 1997
1789 April 18, 1997
1790 September 11, 1997
1791 February 14, 1997
1792 May 23, 1997
1793 May 11, 1997
1794 September 16, 1997
1795 July 21, 1997
1796 September 5, 1997
1797 1997
1798 September 9, 1996
1799 November 26, 1997
1800 July 29, 1997
1801 April 25, 1997
1802 June 11, 1997
1803 February 27, 1998
1804 October 31, 1997
1805 December 10, 1997
1806 April 11, 1997
1807 November 14, 1997
1808 1997
1809 April 4, 1997
1810 December 17, 1997
1811 December 23, 1997
1812 26 September 1997
1813 February 16, 1997
1814 May 2, 1997
1815 March 28, 1997
1816 May 29, 1997
1818 June 12, 1997
1819 2 August 1997
1820 February 7, 1997
1821 November 11, 1997
1822 September 26, 1997
1823 1997
1824 October 17, 1997
1825 September 12, 1997
1826 January 17, 1997
1827 September 6, 1997
1828 May 13, 1997
1829 1997
1830 May 13, 1997
1831 April 17, 1997
1832 February 12, 1998
1833 September 11, 1997
1834 February 26, 1997
1835 31 December 1997
1836 1997
1837 May 10, 1997
1838 May 2, 1997
1839 December 13, 1997
1840 August 26, 1997
1841 nan
1842 June 6, 1997
1843 13 July 1997
1844 January 1, 1991
1845 1997
1846 September 9, 1997
1847 March 28, 1997
1848 April 4, 1997
1849 September 18, 1998
1850 September 4, 1997
1851 October 11, 1997
1852 March 14, 1997
1853 June 12, 1997
1854 May 2, 1997
1855 February 10, 1997
1856 June 6, 1997
1857 August 8, 1997
1858 July 11, 1997
1859 August 15, 1997
1860 1997
1862 September 21, 1997
1863 August 2, 1996
1864 February 12, 1997
1865 February 7, 1997
1866 December 12, 1997
1867 August 6, 1997
1868 1997
1869 October 27, 1997
1870 April 19, 1997
1871 October 17, 1997
1872 June 25, 1998
1873 April 3, 1997
1874 February 28, 1997
1875 April 4, 1997
1876 June 20, 1997
1877 September 26, 1997
1878 February 27, 1998
1879 1996
1880 August 10, 1997
1881 September 12, 1997
1882 July 27, 1997
1883 November 7, 1997
1884 15 August 1997
1885 22 April 1997
1886 August 29, 1997
1887 June 27, 1997
1888 October 24, 1997
1889 20 July 1997
1890 September 7, 1997
1891 May 9, 1997
1892 January 24, 1997
1893 7 May 1997
1894 September 5, 1997
1895 December 1997
1896 14 September 1997
1897 1997
1898 December 21, 1997
1899 November 16, 1997
1900 August 6, 1997
1901 February 14, 1997
1902 December 12, 1997
1903 1997
1904 January 28, 1997
1905 August 22, 1997
1906 September 12, 1997
1907 October 8, 1997
1908 October 24, 1997
1909 August 24, 1997
1910 July 16, 1997
1911 November 24, 1997
1912 September 14, 1997
1913 October 25, 1996
1914 September 19, 1997
1915 May 30, 1997
1916 July 25, 1997
1917 December 2, 1997
1918 August 20, 1997
1919 January 29, 1997
1920 April 11, 1997
1921 September 19, 1997
1922 June 1997
1924 June 19, 1998
1925 September 7, 1997
1926 June 15, 1997
1927 nan
1928 4 January 1997
1929 December 12, 1997
1930 March 18, 1997
1931 August 27, 1997
1932 October 10, 1997
1933 December 12, 1997
1934 January 21, 1997
1935 October 17, 1997
1936 September 8, 1997
1937 June 6, 1997
1938 May 12, 1997
1939 September 19, 1997
1940 August 1, 1997
1941 April 20, 1997
1942 1997
1943 September 5, 1997
1944 August 5, 1997
1945 April 4, 1997
1946 1997
1947 November 14, 1997
1948 December 8, 1997
1949 9 March 1997
1950 March 7, 1997
1951 August 1, 1997
1952 1997
1953 March 1997
1954 1997
1955 1997
1956 April 11, 1997
1957 October 3, 1997
1958 20 February 1997
1959 August 29, 1997

1960 December 25, 1997
1961 May 14, 1997
1962 December 10, 1997
1963 January 19, 1997
1964 June 20, 1997
1965 November 21, 1997
1966 August 22, 1997
1967 February 25, 1997
1969 March 18, 1997
1970 November 23, 1997
1971 24 October 1997
1972 February 20, 1998
1973 nan
1974 September 25, 1997
1975 January 15, 1997
1976 May 19, 1997
1977 March 14, 1997
1978 May 11, 1997
1979 January 25, 1997
1980 April 1997
1981 1997
1982 November 7, 1997
1983 November 14, 1997
1984 August 22, 1997
1985 3 October 1997
1986 April 18, 1997
1987 November 21, 1997
1988 January 31, 1997
1989 December 22, 1952
1990 July 2, 1997
1991 September 5, 1997
1992 January 17, 1997
1993 1997
1994 August 22, 1997
1995 February 22, 1997
1996 August 22, 1997
1997 November 21, 1997
1998 October 10, 1997
1999 December 19, 1997
2000 April 18, 1997
2001 June 20, 1997
2002 September 17, 1997
2003 April 1997
2004 August 30, 1997
2005 October 22, 1996
2006 May 2, 1997
2007 October 7, 1997
2008 April 17, 1998
2009 August 23, 1997
2010 July 18, 1997
2011 May 9, 1997
2012 May 19, 1997
2013 December 3, 1997
2014 November 16, 1997
2015 1996
2016 December 8, 1997
2017 April 20, 1997
2018 July 30, 1997
2019 November 14, 1997
2020 September 6, 1997
2021 31 December 1997
2022 July 2, 1997
2023 4 February 1998
2024 April 11, 1997
2025 September 26, 1997
2026 September 8, 1997
2027 February 7, 1997
2028 August 1, 1997
2029 October 17, 1997
2030 May 20, 1997
2031 August 5, 1997
2032 December 25, 1997
2033 1997
2034 January 24, 1997
2035 February 27, 1997
2036 March 26, 1997
2037 May 13, 1997
2038 17 July 1997
2039 November 21, 1997
2040 October 31, 1997
2041 January 10, 1997
2042 1997
2043 June 12, 1997
2044 October 10, 1997
2045 April 25, 1997
2046 February 21, 1997
2047 21 July 1997
2048 1997
2049 January 1997
2050 April 4, 1997
2051 17 November 1996
2052 December 10, 1997
2053 May 16, 1997
2054 March 21, 1997
2055 September 13, 1997
2056 January 31, 1997
2057 August 29, 1997
2058 1998
2059 July 11, 1997
2060 September 1997
2061 March 28, 1997
2062 August 22, 1997
2063 July 18, 1997
2064 September 26, 1997
2065 July 28, 1996
2066 1997
2067 September 8, 1997
2068 August 1, 1997
2069 June 13, 1997
2070 May 14, 1997
2071 November 13, 1997
2072 November 7, 1997
2073 August 15, 1997
2074 1997
2075 September 6, 1997
2076 22 August 1997
2077 1997
2078 July 18, 1997
2079 September 9, 1997
2080 October 31, 1997
2081 October 15, 1997
2082 February 14, 1997
2083 April 4, 1997
2084 July 11, 1997
2085 September 19, 1997
2086 May 30, 1997
2087 November 1, 1997
2088 1997
2089 February 14, 1997
2090 October 5, 1997
2091 June 4, 1999
2092 October 26, 1997
2093 August 8, 1997
2094 October 18, 1997
2095 May 30, 1997
2096 September 26, 1997
2097 May 2, 1997
2098 March 28, 1997
2099 January 10, 1997
2100 December 5, 1997
2101 August 27, 1997
2102 June 13, 1997
2103 October 25, 1997
2105 June 22, 1997
2106 February 14, 1997
2107 nan
2108 April 25, 1997
2109 September 19, 1997
2110 December 17, 1997
2111 August 21, 1996
2112 May 2, 1997
2113 September 12, 1997
2114 nan
2115 6 November 1997
2116 November 23, 1997
2117 July 2, 1997
2118 7 November 1997
2119 24 December 1997
2120 September 19, 1997
2121 August 1, 1997
2122 May 9, 1997
2123 1997
2124 28 March 1997
2125 January 24, 1997
2126 January 1998
2127 August 28, 1998
2128 September 22, 1998
2129 September 11, 1998
2130 May 29, 1998
2131 June 20, 1998
2132 October 30, 1998
2134 December 30, 1998
2135 September 19, 1998
2136 October 23, 1998
2137 July 1, 1998
2138 1998
2139 August 14, 1998
2140 6 November 1998
2141 November 25, 1998
2142 July 31, 1998
2143 November 4, 1998
2144 October 8, 1998
2145 April 24, 1998
2146 January 18, 1998
2147 July 24, 1998
2148 May 1, 1998
2149 August 21, 1998
2150 February 6, 1998
2151 August 21, 1998
2152 October 16, 1998
2153 July 2, 1999
2154 1998
2155 June 26, 1998
2156 November 25, 1998
2157 May 15, 1998
2158 June 12, 1998
2159 September 22, 1998
2160 February 27, 1998
2161 November 20, 1998
2162 March 13, 1998
2163 April 10, 1998
2164 December 25, 1998
2165 September 25, 1998
2166 June 12, 1998
2167 May 26, 1998
2168 23 January 1998
2169 August 21, 1998
2170 May 1, 1998
2171 13 November 1998
2172 February 20, 1998
2173 February 27, 1998
2174 August 21, 1998
2175 May 8, 1998
2176 January 30, 1998
2177 July 14, 1998
2178 December 11, 1998
2179 September 12, 1998
2180 January 30, 1998
2181 September 11, 1998
2182 June 12, 1998
2183 July 24, 1998
2184 June 26, 1998
2185 August 5, 1998
2186 August 4, 1997
2187 June 14, 1998
2188 December 6, 1997
2189 November 20, 1998
2190 July 31, 1998
2191 December 25, 1998
2192 January 16, 1998
2193 1998
2194 May 22, 1998
2195 September 12, 1998
2196 January 9, 1998
2197 January 23, 1998
2198 January 21, 1998
2199 May 20, 1998
2200 May 1998
2201 January 30, 1998
2202 August 21, 1998
2203 January 16, 1998
2204 August 5, 1998
2205 October 16, 1998
2206 January 16, 1998
2207 May 1, 1998
2208 September 11, 1998
2209 December 30, 1998
2210 June 12, 1998
2211 October 9, 1998
2212 November 25, 1998
2213 April 17, 1998
2214 May 29, 1998
2215 May 15, 1998
2216 August 14, 1998
2217 January 16, 1998
2218 December 25, 1998
2219 March 6, 1998
2220 May 27, 1998
2221 November 13, 1998
2222 November 13, 1998
2223 May 21, 1998
2224 October 2, 1998
2225 December 11, 1998
2226 July 24, 1998
2227 September 16, 1998
2228 1998
2229 February 27, 1998
2230 September 4, 1998
2231 February 27, 1998
2232 27 February 1998
2233 June 12, 1998
2234 October 23, 1998
2235 October 21, 1998
2236 1 May 1998
2238 July 10, 1998
2240 October 27, 1998
2241 September 15, 1998
2242 April 3, 1998
2243 August 14, 1998
2244 July 10, 1998
2245 April 17, 1998
2246 March 13, 1998
2247 July 17, 1998
2248 November 13, 1998
2249 March 27, 1998
2250 nan
2251 April 3, 1998
2252 December 25, 1998
2253 October 9, 1998
2254 June 16, 1998
2255 January 16, 1998
2256 January 20, 1998
2257 June 19, 1998
2258 April 24, 1998
2259 April 10, 1998
2260 August 1998
2261 July 29, 1998
2262 September 9, 1998
2263 March 27, 1998
2264 August 21, 1998
2265 October 1, 1998
2266 March 27, 1998
2267 April 17, 1998
2268 November 4, 1998
2269 April 10, 1998
2270 October 9, 1998
2271 September 18, 1998
2272 May 22, 1998
2273 June 26, 1998
2274 December 18, 1998
2275 April 7, 1998
2276 February 20, 1998
2277 July 29, 1998
2278 December 25, 1998
2279 September 25, 1998
2280 February 28, 1998
2281 June 5, 1998
2282 September 16, 1998
2283 October 13, 1998
2284 January 23, 1998
2285 September 4, 1998
2286 July 10, 1998
2287 April 8, 1998
2288 December 18, 1998
2289 October 23, 1998
2290 July 17, 1998
2291 October 16, 1998
2292 January 22, 1998
2293 March 20, 1998
2294 December 16, 1998
2295 December 4, 1998
2296 May 15, 1998
2297 August 22, 1998
2298 October 16, 1998
2299 1998
2300 February 6, 1998
2301 April 17, 1998
2302 August 14, 1998
2303 November 5, 1998
2304 March 27, 1998
2305 November 25, 1998
2306 September 12, 1998
2307 September 4, 1998
2308 October 16, 1998
2309 November 20, 1998
2310 September 18, 1998
2311 September 17, 1998
2312 August 7, 1998
2313 July 24, 1998
2314 November 20, 1998
2315 February 20, 1998
2316 September 25, 1998
2317 December 3, 1998
2318 November 6, 1998
2319 September 11, 1998
2320 September 11, 1998
2321 April 18, 1998
2322 June 12, 1998
2323 1998
2324 January 20, 1998
2325 January 23, 1998
2326 August 14, 1998
2327 July 10, 1998
2328 June 26, 1998
2329 August 7, 1998
2330 October 23, 1998
2331 18 September 1998
2332 April 17, 1998
2333 April 10, 1998
2334 February 13, 1998
2335 15 December 1997
2336 December 11, 1998
2337 December 25, 1998
2338 October 2, 1998
2340 April 24, 1998
2341 July 15, 1998
2342 January 28, 1999
2343 December 25, 1998
2344 June 1, 1998
2345 March 6, 1998
2346 March 6, 1998
2347 September 25, 1998
2348 October 30, 1998
2349 November 25, 1998
2350 November 6, 1998
2351 February 13, 1998
2352 October 2, 1998
2353 August 28, 1998
2354 March 20, 1998
2355 March 20, 1998
2356 September 11, 1998
2357 May 8, 1998
2358 July 23, 1998
2359 June 19, 1998
2360 August 21, 1998
2361 December 18, 1998
2362 January 30, 1998
2363 March 31, 1999
2364 August 27, 1999
2365 February 26, 1999
2366 July 11, 2000
2367 February 19, 1999
2368 October 1, 1999
2369 September 8, 1999
2370 November 5, 1999
2371 July 9, 1999
2372 March 5, 1999
2373 1999
2374 3 October 1999
2375 December 17, 1999
2376 November 7, 1999
2377 December 22, 1999
2378 November 12, 1999
2379 July 9, 1999
2380 August 27, 1999
2381 January 15, 1999
2382 1999
2383 June 11, 1999
2384 March 12, 1999
2385 November 5, 1999
2386 October 22, 1999
2387 September 2, 1999
2388 1999
2389 April 1, 1999
2390 September 10, 1999
2391 October 22, 1999
2392 October 22, 1999
2393 December 17, 1999
2394 June 25, 1999
2395 September 16, 1999
2396 September 4, 1999
2397 January 25, 1999
2398 February 12, 1999
2399 September 17, 1999
2400 November 5, 1999
2401 November 19, 1999
2402 August 13, 1999
2403 October 8, 1999
2404 September 17, 1999
2405 October 22, 1999
2406 August 13, 1999
2407 September 12, 1999
2408 September 1, 1999
2409 July 9, 1999
2410 September 7, 1999
2411 April 17, 1999
2412 March 12, 1999
2413 December 10, 1999
2414 September 9, 1999
2415 3 April 1999
2416 March 5, 1999
2417 July 28, 1999
2418 March 12, 1999
2419 March 10, 2000
2420 August 13, 1999
2421 December 10, 1999
2422 August 4, 1999
2423 March 11, 1999
2424 27 August 1999
2425 May 21, 1999
2426 September 24, 1999
2427 July 23, 1999
2428 August 27, 1999
2429 March 26, 1999
2430 April 23, 1999
2431 November 24, 1999
2432 April 30, 1999
2433 April 15, 1999
2434 April 23, 1999
2435 28 August 1999
2436 July 16, 1999
2437 December 17, 1999
2438 September 13, 1999
2439 November 26, 1999
2440 April 19, 1999
2441 March 19, 1999
2442 April 16, 1999
2443 December 25, 1999
2444 June 18, 1999
2445 May 18, 1999
2446 December 8, 1999
2447 January 22, 1999

2448 April 9, 1999
2449 December 10, 1999
2450 January 1999
2451 October 1, 1999
2452 July 23, 1999
2453 February 2, 1999
2454 October 8, 1999
2455 May 5, 2000
2456 October 29, 1999
2457 December 29, 1999
2458 16 April 1999
2459 April 30, 1999
2460 August 25, 1999
2461 November 5, 1999
2462 July 23, 1999
2463 June 4, 1999
2464 July 31, 1999
2465 September 24, 1999
2466 January 30, 1999
2467 January 22, 1999
2468 June 11, 1999
2469 February 26, 1999
2470 December 12, 1999
2471 March 19, 1999
2472 October 9, 1999
2473 1999
2474 July 16, 1999
2475 November 17, 1999
2476 April 16, 1999
2477 November 10, 1999
2478 October 8, 1999
2479 April 23, 1999
2480 May 21, 1999
2481 September 10, 1999
2482 December 31, 1999
2483 May 11, 1999
2484 December 17, 1999
2485 1999
2486 December 22, 1999
2487 September 13, 1999
2488 September 3, 1999
2489 March 31, 1999
2490 February 12, 1999
2491 18 October 1999
2492 August 20, 1999
2493 May 14, 1999
2494 10 December 1999
2495 March 26, 1999
2496 September 16, 1999
2497 September 24, 1999
2498 May 4, 1999
2499 July 14, 1999
2500 August 27, 1999
2501 September 6, 1999
2502 February 12, 1999
2503 September 11, 1999
2504 October 1, 1999
2505 August 6, 1999
2506 April 9, 1999
2507 25 August 1999
2508 1999
2509 21 May 1999
2510 February 19, 1999
2511 February 19, 1999
2512 October 15, 1999
2513 September 24, 1999
2514 February 26, 1999
2515 January 12, 1999
2516 January 5, 1999
2517 May 30, 1999
2518 November 9, 1999
2519 February 5, 1999
2520 December 25, 1999
2521 April 23, 1999
2522 March 12, 1999
2523 October 8, 1999
2524 March 19, 1999
2525 November 9, 1999
2526 1999
2527 July 30, 1999
2528 1999
2529 January 29, 1999
2530 1999
2531 February 5, 1999
2532 August 2, 1999
2533 November 17, 1999
2534 January 22, 1999
2535 September 12, 1999
2536 June 30, 1999
2537 August 2001
2538 May 16, 1999
2539 September 10, 1999
2540 September 10, 1999
2541 11 September 1999
2542 October 13, 1999
2543 October 21, 1999
2544 December 17, 1999
2545 May 20, 1999
2546 October 8, 1999
2547 September 3, 1999
2548 December 12, 1999
2549 June 12, 1999
2550 August 20, 1999
2551 June 6, 1999
2552 October 29, 1999
2553 April 16, 1999
2554 May 15, 1999
2555 August 6, 1999
2556 October 1, 1999
2557 22 October 1999
2558 24 December 1999
2559 November 13, 1999
2560 March 19, 1999
2561 November 24, 1999
2562 1999
2563 August 20, 1999
2564 January 15, 1999
2565 May 19, 1999
2566 January 15, 1999
2567 March 1999
2568 December 21, 1999
2569 2 April 1999
2570 December 17, 1999
2571 1999
2572 September 10, 1999
2573 June 30, 1999
2574 March 12, 1999
2575 November 9, 1999
2576 October 8, 1999
2577 1999
2578 July 16, 1999
2579 November 22, 2000
2580 April 14, 2000
2581 March 1, 2000
2582 October 28, 2000
2583 February 1, 2000
2584 May 3, 2000
2585 June 30, 2000
2586 December 25, 2000
2587 September 8, 2000
2588 January 21, 2000
2589 January 24, 2000
2590 August 25, 2000
2591 August 11, 2000
2592 September 15, 2000
2593 October 6, 2000
2594 May 10, 2000
2595 11 February 2000
2596 January 29, 2000
2597 September 29, 2000
2598 November 19, 2000
2599 October 20, 2000
2600 September 3, 2000
2601 September 29, 2000
2602 June 2, 2000
2603 December 24, 1999
2604 August 11, 2000
2605 February 18, 2000
2606 October 27, 2000
2607 November 17, 2000
2608 June 16, 2000
2609 August 25, 2000
2610 January 29, 2000
2611 September 7, 2000
2612 December 22, 2000
2613 May 17, 2000
2614 August 18, 2000
2615 May 12, 2000
2616 October 22, 2000
2617 August 25, 2000
2618 2000
2619 December 15, 2000
2620 January 21, 2000
2621 October 13, 2000
2622 August 4, 2000
2623 August 25, 2000
2624 January 10, 2000
2625 October 6, 2000
2626 May 19, 2000
2627 January 21, 2000
2628 October 13, 2000
2629 December 22, 2000
2630 March 3, 2000
2631 December 15, 2000
2632 September 9, 2000
2633 December 8, 2000
2634 December 15, 2000
2635 March 17, 2000
2636 December 25, 2000
2637 October 1, 2000
2638 December 22, 2000
2639 December 22, 2000
2640 April 28, 2000
2641 November 18, 2000
2642 April 28, 2000
2643 October 6, 2000
2644 December 22, 2000
2645 September 9, 2000
2646 January 22, 2000
2647 May 1, 2000
2648 13 September 2000
2649 June 9, 2000
2650 April 21, 2000
2651 February 4, 2000
2652 January 24, 2000
2653 February 18, 2000
2655 March 24, 2000
2656 March 31, 2000
2657 September 1, 2000
2658 August 4, 2000
2659 23 September 2000
2660 November 8, 2000
2661 February 22, 2002
2662 May 5, 2000
2663 May 2000
2664 July 19, 2000
2665 September 7, 2000
2666 January 28, 2000
2667 September 12, 2000
2668 May 26, 2000
2669 2000
2670 April 14, 2000
2671 July 7, 2000
2672 June 28, 1961
2673 February 9, 2001
2674 February 1, 2000
2675 November 3, 2000
2676 November 10, 2000
2677 August 18, 2000
2678 January 29, 2000
2679 July 21, 2000
2680 October 13, 2000
2681 April 21, 2000
2682 October 27, 2000
2683 October 10, 2000
2684 June 23, 2000
2685 October 6, 2000
2686 September 5, 2000
2687 November 10, 2000
2688 October 31, 2000
2689 February 9, 2000
2690 December 22, 2000
2691 March 10, 2000
2692 May 24, 2000
2693 January 14, 2000
2694 September 8, 2000
2695 March 3, 2000
2696 January 12, 2000
2697 June 20, 2000
2698 July 28, 2000
2699 September 8, 2000
2700 October 19, 2000
2701 August 11, 2000
2702 August 18, 2000
2703 2000
2704 December 1, 2000
2705 May 26, 2000
2706 June 30, 2000
2707 October 20, 2000
2708 June 30, 2000
2709 May 26, 2000
2710 February 18, 2000
2711 September 6, 2000
2712 June 16, 2000
2713 March 31, 2000
2714 September 22, 2000
2715 December 8, 2000
2716 23 January 2000
2717 2 September 2000
2718 April 7, 2000
2719 November 10, 2000
2720 February 25, 2000
2721 September 29, 2000
2722 August 11, 2000
2723 May 14, 2000
2724 April 7, 2000
2725 March 31, 2000
2726 May 19, 2000
2727 March 22, 2000
2728 November 17, 2000
2729 April 7, 2000
2730 February 1, 2002
2731 August 26, 2000
2732 July 7, 2000
2733 January 19, 2001
2734 February 3, 2000
2735 May 12, 2000
2736 November 12, 2000
2737 13 September 2000
2738 December 29, 2000
2739 June 16, 2000
2740 May 19, 2000
2741 October 17, 2000
2742 March 31, 2000
2743 May 19, 2000
2744 2000
2745 23 August 2000
2746 January 29, 2000
2747 January 25, 2000
2748 2000
2749 August 1, 2000
2750 September 22, 2000
2751 August 18, 2000
2752 January 14, 2000
2753 January 26, 2000
2754 October 18, 2000
2755 January 22, 2000
2756 December 25, 2000
2757 July 14, 2000
2758 October 6, 2000
2759 February 6, 2000
2760 April 28, 2000
2761 June 16, 2000
2762 December 6, 2000
2763 June 27, 2000
2764 September 6, 2000
2765 April 21, 2000
2766 November 22, 2000
2767 May 11, 2000
2768 5 May 2000
2769 September 22, 2000
2770 December 8, 2000
2771 nan
2772 March 24, 2000
2773 September 8, 2000
2774 September 8, 2000
2775 July 21, 2000
2776 March 3, 2000
2777 December 15, 2000
2778 March 31, 2000
2779 April 28, 2000
2780 April 14, 2000
2781 September 1, 2000
2782 February 18, 2000
2783 June 24, 2000
2784 February 25, 2000
2785 July 12, 2000
2786 October 12, 2000
2787 November 10, 2000
2788 March 9, 2001
2789 February 23, 2001
2790 June 29, 2001
2791 November 30, 2001
2792 December 25, 2001
2793 August 10, 2001
2794 April 6, 2001
2795 January 19, 2001
2796 July 20, 2001
2797 October 12, 2001
2798 August 17, 2001
2799 August 10, 2001
2800 August 24, 2001
2801 March 8, 2001
2802 May 18, 2001
2803 June 1, 2001
2804 June 8, 2001
2805 January 12, 2001
2806 June 3, 2001
2807 June 27, 2001
2808 October 12, 2001
2809 March 10, 2001
2810 December 13, 2001
2811 November 30, 2001
2812 January 19, 2001
2813 May 12, 2001
2814 December 28, 2001
2815 November 21, 2001
2816 April 6, 2001
2817 October 26, 2001
2818 September 28, 2001
2819 March 23, 2001
2820 August 24, 2001
2821 July 25, 2003
2822 June 15, 2001
2823 January 19, 2001
2824 4 May 2001
2825 3 August 2001
2826 July 4, 2001
2827 January 19, 2001
2828 April 19, 2001
2829 October 12, 2001
2830 May 12, 2001
2831 June 29, 2001
2832 12 April 2001
2833 November 9, 2000
2834 August 24, 2001
2835 August 8, 2001
2836 October 28, 2001
2837 15 June 2001
2838 January 19, 2001
2839 November 2, 2001
2840 28 September 2001
2841 January 19, 2001
2842 January 12, 2001
2843 February 16, 2001
2844 June 22, 2001
2845 April 27, 2001
2846 2001
2847 September 1958
2848 June 23, 2001
2849 March 16, 2001
2850 2000
2851 June 8, 2001
2852 March 16, 2001
2853 June 22, 2001
2854 November 3, 2001
2855 July 2, 2001
2856 June 16, 2001
2857 2001
2858 April 27, 2001
2859 November 7, 2001
2860 April 20, 2001
2861 October 19, 2001
2862 August 2, 2002
2863 March 9, 2001
2864 June 16, 2001
2865 August 24, 2001
2866 September 14, 2001
2867 September 21, 2001
2868 2001
2869 7 November 2001
2870 September 13, 2001
2871 9 February 2001
2872 September 14, 2001
2873 4 November 2001
2874 May 10, 2001
2875 February 2, 2001
2876 March 23, 2001
2877 September 28, 2001
2878 July 20, 2001
2879 November 9, 2001
2880 2001
2881 December 21, 2001
2882 October 14, 2001
2883 May 18, 2001
2884 December 28, 2001
2885 November 23, 2001
2886 August 24, 2001
2887 August 31, 2001
2888 December 21, 2001
2889 September 13, 2001
2890 April 11, 2001
2891 December 21, 2001
2892 April 11, 2001
2893 October 5, 2001
2895 April 6, 2001
2896 October 26, 2001
2897 December 25, 2001
2898 September 14, 2001
2899 April 11, 2001
2900 6 July 2001
2901 April 21, 2001
2902 May 11, 2001
2903 September 8, 2001
2904 January 20, 2001
2905 June 15, 2001
2906 October 19, 2001
2907 July 13, 2001
2908 October 26, 2001
2909 May 4, 2001
2910 10 December 2001
2911 October 8, 2001
2912 August 31, 2001
2913 December 21, 2001
2914 September 13, 2001
2915 May 13, 2001
2916 October 5, 2001
2917 September 7, 2001
2918 March 2, 2001
2919 May 4, 2001
2920 February 23, 2001
2921 30 August 2001
2922 November 11, 2001
2923 October 28, 2001
2924 2001

2925 9 May 2001
2926 May 16, 2001
2927 May 4, 2001
2928 September 14, 2001
2929 September 7, 2001
2930 September 19, 2011
2931 April 19, 2002
2932 October 12, 2001
2933 December 14, 2001
2934 September 8, 2001
2935 August 31, 2001
2936 December 7, 2001
2937 October 26, 2001
2938 November 2, 2001
2939 April 27, 2001
2940 August 3, 2001
2941 August 7, 2001
2942 August 2, 2001
2943 November 21, 2001
2944 May 21, 2001
2945 January 26, 2001
2946 December 13, 2001
2947 July 27, 2001
2948 January 19, 2001
2949 June 29, 2001
2950 August 3, 2001
2951 August 17, 2001
2952 February 10, 2001
2953 2001
2954 October 19, 2001
2955 September 7, 2001
2956 October 5, 2001
2957 August 3, 2001
2958 April 24, 2001
2959 January 12, 2001
2960 February 9, 2001
2961 March 23, 2001
2962 July 4, 2001
2963 July 13, 2001
2964 2001
2965 March 2, 2001
2966 September 13, 2001
2967 August 10, 2001
2968 November 9, 2001
2969 December 20, 2001
2970 December 18, 2001
2971 April 22, 2001
2972 November 1, 2001
2973 November 21, 2001
2974 March 30, 2001
2975 September 7, 2001
2976 2001
2977 April 21, 2001
2978 November 21, 2001
2979 March 30, 2001
2980 May 12, 2001
2981 January 26, 2001
2982 August 24, 2001
2983 January 19, 2001
2984 February 16, 2001
2985 June 8, 2001
2986 January 26, 2001
2987 May 24, 2002
2988 October 26, 2001
2989 2 September 2001
2990 March 30, 2001
2991 June 9, 2001
2992 April 27, 2001
2993 September 2, 2001
2994 September 7, 2001
2995 November 4, 2001
2996 February 2, 2001
2997 December 14, 2001
2998 January 23, 2001
2999 November 16, 2001
3000 January 26, 2001
3001 nan
3002 July 27, 2001
3003 June 1, 2001
3004 21 July 2001
3005 September 28, 2001
3006 January 2002
3007 December 16, 2002
3008 March 1, 2002
3009 November 8, 2002
3010 October 18, 2002
3011 26 April 2002
3012 May 22, 2002
3013 December 6, 2002
3014 August 16, 2002
3015 March 8, 2002
3016 December 6, 2002
3017 December 19, 2002
3018 July 26, 2002
3019 October 18, 2002
3020 August 30, 2002
3021 25 January 2005
3022 June 7, 2002
3023 September 20, 2002
3024 September 8, 2002
3025 September 13, 2002
3026 October 11, 2002
3027 January 12, 2002
3028 February 8, 2002
3029 April 5, 2002
3030 January 11, 2002
3031 6 September 2001
3032 March 22, 2002
3033 August 9, 2002
3034 August 16, 2002
3035 2002
3036 June 14, 2002
3037 May 16, 2002
3038 October 11, 2002
3039 June 9, 2002
3040 October 7, 2002
3041 2002
3042 September 14, 2002
3043 November 4, 2002
3044 December 25, 2002
3045 September 22, 2002
3046 April 12, 2002
3047 July 2, 2002
3048 September 21, 2001
3049 December 10, 2002
3050 nan
3051 September 6, 2002
3052 September 10, 2002
3053 May 26, 2002
3054 March 29, 2002
3055 January 16, 2002
3056 February 4, 2002
3057 12 July 2002
3058 October 11, 2002
3059 December 31, 2002
3060 25 January 2002
3061 July 21, 2002
3062 September 27, 2002
3063 February 15, 2002
3064 August 2, 2002
3065 11 January 2002
3066 January 18, 2002
3067 11 October 2002
3068 March 29, 2002
3069 June 14, 2002
3070 May 3, 2002
3071 June 7, 2002
3072 February 22, 2002
3073 December 13, 2002
3074 November 27, 2002
3075 July 17, 2002
3076 September 9, 2002
3077 December 6, 2002
3078 May 24, 2002
3079 December 6, 2002
3080 September 9, 2002
3081 September 2, 2002
3082 August 30, 2002
3083 June 28, 2002
3084 August 29, 2002
3085 November 22, 2002
3086 20 September 2002
3088 December 20, 2002
3089 October 25, 2002
3090 August 7, 2002
3091 2002
3092 23 August 2002
3093 November 15, 2002
3094 July 12, 2002
3095 3 November 2002
3096 February 15, 2002
3097 June 28, 2002
3098 April 5, 2002
3099 March 26, 2002
3100 May 3, 2002
3101 April 12, 2002
3102 December 13, 2002
3103 December 25, 2002
3104 January 16, 2002
3105 November 1, 2002
3106 March 15, 2002
3107 September 13, 2002
3108 October 27, 2001
3109 October 14, 2003
3110 May 3, 2002
3111 October 25, 2002
3112 April 26, 2002
3113 February 15, 2002
3114 August 14, 2002
3115 June 21, 2002
3116 July 19, 2002
3117 July 30, 2002
3118 2002
3119 June 21, 2002
3120 October 16, 2002
3121 January 25, 2002
3122 January 10, 2002
3123 May 25, 2002
3124 May 18, 2002
3125 April 26, 2002
3126 July 3, 2002
3127 June 21, 2002
3128 5 December 2002
3129 December 13, 2002
3131 August 2, 2002
3132 July 3, 2002
3133 June 19, 2002
3134 September 27, 2002
3135 January 25, 2002
3136 June 28, 2002
3137 April 19, 2002
3139 December 17, 2002
3140 April 5, 2002
3141 April 12, 2002
3142 May 10, 2002
3143 27 December 2002
3144 April 26, 2002
3145 June 27, 2003
3146 January 13, 2002
3147 January 11, 2002
3148 October 25, 2002
3149 March 29, 2002
3150 May 18, 2002
3151 January 12, 2002
3152 11 October 2002
3153 June 8, 2002
3154 August 16, 2002
3155 July 3, 2002
3156 December 11, 2002
3157 June 28, 2002
3158 May 19, 2002
3159 February 22, 2002
3160 September 9, 2002
3161 2002
3162 January 13, 2002
3163 October 4, 2002
3164 July 12, 2002
3165 February 10, 2002
3166 October 18, 2002
3167 2 September 2002
3168 July 12, 2002
3169 May 9, 2002
3170 February 8, 2002
3171 March 29, 2002
3172 October 11, 2002
3173 August 23, 2002
3174 April 26, 2002
3175 November 1, 2002
3176 June 14, 2002
3177 April 19, 2002
3178 September 9, 2002
3179 January 11, 2002
3180 August 23, 2002
3181 June 22, 2002
3182 March 15, 2002
3183 February 1, 2002
3184 August 2, 2002
3185 February 1, 2002
3186 January 18, 2002
3187 November 29, 2002
3188 March 22, 2002
3189 2002
3190 April 29, 2002
3191 May 24, 2002
3192 June 14, 2002
3193 July 28, 2002
3194 May 12, 2002
3195 December 13, 2002
3196 January 18, 2002
3197 September 13, 2002
3198 nan
3199 March 22, 2002
3200 July 19, 2002
3201 May 29, 2002
3202 May 19, 2002
3203 April 26, 2002
3204 September 27, 2002
3205 11 October 2002
3206 September 6, 2002
3207 January 11, 2002
3208 November 27, 2002
3209 October 25, 2002
3210 March 8, 2002
3211 April 13, 2000
3212 2 October 2002
3213 September 20, 2002
3214 November 27, 2002
3215 June 14, 2002
3216 25 October 2002
3217 October 11, 2002
3218 September 27, 2002
3219 December 20, 2002
3220 May 31, 2002
3221 August 23, 2002
3222 May 10, 2002
3223 October 25, 2002
3224 January 25, 2002
3225 March 1, 2002
3226 October 18, 2002
3227 October 11, 2002
3228 December 20, 2002
3229 June 14, 2002
3230 August 9, 2002
3231 July 9, 2002
3232 May 16, 2003
3233 January 21, 2003
3234 June 6, 2003
3235 September 5, 2003
3236 June 5, 2003
3237 October 28, 2003
3238 2003
3239 March 14, 2003
3240 May 10, 2003
3241 June 20, 2003
3242 July 19, 2003
3243 January 19, 2003
3244 2002
3245 January 20, 2003
3246 August 1, 2003
3247 April 11, 2003
3248 nan
3249 August 27, 2003
3250 September 7, 2003
3251 July 18, 2003
3252 November 26, 2003
3253 April 3, 2003
3254 August 22, 2003
3255 April 6, 2003
3256 2003
3257 October 24, 2003
3258 December 4, 2003
3259 January 31, 2003
3260 2003
3261 December 16, 2003
3262 15 May 2003
3263 October 4, 2002
3264 March 7, 2003
3265 2003
3266 November 1, 2003
3267 May 21, 2003
3268 May 14, 2003
3269 April 16, 2003
3270 July 25, 2003
3271 June 5, 2003
3272 September 5, 2003
3273 November 21, 2003
3274 June 27, 2003
3275 April 16, 2003
3276 December 25, 2003
3277 November 9, 2004
3278 May 14, 2004
3279 September 17, 2003
3280 December 25, 2003
3281 December 26, 2003
3282 April 25, 2003
3283 November 26, 2003
3284 March 28, 2003
3285 2003
3286 February 28, 2003
3287 September 19, 2003
3288 May 9, 2003
3289 February 14, 2003
3290 December 21, 2002
3291 January 24, 2003
3292 February 7, 2003
3293 December 16, 2003
3294 September 5, 2003
3295 August 8, 2003
3296 May 9, 2003
3297 March 21, 2003
3298 June 13, 2003
3299 September 26, 2003
3300 April 4, 2003
3301 October 24, 2003
3302 November 7, 2003
3303 December 3, 2003
3304 December 16, 2003
3305 September 9, 2003
3306 September 19, 2003
3307 January 31, 2003
3308 May 30, 2003
3309 April 9, 2003
3310 May 21, 2003
3311 August 4, 2003
3312 August 15, 2003
3313 June 20, 2003
3314 October 10, 2003
3315 August 1, 2003
3316 February 21, 2003
3317 October 10, 2003
3318 November 21, 2003
3319 6 November 2003
3320 August 15, 2003
3321 January 17, 2003
3322 November 26, 2003
3323 March 28, 2003
3324 2003
3325 April 18, 2003
3326 June 13, 2003
3327 December 5, 2003
3328 14 March 2003
3329 April 11, 2003
3330 December 19, 2003
3331 February 15, 2003
3332 18 July 2003
3333 February 7, 2003
3334 June 20, 2003
3335 August 29, 2003
3336 March 14, 2003
3337 May 15, 2003
3338 April 25, 2003
3339 12 September 2003
3340 22 October 2003
3341 May 23, 2003
3342 December 5, 2003
3343 September 2, 2003
3344 April 25, 2003
3345 May 11, 2003
3346 August 29, 2003
3347 February 14, 2003
3348 January 10, 2003
3349 January 17, 2003
3350 October 10, 2003
3351 July 21, 2003
3352 November 20, 2003
3353 July 11, 2003
3354 July 2, 2003
3355 February 21, 2003
3356 May 2, 2003
3357 November 9, 2003
3358 1 December 2003
3359 August 29, 2003
3360 December 12, 2003
3361 April 18, 2003
3362 April 4, 2003
3363 January 23, 2003
3364 August 22, 2003
3365 July 24, 2003
3366 November 14, 2003
3367 September 2, 2003
3368 May 7, 2003
3369 October 27, 2003
3370 January 13, 2002
3371 15 August 2003
3372 April 16, 2003
3373 January 24, 2003
3374 November 26, 2003
3375 December 19, 2003
3376 November 16, 2003
3377 July 30, 2003
3378 August 22, 2003
3379 2003
3380 October 15, 2003
3381 September 26, 2003
3382 June 15, 2003
3383 January 17, 2003
3384 2003
3385 February 21, 2003
3386 September 12, 2003
3387 August 15, 2003
3388 October 26, 2003
3389 September 5, 2003

3390 October 3, 2003
3391 January 18, 2003
3392 June 2002
3393 October 4, 2004
3394 December 25, 2003
3395 22 November 2003
3396 April 4, 2003
3397 October 17, 2003
3398 March 16, 2003
3399 June 28, 2003
3401 January 20, 2003
3402 December 16, 2003
3403 13 May 2003
3404 October 24, 2003
3405 April 25, 2003
3406 January 25, 2003
3407 June 27, 2003
3408 June 13, 2003
3409 October 17, 2003
3410 September 26, 2003
3411 August 8, 2003
3412 October 20, 2003
3413 October 3, 2003
3414 July 7, 2003
3415 September 19, 2003
3416 June 21, 2003
3417 February 7, 2003
3418 August 10, 2003
3419 July 2, 2003
3420 January 17, 2003
3421 July 17, 2003
3422 December 12, 2003
3423 July 25, 2003
3424 October 3, 2003
3425 December 12, 2003
3426 October 8, 2004
3427 March 7, 2003
3428 June 30, 2003
3429 March 8, 2003
3430 October 17, 2003
3431 January 17, 2003
3432 July 7, 2003
3433 July 18, 2003
3434 November 26, 2003
3435 January 22, 2003
3436 October 21, 2003
3437 September 26, 2003
3438 September 19, 2003
3439 August 15, 2003
3440 February 1, 2003
3441 8 July 2003
3442 March 21, 2003
3443 April 4, 2003
3444 April 20, 2004
3445 March 14, 2003
3446 September 8, 2003
3447 May 30, 2003
3448 April 24, 2003
3449 September 7, 2003
3450 December 25, 2003
3451 September 3, 2003
3452 April 23, 2004
3453 February 13, 2004
3454 November 12, 2004
3455 February 20, 2004
3456 March 12, 2004
3457 April 9, 2004
3458 16 November 2004
3459 November 5, 2004
3460 August 12, 2004
3461 January 16, 2004
3462 July 2, 2004
3463 August 27, 2004
3464 June 28, 2004
3465 October 8, 2004
3466 June 13, 2004
3467 May 17, 2004
3468 December 14, 2004
3469 February 6, 2004
3470 February 10, 2004
3471 October 15, 2004
3472 March 26, 2004
3473 January 16, 2004
3474 December 17, 2004
3475 January 30, 2004
3476 November 8, 2004
3477 December 8, 2004
3478 October 1, 2004
3479 February 20, 2004
3480 April 30, 2004
3481 January 18, 2004
3482 17 January 2004
3483 July 23, 2004
3484 May 14, 2004
3485 28 October 2004
3486 January 17, 2004
3487 January 23, 2004
3488 February 6, 2004
3489 July 19, 2004
3490 September 10, 2004
3491 September 28, 2004
3492 January 9, 2004
3493 November 24, 2004
3494 June 11, 2004
3495 July 16, 2004
3496 July 2, 2004
3497 February 20, 2004
3498 December 3, 2004
3499 February 27, 2004
3500 August 6, 2004
3501 February 20, 2004
3502 April 16, 2004
3503 January 2004
3504 September 3, 2004
3505 September 10, 2004
3506 September 10, 2004
3507 January 22, 2004
3508 March 19, 2004
3509 May 17, 2004
3510 May 14, 2004
3511 July 2, 2004
3512 August 19, 2005
3513 September 13, 2004
3514 18 January 2004
3515 February 27, 2004
3516 September 12, 2004
3517 June 18, 2004
3518 July 14, 2004
3519 September 10, 2004
3520 April 9, 2004
3521 April 30, 2004
3522 March 19, 2004
3523 August 20, 2004
3524 February 20, 2004
3525 November 5, 2004
3526 May 17, 2004
3527 December 10, 2004
3528 September 4, 2004
3529 October 15, 2004
3530 September 24, 2004
3531 December 17, 2004
3532 September 24, 2004
3533 October 8, 2004
3534 2004
3535 January 16, 2004
3536 June 11, 2004
3537 April 9, 2004
3538 April 30, 2004
3539 November 29, 2004
3540 15 September 2004
3541 October 22, 2004
3542 October 17, 2004
3543 July 30, 2004
3544 23 May 2004
3545 January 24, 2005
3546 March 30, 2004
3547 March 5, 2004
3548 February 13, 2004
3549 July 23, 2004
3550 April 2, 2004
3551 11 September 2004
3553 September 10, 2004
3554 July 7, 2004
3555 December 17, 2004
3556 October 27, 2004
3557 December 6, 2004
3558 May 3, 2004
3559 February 2003
3560 March 9, 2004
3561 April 7, 2004
3562 September 3, 2004
3563 April 8, 2004
3564 July 7, 2004
3565 November 12, 2004
3566 October 1, 2004
3567 March 26, 2004
3568 2004
3569 September 24, 2004
3570 December 17, 2004
3571 May 21, 2004
3572 November 20, 2004
3573 August 6, 2004
3574 September 2, 2004
3575 April 23, 2004
3576 July 30, 2004
3577 January 18, 2004
3578 January 15, 2004
3579 April 19, 2004
3580 December 22, 2004
3581 3 December 2004
3582 September 17, 2004
3583 December 15, 2004
3584 2004
3585 March 19, 2004
3586 February 6, 2004
3587 29 September 2004
3588 March 15, 2004
3589 May 14, 2004
3590 15 January 2004
3591 September 17, 2004
3592 January 9, 2004
3593 September 3, 2004
3594 January 17, 2004
3595 November 19, 2004
3596 January 19, 2004
3597 May 7, 2004
3598 September 12, 2004
3599 May 20, 2004
3600 January 18, 2004
3601 December 10, 2004
3602 2004
3603 October 15, 2004
3604 September 3, 2004
3605 September 3, 2004
3606 February 25, 2004
3607 January 30, 2004
3608 December 22, 2004
3609 October 21, 2004
3610 October 8, 2004
3611 April 2, 2004
3612 August 11, 2004
3613 November 11, 2004
3614 April 16, 2004
3615 October 8, 2004
3616 May 28, 2004
3617 October 29, 2004
3618 nan
3619 2004
3620 October 15, 2004
3621 January 21, 2004
3622 September 12, 2004
3623 January 19, 2004
3624 March 20, 2004
3625 March 12, 2004
3626 November 12, 2004
3627 October 15, 2004
3628 September 10, 2004
3629 July 30, 2004
3630 May 15, 2004
3631 September 13, 2004
3632 June 29, 2004
3633 May 13, 2004
3634 September 17, 2004
3635 July 9, 2004
3636 January 24, 2004
3637 May 28, 2004
3638 December 17, 2004
3639 January 31, 2004
3640 January 20, 2004
3641 June 22, 2004
3642 November 14, 2004
3643 8 May 2004
3644 March 5, 2004
3645 May 21, 2004
3646 June 11, 2004
3647 November 26, 2004
3648 May 7, 2004
3649 August 27, 2004
3650 October 22, 2004
3651 August 27, 2004
3652 March 19, 2004
3653 October 6, 2004
3654 January 16, 2004
3655 October 14, 2004
3656 June 18, 2004
3657 January 16, 2004
3658 May 13, 2004
3659 February 27, 2004
3660 October 22, 2004
3661 June 26, 2004
3662 May 7, 2004
3663 September 1, 2004
3664 27 October 2004
3665 July 26, 2004
3666 16 September 2004
3667 2004
3668 April 2, 2004
3669 December 18, 2004
3670 10 December 2004
3671 January 20, 2004
3672 February 20, 2004
3673 June 6, 2004
3674 June 23, 2004
3675 April 7, 2004
3676 September 3, 2004
3677 January 23, 2004
3678 January 29, 2004
3679 August 20, 2004
3680 October 1, 2004
3681 January 19, 2004
3682 November 24, 2004
3683 September 16, 2004
3684 January 30, 2004
3685 August 11, 2005
3686 September 14, 2005
3687 June 10, 2005
3688 December 2, 2005
3689 January 28, 2005
3690 28 January 2005
3691 April 15, 2005
3692 January 21, 2005
3693 August 12, 2005
3694 January 19, 2005
3695 July 22, 2005
3696 January 23, 2005
3697 May 31, 2005
3698 April 24, 2005
3699 March 11, 2005
3700 March 30, 2005
3701 January 26, 2005
3702 November 11, 2005
3703 June 24, 2005
3704 February 18, 2005
3705 February 4, 2005
3706 October 21, 2005
3707 April 7, 2006
3708 September 2, 2005
3709 August 5, 2005
3710 26 August 2005
3711 September 2, 2005
3712 September 3, 2005
3713 August 26, 2005
3714 July 10, 2005
3715 December 21, 2005
3716 October 30, 2005
3717 December 7, 2005
3718 August 26, 2005
3719 June 3, 2005
3720 January 14, 2005
3721 February 17, 2005
3722 September 7, 2005
3723 June 3, 2005
3724 October 14, 2005
3725 September 16, 2005
3726 November 7, 2004
3727 September 25, 2005
3728 July 8, 2005
3729 June 9, 2005
3730 November 11, 2005
3731 June 30, 2005
3732 August 12, 2005
3733 July 22, 2005
3734 February 25, 2005
3735 September 23, 2005
3736 March 18, 2005
3737 September 25, 2005
3738 May 19, 2005
3739 October 17, 2005
3740 September 10, 2005
3741 2005
3742 August 5, 2005
3743 April 22, 2005
3744 November 4, 2005
3745 January 14, 2005
3746 September 4, 2005
3747 April 22, 2005
3748 September 16, 2005
3749 September 9, 2005
3750 December 16, 2005
3751 July 8, 2005
3752 April 24, 2005
3753 April 6, 2005
3754 December 2, 2005
3755 September 22, 2005
3756 October 14, 2005
3757 September 28, 2005
3758 August 12, 2005
3759 October 4, 2005
3760 December 21, 2005
3761 April 22, 2005
3762 November 9, 2005
3763 December 10, 2005
3764 30 September 2005
3765 October 7, 2005
3766 September 1, 2005
3767 August 10, 2005
3768 September 30, 2005
3769 9 September 2005
3770 August 12, 2005
3771 March 25, 2005
3772 July 29, 2005
3773 6 November 2005
3774 2005
3775 June 22, 2005
3776 January 28, 2005
3777 May 16, 2005
3778 February 11, 2005
3779 28 April 2005
3780 June 10, 2005
3781 December 16, 2005
3782 March 9, 2005
3783 September 17, 2005
3784 May 7, 2004
3785 April 30, 2005
3786 July 22, 2005
3787 September 3, 2005
3788 March 18, 2005
3789 September 14, 2005
3790 November 23, 2005
3791 February 11, 2005
3792 March 29, 2005
3793 April 22, 2005
3794 September 30, 2005
3795 July 22, 2005
3796 January 23, 2005
3797 November 4, 2005
3798 August 5, 2005
3799 November 23, 2005
3800 September 16, 2005
3801 May 1, 2005
3802 October 21, 2005
3803 December 5, 2005
3804 April 22, 2005
3805 2 May 2005
3806 May 14, 2005
3807 April 25, 2005
3808 June 18, 2005
3809 December 16, 2005
3810 July 22, 2005
3811 3 June 2005
3812 October 24, 2005
3813 January 22, 2005
3814 May 27, 2005
3815 September 16, 2005
3816 June 3, 2005
3817 September 3, 2005
3818 April 21, 2005
3819 May 13, 2005
3820 May 25, 2005
3821 September 9, 2005
3822 February 25, 2005
3823 January 25, 2005
3824 December 30, 2005
3825 12 May 2005
3826 17 June 2005
3827 November 29, 2005
3828 September 30, 2005
3829 March 24, 2005
3830 May 5, 2005
3831 April 29, 2005
3832 June 7, 2005
3833 25 November 2005
3834 December 23, 2005
3835 July 8, 2005
3836 July 29, 2005
3837 28 October 2005
3838 April 15, 2005
3839 December 25, 2005
3840 September 9, 2005
3841 2005
3842 October 14, 2005
3843 July 21, 2005
3844 September 12, 2005
3845 June 22, 2005
3846 March 4, 2005
3847 June 17, 2005
3849 November 8, 2005
3850 January 22, 2005
3851 September 21, 2005
3852 October 14, 2005
3853 December 16, 2005
3854 September 5, 2005
3855 September 12, 2005
3856 January 8, 2005
3857 July 1, 2005
3858 August 19, 2005
3859 November 17, 2005
3860 March 18, 2005
3861 December 23, 2005
3862 2005
3863 March 6, 2005
3864 September 23, 2005
3865 December 25, 2005
3866 April 4, 2005
3867 November 11, 2005
3868 October 28, 2005
3869 August 22, 2005
3870 September 9, 2005
3871 October 21, 2005
3872 March 28, 2005
3873 June 1, 2005
3874 April 23, 2005
3875 August 12, 2005
3876 July 29, 2005
3877 April 8, 2005
3878 February 11, 2005
3879 September 2, 2005
3880 January 23, 2005
3881 May 15, 2005
3882 September 24, 2005
3883 July 29, 2005
3884 April 23, 2005
3885 May 12, 2005
3886 November 20, 2005
3887 September 16, 2005
3888 May 20, 2005
3889 December 30, 2005
3890 January 23, 2005
3891 June 10, 2006

3892 February 14, 2005
3893 3 August 2005
3894 October 7, 2005
3895 September 2, 2005
3896 August 26, 2005
3897 August 19, 2005
3898 January 23, 2005
3899 September 16, 2005
3900 October 7, 2005
3901 September 4, 2005
3902 June 23, 2005
3903 September 30, 2005
3904 October 20, 2005
3905 July 15, 2005
3906 February 4, 2005
3907 13 May 2005
3908 January 7, 2005
3909 January 22, 2006
3910 7 December 2005
3911 April 29, 2005
3912 November 23, 2005
3913 November 11, 2005
3914 November 30, 2006
3915 September 11, 2006
3916 April 21, 2006
3917 March 3, 2006
3919 2006
3920 June 14, 2006
3921 October 3, 2006
3922 August 18, 2006
3923 November 4, 2006
3924 2006
3925 March 16, 2006
3926 September 13, 2006
3927 June 17, 2006
3928 September 22, 2006
3929 April 28, 2006
3930 16 September 2006
3931 July 28, 2006
3932 September 22, 2006
3933 2006
3934 September 22, 2006
3935 June 24, 2006
3936 September 1, 2006
3937 January 27, 2006
3938 April 29, 2006
3939 July 28, 2006
3940 December 8, 2006
3941 February 26, 2006
3942 April 26, 2006
3943 January 23, 2006
3944 September 15, 2006
3945 1 September 2006
3946 2006
3947 March 17, 2006
3948 October 15, 2006
3949 March 31, 2006
3950 October 18, 2006
3951 December 13, 2006
3952 March 31, 2006
3953 23 May 2006
3954 January 26, 2006
3955 August 4, 2006
3956 30 March 2006
3957 nan
3958 August 25, 2006
3959 March 12, 2006
3960 September 9, 2006
3961 April 7, 2006
3962 2006
3963 May 2006
3964 April 26, 2006
3965 October 25, 2006
3966 2006
3967 January 27, 2006
3968 December 15, 2006
3969 August 9, 2006
3970 2006
3971 July 28, 2006
3972 December 8, 2006
3973 February 2, 2006
3974 2006
3975 September 14, 2006
3976 4 August 2006
3977 May 18, 2006
3978 September 8, 2006
3979 13 September 2006
3980 June 2, 2006
3981 May 18, 2006
3982 October 27, 2006
3983 September 8, 2006
3984 10 August 2006
3985 May 26, 2006
3986 14 November 2006
3987 27 October 2006
3988 2006
3989 May 11, 2007
3990 December 7, 2006
3991 April 26, 2006
3992 3 September 2006
3993 December 6, 2006
3994 March 17, 2006
3995 April 26, 2006
3996 January 20, 2006
3997 May 25, 2006
3998 June 23, 2006
3999 April 26, 2006
4000 November 10, 2006
4001 October 27, 2006
4002 November 10, 2006
4003 October 9, 2006
4004 November 10, 2006
4005 September 8, 2006
4006 September 1, 2006
4007 September 1, 2006
4008 nan
4009 February 10, 2006
4010 October 21, 2006
4011 May 17, 2006
4012 May 21, 2006
4013 March 12, 2006
4014 December 26, 2006
4015 nan
4016 10 May 2006
4017 November 17, 2006
4018 January 25, 2006
4019 February 17, 2006
4020 September 12, 2005
4021 May 25, 2006
4022 2006
4023 December 29, 2006
4024 November 2004
4025 November 22, 2006
4026 November 22, 2006
4027 October 13, 2006
4028 September 26, 2006
4029 March 31, 2006
4030 June 22, 2006
4031 September 9, 2006
4032 September 12, 2006
4033 September 7, 2006
4034 December 25, 2006
4035 December 19, 2006
4036 October 20, 2006
4037 February 25, 2006
4038 June 7, 2006
4039 October 6, 2006
4040 March 22, 2006
4041 December 2, 2005
4042 February 17, 2006
4043 December 15, 2006
4044 September 15, 2006
4045 October 31, 2006
4046 2006
4047 September 29, 2006
4048 December 29, 2006
4049 March 10, 2006
4050 9 September 2006
4051 June 16, 2006
4052 November 16, 2006
4053 March 24, 2006
4054 September 11, 2006
4055 April 26, 2006
4056 February 2, 2006
4057 March 17, 2006
4058 February 10, 2006
4059 May 5, 2006
4060 October 20, 2006
4061 October 20, 2006
4062 2006
4063 March 3, 2006
4064 3 November 2006
4065 September 22, 2006
4066 November 17, 2006
4067 October 14, 2006
4068 November 22, 2006
4069 February 17, 2006
4070 21 April 2006
4071 January 19, 2006
4072 April 27, 2006
4073 November 10, 2006
4074 March 10, 2006
4075 June 16, 2006
4076 27 October 2006
4077 June 11, 2006
4078 14 April 2006
4079 January 13, 2006
4080 2006
4081 December 15, 2006
4082 December 22, 2006
4083 27 October 2006
4084 8 November 2006
4085 January 6, 2006
4086 2006
4087 September 15, 2006
4088 July 14, 2006
4089 October 13, 2006
4090 September 29, 2006
4091 2006
4092 September 29, 2006
4093 January 23, 2006
4094 November 17, 2006
4095 17 November 2006
4096 August 15, 2006
4097 September 11, 2005
4098 January 21, 2006
4099 August 12, 2006
4101 June 11, 2005
4102 March 10, 2006
4103 January 24, 2006
4104 December 8, 2006
4105 August 31, 2006
4106 May 23, 2006
4107 December 15, 2006
4108 June 27, 2006
4109 May 5, 2006
4110 September 2, 2006
4111 August 25, 2006
4112 2006
4113 April 28, 2006
4114 March 31, 2006
4115 September 1, 2006
4116 August 25, 2006
4117 August 18, 2006
4118 May 24, 2006
4119 August 31, 2006
4120 6 September 2006
4121 March 20, 2006
4122 September 8, 2006
4123 August 25, 2006
4124 2006
4125 September 1, 2006
4126 January 21, 2006
4127 March 14, 2006
4128 26 December 2006
4129 September 22, 2006
4130 April 26, 2006
4131 September 15, 2006
4132 September 15, 2006
4133 July 28, 2006
4134 May 12, 2006
4135 April 7, 2006
4136 20 January 2006
4137 May 12, 2006
4138 2006
4139 September 10, 2006
4140 July 21, 2006
4141 June 16, 2006
4142 June 16, 2006
4143 March 24, 2006
4144 September 10, 2006
4145 January 13, 2006
4146 September 11, 2006
4147 November 17, 2006
4148 December 9, 2006
4149 October 20, 2006
4150 October 6, 2006
4151 July 14, 2006
4152 January 20, 2006
4153 January 17, 2006
4154 nan
4155 April 29, 2006
4156 August 23, 2006
4157 October 21, 2006
4158 5 August 2005
4159 2006
4160 8 March 2006
4161 February 24, 2006
4162 July 19, 2006
4163 February 24, 2006
4164 February 7, 2006
4165 October 13, 2006
4166 May 24, 2006
4167 October 13, 2006
4168 2006
4169 August 18, 2006
4170 March 10, 2006
4171 July 28, 2006
4172 July 14, 2006
4173 March 11, 2006
4174 3 December 2006
4175 July 21, 2006
4176 2006
4177 August 4, 2006
4178 May 5, 2006
4179 July 21, 2006
4180 June 16, 2006
4181 December 1, 2006
4182 November 26, 2006
4183 February 10, 2006
4184 December 17, 2006
4185 August 4, 2006
4186 November 10, 2006
4187 April 27, 2006
4188 August 4, 2006
4189 2006
4190 18 October 2006
4191 March 25, 2006
4192 July 14, 2006
4193 January 2006
4194 June 6, 2006
4195 July 7, 2006
4196 October 13, 2006
4197 April 29, 2006
4198 September 29, 2006
4199 April 30, 2006
4200 December 20, 2006
4201 27 May 2006
4202 February 9, 2006
4203 June 2, 2006
4204 September 8, 2006
4205 September 14, 2006
4206 April 7, 2006
4207 2006
4208 January 19, 2006
4209 June 24, 2006
4210 May 6, 2006
4211 December 26, 2006
4212 14 May 2006
4213 March 6, 2006
4214 September 8, 2006
4215 February 12, 2006
4216 October 17, 2006
4217 May 9, 2006
4218 August 11, 2006
4219 December 15, 2006
4220 January 6, 2006
4221 nan
4222 January 23, 2006
4223 2006
4224 November 10, 2006
4225 January 23, 2006
4226 August 25, 2006
4227 December 20, 2006
4228 September 26, 2006
4229 October 27, 2006
4230 2006
4231 January 6, 2006
4232 October 27, 2006
4233 April 28, 2006
4234 2006
4235 April 6, 2006
4236 November 3, 2006
4237 November 30, 2007
4238 May 12, 2006
4239 October 27, 2006
4240 May 25, 2006
4241 April 14, 2006
4242 September 29, 2006
4243 July 28, 2006
4244 2006
4245 February 17, 2006
4246 October 20, 2006
4247 May 19, 2006
4248 April 21, 2006
4249 March 10, 2006
4250 July 7, 2006
4251 March 17, 2006
4252 September 8, 2006
4253 May 20, 2006
4254 27 February 2002
4255 April 21, 2006
4256 June 26, 2009
4257 January 21, 2006
4258 March 31, 2006
4259 2006
4260 August 17, 2006
4261 December 8, 2006
4262 2006
4263 January 29, 2006
4264 nan
4265 November 17, 2006
4266 2006
4267 10 November 2006
4268 March 24, 2006
4269 August 11, 2006
4270 January 21, 2006
4271 April 28, 2006
4272 November 10, 2006
4273 21 July 2006
4274 October 7, 2006
4275 January 20, 2006
4276 August 25, 2006
4277 June 21, 2006
4278 2006
4279 April 7, 2006
4280 August 4, 2006
4281 November 22, 2006
4282 October 6, 2006
4283 September 9, 2005
4284 September 1, 2006
4285 January 13, 2006
4286 January 13, 2006
4287 September 12, 2005
4288 December 1, 2006
4289 October 20, 2006
4290 31 August 2006
4291 March 3, 2006
4292 December 8, 2006
4293 January 20, 2006
4294 June 24, 2006
4295 April 28, 2006
4296 2006
4297 December 11, 2005
4298 August 2, 2006
4299 11 September 2006
4300 June 23, 2006
4301 April 29, 2006
4302 December 22, 2006
4303 February 3, 2006
4304 2006
4305 January 23, 2006
4306 November 17, 2006
4307 September 1, 2006
4308 April 14, 2006
4309 September 26, 2006
4310 2006
4311 August 9, 2006
4312 January 24, 2006
4313 May 26, 2006
4314 2006
4315 2006
4316 July 14, 2006
4317 August 11, 2006
4318 February 25, 2006
4319 May 29, 2007
4320 May 19, 2007
4321 June 22, 2007
4322 August 22, 2007
4323 October 19, 2007
4324 December 9, 2006
4325 September 14, 2007
4326 January 10, 2007
4327 February 3, 2007
4328 September 26, 2007
4329 2007
4330 October 6, 2007
4331 December 25, 2007
4332 February 9, 2007
4333 December 14, 2007
4334 January 19, 2007
4335 October 19, 2007
4336 2007
4337 2007
4338 September 21, 2007
4339 April 13, 2007
4340 July 25, 2007
4341 April 6, 2007
4342 September 2, 2007
4343 November 21, 2007
4344 April 18, 2007

4345 November 30, 2007
4346 August 29, 2007
4347 February 2, 2007
4348 November 2, 2007
4349 September 6, 2007
4350 April 20, 2007
4351 November 16, 2007
4352 April 26, 2007
4353 November 5, 2007
4354 March 30, 2007
4355 December 21, 2007
4356 2007
4357 2007
4358 July 25, 2007
4359 August 3, 2007
4360 September 14, 2007
4361 February 16, 2007
4362 February 16, 2007
4363 January 20, 2007
4364 April 30, 2007
4365 September 7, 2007
4366 December 15, 2007
4367 March 18, 2007
4368 13 July 2007
4369 August 4, 2007
4370 18 June 2007
4371 October 1, 2007
4372 January 25, 2007
4373 December 21, 2007
4374 January 18, 2007
4375 January 5, 2007
4376 October 19, 2007
4377 April 27, 2007
4378 5 October 2007
4379 June 1, 2007
4380 June 14, 2007
4381 August 8, 2007
4382 February 14, 2007
4383 2007
4384 October 26, 2007
4385 November 2, 2007
4386 April 2008
4387 April 29, 2007
4388 March 16, 2007
4389 August 31, 2007
4390 May 11, 2007
4391 October 5, 2007
4393 April 4, 2007
4394 22 May 2007
4395 September 8, 2007
4396 March 6, 2007
4397 March 10, 2007
4398 October 20, 2007
4399 January 26, 2007
4400 June 22, 2007
4401 June 29, 2007
4402 December 2006
4403 December 5, 2008
4404 June 12, 2007
4405 October 5, 2007
4406 2007
4407 April 6, 2007
4408 22 November 2007
4409 October 5, 2007
4410 April 20, 2007
4411 January 30, 2007
4412 November 9, 2007
4413 January 5, 2007
4414 March 2, 2007
4415 September 23, 2007
4416 September 27, 2007
4417 May 11, 2007
4418 January 15, 2007
4419 2007
4420 September 9, 2007
4421 2007
4422 January 22, 2007
4423 November 27, 2007
4424 October 19, 2007
4425 September 21, 2007
4426 January 25, 2007
4427 January 21, 2007
4428 June 1, 2007
4429 December 11, 2007
4430 April 6, 2007
4431 July 13, 2007
4432 August 31, 2007
4433 June 24, 2008
4434 January 5, 2007
4435 28 June 2007
4436 2007
4437 October 5, 2007
4438 September 15, 2007
4439 March 23, 2007
4440 January 19, 2007
4441 November 21, 2007
4442 October 15, 2006
4443 September 10, 2007
4444 June 8, 2007
4445 August 3, 2007
4446 14 September 2007
4447 December 14, 2007
4448 May 11, 2007
4449 July 27, 2007
4450 July 12, 2007
4451 March 7, 2007
4452 September 3, 2007
4453 April 20, 2007
4454 September 14, 2007
4455 September 21, 2007
4456 August 17, 2007
4457 April 27, 2007
4458 February 9, 2007
4459 July 6, 2007
4460 September 1, 2007
4461 April 27, 2007
4462 August 28, 2007
4463 August 17, 2007
4464 August 22, 2007
4465 December 14, 2007
4466 June 1, 2007
4467 February 2, 2008
4468 September 9, 2006
4469 September 16, 2007
4470 March 23, 2007
4471 February 9, 2007
4472 July 3, 2007
4473 September 8, 2007
4474 November 8, 2007
4475 April 22, 2007
4476 June 12, 2007
4477 March 30, 2007
4478 November 16, 2007
4479 April 5, 2007
4480 August 30, 2007
4481 2007
4482 August 22, 2007
4483 17 August 2007
4484 September 12, 2007
4485 November 2, 2007
4486 March 23, 2007
4487 February 2, 2007
4488 August 31, 2007
4489 June 22, 2007
4490 November 21, 2007
4491 May 22, 2007
4492 March 3, 2007
4493 6 September 2007
4494 September 14, 2007
4495 June 1, 2007
4496 November 16, 2007
4497 October 14, 2007
4498 September 14, 2007
4499 October 26, 2007
4500 February 14, 2007
4501 14 January 2006
4502 October 18, 2007
4503 June 15, 2007
4504 January 20, 2007
4505 August 24, 2007
4506 December 21, 2007
4507 March 30, 2007
4508 April 27, 2007
4509 August 31, 2007
4510 May 19, 2007
4511 July 27, 2007
4512 July 27, 2007
4513 April 28, 2007
4514 February 9, 2007
4515 April 27, 2007
4516 April 30, 2007
4517 February 23, 2007
4518 May 24, 2007
4519 2007
4520 February 9, 2007
4521 December 21, 2007
4522 November 9, 2007
4523 January 22, 2007
4524 May 21, 2007
4525 October 15, 2007
4526 April 13, 2007
4527 December 12, 2007
4528 April 13, 2007
4529 23 May 2007
4530 May 19, 2007
4531 April 17, 2008
4532 March 16, 2007
4533 September 25, 2007
4534 March 23, 2007
4535 January 12, 2007
4536 June 22, 2007
4537 April 5, 2007
4538 April 13, 2007
4539 March 22, 2007
4540 August 12, 2007
4541 September 7, 2007
4542 February 23, 2007
4543 September 13, 2007
4544 September 20, 2007
4545 August 24, 2007
4546 August 10, 2007
4547 February 11, 2007
4548 July 30, 2007
4549 May 18, 2007
4550 November 28, 2007
4551 October 26, 2007
4552 October 5, 2007
4553 September 13, 2006
4554 March 23, 2007
4555 2005
4556 May 6, 2007
4557 May 19, 2007
4558 July 21, 2007
4559 March 26, 2007
4560 June 4, 2007
4561 12 October 2007
4562 October 26, 2007
4563 January 21, 2007
4564 December 9, 2006
4565 July 14, 2007
4567 January 27, 2007
4568 10 August 2007
4569 November 23, 2007
4570 2007
4571 October 8, 2007
4572 January 12, 2007
4573 2007
4574 August 1, 2007
4575 April 27, 2007
4576 2007
4577 6 April 2007
4578 August 17, 2007
4579 June 8, 2007
4580 December 3, 2007
4581 September 21, 2007
4582 March 12, 2007
4583 April 30, 2007
4584 January 19, 2007
4585 September 27, 2007
4586 October 19, 2007
4587 March 17, 2007
4588 June 12, 2007
4589 August 3, 2007
4590 April 20, 2007
4591 January 21, 2007
4592 December 21, 2007
4593 August 24, 2007
4594 January 19, 2007
4595 25 December 2007
4596 January 19, 2007
4597 April 12, 2007
4598 May 25, 2007
4599 March 23, 2007
4601 November 27, 2007
4602 January 5, 2007
4603 July 27, 2007
4604 October 12, 2007
4605 March 2, 2007
4606 April 27, 2007
4607 January 20, 2007
4608 October 14, 2007
4609 June 22, 2007
4610 October 26, 2007
4611 February 28, 2007
4612 7 March 2008
4613 March 28, 2008
4614 January 10, 2008
4615 March 2, 2007
4616 February 29, 2008
4617 October 3, 2008
4618 July 25, 2008
4619 September 19, 2008
4620 January 22, 2008
4621 April 25, 2008
4622 29 August 2008
4623 January 19, 2008
4624 September 5, 2008
4625 January 20, 2008
4626 December 25, 2008
4627 August 8, 2008
4628 January 21, 2008
4629 September 25, 2008
4630 October 10, 2008
4631 November 21, 2008
4632 28 August 2008
4633 September 9, 2008
4634 August 27, 2008
4635 November 24, 2008
4636 October 24, 2008
4637 April 11, 2008
4638 21 May 2008
4639 January 21, 2008
4640 May 7, 2008
4641 October 10, 2008
4642 January 18, 2008
4643 August 29, 2008
4644 March 7, 2008
4645 December 25, 2008
4646 July 14, 2008
4647 December 12, 2008
4648 April 25, 2008
4649 January 22, 2008
4650 August 22, 2008
4651 April 25, 2008
4652 December 31, 2008
4653 February 14, 2008
4654 December 12, 2008
4655 August 29, 2008
4656 14 March 2008
4657 October 30, 2008
4658 March 21, 2008
4659 September 16, 2008
4660 August 8, 2008
4661 April 18, 2008
4662 October 10, 2008
4663 February 1, 2008
4664 September 12, 2008
4665 July 18, 2008
4666 February 10, 2008
4667 September 26, 2008
4668 January 11, 2008
4669 October 3, 2008
4670 February 8, 2008
4671 April 18, 2008
4672 September 26, 2008
4673 April 18, 2008
4674 November 26, 2008
4675 October 15, 2008
4676 August 1, 2008
4677 20 October 2007
4678 June 18, 2008
4679 July 11, 2008
4680 June 20, 2008
4681 September 19, 2008
4682 December 12, 2008
4683 August 22, 2008
4684 June 16, 2008
4685 February 1, 2008
4686 June 10, 2008
4687 July 11, 2008
4688 April 25, 2008
4689 October 31, 2008
4690 July 11, 2008
4691 August 15, 2008
4692 April 29, 2008
4693 October 24, 2008
4694 March 14, 2008
4695 February 8, 2008
4696 August 22, 2008
4697 September 19, 2008
4698 January 17, 2008
4699 June 8, 2008
4700 May 18, 2008
4701 December 11, 2008
4702 April 14, 2008
4703 July 11, 2008
4704 February 14, 2008
4705 July 2, 2008
4706 May 15, 2008
4707 September 19, 2008
4708 December 25, 2008
4709 April 4, 2008
4710 June 20, 2008
4711 August 22, 2008
4712 September 26, 2008
4713 January 18, 2008
4714 November 7, 2008
4715 May 2, 2008
4716 June 30, 2008
4717 22 January 2008
4718 December 25, 2008
4719 October 17, 2008
4720 July 11, 2008
4721 March 21, 2008
4722 January 25, 2008
4723 July 19, 2008
4724 October 28, 2008
4725 September 26, 2008
4726 August 15, 2008
4727 July 24, 2008
4728 September 19, 2008
4729 August 26, 2008
4730 March 14, 2008
4731 September 6, 2008
4732 September 26, 2008
4733 April 4, 2008
4734 September 8, 2008
4735 December 12, 2008
4736 January 4, 2008
4737 February 15, 2008
4738 February 1, 2008
4739 October 24, 2008
4740 April 11, 2008
4741 January 20, 2008
4742 August 6, 2008
4743 January 11, 2008
4744 April 24, 2008
4745 October 24, 2008
4746 April 11, 2008
4747 June 6, 2008
4748 September 12, 2008
4749 December 5, 2008
4750 29 October 2008
4751 October 10, 2008
4752 October 3, 2008
4753 January 25, 2008
4754 December 12, 2008
4755 April 7, 2008
4756 August 1, 2008
4757 September 24, 2008
4758 November 7, 2008
4759 15 December 2008
4760 September 12, 2008
4761 June 12, 2008
4762 October 22, 2008
4763 4 April 2008
4764 October 24, 2008
4765 October 17, 2008
4766 February 19, 2008
4767 December 19, 2008
4768 May 12, 2008
4769 October 17, 2008
4770 March 21, 2008
4771 August 6, 2008
4772 August 22, 2007
4773 January 20, 2008
4774 November 7, 2008
4775 July 18, 2008
4776 April 26, 2008
4777 January 31, 2008
4778 June 20, 2008
4779 December 25, 2008
4780 March 1, 2008
4781 August 15, 2008
4782 July 25, 2008
4783 February 14, 2008
4784 March 13, 2008
4785 February 1, 2008
4786 May 30, 2008
4787 April 3, 2008
4788 January 18, 2008
4789 March 28, 2008
4790 August 1, 2008
4791 December 19, 2008
4792 August 27, 2008
4793 August 13, 2008
4794 August 22, 2008
4795 November 17, 2008
4796 January 19, 2008
4797 January 25, 2008
4798 December 25, 2008
4799 February 13, 2008
4800 May 17, 2008
4801 June 12, 2008
4802 October 16, 2008
4803 July 3, 2008
4804 June 23, 2008
4805 13 May 2008
4806 June 12, 2008
4807 April 28, 2008

4808 February 8, 2008
4809 December 12, 2008
4810 April 22, 2008
4811 January 19, 2008
4812 February 22, 2008
4813 September 4, 2008
4814 September 5, 2008
4815 July 25, 2008
4816 December 9, 2008
4817 June 6, 2008
4818 September 7, 2008
4819 January 17, 2009
4820 March 19, 2009
4821 November 13, 2009
4822 September 9, 2009
4823 July 29, 2009
4824 April 3, 2009
4825 November 7, 2009
4826 April 3, 2009
4827 July 31, 2009
4828 September 4, 2009
4829 December 23, 2009
4830 October 23, 2009
4831 August 29, 2008
4832 May 4, 2009
4833 July 24, 2009
4834 June 12, 2010
4835 December 4, 2009
4836 January 17, 2008
4837 October 8, 2009
4838 December 10, 2009
4839 June 5, 2009
4840 November 20, 2009
4841 August 6, 2009
4842 September 8, 2007
4843 10 September 2009
4844 September 11, 2009
4845 August 28, 2009
4846 November 20, 2009
4847 October 19, 2009
4848 November 6, 2009
4849 January 9, 2009
4850 December 4, 2009
4852 March 13, 2009
4853 July 10, 2009
4854 April 3, 2009
4855 September 6, 2009
4856 September 4, 2009
4857 August 13, 2009
4858 May 2009
4859 November 3, 2009
4860 October 23, 2009
4861 September 12, 2009
4862 August 7, 2009
4863 July 31, 2009
4864 August 3, 2009
4865 February 5, 2009
4866 October 9, 2009
4867 July 31, 2009
4868 April 15, 2009
4869 December 6, 2009
4870 March 27, 2009
4871 February 27, 2009
4872 May 22, 2009
4873 December 18, 2009
4874 13 August 2009
4875 March 15, 2009
4876 March 10, 2009
4877 February 27, 2009
4878 September 6, 2008
4879 December 4, 2009
4880 September 4, 2009
4881 September 23, 2009
4882 October 14, 2009
4883 March 12, 2009
4884 April 24, 2009
4885 August 28, 2009
4886 February 20, 2009
4887 September 7, 2008
4888 June 24, 2008
4889 February 13, 2009
4890 July 20, 2009
4891 July 24, 2009
4892 August 6, 2009
4893 October 27, 2012
4894 September 4, 2009
4895 September 24, 2009
4896 May 1, 2009
4897 September 8, 2008
4898 January 20, 2009
4899 August 14, 2009
4900 January 18, 2008
4901 May 12, 2009
4902 August 28, 2009
4903 May 30, 2009
4904 April 10, 2009
4905 7 July 2009
4906 March 27, 2009
4907 February 6, 2009
4908 September 11, 2009
4909 July 17, 2009
4910 March 6, 2009
4911 January 16, 2009
4912 January 16, 2009
4913 September 11, 2009
4914 July 3, 2009
4915 September 25, 2009
4916 September 4, 2008
4917 July 10, 2009
4918 March 20, 2009
4919 July 1, 2009
4920 June 6, 2009
4921 22 May 2009
4922 September 18, 2009
4923 April 24, 2009
4924 May 20, 2009
4925 January 23, 2009
4926 12 February 2009
4927 December 11, 2009
4928 October 7, 2010
4929 September 14, 2009
4930 September 5, 2008
4931 December 25, 2009
4932 October 16, 2009
4933 September 10, 2009
4934 February 27, 2009
4935 August 7, 2009
4936 March 20, 2009
4937 June 19, 2009
4938 March 18, 2009
4939 June 5, 2009
4940 March 13, 2009
4941 October 16, 2009
4942 September 3, 2009
4943 December 18, 2009
4944 May 1, 2009
4945 September 18, 2009
4946 April 2, 2009
4947 November 24, 2009
4948 September 8, 2008
4949 February 20, 2009
4950 May 29, 2009
4951 September 7, 2008
4952 September 5, 2008
4953 September 8, 2009
4954 January 18, 2008
4955 November 13, 2009
4956 October 26, 2009
4957 March 13, 2009
4958 March 27, 2009
4959 January 21, 2009
4960 January 16, 2009
4961 May 7, 2009
4962 June 26, 2009
4963 August 21, 2009
4964 January 30, 2009
4965 November 16, 2009
4966 October 16, 2009
4967 May 8, 2009
4968 May 22, 2009
4969 December 18, 2009
4970 November 25, 2009
4971 January 9, 2009
4972 May 1, 2009
4973 January 16, 2009
4974 April 10, 2009
4975 April 23, 2009
4976 November 25, 2009
4977 March 4, 2005
4978 July 21, 2009
4979 25 September 2009
4980 August 7, 2009
4981 January 16, 2009
4982 August 7, 2009
4983 January 20, 2008
4984 January 24, 2009
4985 14 November 2009
4986 August 21, 2009
4987 May 8, 2009
4988 January 15, 2009
4989 November 25, 2009
4990 February 9, 2009
4991 June 1, 2009
4992 June 19, 2009
4993 February 6, 2009
4994 January 13, 2010
4995 March 11, 2009
4996 September 3, 2009
4997 October 23, 2009
4998 October 2, 2009
4999 December 25, 2009
5000 July 24, 2009
5001 August 15, 2009
5002 September 11, 2009
5003 January 17, 2009
5004 24 April 2009
5005 September 11, 2009
5006 August 14, 2009
5007 April 7, 2009
5008 April 17, 2009
5009 October 16, 2009
5010 February 27, 2009
5011 September 25, 2009
5012 June 12, 2009
5013 August 28, 2009
5014 November 5, 2009
5015 April 26, 2008
5016 May 21, 2009
5017 June 11, 2009
5018 August 14, 2009
5019 June 8, 2009
5020 December 7, 2007
5021 March 14, 2009
5022 September 14, 2008
5023 July 24, 2009
5024 January 9, 2009
5025 January 23, 2009
5026 January 30, 2009
5027 May 29, 2009
5028 September 5, 2009
5029 June 20, 2009
5030 February 23, 2009
5031 January 19, 2009
5032 May 8, 2009
5033 April 22, 2009
5034 13 October 2009
5035 September 11, 2009
5036 September 13, 2009
5037 August 21, 2009
5038 August 21, 2009
5039 April 9, 2009
5040 June 19, 2009
5041 6 March 2009
5042 September 25, 2009
5043 4 September 2010
5044 January 18, 2010
5045 8 July 2010
5046 June 11, 2010
5047 May 21, 2010
5048 January 20, 2008
5049 February 25, 2010
5050 December 3, 2010
5052 September 8, 2010
5053 September 1, 2010
5054 April 23, 2010
5055 March 13, 2010
5056 June 11, 2010
5057 August 17, 2010
5058 September 1, 2010
5059 January 24, 2010
5060 January 15, 2010
5061 April 2010
5062 March 19, 2010
5063 January 16, 2009
5064 September 24, 2010
5065 November 24, 2010
5067 September 16, 2010
5068 May 7, 2010
5069 July 30, 2010
5070 July 30, 2010
5071 November 30, 2010
5072 March 23, 2009
5073 April 2, 2010
5074 November 5, 2010
5075 January 22, 2010
5076 September 11, 2010
5077 February 26, 2010
5078 January 25, 2010
5079 November 8, 2010
5080 February 26, 2010
5081 January 8, 2010
5082 January 23, 2010
5083 April 6, 2010
5084 October 22, 2010
5085 11 September 2009
5086 December 3, 2010
5087 February 5, 2010
5088 April 12, 2010
5089 June 19, 2010
5090 September 17, 2010
5091 March 19, 2010
5092 July 30, 2010
5093 September 12, 2010
5094 October 31, 2010
5095 September 11, 2010
5096 August 13, 2010
5097 June 24, 2010
5098 29 January 2010
5099 August 3, 2010
5100 January 25, 2010
5101 January 22, 2010
5102 May 20, 2010
5103 November 24, 2010
5104 December 6, 2010
5105 August 6, 2010
5106 November 5, 2010
5107 April 30, 2010
5108 February 5, 2010
5109 January 24, 2010
5110 April 30, 2010
5111 November 27, 2010
5112 June 4, 2010
5113 September 12, 2009
5114 August 27, 2010
5115 April 26, 2009
5116 January 17, 2009
5117 February 26, 2010
5118 February 14, 2010
5119 June 25, 2010
5120 December 25, 2010
5121 February 11, 2009
5122 June 8, 2009
5123 11 November 2010
5124 September 12, 2010
5126 March 26, 2010
5127 December 13, 2010
5128 March 21, 2010
5129 March 19, 2010
5130 February 9, 2010
5131 April 19, 2011
5132 January 18, 2009
5133 September 6, 2010
5134 July 8, 2010
5135 April 26, 2010
5136 September 26, 2010
5137 January 23, 2010
5138 October 15, 2010
5139 June 18, 2010
5140 September 13, 2009
5141 May 14, 2010
5142 May 15, 2010
5143 June 11, 2010
5144 26 March 2010
5145 January 25, 2010
5146 January 24, 2010
5147 June 1, 2010
5148 June 16, 2010
5149 October 22, 2010
5150 June 30, 2010
5151 June 24, 2010
5152 March 31, 2010
5153 January 8, 2010
5154 September 24, 2010
5155 September 10, 2010
5156 January 22, 2010
5157 September 13, 2010
5158 April 9, 2010
5159 April 25, 2010
5160 October 8, 2010
5161 February 25, 2009
5162 December 22, 2010
5163 April 23, 2010
5164 August 20, 2010
5165 June 30, 2010
5166 November 4, 2010
5167 March 15, 2010
5168 September 1, 2010
5169 June 4, 2010
5170 October 8, 2010
5171 October 28, 2010
5172 May 17, 2009
5173 October 19, 2010
5174 November 10, 2010
5175 September 14, 2009
5176 October 8, 2010
5177 2 April 2010
5178 November 9, 2010
5179 January 23, 2010
5180 April 27, 2010
5181 August 2, 2010
5182 March 12, 2010
5183 June 15, 2009
5184 October 22, 2010
5185 September 10, 2010
5186 February 2, 2010
5187 March 21, 2009
5188 August 20, 2010
5189 January 22, 2010
5190 January 29, 2010
5191 July 7, 2010
5192 May 9, 2010
5193 September 13, 2010
5194 July 23, 2010
5195 September 16, 2009
5196 September 29, 2010
5197 March 1, 2010
5198 March 19, 2010
5199 September 2, 2010
5200 12 May 2010
5201 January 24, 2010
5202 January 24, 2010
5203 June 10, 2009
5204 July 19, 2010
5205 October 29, 2010
5206 July 27, 2010
5207 September 30, 2010
5208 May 27, 2010
5209 March 12, 2010
5210 April 21, 2010
5211 February 13, 2010
5212 November 11, 2010
5213 June 1, 2010
5214 September 24, 2010
5215 May 7, 2010
5216 September 11, 2010
5217 July 8, 2010
5218 October 6, 2009
5219 January 15, 2010
5220 August 6, 2010
5221 September 10, 2010
5222 January 25, 2010
5223 August 16, 2010
5224 August 4, 2010
5225 November 14, 2010
5226 September 11, 2010
5227 January 22, 2010
5228 September 8, 2010
5229 December 10, 2010
5230 June 12, 2010
5231 November 30, 2010
5232 December 22, 2010
5233 January 29, 2010
5234 October 26, 2010
5235 February 12, 2010
5236 August 18, 2010
5237 January 22, 2010
5238 May 14, 2010
5239 January 23, 2010
5240 August 20, 2010
5241 September 15, 2010
5242 January 29, 2010
5243 April 2, 2010
5244 March 14, 2009
5245 January 21, 2010
5246 January 27, 2010
5247 June 5, 2009
5248 December 11, 2010
5249 September 24, 2010
5250 May 15, 2010
5251 January 8, 2010
5252 November 11, 2011
5253 August 12, 2011
5254 May 20, 2011
5255 September 12, 2011
5256 August 23, 2011
5257 February 14, 2011
5258 23 October 2011

5259 April 22, 2011
5260 December 16, 2011
5261 January 24, 2011
5262 September 2, 2011
5263 January 23, 2011
5264 April 8, 2011
5265 11 November 2011
5266 April 15, 2011
5267 June 24, 2011
5268 March 8, 2011
5269 March 4, 2011
5270 July 8, 2011
5271 March 16, 2011
5272 September 11, 2010
5273 June 24, 2011
5274 February 18, 2011
5275 October 14, 2011
5276 April 8, 2011
5277 October 30, 2011
5278 April 28, 2011
5279 January 21, 2011
5280 September 9, 2011
5281 July 19, 2011
5282 1 September 2011
5283 June 18, 2011
5284 January 23, 2011
5285 August 5, 2011
5286 February 18, 2011
5287 27 July 2011
5288 August 11, 2011
5289 September 11, 2010
5290 September 3, 2011
5291 August 26, 2011
5292 July 29, 2011
5293 July 19, 2011
5294 December 22, 2011
5295 4 September 2010
5296 September 10, 2011
5297 22 January 2011
5298 March 17, 2011
5299 January 14, 2011
5301 September 21, 2011
5302 November 6, 2010
5303 October 28, 2011
5304 September 30, 2011
5305 May 20, 2011
5306 February 25, 2011
5307 March 16, 2011
5308 11 February 2011
5309 September 10, 2010
5310 December 25, 2011
5311 April 15, 2011
5312 February 15, 2010
5313 June 2012
5314 August 4, 2011
5315 October 6, 2011
5316 July 18, 2011
5317 August 14, 2011
5318 January 28, 2011
5319 January 21, 2011
5320 December 12, 2011
5321 August 6, 2011
5322 January 23, 2011
5323 April 29, 2011
5324 April 23, 2011
5325 January 22, 2011
5326 January 10, 2011
5327 June 15, 2011
5328 February 25, 2011
5329 May 19, 2011
5330 8 April 2011
5331 November 18, 2011
5332 January 20, 2010
5333 7 July 2011
5334 September 13, 2006
5335 August 9, 2011
5336 January 22, 2010
5337 January 23, 2011
5338 April 23, 2011
5339 March 27, 2011
5340 June 30, 2011
5341 October 10, 2011
5342 February 18, 2011
5343 September 16, 2011
5344 January 26, 2011
5345 August 31, 2011
5346 November 11, 2011
5347 October 20, 2011
5348 September 9, 2011
5349 September 14, 2010
5350 November 3, 2011
5351 November 11, 2011
5352 September 17, 2010
5353 June 4, 2011
5354 May 6, 2011
5355 February 8, 2011
5356 February 11, 2011
5357 March 11, 2011
5358 10 September 2011
5359 May 22, 2011
5360 June 27, 2011
5361 21 January 2011
5362 January 22, 2011
5363 March 8, 2011
5364 March 10, 2011
5365 July 15, 2011
5366 September 23, 2011
5367 April 22, 2011
5368 September 30, 2011
5369 January 25, 2011
5370 March 11, 2011
5371 January 21, 2011
5372 January 28, 2011
5373 May 11, 2011
5374 December 7, 2011
5375 September 9, 2011
5376 July 1, 2011
5377 June 17, 2011
5379 January 20, 2011
5380 December 9, 2011
5381 November 4, 2011
5382 January 11, 2011
5383 8 August 2011
5384 January 22, 2011
5385 January 23, 2011
5386 October 14, 2011
5387 14 February 2011
5388 September 10, 2011
5389 September 15, 2010
5390 January 2010
5391 May 7, 2011
5392 May 13, 2011
5393 April 29, 2011
5394 April 21, 2011
5395 October 16, 2011
5396 February 14, 2011
5397 September 6, 2011
5398 March 7, 2011
5399 January 23, 2011
5400 May 12, 2011
5401 October 21, 2011
5402 March 22, 2011
5403 August 5, 2011
5404 January 26, 2011
5405 February 4, 2011
5406 October 13, 2011
5407 3 February 2011
5408 April 11, 2011
5409 January 4, 2011
5410 September 2, 2011
5411 September 2, 2011
5412 16 December 2011
5413 December 9, 2011
5414 January 25, 2010
5415 June 16, 2011
5416 July 15, 2011
5417 May 6, 2011
5418 January 28, 2011
5419 April 8, 2011
5420 March 11, 2011
5421 July 31, 2011
5422 September 16, 2011
5423 March 25, 2011
5424 September 12, 2010
5425 June 9, 2011
5426 March 2, 2011
5427 January 24, 2011
5428 October 14, 2011
5429 April 29, 2011
5430 October 10, 2011
5431 April 17, 2011
5432 1 September 2011
5433 October 24, 2011
5434 June 23, 2011
5435 May 16, 2011
5436 September 14, 2011
5437 February 16, 2011
5438 November 4, 2011
5439 February 10, 2010
5440 September 9, 2011
5441 April 22, 2011
5442 September 10, 2010
5443 December 23, 2011
5444 September 30, 2011
5445 January 21, 2011
5446 April 15, 2011
5447 January 23, 2011
5448 May 25, 2011
5449 December 9, 2011
5450 April 8, 2011
5451 July 8, 2011
5452 December 4, 2012
5453 January 31, 2012
5454 March 12, 2012
5455 November 9, 2012
5456 March 10, 2012
5457 November 27, 2012
5458 September 14, 2012
5459 September 21, 2012
5460 May 29, 2012
5461 June 18, 2012
5462 February 24, 2012
5463 April 19, 2012
5464 May 29, 2012
5465 March 27, 2012
5466 October 19, 2012
5467 June 12, 2012
5468 June 12, 2012
5469 July 24, 2012
5470 July 14, 2012
5471 June 30, 2012
5472 April 6, 2012
5473 April 20, 2012
5474 February 21, 2012
5475 August 24, 2012
5476 January 21, 2012
5477 February 13, 2012
5478 August 31, 2012
5479 October 12, 2012
5480 October 12, 2012
5481 April 6, 2012
5482 April 20, 2012
5483 April 11, 2012
5484 August 3, 2012
5485 January 23, 2012
5486 April 13, 2012
5487 December 7, 2012
5488 February 23, 2012
5489 August 27, 2012
5490 September 28, 2012
5491 September 25, 2012
5492 September 25, 2012
5493 October 13, 2012
5494 June 1, 2012
5495 April 3, 2012
5496 September 13, 2012
5497 July 20, 2012
5498 January 20, 2012
5500 16 August 2012
5501 March 2, 2012
5502 December 7, 2012
5503 March 9, 2012
5504 June 16, 2011
5505 October 20, 2012
5506 September 18, 2012
5507 30 January 2012
5508 February 3, 2012
5509 October 9, 2012
5510 May 18, 2012
5511 January 2012
5512 January 21, 2012
5513 November 2, 2012
5514 November 26, 2012
5515 July 30, 2012
5516 March 23, 2012
5517 September 7, 2012
5518 June 10, 2012
5519 January 13, 2012
5520 December 14, 2012
5521 April 23, 2011
5522 September 4, 2011
5523 March 9, 2012
5524 June 30, 2012
5525 January 25, 2012
5526 nan
5527 February 12, 2012
5528 August 4, 2012
5529 April 21, 2012
5530 March 13, 2012
5531 August 3, 2012
5532 May 24, 2012
5533 May 11, 2012
5534 January 23, 2012
5535 October 26, 2012
5536 May 25, 2012
5537 April 20, 2012
5538 October 30, 2012
5539 November 25, 2012
5540 January 28, 2012
5541 September 20, 2012
5542 February 18, 2013
5543 8 September 2012
5544 April 4, 2012
5545 September 21, 2012
5546 October 21, 2012
5547 January 21, 2012
5548 January 21, 2012
5549 January 13, 2012
5550 April 18, 2012
5551 July 24, 2012
5552 March 11, 2012
5553 May 18, 2012
5554 September 10, 2011
5555 July 16, 2012
5556 May 11, 2012
5557 8 March 2012
5558 September 19, 2012
5559 January 26, 2012
5560 March 11, 2012
5561 October 11, 2012
5562 June 16, 2012
5563 April 22, 2012
5564 February 15, 2012
5565 January 22, 2013
5566 October 19, 2012
5567 April 25, 2011
5568 April 27, 2012
5569 January 6, 2012
5570 August 3, 2012
5571 May 16, 2012
5572 November 15, 2012
5573 December 11, 2012
5574 March 11, 2012
5575 nan
5576 October 1, 2012
5577 April 9, 2012
5578 February 3, 2012
5579 October 8, 2011
5580 March 11, 2012
5581 January 20, 2011
5582 November 15, 2012
5583 September 14, 2012
5584 September 8, 2012
5585 March 12, 2012
5586 October 24, 2012
5587 January 21, 2012
5588 February 10, 2012
5589 August 13, 2012
5590 March 10, 2012
5591 January 20, 2012
5593 November 6, 2012
5594 January 21, 2012
5595 October 24, 2012
5596 April 27, 2012
5597 May 1, 2012
5598 October 14, 2012
5599 January 26, 2012
5600 January 21, 2012
5601 nan
5602 March 9, 2011
5603 March 2, 2012
5604 July 31, 2012
5605 September 20, 2012
5606 September 9, 2011
5607 October 26, 2012
5608 7 November 2012
5609 March 12, 2012
5610 December 11, 2011
5611 May 11, 2012
5612 September 9, 2011
5613 February 24, 2012
5614 February 24, 2012
5615 December 11, 2011
5616 December 19, 2012
5617 November 6, 2011
5618 September 7, 2012
5619 October 12, 2012
5620 September 10, 2011
5621 January 24, 2010
5622 August 22, 2012
5623 August 8, 2012
5624 September 8, 2012
5625 September 21, 2012
5626 March 12, 2012
5627 July 18, 2012
5628 July 13, 2012
5629 December 21, 2012
5630 February 13, 2012
5631 September 14, 2011
5632 February 22, 2012
5633 January 19, 2012
5634 January 13, 2012
5635 July 5, 2012
5636 January 20, 2012
5637 September 8, 2011
5638 September 10, 2012
5639 May 19, 2012
5640 January 22, 2012
5641 September 28, 2012
5642 October 8, 2012
5643 February 4, 2011
5644 7 April 2012
5645 April 24, 2012
5646 August 10, 2011
5647 September 6, 2012
5648 March 2, 2012
5649 April 20, 2012
5650 May 18, 2012
5651 June 29, 2012
5652 June 24, 2012
5653 July 6, 2012
5654 June 22, 2012
5655 January 27, 2012
5656 November 2, 2012
5657 February 12, 2012
5658 September 1, 2012
5659 May 14, 2012
5660 March 30, 2012
5662 May 16, 2012
5663 January 22, 2012
5664 August 15, 2012
5665 January 27, 2012
5666 November 8, 2012
5667 August 29, 2012
5668 September 10, 2011
5669 May 24, 2012
5670 October 19, 2012
5671 August 3, 2012
5672 December 25, 2012
5673 September 13, 2011
5674 June 15, 2012
5675 September 8, 2012
5676 May 11, 2012
5677 September 24, 2012
5678 August 30, 2012
5679 August 24, 2012
5680 January 25, 2012
5681 March 2, 2012
5682 April 11, 2012
5683 October 9, 2012
5684 January 19, 2012
5685 September 10, 2011
5686 March 9, 2012
5687 September 27, 2012
5688 August 10, 2012
5689 January 20, 2012
5690 January 11, 2012
5691 29 August 2012
5692 September 3, 2012
5693 October 10, 2012
5694 January 20, 2012
5695 June 15, 2012
5696 July 25, 2012
5697 April 27, 2012
5698 February 10, 2012
5699 January 22, 2012
5700 September 11, 2011
5701 June 25, 2012
5702 June 18, 2012
5703 January 23, 2012
5704 October 26, 2012
5705 January 21, 2011
5706 September 8, 2012
5707 March 11, 2012
5708 January 23, 2012
5709 January 22, 2012
5710 May 30, 2012
5711 January 24, 2011
5712 August 17, 2012
5714 July 27, 2012
5715 September 14, 2012
5716 November 6, 2012
5717 August 31, 2012
5718 June 29, 2012
5719 June 15, 2012
5720 February 20, 2012
5721 December 21, 2012
5722 February 17, 2012

5723 March 9, 2012
5724 April 13, 2012
5725 August 24, 2012
5727 October 31, 2012
5728 August 3, 2012
5729 April 13, 2012
5730 September 21, 2012
5731 November 16, 2012
5732 January 20, 2012
5733 April 19, 2012
5734 January 22, 2012
5736 February 6, 2012
5737 February 24, 2012
5738 July 27, 2012
5739 May 18, 2012
5740 September 28, 2012
5741 January 27, 2012
5742 March 28, 2012
5743 October 29, 2012
5744 June 1, 2012
5745 December 19, 2012
5746 July 30, 2013
5747 June 4, 2013
5748 August 30, 2013
5749 January 17, 2013
5750 March 1, 2013
5751 May 22, 2013
5752 January 15, 2013
5753 April 12, 2013
5754 December 6, 2013
5755 June 6, 2013
5757 August 15, 2013
5758 January 23, 2013
5759 March 22, 2013
5760 May 1, 2013
5761 September 11, 2012
5762 January 19, 2013
5763 May 22, 2013
5764 September 27, 2013
5765 December 8, 2013
5766 November 24, 2013
5767 November 1, 2013
5768 December 6, 2012
5769 March 28, 2013
5770 August 30, 2012
5771 September 10, 2012
5772 September 14, 2012
5773 January 21, 2013
5774 May 10, 2013
5775 September 9, 2013
5776 September 27, 2013
5777 September 20, 2013
5778 August 29, 2012
5779 January 19, 2013
5780 January 20, 2013
5781 May 21, 2013
5782 May 3, 2013
5783 October 12, 2013
5784 May 4, 2013
5786 November 15, 2013
5787 August 10, 2015
5788 October 18, 2013
5789 23 January 2013
5790 April 26, 2013
5791 November 27, 2013
5792 January 19, 2013
5794 February 22, 2013
5795 May 16, 2013
5796 January 19, 2013
5797 July 26, 2013
5798 May 17, 2013
5799 June 11, 2013
5800 October 3, 2013
5801 September 6, 2013
5802 8 September 2012
5803 January 19, 2013
5804 April 23, 2013
5805 January 18, 2013
5806 November 14, 2012
5807 August 16, 2013
5808 January 20, 2013
5809 March 15, 2013
5810 September 7, 2013
5811 July 29, 2013
5812 September 27, 2013
5813 October 7, 2013
5814 September 5, 2013
5815 January 21, 2013
5816 March 18, 2013
5817 May 31, 2013
5818 July 3, 2013
5819 September 27, 2013
5820 July 9, 2013
5821 September 6, 2012
5822 January 21, 2013
5823 January 19, 2013
5824 July 15, 2013
5825 October 5, 2013
5826 2013
5827 July 7, 2013
5828 September 10, 2013
5829 October 3, 2013
5830 February 15, 2013
5831 January 19, 2013
5832 September 7, 2013
5833 February 22, 2013
5835 March 8, 2013
5836 June 5, 2013
5837 September 11, 2012
5838 January 18, 2013
5839 January 18, 2013
5840 April 19, 2012
5841 October 15, 2013
5842 March 13, 2013
5843 August 7, 2013
5845 September 3, 2013
5847 April 26, 2013
5848 September 7, 2013
5849 May 20, 2013
5850 21 September 2012
5851 February 15, 2013
5852 July 18, 2013
5853 June 27, 2013
5854 March 8, 2013
5855 September 12, 2013
5856 March 29, 2013
5857 May 7, 2013
5858 September 5, 2013
5859 February 1, 2013
5860 June 15, 2012
5861 September 1, 2012
5862 March 1, 2013
5863 November 1, 2013
5864 October 1, 2013
5865 November 19, 2013
5866 July 19, 2013
5867 January 19, 2013
5868 April 19, 2013
5869 March 27, 2013
5870 January 7, 2013
5871 September 20, 2013
5872 April 27, 2013
5873 August 30, 2013
5874 March 7, 2013
5875 September 7, 2012
5876 November 15, 2012
5877 March 11, 2013
5878 January 31, 2013
5879 October 4, 2013
5880 August 28, 2013
5881 May 1, 2013
5882 September 8, 2013
5883 September 9, 2012
5884 October 31, 2013
5885 July 12, 2013
5886 December 25, 2013
5887 May 20, 2013
5888 January 8, 2013
5889 February 19, 2013
5890 January 25, 2013
5891 June 14, 2013
5892 September 7, 2013
5893 January 11, 2013
5894 February 1, 2013
5895 January 20, 2013
5896 June 23, 2013
5897 January 20, 2013
5898 October 13, 2013
5899 nan
5900 2 December 2013
5901 April 19, 2013
5902 November 27, 2013
5903 March 15, 2013
5904 March 29, 2013
5905 July 12, 2013
5906 March 10, 2013
5907 May 20, 2014
5908 November 17, 2013
5909 August 10, 2013
5910 November 11, 2013
5911 March 9, 2013
5912 October 18, 2013
5913 November 6, 2013
5914 August 25, 2013
5915 January 19, 2013
5916 August 30, 2012
5917 February 8, 2013
5918 January 20, 2013
5919 March 22, 2013
5920 March 8, 2013
5921 April 6, 2013
5922 October 11, 2013
5923 May 19, 2013
5924 September 13, 2013
5925 June 7, 2013
5926 April 14, 2013
5927 April 17, 2013
5928 June 20, 2012
5929 March 12, 2013
5930 February 26, 2013
5931 October 25, 2013
5932 April 18, 2013
5933 April 20, 2013
5935 January 25, 2013
5936 January 23, 2012
5937 August 30, 2013
5938 January 23, 2013
5939 July 30, 2013
5940 December 25, 2013
5941 June 22, 2013
5942 August 14, 2013
5943 January 18, 2013
5944 July 12, 2013
5945 January 19, 2013
5946 April 11, 2013
5947 November 7, 2012
5948 April 25, 2012
5949 October 8, 2012
5950 April 6, 2013
5951 April 12, 2012
5952 February 28, 2013
5953 September 6, 2013
5954 January 18, 2013
5955 October 30, 2013
5956 May 2, 2014
5957 June 27, 2013
5958 October 2, 2013
5959 March 6, 2013
5960 September 15, 2013
5961 July 30, 2013
5962 April 18, 2013
5963 September 7, 2013
5964 June 22, 2013
5965 September 10, 2012
5966 March 1, 2013
5967 January 22, 2013
5968 November 12, 2013
5969 September 6, 2013
5970 January 23, 2012
5971 September 19, 2013
5972 December 13, 2013
5973 January 17, 2013
5974 February 2, 2015
5975 June 10, 2013
5976 January 20, 2013
5977 March 5, 2013
5978 May 28, 2013
5979 September 9, 2013
5980 November 8, 2013
5982 September 9, 2013
5983 June 5, 2013
5984 August 21, 2013
5985 January 25, 2013
5986 September 8, 2012
5987 May 26, 2012
5988 May 23, 2013
5989 August 31, 2013
5990 September 8, 2012
5991 May 21, 2013
5992 March 26, 2013
5993 April 6, 2013
5994 January 18, 2013
5995 November 27, 2013
5996 March 18, 2013
5997 29 August 2013
5998 December 6, 2013
5999 February 14, 2013
6000 July 1, 2013
6001 February 15, 2013
6002 April 11, 2013
6003 October 8, 2013
6004 October 18, 2013
6005 August 16, 2013
6006 March 22, 2013
6007 January 24, 2013
6008 September 1, 2013
6009 September 19, 2013
6010 July 12, 2013
6011 January 4, 2014
6012 August 7, 2013
6013 March 1, 2013
6014 31 August 2013
6015 January 21, 2013
6016 September 7, 2012
6017 August 2, 2013
6018 September 13, 2013
6019 March 10, 2013
6020 August 14, 2013
6021 April 20, 2013
6022 January 20, 2013
6023 August 30, 2013
6025 September 10, 2013
6026 March 10, 2013
6027 June 7, 2013
6028 August 24, 2013
6029 July 19, 2013
6030 22 March 2013
6031 September 4, 2013
6032 July 17, 2013
6033 March 2, 2013
6034 May 28, 2013
6035 July 23, 2013
6036 September 18, 2013
6037 February 14, 2013
6038 September 6, 2013
6039 October 9, 2013
6040 August 23, 2013
6041 February 13, 2013
6042 October 20, 2013
6043 1 November 2013
6044 April 12, 2013
6045 March 8, 2013
6046 July 13, 2013
6047 October 5, 2013
6048 April 9, 2013
6049 March 19, 2013
6050 April 5, 2012
6051 March 10, 2013
6052 April 1, 2013
6053 February 8, 2013
6054 February 13, 2013
6055 October 30, 2013
6056 July 31, 2013
6057 June 11, 2013
6058 February 22, 2013
6059 April 21, 2013
6060 January 18, 2013
6061 January 18, 2013
6062 February 8, 2013
6064 September 4, 2012
6065 August 16, 2013
6066 October 12, 2012
6067 April 23, 2013
6068 November 8, 2013
6069 20 January 2013
6070 January 13, 2013
6071 April 21, 2012
6072 April 20, 2013
6073 August 27, 2013
6074 May 7, 2013
6075 January 24, 2013
6076 January 20, 2013
6077 March 29, 2013
6078 June 7, 2013
6079 January 4, 2013
6080 January 18, 2013
6081 June 3, 2013
6082 October 22, 2013
6083 June 24, 2013
6084 May 10, 2013
6085 March 8, 2013
6086 August 29, 2013
6088 January 31, 2013
6089 January 21, 2013
6090 January 19, 2013
6091 February 7, 2013
6092 September 15, 2011
6093 March 10, 2013
6094 14 December 2013
6095 January 16, 2013
6096 January 21, 2013
6097 January 18, 2013
6098 January 21, 2013
6099 August 3, 2013
6100 April 27, 2013
6101 June 28, 2013
6102 March 11, 2013
6103 March 20, 2013
6104 December 17, 2013
6105 July 26, 2013
6106 June 2, 2013
6107 January 21, 2012
6108 January 20, 2013
6109 September 10, 2011
6110 September 7, 2013
6111 October 11, 2013
6112 July 18, 2013
6113 January 3, 2014
6114 August 14, 2013
6115 September 20, 2013
6116 January 10, 2014
6117 January 10, 2014
6118 April 21, 2013
6119 January 17, 2014
6120 January 17, 2014
6121 January 15, 2014
6122 January 3, 2014
6123 January 11, 2014
6124 January 17, 2014
6125 January 24, 2014
6126 January 24, 2014
6127 January 28, 2014
6128 August 29, 2013
6129 January 27, 2014
6130 March 2, 2013
6131 February 4, 2014
6132 February 7, 2014
6133 February 7, 2014
6134 November 2013
6135 7 July 2013
6136 September 28, 2013
6138 February 7, 2014
6139 February 11, 2014
6140 April 18, 2013
6141 February 14, 2014
6142 February 14, 2014
6143 February 14, 2014
6144 February 12, 2014
6145 February 7, 2014
6146 February 18, 2014
6147 12 February 2014
6148 February 21, 2014
6149 February 2, 2014
6150 March 10, 2013
6151 February 28, 2014
6152 January 27, 2014
6153 January 20, 2013
6154 February 28, 2014
6155 March 4, 2014
6156 February 7, 2014
6157 March 14, 2014
6158 March 7, 2014
6159 March 14, 2014
6160 March 8, 2014
6161 March 8, 2013
6162 March 18, 2014
6163 March 21, 2014
6164 March 11, 2014
6165 March 21, 2014
6166 March 10, 2014
6167 March 19, 2014
6168 April 4, 2014
6169 April 4, 2014
6170 March 13, 2014
6171 April 4, 2014
6172 April 4, 2014
6173 April 7, 2014
6174 September 8, 2013
6175 March 20, 2014
6176 April 15, 2014
6177 April 16, 2014
6178 April 18, 2014
6179 April 18, 2014
6180 March 16, 2014
6181 April 10, 2014
6182 March 7, 2014
6183 April 23, 2014
6184 March 31, 2014
6185 April 25, 2014
6186 March 31, 2014
6187 May 2, 2014
6188 April 4, 2013
6189 May 2, 2014
6190 September 8, 2013
6191 January 17, 2014
6192 May 9, 2014
6193 March 8, 2014
6194 March 10, 2014
6195 May 8, 2014
6196 May 6, 2014
6197 May 23, 2014
6198 May 23, 2014
6199 January 18, 2014
6200 May 10, 2014
6201 May 28, 2014
6202 May 30, 2014
6203 May 28, 2014
6204 May 16, 2014
6205 January 18, 2014
6206 June 4, 2014
6207 January 17, 2014
6208 May 16, 2014
6209 June 13, 2014
6210 June 13, 2014

6211 January 17, 2014
6212 January 20, 2014
6213 June 5, 2014
6214 June 20, 2014
6215 June 27, 2014
6216 January 24, 2014
6217 June 19, 2014
6218 July 2, 2014
6219 June 14, 2014
6220 July 2, 2014
6221 July 2, 2014
6222 January 19, 2014
6223 June 26, 2014
6224 May 9, 2014
6225 April 12, 2014
6226 January 18, 2014
6227 July 18, 2014
6228 July 15, 2014
6229 July 18, 2014
6230 July 18, 2014
6231 18 July 2014
6232 January 18, 2014
6233 July 25, 2014
6234 January 19, 2014
6235 July 25, 2014
6236 July 25, 2014
6237 July 25, 2014
6238 August 1, 2014
6239 July 21, 2014
6240 August 5, 2014
6241 June 5, 2014
6242 August 4, 2014
6243 August 8, 2014
6244 July 9, 2014
6245 July 29, 2014
6246 August 13, 2014
6247 August 4, 2014
6248 August 11, 2014
6249 January 19, 2014
6250 January 21, 2014
6251 August 18, 2014
6252 August 22, 2014
6253 January 18, 2014
6254 August 22, 2014
6255 August 19, 2014
6256 August 29, 2014
6257 September 8, 2014
6258 September 12, 2014
6259 September 12, 2014
6260 March 7, 2014
6261 September 12, 2014
6262 January 17, 2014
6263 September 19, 2014
6264 September 19, 2014
6265 March 1, 2014
6266 January 19, 2014
6267 September 19, 2014
6268 September 6, 2014
6269 August 31, 2014
6270 September 7, 2014
6271 September 26, 2014
6272 February 11, 2014
6273 September 29, 2014
6274 September 26, 2014
6275 September 7, 2014
6276 October 3, 2014
6277 October 25, 2014
6278 October 10, 2014
6279 October 6, 2014
6280 October 10, 2014
6281 September 4, 2014
6282 January 16, 2014
6283 October 10, 2014
6284 August 27, 2014
6285 October 12, 2014
6286 January 17, 2014
6287 September 26, 2014
6288 January 18, 2014
6289 October 15, 2014
6290 January 20, 2014
6291 September 5, 2014
6292 October 15, 2014
6293 January 18, 2014
6294 January 17, 2014
6295 October 24, 2014
6296 October 26, 2014
6297 November 7, 2014
6298 January 18, 2014
6299 October 23, 2014
6300 March 7, 2014
6301 November 7, 2014
6302 September 6, 2014
6303 November 14, 2014
6304 May 19, 2014
6305 May 18, 2014
6306 November 14, 2014
6307 November 10, 2014
6308 November 12, 2014
6309 November 14, 2014
6310 June 13, 2014
6311 August 29, 2014
6312 December 12, 2014
6313 October 4, 2014
6314 November 16, 2012
6315 September 6, 2014
6316 April 17, 2014
6317 December 7, 2014
6318 December 11, 2014
6319 December 15, 2014
6320 December 11, 2014
6321 December 8, 2014
6322 November 17, 2014
6323 30 December 2014
6324 16 December 2014
6325 December 23, 2014
6326 April 18, 2014
6327 January 8, 2015
6328 January 22, 2014
6329 28 November 2014
6330 January 16, 2015
6331 January 16, 2015
6332 January 16, 2015
6333 August 21, 2009
6334 January 23, 2015
6335 August 30, 2014
6336 January 23, 2015
6337 January 20, 2014
6338 January 23, 2015
6339 March 10, 2014
6340 September 6, 2014
6341 October 14, 2014
6342 January 30, 2015
6343 January 14, 2015
6344 January 4, 2014
6345 March 11, 2013
6346 January 27, 2015
6347 6 October 2014
6348 December 17, 2014
6349 January 28, 2015
6350 January 19, 2014
6351 February 10, 2015
6352 June 22, 2014
6353 February 9, 2015
6354 13 December 2014
6355 September 7, 2014
6356 February 12, 2015
6357 February 20, 2015
6358 February 9, 2015
6359 September 20, 2014
6360 February 27, 2015
6361 February 27, 2015
6362 May 19, 2014
6363 August 27, 2014
6364 March 6, 2015
6365 March 4, 2015
6366 March 6, 2015
6367 26 February 2015
6368 March 6, 2015
6369 February 13, 2015
6370 September 11, 2014
6371 September 3, 2014
6372 March 13, 2015
6373 May 17, 2014
6374 March 13, 2015
6375 March 9, 2015
6376 March 20, 2015
6377 March 11, 2015
6378 March 20, 2015
6379 February 16, 2015
6380 January 15, 2015
6381 March 15, 2015
6382 March 16, 2015
6383 March 7, 2015
6384 October 13, 2014
6385 September 6, 2014
6386 April 1, 2015
6387 9 February 2015
6388 16 December 2014
6389 April 10, 2015
6390 May 20, 2014
6391 5 April 2015
6392 April 18, 2014
6393 September 6, 2014
6394 17 April 2015
6395 April 17, 2015
6396 April 17, 2015
6397 June 18, 2014
6398 January 23, 2015
6399 July 20, 2014
6400 September 8, 2014
6401 February 16, 2014
6402 April 24, 2015
6403 April 24, 2014
6404 April 24, 2015
6405 April 24, 2015
6406 April 13, 2015
6407 17 April 2015
6408 January 23, 2015
6409 May 8, 2015
6410 April 22, 2015
6411 7 May 2015
6412 April 20, 2015
6413 May 22, 2015
6414 May 9, 2015
6415 19 July 2014
6416 May 27, 2015
6417 May 27, 2015
6418 March 15, 2015
6419 May 27, 2015
6420 June 5, 2015
6421 September 7, 2014
6422 May 29, 2015
6423 January 25, 2015
6424 January 24, 2015
6425 May 18, 2015
6426 June 26, 2015
6427 June 24, 2015
6428 June 22, 2015
6429 June 11, 2015
6430 June 29, 2015
6431 March 15, 2015
6432 July 24, 2015
6433 June 15, 2015
6434 July 24, 2015
6435 July 23, 2015
6436 July 30, 2015
6437 August 11, 2015
6438 August 2, 2015
6439 August 29, 2014
6440 August 17, 2015
6441 August 13, 2015
6442 August 30, 2015
6443 September 4, 2015
6444 June 23, 2015
6445 May 19, 2015
6446 May 23, 2015
6447 September 11, 2015
6448 September 5, 2015
6449 October 4, 2015
6450 September 4, 2015
6451 September 25, 2015
6452 September 3, 2015
6453 November 1, 2015
6454 May 17, 2015
6455 November 4, 2015
6456 November 19, 2015
6457 November 10, 2015
6458 November 11, 2015
6459 December 7, 2015
6460 November 12, 2015
6461 December 14, 2015
6462 November 10, 2015
6463 December 9, 2015
6464 December 13, 2015
6465 December 1, 2015
6466 December 7, 2015
6467 December 16, 2015
6468 January 8, 2016
6469 April 22, 2015
6470 March 14, 2015
6471 January 6, 2016
6472 January 12, 2016
6473 January 15, 2016
6474 April 17, 2015
6475 January 22, 2016
6476 January 22, 2016
6477 January 22, 2016
6478 16 December 2015
6479 July 22, 2015
6480 January 23, 2016
6481 January 25, 2016
6482 January 29, 2016
6483 December 31, 2015
6484 February 1, 2016
6485 January 21, 2016
6486 February 5, 2016
6487 February 8, 2016
6488 February 4, 2016
6489 February 9, 2016
6490 February 15, 2016
6491 January 27, 2015
6492 February 11, 2016
6493 February 25, 2016
6494 February 16, 2016
6495 February 13, 2016
6496 March 1, 2016
6497 March 4, 2016
6498 March 4, 2016
6499 March 8, 2016
6500 March 11, 2016
6501 March 7, 2016
6502 March 14, 2015
6503 February 21, 2016
6504 March 8, 2016
6505 January 22, 2015
6506 February 12, 2016
6507 March 19, 2016
6508 March 15, 2016
6509 September 11, 2015
6510 March 11, 2016
6511 April 1, 2016
6512 April 1, 2016
6513 October 11, 2015
6514 March 21, 2016
6515 September 12, 2015
6516 September 10, 2015
6517 March 13, 2015
6518 April 4, 2016
6519 April 6, 2016
6520 April 5, 2016
6521 May 17, 2015
6522 March 29, 2016
6523 April 20, 2016
6524 April 18, 2016
6525 March 13, 2016
6526 April 13, 2016
6527 April 29, 2016
6528 April 12, 2016
6529 May 12, 2016
6530 May 13, 2016
6531 January 23, 2016
6532 May 5, 2016
6533 April 26, 2016
6534 May 11, 2016
6535 May 9, 2016
6536 May 22, 2016
6537 May 23, 2016
6538 May 24, 2016
6539 June 7, 2016
6540 May 24, 2016
6541 June 6, 2016
6542 June 8, 2016
6543 June 10, 2016
6544 June 20, 2016
6545 June 21, 2016
6546 June 16, 2016
6547 May 20, 2016
6548 June 27, 2016
6549 May 14, 2016
6550 July 1, 2016
6551 June 16, 2016
6552 July 8, 2016
6553 July 12, 2016
6554 July 6, 2016
6555 July 9, 2016
6556 July 7, 2016
6557 June 19, 2016
6558 June 8, 2016
6559 July 11, 2016
6560 July 19, 2016
6561 July 12, 2016
6562 August 1, 2016
6563 31 July 2016
6564 August 8, 2016
6565 March 14, 2016
6566 23 April 2016
6567 August 9, 2016
6568 August 13, 2016
6569 August 3, 2016
6570 August 22, 2016
6571 March 12, 2016
6572 May 16, 2016
6573 September 1, 2016
6574 September 2, 2016
6575 September 2, 2016
6576 September 9, 2016
6577 5 February 2016
6578 September 9, 2016
6579 5 September 2016
6580 July 21, 2016
6581 September 11, 2016
6582 16 September 2016
6583 September 8, 2016
6584 September 17, 2016
6585 September 26, 2016
6586 September 25, 2016
6587 September 13, 2016
6588 September 26, 2016
6589 September 20, 2016
6590 January 25, 2016
6591 October 7, 2016
6592 October 10, 2016
6593 October 14, 2016
6594 October 14, 2016
6595 October 16, 2016
6596 October 8, 2016
6597 October 21, 2016
6598 October 22, 2016
6599 October 21, 2016
6600 September 9, 2016
6601 October 8, 2016
6602 7 January 2016
6603 November 14, 2016
6604 December 10, 2016
6605 December 7, 2016
6606 September 11, 2016
6607 September 10, 2016
6608 February 3, 2017
6609 November 24, 2016
6610 January 6, 2017
6611 April 18, 2016
6612 December 21, 2016
6613 January 13, 2017
6614 January 13, 2017
6615 8 June 2016
6616 April 14, 2016
6617 September 26, 2016
6618 January 5, 2017
6619 January 20, 2017
6620 9 September 2016
6621 January 22, 2016
6622 January 27, 2017
6623 December 23, 2016
6624 January 27, 2017
6625 January 29, 2015
6626 January 27, 2017
6628 February 3, 2017
6629 April 16, 2016
6630 September 10, 2016
6631 June 1, 2015
6632 January 29, 2017
6633 February 7, 2017
6634 January 30, 2017
6635 December 6, 2016
6636 December 10, 2016
6637 February 13, 2017
6638 March 13, 2016
6639 January 22, 2017
6640 January 24, 2016
6641 January 23, 2017
6642 July 8, 2016
6643 August 4, 2016
6644 3 August 2016
6645 January 19, 2017
6646 February 17, 2017
6647 March 3, 2017
6648 January 21, 2017
6649 March 3, 2017
6650 January 24, 2017
6651 September 9, 2016
6652 March 12, 2016
6653 February 28, 2017
6654 January 24, 2017
6655 February 23, 2017
6656 September 10, 2016
6657 March 10, 2017
6658 March 17, 2017
6659 March 17, 2017
6660 September 13, 2015
6661 March 22, 2017
6662 March 18, 2017
6663 March 20, 2017
6664 January 22, 2017
6665 April 17, 2016
6666 March 16, 2017
6667 March 12, 2017
6668 March 8, 2017
6669 September 12, 2015

6670 January 20, 2017
6671 September 9, 2016
6672 April 7, 2017
6673 April 5, 2017
6674 March 30, 2017
6675 September 9, 2016
6676 April 7, 2017
6677 April 7, 2017
6678 April 4, 2017
6679 April 22, 2016
6680 October 15, 2016
6681 September 11, 2016
6682 April 14, 2017
6683 August 12, 2016
6684 April 21, 2017
6685 September 11, 2016
6686 April 26, 2017
6687 April 28, 2017
6688 January 23, 2016
6689 April 10, 2017
6690 April 22, 2017
6691 September 12, 2015
6692 8 May 2017
6693 May 2, 2017
6694 June 1, 2016
6695 May 12, 2017
6696 12 September 2016
6697 May 4, 2017
6698 May 19, 2017
6699 May 19, 2017
6700 September 2, 2016
6701 May 13, 2017
6702 May 11, 2017
6703 May 26, 2017
6704 May 24, 2017
6705 May 15, 2017
6706 May 21, 2017
6707 May 22, 2017
6708 April 29, 2017
6709 June 9, 2017
6710 June 5, 2017
6711 January 23, 2017
6712 May 23, 2017
6713 June 12, 2017
6714 June 14, 2017
6715 12 June 2017
6716 June 14, 2017
6717 June 18, 2017
6718 May 24, 2017
6719 January 20, 2017
6720 September 6, 2016
6721 March 11, 2017
6722 May 19, 2017
6723 June 14, 2017
6724 June 26, 2017
6725 January 19, 2017
6726 June 30, 2017
6727 June 30, 2017
6728 January 22, 2017
6729 June 28, 2017
6730 July 10, 2017
6731 July 14, 2017
6732 13 July 2017
6733 17 July 2017
6734 June 14, 2017
6735 July 21, 2017
6736 March 12, 2017
6737 July 23, 2017
6738 January 19, 2017
6739 July 26, 2017
6740 January 23, 2017
6741 January 23, 2017
6742 July 31, 2017
6743 July 31, 2017
6744 January 21, 2017
6745 January 21, 2017
6746 August 4, 2017
6747 June 19, 2017
6748 August 9, 2017
6749 August 11, 2017
6750 May 25, 2017
6751 January 20, 2017
6752 August 11, 2017
6753 August 18, 2017
6754 August 9, 2017
6755 January 23, 2017
6756 August 25, 2017
6757 January 23, 2017
6758 August 13, 2017
6759 May 5, 2017
6760 September 5, 2017
6761 August 29, 2017
6762 September 8, 2017
6763 February 3, 2017
6764 8 September 2017
6765 September 15, 2017
6766 September 5, 2017
6767 September 9, 2017
6768 18 September 2017
6769 September 16, 2017
6770 September 8, 2017
6771 September 2, 2017
6772 September 22, 2017
6773 3 September 2017
6774 September 26, 2017
6775 August 18, 2017
6776 September 29, 2017
6777 September 8, 2017
6778 October 3, 2017
6779 September 9, 2017
6780 September 24, 2017
6781 May 22, 2017
6782 September 2, 2017
6783 October 13, 2017
6784 September 20, 2017
6785 11 September 2017
6786 20 September 2017
6787 September 9, 2017
6788 October 13, 2017
6789 October 20, 2017
6790 October 8, 2017
6791 October 20, 2017
6792 October 20, 2017
6793 August 25, 2017
6794 May 18, 2017
6795 May 22, 2017
6796 October 15, 2017
6797 September 2, 2017
6798 October 27, 2017
6799 January 20, 2017
6800 September 14, 2016
6801 October 28, 2017
6802 October 10, 2017
6803 October 30, 2017
6804 September 28, 2017
6805 September 1, 2017
6806 November 2, 2017
6807 November 5, 2017
6808 September 9, 2016
6809 September 4, 2017
6810 November 10, 2017
6811 October 26, 2017
6812 November 12, 2017
6813 November 14, 2017
6814 February 13, 2007
6815 March 12, 2017
6816 September 10, 2017
6817 October 20, 2017
6818 1 September 2017
6819 nan
6820 January 22, 2017
6821 March 12, 2017
6822 August 31, 2017
6823 October 14, 2017
6824 September 8, 2017
6825 December 8, 2017
6826 December 9, 2017
6827 December 10, 2017
6828 October 14, 2017
6829 December 5, 2017
6830 December 8, 2017
6831 November 30, 2017
6832 August 30, 2017
6833 December 13, 2017
6834 December 14, 2017
6835 December 13, 2017
6836 31 October 2017
6837 September 2, 2017
6838 December 18, 2017
6839 September 8, 2017
6840 December 11, 2017
6841 January 5, 2018
6842 March 11, 2017
6843 1 September 2017
6844 6 September 2017
6845 January 8, 2018
6846 January 12, 2018
6847 January 12, 2018
6848 February 13, 2017
6849 June 16, 2017
6850 10 February 2017
6851 8 July 2017
6852 January 16, 2018
6853 January 19, 2018
6854 January 19, 2018
6855 January 11, 2018
6856 31 August 2017
6857 October 27, 2017
6858 February 2, 2018
6859 12 February 2017
6860 September 14, 2018
6861 February 4, 2018
6862 February 3, 2018
6863 February 6, 2018
6864 February 9, 2018
6865 9 February 2018
6866 April 22, 2017
6867 24 August 2017
6868 January 22, 2017
6869 January 29, 2018
6870 20 January 2018
6871 18 May 2017
6872 13 February 2017
6873 January 6, 2018
6874 16 February 2018
6875 February 16, 2018
6876 February 23, 2018
6877 February 13, 2018
6878 February 23, 2018
6879 9 September 2017
6880 September 8, 2017
6881 February 15, 2018
6882 March 2, 2018
6883 January 25, 2017
6884 2 September 2017
6885 March 2, 2018
6886 February 26, 2018
6887 March 9, 2018
6888 January 21, 2017
6889 8 September 2017
6890 3 September 2017
6891 March 9, 2018
6892 March 9, 2018
6893 March 2, 2018
6894 February 27, 2018
6895 March 16, 2018
6896 February 19, 2018
6897 March 16, 2018
6898 February 8, 2018
6899 April 20, 2017
6900 March 15, 2018
6901 February 15, 2018
6902 March 23, 2018
6903 February 21, 2018
6904 March 23, 2018
6905 February 11, 2017
6906 March 23, 2018
6907 March 11, 2018
6908 March 30, 2018
6909 March 30, 2018
6910 March 12, 2017
6911 April 22, 2017
6912 March 9, 2018
6913 March 10, 2018
6914 27 May 2017
6915 September 10, 2017
6916 1 September 2017
6917 March 18, 2018
6918 January 22, 2018
6919 April 4, 2018
6920 April 13, 2018
6921 May 20, 2017
6922 March 27, 2018
6923 April 20, 2018
6924 April 20, 2018
6925 April 20, 2018
6926 April 8, 2017
6927 April 21, 2018
6928 April 23, 2018
6929 10 September 2017
6930 January 18, 2018
6931 13 September 2017
6932 May 4, 2018
6933 January 23, 2018
6934 May 4, 2018
6935 March 13, 2016
6936 8 September 2017
6937 May 11, 2018
6938 May 11, 2018
6939 April 21, 2018
6940 11 May 2018
6941 11 September 2017
6942 May 10, 2018
6943 May 18, 2018
6944 August 31, 2017
6945 May 18, 2018
6946 May 10, 2018
6947 May 21, 2017
6948 25 May 2018
6949 13 February 2017
6950 May 25, 2018
6951 June 1, 2018
6952 June 1, 2018
6953 10 March 2018
6954 January 19, 2018
6955 June 1, 2018
6956 June 5, 2018
6957 January 19, 2018
6958 January 21, 2018
6959 May 19, 2018
6960 June 13, 2018
6961 June 5, 2018
6962 June 15, 2018
6964 May 15, 2018
6965 May 21, 2018
6966 March 12, 2018
6967 January 23, 2018
6968 June 28, 2018
6969 June 11, 2018
6970 January 20, 2018
6971 June 29, 2018
6972 September 10, 2017
6973 July 4, 2018
6974 June 25, 2018
6975 January 20, 2018
6976 16 May 2018
6977 June 13, 2018
6978 July 1, 2018
6979 January 19, 2018
6980 January 19, 2018
6981 September 30, 2017
6982 July 16, 2018
6983 July 20, 2018
6984 January 18, 2018
6985 March 9, 2018
6986 July 20, 2018
6987 July 12, 2018
6988 July 22, 2018
6989 July 27, 2018
6990 March 13, 2017
6991 January 23, 2018
6992 July 30, 2018
6993 August 3, 2018
6994 August 3, 2018
6995 January 22, 2018
6996 January 22, 2018
6997 August 8, 2018
6998 August 10, 2018
6999 May 14, 2018
7000 August 10, 2018
7001 19 May 2017
7002 August 7, 2018
7003 August 17, 2018
7004 August 17, 2018
7005 September 12, 2017
7006 August 17, 2018
7007 January 19, 2018
7008 August 17, 2018
7009 August 24, 2018
7010 January 21, 2018
7011 September 9, 2017
7012 August 24, 2018
7013 August 29, 2018
7014 August 31, 2018
7015 September 21, 2018
7016 August 31, 2018
7017 September 4, 2018
7018 September 7, 2018
7019 September 6, 2018
7020 August 31, 2018
7021 September 14, 2018
7022 September 9, 2017
7023 January 19, 2018
7024 September 14, 2018
7025 September 21, 2018
7026 September 8, 2018
7027 September 2, 2018
7028 January 21, 2018
7029 January 20, 2018
7030 September 6, 2018
7031 April 18, 2018
7032 July 5, 2018
7033 September 28, 2018
7034 September 28, 2018
7035 August 31, 2018
7036 September 28, 2018
7037 October 1, 2018
7038 August 31, 2018
7039 September 7, 2018
7040 21 January 2018
7041 August 29, 2018
7042 September 27, 2018
7043 October 8, 2018
7044 September 7, 2018
7045 September 25, 2018
7046 October 12, 2018
7047 September 8, 2018
7048 September 1, 2018
7049 September 9, 2018
7050 January 20, 2018
7051 January 21, 2018
7052 October 26, 2018
7053 5 October 2018
7054 September 1, 2018
7055 October 26, 2018
7056 October 26, 2018
7057 23 October 2018
7058 October 29, 2018
7059 November 2, 2018
7060 September 1, 2018
7061 September 7, 2018
7062 September 7, 2017
7063 August 31, 2018
7064 October 22, 2018
7065 October 24, 2018
7066 September 22, 2018
7067 November 13, 2017
7068 8 November 2018
7069 September 8, 2018
7070 November 16, 2018
7071 November 5, 2018
7072 November 14, 2018
7073 November 21, 2018
7074 September 11, 2018
7075 30 August 2018
7076 30 August 2018
7077 13 May 2018
7078 November 25, 2018
7079 November 30, 2018
7080 22 September 2017
7081 17 May 2018
7082 15 November 2018
7083 September 8, 2018
7084 December 1, 2018
7085 November 27, 2018
7086 December 10, 2018
7087 September 9, 2018
7088 November 29, 2018
7089 November 26, 2018
7090 December 3, 2018
7091 December 21, 2018
7092 December 21, 2018
7093 10 May 2018
7094 December 25, 2018
7095 December 11, 2018
7096 November 8, 2018
7097 August 31, 2018
7098 28 December 2018

In [95]:
cleaning_wiki_df6['Release date'] = pd.to_datetime(release_date.str.extract(f"({date_p1}|{date_p2}|{date_p3}|{date_p4})", flags=re.IGNORECASE)[0], infer_datetime_format=True)
cleaning_wiki_df6['Release date']

0      1990-07-11
1      1990-05-17
2      1990-08-10
3      1990-12-25
4      1990-12-19
          ...
7094   2018-12-25
7095   2018-12-11
7096   2018-11-08
7097   2018-08-31
7098   2018-12-28
Name: Release date, Length: 7032, dtype: datetime64[ns]

In [101]:
running_time = cleaning_wiki_df6['Running time']
running_time

0                                 102 minutes
1                                 114 minutes
2                                 113 minutes
3                                 106 minutes
4                                  95 minutes
                        ...
7094                               90 minutes
7095                              132 minutes
7096                              120 minutes
7097                              123 minutes
7098    Variable; 90 minutes for default path
Name: Running time, Length: 7032, dtype: object

In [112]:
# use this cell to find the patterns and write them in the cell below
for r in running_time.index:
    if re.findall(time_p1, str(running_time[r]), flags=re.IGNORECASE):
         spam = re.findall(time_p1, str(running_time[r]), flags=re.IGNORECASE)[0]
    elif re.findall(time_p2, str(running_time[r]), flags=re.IGNORECASE):
        spam = re.findall(time_p2, str(running_time[r]), flags=re.IGNORECASE)[0]
    elif re.findall(time_p3, str(running_time[r]), flags=re.IGNORECASE):
        spam = re.findall(time_p3, str(running_time[r]), flags=re.IGNORECASE)[0]
    else:
        print(r, running_time[r])
        pass

30 nan
46 nan
59 nan
154 nan
203 nan
235 nan
264 nan
299 nan
596 nan
844 ['Varies (79', '[3]', '–84', '[1]', 'minutes)']
877 nan
884 nan
963 nan
997 nan
999 nan
1012 nan
1230 nan
1246 nan
1292 nan
1306 nan
1331 nan
1536 nan
1545 nan
1555 varies
1570 nan
1608 nan
1647 nan
1681 nan
1731 nan
1754 nan
1759 minutes
1823 nan
1841 nan
1895 nan
1897 nan
2342 nan
2440 nan
2518 nan
2571 nan
2663 nan
2669 nan
2930 nan
3050 nan
3123 nan
3244 nan
3478 nan
3618 nan
3774 nan
3934 nan
3957 nan
3971 nan
3983 nan
4022 nan
4024 nan
4072 nan
4127 nan
4189 nan
4190 nan
4207 nan
4266 nan
4285 nan
4294 nan
4310 nan
4327 nan
4329 nan
4350 nan
4356 nan
4357 nan
4405 nan
4426 nan
4499 nan
4502 nan
4608 nan
4627 nan
4747 nan
4809 nan
4834 nan
4858 nan
4930 nan
5031 nan
5056 nan
5084 nan
5179 nan
5189 nan
5254 nan
5344 nan
5442 ['115', '[1]', '/123', '[2]', '/128', '[3]', 'minutes']
5474 nan
5479 nan
5481 nan
5494 nan
5497 nan
5500 nan
5514 nan
5526 nan
5541 nan
5595 nan
5609 nan
5627 nan
5630 nan
5680 nan
5751 nan
5755 nan
5767 nan
5778 nan
5787 nan
5817 nan
5820 nan
5826 nan
5859 nan
5888 nan
5892 nan
5895 nan
5901 nan
5912 nan
5921 nan
5948 nan
5951 nan
6003 nan
6015 nan
6020 nan
6030 nan
6038 nan
6039 nan
6043 nan
6085 nan
6130 nan
6141 nan
6145 nan
6157 nan
6209 nan
6292 nan
6372 nan
6397 nan
6658 nan
6764 nan
6819 nan
6931 nan
6945 nan
6955 nan
6968 nan
6986 nan
6989 nan

In [109]:
time_p1 = r"(\d+)(', ')?\s*min\.?(utes)?" # 120 minutes, 120 min, 120 min., '120', 'min'
time_p2 = r"((\d+h)?\s*\d+m)"# 1h 48m, 70m
time_p3 = r"(\d+\s*hours?)"