In [1]:
import os
import requests as rq
import pandas as pd
import numpy as np
import json
import re

In [2]:
# the filepath for each data file
wiki_movie_file = os.path.join('Data', 'wikipedia-movies.json')
ratings_file = os.path.join('Data', 'ratings.csv')
movie_meta_data_file = os.path.join('Data', 'movies_metadata.csv')

In [3]:
# Load the files
with open(wiki_movie_file, 'r') as file1:
    raw_movie_json = json.load(file1)
    file1.close()

# file 2, not cleaning this one yet
# raw_ratings_df = pd.read_csv(ratings_file, sep=',', header=0)

# file 3, not cleaning this one yet
# raw_meta_data_df = pd.read_csv(movie_meta_data_file, sep=',', low_memory=False)

In [4]:
# Explore the data, commenting results
raw_movie_json # Results: list of dicts, each movie is it's own dict
len(raw_movie_json) # Result: 7311 Movies
len(raw_movie_json[10].keys()) # changing the index looking for number of keys; 10 random indexes Results: 17 to 22 keys
raw_movie_df = pd.DataFrame(raw_movie_json) # Results: 7311 rows × 193 columns with lots of Nan fields, not every movie has the same "22" keys
raw_movie_df

,url,year,imdb_link,title,Directed by,Produced by,Screenplay by,Story by,Based on,Starring,...,Predecessor,Founders,Area served,Products,Services,Russian,Hebrew,Revenue,Operating income,Polish
0,https://en.wikipedia.org/wiki/The_Adventures_o...,1990.0,https://www.imdb.com/title/tt0098987/,The Adventures of Ford Fairlane,Renny Harlin,"[Steve Perry, Joel Silver]","[David Arnott, James Cappe, Daniel Waters]","[David Arnott, James Cappe]","[Characters, by Rex Weiner]","[Andrew Dice Clay, Wayne Newton, Priscilla Pre...",...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,"https://en.wikipedia.org/wiki/After_Dark,_My_S...",1990.0,https://www.imdb.com/title/tt0098994/,"After Dark, My Sweet",James Foley,"[Ric Kidney, Robert Redlin]","[James Foley, Robert Redlin]",NaN,"[the novel, After Dark, My Sweet, by, Jim Thom...","[Jason Patric, Rachel Ward, Bruce Dern, George...",...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,https://en.wikipedia.org/wiki/Air_America_(film),1990.0,https://www.imdb.com/title/tt0099005/,Air America,Roger Spottiswoode,Daniel Melnick,"[John Eskow, Richard Rush]",NaN,"[Air America, by, Christopher Robbins]","[Mel Gibson, Robert Downey Jr., Nancy Travis, ...",...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,https://en.wikipedia.org/wiki/Alice_(1990_film),1990.0,https://www.imdb.com/title/tt0099012/,Alice,Woody Allen,Robert Greenhut,NaN,NaN,NaN,"[Alec Baldwin, Blythe Danner, Judy Davis, Mia ...",...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,https://en.wikipedia.org/wiki/Almost_an_Angel,1990.0,https://www.imdb.com/title/tt0099018/,Almost an Angel,John Cornell,John Cornell,NaN,NaN,NaN,"[Paul Hogan, Elias Koteas, Linda Kozlowski]",...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7306,https://en.wikipedia.org/wiki/Holmes_%26_Watson,2018.0,https://www.imdb.com/title/tt1255919/,Holmes & Watson,Etan Cohen,"[Will Ferrell, Adam McKay, Jimmy Miller, Clayt...",Etan Cohen,NaN,"[Sherlock Holmes, and, Dr. Watson, by, Sir Art...","[Will Ferrell, John C. Reilly, Rebecca Hall, R...",...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7307,https://en.wikipedia.org/wiki/Vice_(2018_film),2018.0,https://www.imdb.com/title/tt6266538/,Vice,Adam McKay,"[Brad Pitt, Dede Gardner, Jeremy Kleiner, Kevi...",NaN,NaN,NaN,"[Christian Bale, Amy Adams, Steve Carell, Sam ...",...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7308,https://en.wikipedia.org/wiki/On_the_Basis_of_Sex,2018.0,https://www.imdb.com/title/tt4669788/,On the Basis of Sex,Mimi Leder,Robert W. Cort,NaN,NaN,NaN,"[Felicity Jones, Armie Hammer, Justin Theroux,...",...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7309,https://en.wikipedia.org/wiki/Destroyer_(2018_...,2018.0,https://www.imdb.com/title/tt7137380/,Destroyer,Karyn Kusama,"[Fred Berger, Phil Hay, Matt Manfredi]",NaN,NaN,NaN,"[Nicole Kidman, Sebastian Stan, Toby Kebbell, ...",...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7310,https://en.wikipedia.org/wiki/Black_Mirror:_Ba...,2018.0,https://www.imdb.com/title/tt9495224/,Bandersnatch,David Slade,Russell McLean,NaN,NaN,NaN,"[Fionn Whitehead, Will Poulter, Craig Parkinso...",...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [5]:
# Explore the data, commenting results
raw_movie_df.info() # Result: too much data to display any granular info about the columns
raw_movie_df.isnull().sum() # Result: 10 columns visible, Null values seem to range from 158 to 7310; find the minimum number
min(raw_movie_df.isnull().sum())  # Results: 158 is the minimum, url and year columns are the lowest
raw_movie_df.keys().to_list() # Results: column names suggest more than movies; tv shows, people, and possibly books also.

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7311 entries, 0 to 7310
Columns: 193 entries, url to Polish
dtypes: float64(1), object(192)
memory usage: 10.8+ MB

['url',
 'year',
 'imdb_link',
 'title',
 'Directed by',
 'Produced by',
 'Screenplay by',
 'Story by',
 'Based on',
 'Starring',
 'Narrated by',
 'Music by',
 'Cinematography',
 'Edited by',
 'Productioncompany ',
 'Distributed by',
 'Release date',
 'Running time',
 'Country',
 'Language',
 'Budget',
 'Box office',
 'Written by',
 'Genre',
 'Theme music composer',
 'Country of origin',
 'Original language(s)',
 'Producer(s)',
 'Editor(s)',
 'Production company(s)',
 'Original network',
 'Original release',
 'Productioncompanies ',
 'Executive producer(s)',
 'Production location(s)',
 'Distributor',
 'Picture format',
 'Audio format',
 'Voices of',
 'Followed by',
 'Composer(s)',
 'Created by',
 'Also known as',
 'Opening theme',
 'No. of episodes',
 'Preceded by',
 'Author',
 'Publisher',
 'Publication date',
 'Media type',
 'Pages',
 'ISBN',
 'OCLC',
 'LC Class',
 'Cover artist',
 'Series',
 'Set in',
 'Adaptation by',
 'Suggested by',
 'Biographical data',
 'Born',
 'Died',
 'Resting place',
 'Occupation',
 'Years active',
 'Spouse(s)',
 'Children',
 'Parent(s)',
 'Genres',
 'Instruments',
 'Labels',
 'Website',
 'Traditional',
 'Mandarin',
 'Type',
 'Industry',
 'Fate',
 'Founded',
 'Founder',
 'Headquarters',
 'Parent',
 'Released',
 'Recorded',
 'Venue',
 'Length',
 'Label',
 'Director',
 'Producer',
 'Area',
 'Coordinates',
 'Status',
 'Opening date',
 'Closing date',
 'Replaced',
 'Replaced by',
 'Name',
 'Attraction type',
 'Music',
 'Duration',
 'Simplified Chinese',
 'Traditional Chinese',
 'Hanyu Pinyin',
 'Literal meaning',
 'Transcriptions',
 'Bopomofo',
 'Gwoyeu Romatzyh',
 'Wade–Giles',
 'IPA',
 'Yale Romanization',
 'Jyutping',
 'Hokkien POJ',
 'Animation by',
 'Color process',
 'Engine(s)',
 'Genre(s)',
 'Actor control',
 'Production company',
 'Release(s)',
 'Format(s)',
 'Simplified',
 'Characters',
 'Date premiered',
 'Place premiered',
 'Setting',
 'Original language',
 'Subject',
 'Published',
 'Dewey Decimal',
 'Text',
 'Illustrator',
 'Original title',
 'Published in English',
 'French',
 'Developed by',
 'Ending theme',
 'No. of seasons',
 'Nationality',
 'Portrayed by',
 'Alias',
 'Species',
 'Gender',
 'Family',
 'Alma mater',
 'Camera setup',
 'Novel(s)',
 'Comics',
 'Film(s)',
 'Screen story by',
 'Hangul',
 'Revised Romanization',
 'McCune–Reischauer',
 'Developer(s)',
 'Publisher(s)',
 'Designer(s)',
 'Programmer(s)',
 'Artist(s)',
 'Writer(s)',
 'Engine',
 'Platform(s)',
 'Release',
 'Mode(s)',
 'Original work',
 'Television series',
 'Japanese',
 'Hepburn',
 'Literally',
 'Cantonese',
 'Full name',
 'Height',
 'Seasons',
 'Chinese',
 'Other names',
 'Relatives',
 'Yiddish',
 'Formerly',
 'Key people',
 'Total assets',
 'Owner',
 'Number of employees',
 'Divisions',
 'Subsidiaries',
 'Arabic',
 'Romanized',
 'Predecessor',
 'Founders',
 'Area served',
 'Products',
 'Services',
 'Russian',
 'Hebrew',
 'Revenue',
 'Operating income',
 'Polish']

In [6]:
# select for records with an imdb link, 'Director' or 'Directed by', and not references to tv shows.
cleaning_wiki = [movie for movie in raw_movie_json if (('imdb_link' and ('Directed by' or 'Director')) in movie.keys()) and ('No. of episodes' not in movie.keys())]
cleaning_df = pd.DataFrame(cleaning_wiki)
cleaning_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7099 entries, 0 to 7098
Data columns (total 74 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   url                     7099 non-null   object
 1   year                    7099 non-null   int64
 2   imdb_link               7074 non-null   object
 3   title                   7098 non-null   object
 4   Directed by             7099 non-null   object
 5   Produced by             6737 non-null   object
 6   Screenplay by           2323 non-null   object
 7   Story by                1004 non-null   object
 8   Based on                2196 non-null   object
 9   Starring                6913 non-null   object
 10  Narrated by             283 non-null    object
 11  Music by                6502 non-null   object
 12  Cinematography          6396 non-null   object
 13  Edited by               6398 non-null   object
 14  Productioncompany       4539 non-null   object
 15  Distributed by          6598 non-null   object
 16  Release date            6907 non-null   object
 17  Running time            6956 non-null   object
 18  Country                 6708 non-null   object
 19  Language                6856 non-null   object
 20  Budget                  4774 non-null   object
 21  Box office              5530 non-null   object
 22  Written by              4592 non-null   object
 23  Genre                   108 non-null    object
 24  Theme music composer    67 non-null     object
 25  Country of origin       152 non-null    object
 26  Original language(s)    158 non-null    object
 27  Producer(s)             156 non-null    object
 28  Editor(s)               146 non-null    object
 29  Production company(s)   131 non-null    object
 30  Original network        125 non-null    object
 31  Original release        159 non-null    object
 32  Productioncompanies     729 non-null    object
 33  Executive producer(s)   97 non-null     object
 34  Production location(s)  47 non-null     object
 35  Distributor             138 non-null    object
 36  Picture format          64 non-null     object
 37  Audio format            61 non-null     object
 38  Voices of               2 non-null      object
 39  Followed by             9 non-null      object
 40  Composer(s)             8 non-null      object
 41  Created by              10 non-null     object
 42  Preceded by             10 non-null     object
 43  Adaptation by           2 non-null      object
 44  Suggested by            1 non-null      object
 45  Traditional             5 non-null      object
 46  Mandarin                4 non-null      object
 47  Also known as           1 non-null      object
 48  Animation by            2 non-null      object
 49  Color process           1 non-null      object
 50  Engine(s)               1 non-null      object
 51  Genre(s)                1 non-null      object
 52  Actor control           1 non-null      object
 53  Production company      1 non-null      object
 54  Release(s)              1 non-null      object
 55  Format(s)               1 non-null      object
 56  Simplified              4 non-null      object
 57  French                  1 non-null      object
 58  Screen story by         1 non-null      object
 59  Hangul                  2 non-null      object
 60  Revised Romanization    2 non-null      object
 61  McCune–Reischauer       2 non-null      object
 62  Original title          1 non-null      object
 63  Japanese                4 non-null      object
 64  Hepburn                 4 non-null      object
 65  Literally               3 non-null      object
 66  Cantonese               1 non-null      object
 67  Chinese                 1 non-null      object
 68  Yiddish                 1 non-null      object
 69  Arabic                  2 non-null      object
 70  Romanized               2 non-null      object
 71  Russian                 1 non-null      object
 72  Hebrew                  1 non-null      object
 73  Polish                  1 non-null      object
dtypes: int64(1), object(73)
memory usage: 4.0+ MB

In [7]:
# # lots of the columns are languages:  "Arabic", "Japanese", "Mandarin", "Polish", "Yiddish", "Romanized"
cleaning_df[cleaning_df['Arabic'].notnull()]['Arabic']

6856    قضية رقم ٢٣
7081      کفرناحوم‎
Name: Arabic, dtype: object

In [8]:
# staring to define a function to clean the data. troubleshooting and ajustments were decided in the cell below this one.
def cleaning_movie(movie):
    """wiki_movie_file is a json file containing a list of dictionaries with each index as a different movie 
    with different key:value pairs. This function is specially designed to clean that specific dataset. 
    Wikipedia is managed by many people and they do not all use the same words.
    """
    alternate_titles = dict()
    fixed_movie = dict(movie)
###  Start with alternate titles stored in language keys and merge them into one.
###  Language keys i could find:      
    language_keys = ['Also known as','Arabic','Cantonese','Chinese','French', 'Hangul','Hebrew','Hepburn','Japanese','Literally',
        'Mandarin','McCune–Reischauer','Original title','Polish', 'Revised Romanization','Romanized','Russian',
        'Simplified','Traditional','Yiddish']
    for key in language_keys:
        if key in fixed_movie.keys():
            alternate_titles[key] = fixed_movie[key]
            fixed_movie.pop(key)
        else:
            pass
##  if there were alternate titles, add them to the movie.       
    if len(alternate_titles) > 0:
        fixed_movie['alternate_titles'] = alternate_titles
    else:
        pass
    return fixed_movie

In [9]:
## using this cell to debug the above function and decide on key(s) to keep, merge, and delete. 
## Starting with the alternate titles hidden in the language keys.
language_keys1 = ['Also known as','Arabic','Cantonese','Chinese','French', 'Hangul','Hebrew','Hepburn','Japanese','Literally',
        'Mandarin','McCune–Reischauer','Original title','Polish', 'Revised Romanization','Romanized','Russian',
        'Simplified','Traditional','Yiddish']

cleaning_wiki2 = [cleaning_movie(movie) for movie in cleaning_wiki]

## find a column to remove, add it to the list, check the columns again.
columns = sorted(pd.DataFrame(cleaning_wiki2).columns.to_list())
columns

['Actor control',
 'Adaptation by',
 'Animation by',
 'Audio format',
 'Based on',
 'Box office',
 'Budget',
 'Cinematography',
 'Color process',
 'Composer(s)',
 'Country',
 'Country of origin',
 'Created by',
 'Directed by',
 'Distributed by',
 'Distributor',
 'Edited by',
 'Editor(s)',
 'Engine(s)',
 'Executive producer(s)',
 'Followed by',
 'Format(s)',
 'Genre',
 'Genre(s)',
 'Language',
 'Music by',
 'Narrated by',
 'Original language(s)',
 'Original network',
 'Original release',
 'Picture format',
 'Preceded by',
 'Produced by',
 'Producer(s)',
 'Production company',
 'Production company(s)',
 'Production location(s)',
 'Productioncompanies ',
 'Productioncompany ',
 'Release date',
 'Release(s)',
 'Running time',
 'Screen story by',
 'Screenplay by',
 'Starring',
 'Story by',
 'Suggested by',
 'Theme music composer',
 'Voices of',
 'Written by',
 'alternate_titles',
 'imdb_link',
 'title',
 'url',
 'year']

In [10]:
## Where I am at for this point. 
pd.DataFrame(cleaning_wiki2).info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7099 entries, 0 to 7098
Data columns (total 55 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   url                     7099 non-null   object
 1   year                    7099 non-null   int64
 2   imdb_link               7074 non-null   object
 3   title                   7098 non-null   object
 4   Directed by             7099 non-null   object
 5   Produced by             6737 non-null   object
 6   Screenplay by           2323 non-null   object
 7   Story by                1004 non-null   object
 8   Based on                2196 non-null   object
 9   Starring                6913 non-null   object
 10  Narrated by             283 non-null    object
 11  Music by                6502 non-null   object
 12  Cinematography          6396 non-null   object
 13  Edited by               6398 non-null   object
 14  Productioncompany       4539 non-null   object
 15  Distributed by          6598 non-null   object
 16  Release date            6907 non-null   object
 17  Running time            6956 non-null   object
 18  Country                 6708 non-null   object
 19  Language                6856 non-null   object
 20  Budget                  4774 non-null   object
 21  Box office              5530 non-null   object
 22  Written by              4592 non-null   object
 23  Genre                   108 non-null    object
 24  Theme music composer    67 non-null     object
 25  Country of origin       152 non-null    object
 26  Original language(s)    158 non-null    object
 27  Producer(s)             156 non-null    object
 28  Editor(s)               146 non-null    object
 29  Production company(s)   131 non-null    object
 30  Original network        125 non-null    object
 31  Original release        159 non-null    object
 32  Productioncompanies     729 non-null    object
 33  Executive producer(s)   97 non-null     object
 34  Production location(s)  47 non-null     object
 35  Distributor             138 non-null    object
 36  Picture format          64 non-null     object
 37  Audio format            61 non-null     object
 38  Voices of               2 non-null      object
 39  Followed by             9 non-null      object
 40  Composer(s)             8 non-null      object
 41  Created by              10 non-null     object
 42  Preceded by             10 non-null     object
 43  Adaptation by           2 non-null      object
 44  Suggested by            1 non-null      object
 45  alternate_titles        21 non-null     object
 46  Animation by            2 non-null      object
 47  Color process           1 non-null      object
 48  Engine(s)               1 non-null      object
 49  Genre(s)                1 non-null      object
 50  Actor control           1 non-null      object
 51  Production company      1 non-null      object
 52  Release(s)              1 non-null      object
 53  Format(s)               1 non-null      object
 54  Screen story by         1 non-null      object
dtypes: int64(1), object(54)
memory usage: 3.0+ MB

In [11]:
def cleaning_movie(movie):
    """wiki_movie_file is a json file containing a list of dictionaries with each index as a different movie 
    with different key:value pairs. This function is specially designed to clean that specific dataset. 
    Wikipedia is managed by many people and they do not all use the same words.
    """
    alternate_titles = dict()
    fixed_movie = dict(movie)
###  Start with alternate titles stored in language keys and merge them into one.
###  Language keys i could find:      
    language_keys = ['Also known as','Arabic','Cantonese','Chinese','French', 'Hangul','Hebrew','Hepburn','Japanese','Literally',
        'Mandarin','McCune–Reischauer','Original title','Polish', 'Revised Romanization','Romanized','Russian',
        'Simplified','Traditional','Yiddish']
    for key in language_keys:
        if key in fixed_movie.keys():
            alternate_titles[key] = fixed_movie[key]
            fixed_movie.pop(key)
        else:
            pass
##  if there were alternate titles, add them to the movie.       
    if len(alternate_titles) > 0:
        fixed_movie['alternate_titles'] = alternate_titles
    else:
        pass
        
###  Alternative titles are fixed, now merge columns that are similar.     
    keys_to_merge = {'Director':'Directed by', 'Country': 'Country of origin', 'Distributor(s)':'Distributed by',
                     'Editor(s)':'Edited by',  'Language':'Original language(s)', 'Producer(s)':'Produced by',
                     'Genre(s)': 'Genre', 'Composer(s)': ['Music by', 'Theme music composer'], 
                     'Release date': ['Release(s)', 'Original release'], 'Distributor(s)':['Distributed by','Distributor'],
                     'Writer(s)':['Written by', 'Story by', 'Screenplay by', 'Screen story by', 'Adaptation by'],
                     'Production Comapany': ['Production company', 'Production company(s)', 'Productioncompanies ','Productioncompany ']  }
##  item = key, from the key:value pair and the key I want; values = the movie key(s) I do not want. 
    for item in keys_to_merge: 
        if type(keys_to_merge[item]) == type(list()):
            for n in keys_to_merge[item]:
                if n in fixed_movie.keys():
                    fixed_movie[item] = fixed_movie.pop(n)
                else:
                    pass
        else: 
            if keys_to_merge[item] in fixed_movie.keys():
                fixed_movie[item] = fixed_movie.pop(keys_to_merge[item])
            else:
                pass
    
    return fixed_movie

In [12]:
## using this cell to debug the above function and decide on key(s) to keep, merge, and delete. 
## keys that are the same idea need merged, key = the key I am keeping, Value = similar key(s).
keys_to_merge1 = {'Director':'Directed by', 'Country': 'Country of origin', 'Distributor(s)':'Distributed by',
                 'Editor(s)':'Edited by',  'Language':'Original language(s)', 'Producer(s)':'Produced by',
                 'Genre(s)': 'Genre', 'Composer(s)': ['Music by', 'Theme music composer'], 
                 'Release date': ['Release(s)', 'Original release'], 'Distributor(s)':['Distributed by','Distributor'],
                 'Writer(s)':['Written by', 'Story by', 'Screenplay by', 'Screen story by', 'Adaptation by'],
                 'Production Comapany': ['Production company', 'Production company(s)', 'Productioncompanies ','Productioncompany ']  }


cleaning_wiki3 = [cleaning_movie(movie) for movie in cleaning_wiki]

## find common columns, add them to the dictionary and check the columns again.
columns = sorted(pd.DataFrame(cleaning_wiki3).columns.to_list())
columns

['Actor control',
 'Animation by',
 'Audio format',
 'Based on',
 'Box office',
 'Budget',
 'Cinematography',
 'Color process',
 'Composer(s)',
 'Country',
 'Created by',
 'Director',
 'Distributor(s)',
 'Editor(s)',
 'Engine(s)',
 'Executive producer(s)',
 'Followed by',
 'Format(s)',
 'Genre(s)',
 'Language',
 'Narrated by',
 'Original network',
 'Picture format',
 'Preceded by',
 'Producer(s)',
 'Production Comapany',
 'Production location(s)',
 'Release date',
 'Running time',
 'Starring',
 'Suggested by',
 'Voices of',
 'Writer(s)',
 'alternate_titles',
 'imdb_link',
 'title',
 'url',
 'year']

In [13]:
## Where I am at for this point. 
cleaning_wiki_df3 = pd.DataFrame(cleaning_wiki3)
cleaning_wiki_df3.info()
# Down to 38 columns from 193.

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7099 entries, 0 to 7098
Data columns (total 38 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   url                     7099 non-null   object
 1   year                    7099 non-null   int64
 2   imdb_link               7074 non-null   object
 3   title                   7098 non-null   object
 4   Based on                2196 non-null   object
 5   Starring                6913 non-null   object
 6   Narrated by             283 non-null    object
 7   Cinematography          6396 non-null   object
 8   Release date            7067 non-null   object
 9   Running time            6956 non-null   object
 10  Country                 6860 non-null   object
 11  Language                7014 non-null   object
 12  Budget                  4774 non-null   object
 13  Box office              5530 non-null   object
 14  Director                7099 non-null   object
 15  Distributor(s)          6736 non-null   object
 16  Editor(s)               6544 non-null   object
 17  Producer(s)             6893 non-null   object
 18  Composer(s)             6577 non-null   object
 19  Writer(s)               6899 non-null   object
 20  Production Comapany     5400 non-null   object
 21  Original network        125 non-null    object
 22  Genre(s)                109 non-null    object
 23  Executive producer(s)   97 non-null     object
 24  Production location(s)  47 non-null     object
 25  Picture format          64 non-null     object
 26  Audio format            61 non-null     object
 27  Voices of               2 non-null      object
 28  Followed by             9 non-null      object
 29  Created by              10 non-null     object
 30  Preceded by             10 non-null     object
 31  Suggested by            1 non-null      object
 32  alternate_titles        21 non-null     object
 33  Animation by            2 non-null      object
 34  Color process           1 non-null      object
 35  Engine(s)               1 non-null      object
 36  Actor control           1 non-null      object
 37  Format(s)               1 non-null      object
dtypes: int64(1), object(37)
memory usage: 2.1+ MB

In [14]:
# extract the imdb id from the imdb link to link with other data sets.
cleaning_wiki_df3['imdb_link']   
pattern = r'(tt\d{7})'
cleaning_wiki_df3['imdb_id'] = cleaning_wiki_df3['imdb_link'].str.extract(pattern)

# checking for duplicate data
len(cleaning_wiki_df3['imdb_id'].unique()) # 7074 rows have imdb links, 7032 are unique. There are duplicate movies in the dataset.

7032

In [15]:
## Drop the duplicate rows
cleaning_wiki_df4 = pd.DataFrame(cleaning_wiki_df3.drop_duplicates(subset='imdb_id'))
cleaning_wiki_df4

,url,year,imdb_link,title,Based on,Starring,Narrated by,Cinematography,Release date,Running time,...,Created by,Preceded by,Suggested by,alternate_titles,Animation by,Color process,Engine(s),Actor control,Format(s),imdb_id
0,https://en.wikipedia.org/wiki/The_Adventures_o...,1990,https://www.imdb.com/title/tt0098987/,The Adventures of Ford Fairlane,"[Characters, by Rex Weiner]","[Andrew Dice Clay, Wayne Newton, Priscilla Pre...","Andrew ""Dice"" Clay",Oliver Wood,"[July 11, 1990, (, 1990-07-11, )]",102 minutes,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,tt0098987
1,"https://en.wikipedia.org/wiki/After_Dark,_My_S...",1990,https://www.imdb.com/title/tt0098994/,"After Dark, My Sweet","[the novel, After Dark, My Sweet, by, Jim Thom...","[Jason Patric, Rachel Ward, Bruce Dern, George...",NaN,Mark Plummer,"[May 17, 1990, (, 1990-05-17, ), (Cannes Film ...",114 minutes,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,tt0098994
2,https://en.wikipedia.org/wiki/Air_America_(film),1990,https://www.imdb.com/title/tt0099005/,Air America,"[Air America, by, Christopher Robbins]","[Mel Gibson, Robert Downey Jr., Nancy Travis, ...",NaN,Roger Deakins,"[August 10, 1990, (, 1990-08-10, )]",113 minutes,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,tt0099005
3,https://en.wikipedia.org/wiki/Alice_(1990_film),1990,https://www.imdb.com/title/tt0099012/,Alice,NaN,"[Alec Baldwin, Blythe Danner, Judy Davis, Mia ...",NaN,Carlo Di Palma,"[December 25, 1990, (, 1990-12-25, )]",106 minutes,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,tt0099012
4,https://en.wikipedia.org/wiki/Almost_an_Angel,1990,https://www.imdb.com/title/tt0099018/,Almost an Angel,NaN,"[Paul Hogan, Elias Koteas, Linda Kozlowski]",NaN,Russell Boyd,"December 19, 1990",95 minutes,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,tt0099018
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7094,https://en.wikipedia.org/wiki/Holmes_%26_Watson,2018,https://www.imdb.com/title/tt1255919/,Holmes & Watson,"[Sherlock Holmes, and, Dr. Watson, by, Sir Art...","[Will Ferrell, John C. Reilly, Rebecca Hall, R...",NaN,Oliver Wood,"[December 25, 2018, (, 2018-12-25, ), (United ...",90 minutes,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,tt1255919
7095,https://en.wikipedia.org/wiki/Vice_(2018_film),2018,https://www.imdb.com/title/tt6266538/,Vice,NaN,"[Christian Bale, Amy Adams, Steve Carell, Sam ...",NaN,Greig Fraser,"[December 11, 2018, (, 2018-12-11, ), (, Samue...",132 minutes,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,tt6266538
7096,https://en.wikipedia.org/wiki/On_the_Basis_of_Sex,2018,https://www.imdb.com/title/tt4669788/,On the Basis of Sex,NaN,"[Felicity Jones, Armie Hammer, Justin Theroux,...",NaN,Michael Grady,"[November 8, 2018, (, 2018-11-08, ), (, AFI Fe...",120 minutes,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,tt4669788
7097,https://en.wikipedia.org/wiki/Destroyer_(2018_...,2018,https://www.imdb.com/title/tt7137380/,Destroyer,NaN,"[Nicole Kidman, Sebastian Stan, Toby Kebbell, ...",NaN,Julie Kirkwood,"[August 31, 2018, (, 2018-08-31, ), (, Telluri...",123 minutes,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,tt7137380
7098,https://en.wikipedia.org/wiki/Black_Mirror:_Ba...,2018,https://www.imdb.com/title/tt9495224/,Bandersnatch,NaN,"[Fionn Whitehead, Will Poulter, Craig Parkinso...",NaN,"[Aaron Morton, Jake Polonsky]","[28 December 2018, (, 2018-12-28, )]",Variable; 90 minutes for default path,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,tt9495224

In [16]:
# drop columns that are 90% or more null
columns_to_keep = [column for column in cleaning_wiki_df4 if cleaning_wiki_df4[column].isnull().sum() < (len(cleaning_wiki_df4['url'])*0.9)]
cleaning_wiki_df5 = cleaning_wiki_df4[columns_to_keep]
cleaning_wiki_df5.info() # down to 21 useful columns; from 193 messy, where 80%+ of the cells were null Values.

<class 'pandas.core.frame.DataFrame'>
Int64Index: 7032 entries, 0 to 7098
Data columns (total 21 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   url                  7032 non-null   object
 1   year                 7032 non-null   int64
 2   imdb_link            7031 non-null   object
 3   title                7031 non-null   object
 4   Based on             2181 non-null   object
 5   Starring             6850 non-null   object
 6   Cinematography       6343 non-null   object
 7   Release date         7000 non-null   object
 8   Running time         6893 non-null   object
 9   Country              6798 non-null   object
 10  Language             6948 non-null   object
 11  Budget               4738 non-null   object
 12  Box office           5486 non-null   object
 13  Director             7032 non-null   object
 14  Distributor(s)       6677 non-null   object
 15  Editor(s)            6486 non-null   object
 16  Producer(s)          6830 non-null   object
 17  Composer(s)          6516 non-null   object
 18  Writer(s)            6835 non-null   object
 19  Production Comapany  5355 non-null   object
 20  imdb_id              7031 non-null   object
dtypes: int64(1), object(20)
memory usage: 1.2+ MB

In [17]:
## Data types:  Budget, Box office, and Running time should be numbers not strings/lists/objects, Release Date and year should be a Datetime.  
# cleaning_wiki_df5.groupby(['Box office']).count() # error because mixture of data types
[oddity for oddity in cleaning_wiki_df5['Box office'] if type(oddity)==type(str())]  # sensible, not that dirty
[oddity for oddity in cleaning_wiki_df5['Box office'] if type(oddity)==type(list())]  # lists are a dirty mess. multiple currency types and odd entries
[oddity for oddity in cleaning_wiki_df5['Box office'] if (type(oddity)!=type(list())) and (type(oddity)!=type(str())) ] # lots of nan values
[(index, oddity) for index, oddity in enumerate(cleaning_wiki_df5['Box office']) if type(oddity)==type(list())]  # looking for a specific movie to check the wiki page

[(34, ['US$', '4,212,828']),
 (54, ['$6,698,361 (', 'United States', ')', '[2]']),
 (74, ['$6,488,144', '(US)', '[1]']),
 (126, ['US$1,531,489', '(domestic)']),
 (130, ['US$', '4,803,039']),
 (137, ['$92,706', '(domestic)']),
 (178, ['$3,331', '(USA)']),
 (204, ['$739,104', '(North America)', '[2]']),
 (211, ['$1.2 million', '(US)', '[1]']),
 (255, ['$14.6 million', '(North America)', '[3]']),
 (272, ['$38 million', '(US)', '[2]']),
 (279, ['$57.5 million', '(North America)', '[1]']),
 (339, ['£739,989 (UK)', '[1]', '$4,413,473 (US)', '[1]']),
 (344, ['$4,654,288 (', 'US', ')', '[1]']),
 (376, ['$6.4 million', '(North America)', '[1]']),
 (412, ['$46.7 million', '[4]', '[3]', '(USA)']),
 (488, ['$14.1 million', '[', 'citation needed', ']']),
 (512, ['$10.7 million', '(North America)', '[2]']),
 (532, ['$75.5 million', '(North America)', '[2]']),
 (564, ['$27.2 million', '(North America)', '[3]']),
 (615, ['HK$2,662,446', '(Hong Kong)']),
 (648, ['$13,747,138', '70,542 admissions (France)', '[2]']),
 (651, ['$4.2 million', '(North America)', '[2]']),
 (663, ['$90.8 million', '[2]', '(equivalent to $148.9 million in 2018)']),
 (673, ['$32.3 million', '(US)', '[1]']),
 (679, ['$112,547', '(USA)', '[1]']),
 (691, ['Domestic', '$428,868', '[1]']),
 (728, ['$', '11,146,270']),
 (735, ['$70.9 million', '(North America)', '[2]']),
 (760,
  ['$914.6 million (original)', '$1.030 billion', '[2]', '(3D re-release)']),
 (778, ['$8 million', '(domestic)']),
 (833, ['$42.2 million', '(United States)']),
 (836, ['$1 million', '[1]', '(US)']),
 (887, ['$30.5 million', '(domestic)', '[2]']),
 (893, ['$30,155,037', '(USA)', '[2]']),
 (899, ['$13.4 million', '[', 'not verified in body', ']']),
 (950, ['$678.1', 'million', '[1]']),
 (1035, ['$106.7 million', '(equivalent to $180.36 million in 2018)', '[2]']),
 (1138, ['$', '407,618 (U.S.) (sub-total)', '[1]']),
 (1149, ['$30.3 million (US)', '[3]', '$83.3 million worldwide', '[4]']),
 (1237, ['$532,268', '52,088 admissions (France)', '[1]']),
 (1263, ['$6.6 million', '(USA)', '[2]']),
 (1397, ['$5,772,529', '(domestic)', '[1]']),
 (1469, ['$4 million', '(USA)', '[3]']),
 (1555, ['$295,493', '(US)', '[2]']),
 (1582, ['$21,302,121', '[1]', '(US)']),
 (1617, ['$47,267,001', '[1]', '302,885 admissions (France)', '[2]']),
 (1666, ['$20.3 million', '(North America)', '[3]']),
 (1717, ['$21,508', '(Domestic)', '[2]']),
 (1747, ['$2,821,671', '[', 'citation needed', ']']),
 (1911, ['$13,330', '(domestic)']),
 (1929, ['¥430 million', '[1]', '(', '$5.39 million', ')']),
 (1955, ['$2,581,012 (', 'US and Canada', ')']),
 (1983, ['$125,397', '(United States only)', '[1]']),
 (1985, ['$1.3 million', '(United States)', '[1]']),
 (1996, ['$2.6 million (', 'US', ')', '[2]']),
 (2017, ['$22,415,440', '(USA)']),
 (2110, ['US$', '171.8 million', '[9]']),
 (2117, ['$7 million', '(North America)', '[3]']),
 (2118, ['$9,639,390', '(US and Canada)', '[1]']),
 (2160, ['$5,672,903 (', 'US', ')', '[1]']),
 (2237, ['US$', '3,395,581', '[1]']),
 (2243, ['$ 1,223,034', '(', 'domestic', ')']),
 (2280, ['$22.9 million', '(United States)', '[1]']),
 (2313, ['$369.9', 'million', '[2]']),
 (2430, ['₤2,891,515 (in UK)', '[1]', '$18,542,974 (total)']),
 (2468, ['$507,941', '[1]', '(US and Canada)']),
 (2506, ['$107,099', '(US and Canada)', '[1]']),
 (2515, ['$6.2 million', '(North America)', '[1]']),
 (2617, ['$', '104,883 (US sub-total)']),
 (2675, ['$', '1.7 million (US) (sub-total)']),
 (2756, ['$296.3', 'million', '[2]', '[3]']),
 (2972, ['$295,206', '(United States)', '[2]']),
 (3065, ['$32', '[2]', '–33.1 million', '[1]']),
 (3182, ['$515,678 (', 'US', ')']),
 (3188, ['$15,220,548', '[2]', '64,579 admissions (France)', '[3]']),
 (3254, ['$2,294,823', '(Foreign)', '[1]', '[2]']),
 (3552, ['$208,507 (US)', '[1]', '$1,466,013 (worldwide theatrical)']),
 (3568, ['$180,503', '[1]', '(USA)']),
 (3631, ['$5,044,000', '(', '$837,000', '(United States)']),
 (3755, ['$10,223,896', '(US and Canada)', '[1]']),
 (3948, ['$462.2', 'million', '[1]']),
 (4077, ['$495,303', '(worldwide)', '[1]']),
 (4170, ['$158.9', 'million', '[2]']),
 (4407,
  ['$969,869',
   '(USA only)',
   '$6,674,540',
   '(foreign)',
   '$7,644,409',
   '(total)']),
 (4553,
  ['$40.7 million',
   '[1]',
   '$27.5 million (domestic DVD sales)',
   '[1]',
   '$67.9 million (net gross)',
   '[',
   'citation needed',
   ']']),
 (4605, ['$1.005', 'billion', '[3]']),
 (4615,
  ['US$22,211,426', '(worldwide)', '£1,034,659', '[3]', '(United Kingdom)']),
 (4636, ['USD$', '8.2 million', '[2]']),
 (4654, ['$27,696 (Domestic)', '[2]', '$1,596,232 (World)', '[3]']),
 (4861, ['$467.5', 'million', '[3]']),
 (4903, ['$36.1 million', '[1]', '$8,610,119 (US DVD sales)', '[3]']),
 (4921, ['$3,026,272', '[2]', '(Worldwide)']),
 (5067, ['$173,496 (', 'UAE', ')', '[3]']),
 (5104, ['$7,927 (', 'RSA', ')', '[1]']),
 (5112, ['$24.1', 'million', '[4]']),
 (5150, ['$21,790,414', '(worldwide)', '[1]']),
 (5333, ['$', '142 million', '[3]']),
 (5445,
  ['$5,589,376 (Part 1)',
   '[1]',
   '$4,059,217 (Part 2)',
   '[2]',
   '$9,648,593 (Total)']),
 (5458, ['$12.2 million', '(DVD sales)', '[1]']),
 (5623, ['$542,762', '(domestic)', '[1]']),
 (5727, ['$13.4 million', '[3]', '(foreign)']),
 (5758,
  ['$40,400',
   '[1]',
   '+',
   '$486,114 (Home Market Performance)',
   '[2]',
   '$526,514 (total)']),
 (5768, ['$319.5', 'million', '[2]']),
 (5884, ['$39,881 (domestic)', 'n/a  (international)', '[1]']),
 (6036, ['$11,887,397', '(US domestic video sales)', '[1]']),
 (6139, ['$307.2', 'million', '[3]']),
 (6186, ['$78.9', 'million', '[3]']),
 (6208, ['$257.1', 'million', '[2]']),
 (6315,
  ['$18,687,388 (Theatrical Performance)',
   '[4]',
   '$1,269,632 (Home Market Performance)',
   '[4]',
   '$19 million+ (total)']),
 (6350, ['¥3.85 billion', '(', '$36 million', ')']),
 (6430, ['$1.024', 'billion', '[5]']),
 (6463, ['$1.153', 'billion', '[3]']),
 (6474, ['$320.4', 'million', '[3]']),
 (6477, ['$1.029', 'billion', '[4]']),
 (6543, ['$83.1', 'million', '[2]']),
 (6639, ['$821', 'million', '[5]']),
 (6663, ['$880.2', 'million', '[3]']),
 (6681, ['$306.5', 'million', '[2]']),
 (6714, ['$61.3', 'million', '[5]']),
 (6717, ['$125.5', 'million', '[1]']),
 (6733, ['$580,346', '(North America)', '[2]']),
 (6751, ['$807.1', 'million', '[7]']),
 (6760, ['$1.333', 'billion', '[4]']),
 (6764, ['$435', 'million', '[3]']),
 (6785, ['$', '41 million', '[3]']),
 (6812, ['$9.6', 'million', '[3]']),
 (6828, ['$66.3', 'million', '[4]']),
 (6834, ['$290.5', 'million', '[5]']),
 (6919, ['¥493,052,600', '[1]', '(', '$4,465,085', ')']),
 (6922, ['$262,963', '(USA)', '[5]']),
 (6936, ['$99.6', 'million', '[4]', '[5]']),
 (6950, ['$365.6', 'million', '[1]']),
 (6951, ['$53.8', 'million']),
 (6971, ['$435', 'million', '[7]']),
 (7004, ['$529.3', 'million', '[4]'])]

In [18]:
box_office = cleaning_wiki_df5['Box office'].dropna() # no point in modifying a nan value
len(box_office) # Results: 5486 items
box_office

0          $21.4 million
1           $2.7 million
2            $57,718,089
3             $7,331,647
4       $6,939,946 (USA)
              ...
7093       $19.4 million
7094       $41.9 million
7095       $76.1 million
7096       $38.4 million
7097        $5.5 million
Name: Box office, Length: 5486, dtype: object

In [19]:
len(box_office[box_office.map(lambda x: type(x) != str)]) # 136 items are lists, not strings
box_office[box_office.map(lambda x: type(x) != str)]

34                           [US$, 4,212,828]
54      [$6,698,361 (, United States, ), [2]]
74                    [$6,488,144, (US), [1]]
126                [US$1,531,489, (domestic)]
130                          [US$, 4,803,039]
                        ...
7003               [$99.6, million, [4], [5]]
7017                   [$365.6, million, [1]]
7018                         [$53.8, million]
7038                     [$435, million, [7]]
7071                   [$529.3, million, [4]]
Name: Box office, Length: 136, dtype: object

In [20]:
# make a regular expression pattern for the strings
pattern1 = r'(\$\d+\.?\d*\s*[bm]illi?on)'  # searching for pattern that is similar to: "$45.3 million/billion"

# counting occurances of the first pattern
box_office.str.contains(pattern1, flags=re.IGNORECASE, na=False).sum()  # 3826 items in the list with this pattern
matches_from_one = box_office.str.contains(pattern1, flags=re.IGNORECASE, na=False) # save the filter

box_office.str.extract(pattern1, flags=re.IGNORECASE).dropna()  # View the items matching pattern #1

C:\Users\Nick\AppData\Local\Temp\ipykernel_38412\1255131052.py:5: UserWarning: This pattern has match groups. To actually get the groups, use str.extract.
  box_office.str.contains(pattern1, flags=re.IGNORECASE, na=False).sum()  # 3826 items in the list with this pattern
C:\Users\Nick\AppData\Local\Temp\ipykernel_38412\1255131052.py:6: UserWarning: This pattern has match groups. To actually get the groups, use str.extract.
  matches_from_one = box_office.str.contains(pattern1, flags=re.IGNORECASE, na=False) # save the filter

                   0
0      $21.4 million
1       $2.7 million
10    $195.3 million
11     $53.2 million
12     $15.7 million
...              ...
7093   $19.4 million
7094   $41.9 million
7095   $76.1 million
7096   $38.4 million
7097    $5.5 million

[3828 rows x 1 columns]

In [21]:
pattern2 = r'(\$\d{1,3}(?:[,\.]\d{3})+\.?\d*)(?!\s*[bm]illi?on)'   # searching for pattern that is similar to $123,456,789.0
# counting occurances of the second pattern
box_office.str.contains(pattern2, flags=re.IGNORECASE, na=False).sum()  # 1490 items in the list with this pattern
matches_from_two = box_office.str.contains(pattern2, flags=re.IGNORECASE, na=False) # save the filter
box_office.str.extract(pattern2, flags=re.IGNORECASE).dropna()  # view the items matching pattern 2

C:\Users\Nick\AppData\Local\Temp\ipykernel_38412\37902372.py:3: UserWarning: This pattern has match groups. To actually get the groups, use str.extract.
  box_office.str.contains(pattern2, flags=re.IGNORECASE, na=False).sum()  # 1490 items in the list with this pattern
C:\Users\Nick\AppData\Local\Temp\ipykernel_38412\37902372.py:4: UserWarning: This pattern has match groups. To actually get the groups, use str.extract.
  matches_from_two = box_office.str.contains(pattern2, flags=re.IGNORECASE, na=False) # save the filter

                0
2     $57,718,089
3      $7,331,647
4      $6,939,946
9        $855,810
15    $12,626,043
...           ...
7045     $401,463
7051     $260,136
7062     $100,116
7067      $19,996
7080     $756,473

[1496 rows x 1 columns]

In [22]:
box_office[~matches_from_one & ~matches_from_two] # this result matches the search I did Earlier for data types.
problem_lists = box_office[~matches_from_one & ~matches_from_two]

# solving for the easy ones, they fit the pattern and just the wrong data type
for i in problem_lists.index:
    if len(re.findall(pattern1, str(problem_lists[i]))) == 1: # fits the pattern
        problem_lists[i] = re.findall(pattern1, str(problem_lists[i]))[0]
    elif len(re.findall(pattern2, str(problem_lists[i]))) == 1: # fits the pattern
        problem_lists[i] = re.findall(pattern2, str(problem_lists[i]))[0]
    elif len(re.findall(pattern1, str(problem_lists[i]))) > 1: # saving for easier parsing later
        problem_lists[i] = re.findall(pattern1, str(problem_lists[i]))[1]
    elif len(re.findall(pattern2, str(problem_lists[i]))) > 1:  # saving for easier parsing later
        problem_lists[i] = re.findall(pattern2, str(problem_lists[i]))[1]
    else:
        pass
    
problem_lists

34                [US$, 4,212,828]
54                      $6,698,361
74                      $6,488,144
110             $4.35-4.37 million
126                     $1,531,489
                   ...
7003    [$99.6, million, [4], [5]]
7017        [$365.6, million, [1]]
7018              [$53.8, million]
7038          [$435, million, [7]]
7071        [$529.3, million, [4]]
Name: Box office, Length: 162, dtype: object

In [23]:
# save the changes to the box_office
for p in problem_lists.index:
    for b in box_office.index:
        if p == b:
#             if type(problem_lists[p]) == str:
            box_office[b] = problem_lists[p]
#             else:
#                 continue
        else:
            continue

# Rerun the two filters to see what still needs fixed
matches_from_one = box_office.str.contains(pattern1, flags=re.IGNORECASE, na=False)            
matches_from_two = box_office.str.contains(pattern2, flags=re.IGNORECASE, na=False)
box_office[~matches_from_one & ~matches_from_two]

C:\Users\Nick\AppData\Local\Temp\ipykernel_38412\4171852111.py:13: UserWarning: This pattern has match groups. To actually get the groups, use str.extract.
  matches_from_one = box_office.str.contains(pattern1, flags=re.IGNORECASE, na=False)
C:\Users\Nick\AppData\Local\Temp\ipykernel_38412\4171852111.py:14: UserWarning: This pattern has match groups. To actually get the groups, use str.extract.
  matches_from_two = box_office.str.contains(pattern2, flags=re.IGNORECASE, na=False)

34                [US$, 4,212,828]
110             $4.35-4.37 million
130               [US$, 4,803,039]
602                     $5000 (US)
734                [$, 11,146,270]
                   ...
7003    [$99.6, million, [4], [5]]
7017        [$365.6, million, [1]]
7018              [$53.8, million]
7038          [$435, million, [7]]
7071        [$529.3, million, [4]]
Name: Box office, Length: 67, dtype: object

In [43]:
modified_p1 = r"(\$\d{1,3}\.?\d*',\s*'[bm]illi?on)"  # for when 43.5 Million is broken into '4.35' and 'million'
modified_p2 = r"(\$', '\d{1,3}(?:[,\.]\d{3})+\.?\d*)"
pattern3 = r"(\$\d*\.?\d*)(?:[-—–]\d*\.?\d*)(\s[bm]illi?on)"

problem_lists = box_office[~matches_from_one & ~matches_from_two]
for i in problem_lists.index:  
    if len(re.findall(modified_p1, str(problem_lists[i]))) > 0:
        problem_lists[i] = re.findall(modified_p1, str(problem_lists[i]))[0].replace("', '", " ")
#         print(i, problem_lists[i])
    elif len(re.findall(modified_p2, str(problem_lists[i]))) >0:
        problem_lists[i] = re.findall(modified_p2, str(problem_lists[i]))[0].replace("', '", "")
    elif len(re.findall(pattern3, str(problem_lists[i]))) >0:
        fix = re.findall(pattern3, str(problem_lists[i]))
        problem_lists[i] = fix[0][0] + fix[0][1]
    else:
        print(i, problem_lists[i])
        pass

602 $5000 (US)
961 $ 50,004
1073 35,254,617
1449 $ 11,829,959
1483 £3 million
1870 ¥1.1 billion
2037 N/A
2096 $309
2135 ['US$', '171.8 million', '[9]']
2270 ['$ 1,223,034', '(', 'domestic', ')']
2672 926,423 admissions (France)
2704 ['$', '1.7 million (US) (sub-total)']
3096 ['$32', '[2]', '–33.1 million', '[1]']
3640 TBA
3889 CN¥3.650 million (China)
4128 £7,385,434
4318 $20-30
4575 $45.2k (only in Turkey)
4677 ['USD$', '8.2 million', '[2]']
5380 ['$', '142 million', '[3]']
5465 £2.56
5802 413 733$
6034 Unknown
6391 $111k
6392 $588
6615 less than $372
6851 ['$', '41 million', '[3]']
6865 8 crore